<template>
    <div class="ml-3 mr-3">
    <vs-dropdown vs-custom-content vs-trigger-click class="cursor-pointer">
        <div class="text-right leading-tight hidden sm:block">
            <div class="con-img ml-3">
                <p class="font-semibold">{{ this.$i18n.locale }}</p>
            </div>
        </div>

        <vs-dropdown-menu class="vx-navbar-dropdown">
            <li class="flex py-2 px-4 cursor-pointer hover:bg-primary hover:text-white" v-model="locale"
                vs-value="en">
                <span class="ml-2">  English </span>
            </li>
            <li class="flex py-2 px-4 cursor-pointer hover:bg-primary hover:text-white" v-model="locale"
                vs-value="fr">
                <span class="ml-2">  French </span>
            </li>
            <li class="flex py-2 px-4 cursor-pointer hover:bg-primary hover:text-white" v-model="locale"
                vs-value="gr">
                <span class="ml-2">  German </span>
            </li>

        </vs-dropdown-menu>
    </vs-dropdown>
    </div>

</template>

<script>
    export default{
        data () {
            return {
                locale: this.$i18n.locale
            }
        },
        watch: {
            locale (val) {
                this.$i18n.locale = val
            }
        }
    }
</script>
