<template>
    <!-- NOTIFICATIONS -->
    <vs-dropdown vs-custom-content vs-trigger-click class="cursor-pointer">
        <feather-icon icon="BellIcon" class="cursor-pointer mt-1 sm:mr-6 mr-2" :badge="total"/>

        <vs-dropdown-menu class="notification-dropdown dropdown-custom vx-navbar-dropdown">

            <div class="notification-top text-center p-5 bg-primary text-white">
                <div v-if="total > 0">
                    <h3 class="text-white">{{ total }}</h3>
                    <p class="opacity-75">Notifikasi</p>
                </div>
                <div v-else>
                    <p class="opacity-75">Tidak ada Notifikasi</p>
                </div>
            </div>

            <component :is="scrollbarTag" ref="mainSidebarPs" class="scroll-area--nofications-dropdown p-0 mb-10"
                       :settings="settings" :key="$vs.rtl">

                <ul class="bordered-items">
                    <li v-for="ntf in unreadNotifications" :key="ntf.index"
                        class="flex justify-between px-4 py-4 notification cursor-pointer" @click="toPage(ntf)">
                        <div class="flex items-start" >
                            <feather-icon :icon="ntf.icon"
                                          :svgClasses="[`text-${ntf.category}`, 'stroke-current mr-1 h-6 w-6']"></feather-icon>
                            <div class="mx-2">
                                <span class="font-medium block notification-title" :class="[`text-${ntf.category}`]"></span>
                                <small class="font-medium notification-title font-bold">{{ ntf.message }}</small>
                            </div>
                        </div>
                        <span class="mt-1 whitespace-no-wrap"><vs-chip
                            :color="ntf.category">{{ ntf.count }}</vs-chip></span>
                    </li>
                </ul>
            </component>
        </vs-dropdown-menu>
    </vs-dropdown>
</template>


<script>
    import VuePerfectScrollbar from 'vue-perfect-scrollbar'
    import axios from '@/http/axios/index'

    export default {
        components: {
            VuePerfectScrollbar
        },
        data () {
            return {
                total: 0,
                roleName: null,
                filters: {
                    pagination: {
                        from: 0,
                        to: 0,
                        total: 0,
                        per_page: 20,
                        current_page: 1,
                        last_page: 0
                    },
                    orderBy: {
                        column: 'id',
                        direction: 'asc'
                    },
                    search: ''
                },
                unreadNotifications: [],
                dataList: [],
                settings: {
                    maxScrollbarLength: 60,
                    wheelSpeed: .60
                }
            }
        },
        computed: {
            notifications () {
                return this.$store.getters.notifUser
            },
            scrollbarTag () {
                return this.$store.getters.scrollbarTag
            },
            isAdmin () {
                return localStorage.getItem('roles') === 'administrator'
            },
        },
        watch: {
            'notifications' (value) {
                if (value.total !== 0) {
                    this.total += value.total
                } else {
                    this.total = 0
                    this.unreadNotifications = []
                }
                if (value.notif.length > 0) {
                    for (let i = 0; i < value.notif.length; i++) {
                        value.notif[i].index = i
                        this.unreadNotifications.push(value.notif[i])
                    }
                }
            }
        },
        created () {

            /*this.roleName = localStorage.getItem('roles');
            switch ( this.roleName) {
              case 'administrator':
                this.getdataListAdmin();
                break;
              case 'engineer':
                this.getdataListPIC();
                break;
              case 'supervisor':
                this.getdataList();
                break;
              case 'manager':
                this.getdataList();
                break;
              case 'customer':
                break;
            }*/
        },
        methods: {
            toPage (ntf) {
                var page = ntf.ref
                switch (page) {
                case 't_visit':
                    this.$router.push('/app/visit').catch(() => {
                    })
                    break
                case 't_task':
                    this.$router.push('/app/task').catch(() => {
                    })
                    break
                case 't_open_wo':
                    this.$router.push('/app/outstanding').catch(() => {
                    })
                    break

                }
            },
            elapsedTime (startTime) {
                const x = new Date(startTime)
                const now = new Date()
                let timeDiff = now - x
                timeDiff /= 1000

                const seconds = Math.round(timeDiff)
                timeDiff = Math.floor(timeDiff / 60)

                const minutes = Math.round(timeDiff % 60)
                timeDiff = Math.floor(timeDiff / 60)

                const hours = Math.round(timeDiff % 24)
                timeDiff = Math.floor(timeDiff / 24)

                const days = Math.round(timeDiff % 365)
                timeDiff = Math.floor(timeDiff / 365)

                const years = timeDiff

                if (years > 0) {
                    return `${years + (years > 1 ? ' Tahun ' : ' Tahun ')}lalu`
                } else if (days > 0) {
                    return `${days + (days > 1 ? ' Hari ' : ' Hari ')}lalu`
                } else if (hours > 0) {
                    return `${hours + (hours > 1 ? ' Jam ' : ' Jam ')}lalu`
                } else if (minutes > 0) {
                    return `${minutes + (minutes > 1 ? ' Menit ' : ' Menit ')}lalu`
                } else if (seconds > 0) {
                    return seconds + (seconds > 1 ? ' detik lalu' : 'baru saja')
                }

                return 'Just Now'
            },
            // Method for creating dummy notification time
            randomDate ({hr, min, sec}) {
                const date = new Date()

                if (hr) date.setHours(date.getHours() - hr)
                if (min) date.setMinutes(date.getMinutes() - min)
                if (sec) date.setSeconds(date.getSeconds() - sec)

                return date
            }
        }
    }

</script>

