<template>
    <div class="the-navbar__user-meta flex items-center">

        <div class="text-right leading-tight hidden sm:block">
            <p class="font-semibold">{{ activeUserInfo.name }}</p>
            <small>{{ activeUserInfo.email }}</small>
        </div>

        <vs-dropdown vs-custom-content vs-trigger-click class="cursor-pointer">

            <div class="con-img ml-3">
                <img v-if="activeUserInfo.avatar" key="onlineImg" :src="activeUserInfo.avatar" alt="user-img"
                     width="40" height="40" class="rounded-full shadow-md cursor-pointer block"/>
            </div>

            <vs-dropdown-menu class="vx-navbar-dropdown">
                <ul style="min-width: 9rem">

                    <li class="flex py-2 px-4 cursor-pointer hover:bg-primary hover:text-white" @click="profile">
                        <feather-icon icon="UserIcon" svgClasses="w-4 h-4"/>
                        <span class="ml-2">Profile</span>
                    </li>

                    <vs-divider class="m-1"/>

                    <li class="flex py-2 px-4 cursor-pointer hover:bg-primary hover:text-white" @click="logout">
                        <feather-icon icon="LogOutIcon" svgClasses="w-4 h-4"/>
                        <span class="ml-2">Logout</span>
                    </li>
                </ul>
            </vs-dropdown-menu>
        </vs-dropdown>
    </div>
</template>

<script>
    import {mapGetters} from 'vuex'
    import router from '../../../../router'

    export default {

        data: () => ({
            //appName: window.config.appName
        }),
        computed: {
            activeUserInfo () {
                return this.$store.state.AppActiveUser
            },
            userRole () {
              if (localStorage.getItem('roles') === 'vendor') {
                return 'vendor'
              } else if (localStorage.getItem('roles') === 'engineer') {
                return 'engineer'
              }
            }
        },
        methods: {
             profile(){
                 this.$router.push('/app/profile').catch(err => {})
             },
             logout () {
                 this.$vs.loading
                 this.$store.dispatch('auth/logoutJWT')
                     .then(() => {
                         this.$vs.loading.close()
                         this.$vs.notify({
                             title: 'Logout',
                             text: 'Logout berhasil',
                             iconPack: 'feather',
                             icon: 'icon-alert-circle',
                             color: 'success'
                         })
                     })
                     .catch(error => {
                         this.$vs.loading.close()
                         this.$vs.notify({
                             title: 'Error',
                             text: error.message,
                             iconPack: 'feather',
                             icon: 'icon-alert-circle',
                             color: 'danger'
                         })
                     })
            }
        }
    }
</script>
