<template>
    <vx-card no-shadow>
        <div class="vx-row">
            <vs-row vs-justify="flex-end" vs-type="flex">
                <vs-button v-if="isAdd" class="primary mb-base mr-base" type="filled" @click="popUpAddShow">Tambah
                </vs-button>
            </vs-row>
        </div>

        <vs-table
            v-model="selected"
            :data="dataList"
            :sst="true"
            max-items="5"
            @selected="handleSelected">
            <template slot="thead">
                <vs-th sort-key="id">No</vs-th>
                <vs-th sort-key="type">Tipe</vs-th>
                <vs-th sort-key="type">Kategory</vs-th>
                <vs-th sort-key="description">Deskripsi</vs-th>
                <vs-th sort-key="qty">QTY</vs-th>
                <vs-th sort-key="serial_in">Serial Number</vs-th>
                <vs-th sort-key="photo">Photo</vs-th>
            </template>
            <template slot-scope="{data}">
                <vs-tr v-for="(data, index) in dataList" :key="index" :data="data">
                    <vs-td :data="index">
                        {{
                            index + 1
                        }}
                    </vs-td>
                    <vs-td :data="data.type">
                        {{ data.type }}
                    </vs-td>
                    <vs-td :data="data.category">
                        {{ data.category }}
                    </vs-td>

                    <vs-td :data="data.description">
                        <div>
                            {{ data.part_number_data }}
                        </div>
                        <div class="text-sm">
                            {{ data.description }}
                        </div>
                    </vs-td>
                    <vs-td :data="data.qty">
                        {{ data.qty }}
                    </vs-td>

                    <vs-td :data="data.serial_out">
                        <div class="vx-col w-full">
                            <div class="vx-row">
                                <div class="vx-col sm:w-1/3">
                                    <label class="text-sm font-semibold">S/N Out</label>
                                </div>
                                <div v-if="data.serial_out" class="vx-col flex-wrap">
                                    <small class="ml-2">{{ data.serial_out }}</small>
                                </div>
                                <div v-else class="vx-col flex-wrap">
                                    <small class="ml-2">-</small>
                                </div>
                            </div>
                            <div class="vx-row">
                                <div class="vx-col sm:w-1/3">
                                    <label class="text-sm font-semibold">S/N In</label>
                                </div>
                                <div v-if="data.serial_in" class="vx-col flex-wrap">
                                    <small class="ml-2">{{ data.serial_in }}</small>
                                </div>
                                <div v-else class="vx-col flex-wrap">
                                    <small class="ml-2">-</small>
                                </div>
                            </div>
                        </div>

                    </vs-td>
                    <vs-td :data="data.photo">
                        <img v-if="data.photo" :close-on-background-click="true" :src="data.photo" class="grid-view-img"
                             style="width: 80px;" v-bind:alt="data.photo"/>
                        <label v-else>-</label>
                    </vs-td>
                </vs-tr>
            </template>
        </vs-table>

        <vs-popup :active.sync="popupAddData" title="Tambah Part" @input="onPopupClose">
            <form>
                <div class="vx-row mb-3">
                    <div class="vx-col sm:w-1/2 w-full">
                      <div class="centerx">
                        <label class="ml-1 mb-3 text-sm bold">Part Type</label>
                        <ul class="leftx">
                            <li class="modelx">
                                <vs-radio v-model="dataAdd.type" vs-value="Piece Part">Piece Parts</vs-radio>
                            </li>
                            <li>
                                <vs-radio v-model="dataAdd.type" vs-value="Module">Module</vs-radio>
                            </li>
                        </ul>
                    </div>
                    </div>
                    <div class="vx-col sm:w-1/2 w-full">
                      <div class="centerx">
                        <label class="ml-1 mb-3 text-sm bold">Usage Category</label>
                        <ul class="leftx">
                            <li class="modelx" v-for="item in category" :key="item">
                                <vs-radio v-model="dataAdd.category" :vs-value="item">{{ item }}</vs-radio>
                            </li>
                        </ul>
                        </div>
                    </div>
                    <div class="vx-col sm:w-1/2 w-full">
                        <div class="centerx">
                            <label class="ml-1 mb-3 text-sm bold">Usage Qty</label>
                            <vs-input-number v-model="dataAdd.qty"/>
                        </div>
                    </div>
                </div>
                <div class="vx-col sm:w-1/2 w-full mb-2">
                  <label class="ml-1 mb-3 text-sm bold">Part Number</label>
<!--                  <el-select style="width: 100%"
                             name="Part Number"
                             v-validate="'required'"
                             data-vv-validate-on="blur"
                             v-model="dataAdd.part_number"
                             filterable
                             remote
                             clearable
                             automatic-dropdown
                             loading-text="Loading"
                             no-data-text="Tidak ditemukan"
                             no-match-text="Tidak ditemukan"
                             :remote-method="getParts">
                    <el-option
                        v-for="item in parts"
                        :key="item.id"
                        :label="`${item.part_number}`"
                        :value="item.part_number">
                    </el-option>
                  </el-select>-->
                    <v-select v-model="dataAdd.part_number " v-validate="'required'" :options="parts" data-vv-validate-on="blur"
                              label="part_number" name="Part Number"
                              @input="onPartsChange"
                              @search="getParts"/>
                    <small class="form-text text-danger ml-3">{{ errors.first('Part Number') }}</small>
                </div>
                <div class="vx-row mb-3">
                    <div class="vx-col w-full">
                        <vs-input v-model="dataAdd.description" v-validate="'required'" class="w-full"
                                  data-vv-validate-on="blur"
                                  label-placeholder="Deskripsi"
                                  name="Deskripsi"/>

                    </div>
                </div>
                <div v-if="dataAdd.type === 'Module'">
                    <div class="vx-row mb-3">
                        <div class="vx-col w-full">
                            <vs-input v-model="dataAdd.serial_out" v-validate="'required'" class="w-full"
                                      data-vv-validate-on="blur"
                                      label-placeholder="S/N Out"
                                      name="S/N Out"/>
                            <small class="form-text text-danger ml-3">{{ errors.first('S/N Out') }}</small>
                        </div>
                    </div>
                    <div class="vx-row mb-3">
                        <div class="vx-col w-full">
                            <vs-input v-model="dataAdd.serial_in" v-validate="'required'" class="w-full"
                                      data-vv-validate-on="blur"
                                      label-placeholder="S/N In"
                                      name="S/N In"/>
                            <small class="form-text text-danger ml-3">{{ errors.first('S/N In') }}</small>
                        </div>
                    </div>
                    <div class="vx-row mb-3">
                        <div class="vx-col w-full">
                            <vs-input v-model="dataAdd.problem" v-validate="'required'" class="w-full"
                                      data-vv-validate-on="blur"
                                      label-placeholder="Problem"
                                      name="Problem"/>
                            <small class="form-text text-danger ml-3">{{ errors.first('Problem') }}</small>
                        </div>
                    </div>
                    <div class="vx-col w-full">
                        <vx-card class="grid-view-item overflow-hidden">
                            <template slot="no-body">
                                <div
                                    class="item-img-container bg-white h-30 w-30 flex items-center justify-center mb-4 cursor-pointer">
                                    <expandable-image v-if="dataAdd.photo" :close-on-background-click="true"
                                                      :src="dataAdd.photo"
                                                      class="grid-view-img" v-bind:alt="dataAdd.photo"/>
                                    <img v-else class="grid-view-img" src="/images/vuexy-login-bg.jpg">
                                </div>
                                <vs-progress v-if="isProgress" color="warning" indeterminate></vs-progress>
                                <input id="file" ref="updateImgInput" accept="image/*" class="hidden"
                                       type="file"
                                       @change="updateCurrImg"/>
                                <div class="flex flex-wrap cursor-pointer" for="file"
                                     @click="$refs.updateImgInput.click()">
                                    <div
                                        v-if="isAdd"
                                        class="item-view-secondary-action-btn bg-success p-3 flex flex-grow items-center justify-center text-white cursor-pointer">
                                        <label class="text-sm font-semibold ml-2 cursor-pointer">Tambah Foto</label>
                                    </div>
                                </div>
                            </template>

                        </vx-card>
                    </div>
                </div>
                <div v-if="isAdd" class="vx-row">
                    <vs-row vs-justify="flex-end" vs-type="flex">

                        <vs-button class="mr-3 mb-2 mt-10" color="danger" @click="popupAddData=false">
                            Cancel
                        </vs-button>
                        <vs-button :disabled="validateAddForm" class="mr-3 mb-2 mt-10" color="success" @click="create">
                            Simpan
                        </vs-button>
                    </vs-row>
                </div>
            </form>

        </vs-popup>
    </vx-card>
</template>

<script>
import imageCompression from 'browser-image-compression'
import vSelect from 'vue-select'

export default {
    name: 'part-selector',
    components: {
        'v-select': vSelect
    },
    data () {
        return {
            dataAdd: {},
            parts: [],
            filter: {search: '', type: ''},
            selected: [],
            popupAddData: false,
            isProgress: false,
            category: ['Normal Used', 'CHGC', 'PROW', 'OBF/New BAD']
        }
    },
    props: {
        dataList: {
            type: Array,
            required: false
        },
        isAdd: {
            type: Boolean,
            required: true
        }
    },
    computed: {
        validateAddForm () {
            return this.errors.count() > 0 || !(Object.keys(this.fields).some(key => this.fields[key].dirty))
        }
    },
    mounted () {
    },
    methods: {
        onPartsChange (payload) {
            this.dataAdd.description = payload.description
            this.dataAdd.part_number_data = payload.part_number
        },
        popUpAddShow () {
            this.dataAdd = {
                id: null,
                qty: 1,
                serial_in: null,
                serial_out: null,
                photo: null,
                type: 'Piece Part',
                problem: null,
                part_number: null,
                part_number_data: null
            }
            this.popupAddData = true
        },
        onPopupClose () {
            this.dataAdd = {}
            this.popupAddData = false
        },
        popUpImportShow () {
            this.dataAdd = {}
            this.popupImport = true
        },
        onPopupImportClose () {
            this.dataAdd = {}
            this.popupImport = false
        },
        getParts (query) {
          this.parts = []
          this.filter.search = query;
            this.$store.dispatch('parts/byType', this.filter)
                .then(response => {
                    this.parts = response.data
                  console.log(this.parts)
                })
        },
        create () {
            if (this.dataAdd.id != null) {
                for (let i = 0; i < this.dataList.length; i++) {
                    if (this.dataList[i].id === this.dataAdd.id) {
                        this.dataList[i] = this.dataAdd
                    }
                }
            } else {
                if (this.dataList.find((e) => e.part_number_data === this.dataAdd.part_number_data)) {
                    for (let i = 0; i < this.dataList.length; i++) {
                        if (this.dataList[i].part_number_data === this.dataAdd.part_number_data) {
                            this.dataList[i] = this.dataAdd
                        }
                    }
                } else {
                    this.dataList.push(this.dataAdd)
                }
            }

            this.onPopupClose()
        },
        handleSelected (tr) {
            this.dataAdd = tr

            this.popupAddData = true
        },
        updateCurrImg (input) {
            this.isProgress = true
            if (input.target.files && input.target.files[0]) {
                var imageFile = input.target.files[0]
                var options = {
                    maxSizeMB: 0.5,
                    maxWidthOrHeight: 1920,
                    useWebWorker: true
                }
                imageCompression(imageFile, options)
                    .then(file => {
                        this.setItemValue(file) // write your own logic
                    })
                    .catch(error => {

                    })
            }
        },
        setItemValue (input) {
            const reader = new FileReader()
            reader.onload = e => {
                this.dataAdd.photo = e.target.result
                this.isProgress = false
            }
            reader.readAsDataURL(input)
        }
    },
    watch: {
        'dataAdd.type': function (value) {
            this.filter.type = value
            this.getParts('')
        }
    }
}
</script>

<style>
.table.vs-table > thead > tr > th {
    background-color: white;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    z-index: 2;
}
</style>
<style lang="scss">
.dropdown-button-container {
    display: flex;
    align-items: center;

    .btnx {
        border-radius: 5px 0px 0px 5px;
    }

    .btn-drop {
        border-radius: 0px 5px 5px 0px;
        border-left: 1px solid rgba(255, 255, 255, .2);
    }
}

.grid-view-item {
    .grid-view-img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: .35s;
    }

    &:hover {
        transform: translateY(-5px);
        box-shadow: 0px 4px 25px 0px rgba(0, 0, 0, .25);

        .grid-view-img {
            opacity: 0.9;
        }
    }


}
</style>
