<template>
    <vx-card no-shadow>
        <div class="vx-row mb-3">
            <div class="vx-col sm:w-1/2 w-full mb-2">

                <div class="search-page__search-bar flex items-center">
                    <vs-input icon-no-border placeholder="Search" v-model="filters.search"
                              class="w-full input-rounded-full" icon="icon-search" icon-pack="feather"/>

                    <vs-dropdown class="ml-4">
                        <feather-icon
                            icon="MenuIcon"
                            @click="currentItemView='item-grid'"
                            class="p-2 shadow-drop rounded-lg d-theme-dark-bg cursor-pointer"/>
                        <vs-dropdown-menu>
                            <vs-dropdown-item>
                                <div @click="dialogDownloadShow"
                                     class="flex items-center">
                                    <i class="material-icons"> get_app </i>
                                    <span class="ml-3">Download Data</span>
                                </div>
                            </vs-dropdown-item>
                        </vs-dropdown-menu>
                    </vs-dropdown>
                </div>
            </div>
        </div>
        <vs-table
            :sst="true"
            @sort="handleSort"
            :data="dataList">
            <template slot="thead">
                <!--<vs-th sort-key="id">No</vs-th>-->
                <vs-th sort-key="visit_id">Visit</vs-th>
                <vs-th sort-key="type">Part</vs-th>
            </template>

            <template slot-scope="{data}">
                <vs-tr :data="data" :key="index" v-for="(data, index) in dataList">
                    <!-- <vs-td :data="index">
                         {{ filters.pagination.current_page===1 ? index + 1 : index + 1 +
                         ((filters.pagination.current_page-1) * filters.pagination.per_page) }}
                     </vs-td>-->
                    <vs-td :data="data.visit_id">
                        <div class="vx-col w-full flex-no-wrap">
                            <div class="vx-row">
                                <div class="vx-col sm:w-1/4 w-full">
                                    <label class="text-xs font-semibold">WO</label>
                                </div>
                                <div class="vx-col">
                                    <small>{{ data.visit ? data.visit.work_order : '' }} </small>
                                </div>
                            </div>
                            <div class="vx-row">
                                <div class="vx-col sm:w-1/4 w-full">
                                    <label class="text-xs font-semibold">S/N</label>
                                </div>
                                <div class="vx-col">
                                    <small>{{ data.visit.location ? data.visit.location.serial_number : '' }} </small>
                                </div>
                            </div>
                            <div class="vx-row">
                                <div class="vx-col sm:w-1/4 w-full">
                                    <label class="text-xs font-semibold">Lokasi</label>
                                </div>
                                <div class="vx-col text-ellipsis">
                                    <small>{{ data.visit.location ? data.visit.location.location_name : '' }} </small>
                                </div>
                            </div>
                            <div class="vx-row" v-if="roleName !== 'customer'">
                                <div class="vx-col sm:w-1/4 w-full">
                                    <label class="text-xs font-semibold">Customer</label>
                                </div>
                                <div class="vx-col">
                                    <small>{{ data.visit.location ? data.visit.location.customer.name : '' }} </small>
                                </div>
                            </div>
                        </div>
                    </vs-td>
                    <vs-td :data="data.type">
                        <div class="vx-col flex-no-wrap">
                            <div class="vx-row">
                                <div class="vx-col sm:w-1/3 w-full">
                                    <label class="text-xs font-semibold">Tipe</label>
                                </div>
                                <div class="vx-col">
                                    <small>{{ data.type ? data.type : '' }} </small>
                                </div>
                            </div>
                            <div class="vx-row">
                                <div class="vx-col sm:w-1/3 w-full">
                                    <label class="text-xs font-semibold">Part No.</label>
                                </div>
                                <div class="vx-col">
                                    <small>{{ data.part_number ? data.part_number : '' }} </small>
                                </div>
                            </div>
                            <div class="vx-row">
                                <div class="vx-col sm:w-1/3 w-full">
                                    <label class="text-xs font-semibold">Deskripsi</label>
                                </div>
                                <div class="vx-col text-ellipsis">
                                    <small>{{ data.description ? data.description : '' }} </small>
                                </div>
                            </div>
                            <div class="vx-row">
                                <div class="vx-col sm:w-1/3 w-full">
                                    <label class="text-xs font-semibold">QTY</label>
                                </div>
                                <div class="vx-col text-ellipsis">
                                    <small>{{ data.qty ? data.qty : '' }} </small>
                                </div>
                            </div>
                        </div>
                    </vs-td>
                    <template class="expand-user" slot="expand">
                        <div class="con-expand-users w-full">
                            <div class="flex mb-4" v-if="data.type==='Module'">
                                <div class="w-3/4">
                                    <div class="flex mb-3">
                                        <label class="font-semibold">Serial In : s</label><label class="font-semibold">{{
                                            data.serial_in
                                        }}</label>
                                    </div>
                                    <div class="flex mb-3">
                                        <label class="font-semibold">Serial Out : </label><label class="font-semibold">{{
                                            data.serial_out
                                        }}</label>
                                    </div>
                                    <div class="flex mb-3">
                                        <label class="font-semibold">Problem : </label><label class="font-semibold">{{
                                            data.problem
                                        }}</label>
                                    </div>
                                </div>
                                <div class="w-1/4"><img :src="data.photo" v-bind:alt="data.photo" class="grid-view-img"
                                                        style="width: 80px;"
                                                        v-if="data.photo" :close-on-background-click="true"/>
                                    <label v-else>-</label></div>
                            </div>
                        </div>
                    </template>
                </vs-tr>
            </template>
        </vs-table>
        <vs-row vs-type="flex" vs-justify="space-between" v-if="dataList">
            <vs-col s-type="flex" vs-justify="center" vs-align="center" vs-w="2">
                <vs-dropdown vs-trigger-click class="cursor-pointer mt-5">
                    <div
                        class="p-4 border border-solid d-theme-border-grey-light rounded-full d-theme-dark-bg cursor-pointer flex items-center justify-between font-medium">
            <span class="mr-2 text-xs">{{ filters.pagination.from }} -  {{ filters.pagination.to }}  of {{
                    total
                }}</span>
                        <feather-icon icon="ChevronDownIcon" svgClasses="h-4 w-4"/>
                    </div>
                    <!-- <vs-button class="btn-drop" type="line" color="primary" icon-pack="feather" icon="icon-chevron-down"></vs-button> -->
                    <vs-dropdown-menu>

                        <vs-dropdown-item @click="changeSize(5)">
                            <span>5</span>
                        </vs-dropdown-item>
                        <vs-dropdown-item @click="changeSize(10)">
                            <span>10</span>
                        </vs-dropdown-item>
                        <vs-dropdown-item @click="changeSize(20)">
                            <span>20</span>
                        </vs-dropdown-item>
                        <vs-dropdown-item @click="changeSize(30)">
                            <span>30</span>
                        </vs-dropdown-item>
                    </vs-dropdown-menu>
                </vs-dropdown>
            </vs-col>
            <vs-col s-type="flex" vs-justify="center" vs-align="center" vs-w="2">
                <vs-pagination :total="last_page" v-model="current_page" class="mt-5"/>
            </vs-col>
        </vs-row>

        <vs-popup class="holamundo" title="Download Part Usage" :active.sync="dialogDownload"
                  @input="dialogDownloadHide">

            <vs-row vs-type="flex" vs-justify="center">
                <vs-col vs-type="flex" vs-justify="center" vs-align="center">
                    <span class="text-medium content-center mb-base">Silahkan tentukan Jarak Waktu</span>
                </vs-col>
            </vs-row>
            <vs-row vs-type="flex" vs-justify="center">
                <vs-col vs-type="flex" vs-justify="center" vs-align="center">
                    <div class="vx-row mb-base">
                        <datepicker :minimumView="'date'" :maximumView="'year'" format="yyyy-MM-dd"
                                    class="date-custom"
                                    v-model="dateRange.startDate"></datepicker>
                        <span class="text-2xl">-</span>
                        <datepicker :minimumView="'date'" :maximumView="'year'" format="yyyy-MM-dd"
                                    class="date-custom"
                                    v-model="dateRange.endDate"></datepicker>
                    </div>

                </vs-col>
            </vs-row>
            <vs-row vs-type="flex" vs-justify="center">
                <vs-col vs-type="flex" vs-justify="center" vs-align="center">
                    <div class="vx-row">
                        <vs-button color="primary" @click="downloadData">Download Report
                        </vs-button>
                    </div>
                </vs-col>
            </vs-row>
            <div class="popup"></div>
        </vs-popup>
    </vx-card>
</template>
<script>
import axios from '@/http/axios/index'
import {debounce} from '@/plugins/helpers'
import service from '@/services/user.service'
import Datepicker from 'vuejs-datepicker'
import XLSX from 'xlsx'

export default {
    components: {
        Datepicker
    },
    data () {
        let sd = this.$moment().startOf('month').format('YYYY-MM-DD')
        let ed = this.$moment().format('YYYY-MM-DD')
        return {
            linkTemplate: '/template/import/region_template.xlsx',
            dataAdd: {},
            errorsData: {},
            popupAddData: false,
            popupImport: false,
            dialogDownload: false,
            selected: [],
            dataList: [],
            last_page: 1,
            current_page: 1,
            file: null,
            filters: {
                pagination: {
                    from: 0,
                    to: 0,
                    total: 0,
                    per_page: 20,
                    current_page: 1,
                    last_page: 0
                },
                orderBy: {
                    column: 'created_at',
                    direction: 'desc'
                },
                search: ''
            },
            loading: true,
            searchQuery: '',
            total: 0,
            dateRange: {
                startDate: sd,
                endDate: ed
            }
        }
    },
    computed: {
        validateAddForm () {
            return this.errors.count() > 0 || !(Object.keys(this.fields).some(key => this.fields[key].dirty))
        },
        isAdmin () {
            return localStorage.getItem('roles') === 'administrator'
        },
        roleName () {
            return localStorage.getItem('roles')
        },
        baseUrl () {
            return window.location.origin
        }
    },
    mounted () {
        if (localStorage.getItem('filtersTableRegions')) {
            this.filters = JSON.parse(localStorage.getItem('filtersTableRegions'))
            this.filters.pagination.current_page = 1
            this.filters.search = ''
        } else {
            localStorage.setItem('filtersTableRegions', this.filters)
        }

        this.getdataList()
    },
    methods: {
        dialogDownloadShow () {
            this.dialogDownload = true
        },
        dialogDownloadHide () {
            this.dialogDownload = false
        },
        popUpAddShow () {
            this.dataAdd = {}
            this.popupAddData = true
        },
        onPopupClose () {
            this.dataAdd = {}
            this.popupAddData = false
        },
        popUpImportShow () {
            this.dataAdd = {}
            this.popupImport = true
        },
        onPopupImportClose () {
            this.dataAdd = {}
            this.popupImport = false
        },
        handleSearch (searching) {
            if (searching.length >= 3) {
                this.filters.search = searching
                this.getDataList()
            } else {
                this.filters.search = ''
                this.getDataList()
            }
        },
        handleChangePage (page) {
            this.filters.pagination.current_page = page
            this.getdataList()
        },
        handleSort (key, active) {
            this.sort(key, active)
        },
        getdataList () {
            this.$vs.loading()
            this.dataList = []
            this.dataAdd = {}
            localStorage.setItem('filtersTableRegions', JSON.stringify(this.filters))
            this.$store.dispatch('part/get', this.filters)
                .then(response => {
                    this.$vs.loading.close()
                    this.dataList = response.data.data
                    this.total = response.data.total
                    this.last_page = response.data.last_page
                    delete response.data.data
                    this.filters.pagination = response.data
                    this.loading = false
                })
                .catch(error => {
                    this.$vs.loading.close()
                    this.errors = error.response.data.errors
                    this.$vs.notify({
                        title: 'Error',
                        text: 'Terjadi kesalahan',
                        iconPack: 'feather',
                        icon: 'icon-alert-circle',
                        color: 'danger',
                        position: 'top-right'
                    })
                })
        },
        create () {
            this.$vs.loading()
            this.$store.dispatch('part/create', this.dataAdd)
                .then(response => {
                    this.$vs.notify({
                        title: 'Success',
                        text: 'Data berhasil tersimpan',
                        iconPack: 'feather',
                        icon: 'icon-alert-circle',
                        color: 'success',
                        position: 'top-right'
                    })
                    this.popupAddData = false
                    this.getdataList()
                })
                .catch(error => {
                    //this.errorsData = error.response.data.errors
                    this.$vs.notify({
                        title: 'Error',
                        text: 'Terjadi kesalahan',
                        iconPack: 'feather',
                        icon: 'icon-alert-circle',
                        color: 'danger',
                        position: 'top-right'
                    })
                })
                .then(() => {
                    this.$vs.loading.close()
                })

        },
        update () {
            this.$vs.loading()
            this.$store.dispatch('part/edit', this.dataAdd)
                .then(() => {
                    this.$vs.notify({
                        title: 'Success',
                        text: 'Data berhasil diperbaharui',
                        iconPack: 'feather',
                        icon: 'icon-alert-circle',
                        color: 'success',
                        position: 'top-right'
                    })
                    this.popupAddData = false
                    this.getdataList()
                })
                .catch(error => {
                    //this.errorsData = error.response.data.errors
                    this.$vs.notify({
                        title: 'Error',
                        text: 'Terjadi kesalahan',
                        iconPack: 'feather',
                        icon: 'icon-alert-circle',
                        color: 'danger',
                        position: 'top-right'
                    })
                })
                .then(() => {
                    this.$vs.loading.close()
                })

        },
        destroy: function (parameters) {
            this.$vs.loading()
            this.$store.dispatch('part/delete', this.dataAdd)
                .then(response => {
                    this.$vs.notify({
                        title: 'Success',
                        text: 'Data berhasil dihapus',
                        iconPack: 'feather',
                        icon: 'icon-alert-circle',
                        color: 'success',
                        position: 'top-right'
                    })
                })
                .then(() => {
                    this.$vs.loading.close()
                })
            this.getdataList()
        },
        recover: function (parameters) {
            this.$vs.loading()
            this.$store.dispatch('part/restore', this.dataAdd)
                .then(response => {
                    this.$vs.notify({
                        title: 'Success',
                        text: 'Data berhasil dikembalikan',
                        iconPack: 'feather',
                        icon: 'icon-alert-circle',
                        color: 'success',
                        position: 'top-right'
                    })
                })
                .then(() => {
                    this.$vs.loading.close()
                })
            this.getdataList()
        },
        downloadData () {
            this.$vs.loading()
            let start = this.$moment(this.dateRange.startDate).format('YYYY-MM-DD')
            let end = this.$moment(this.dateRange.endDate).format('YYYY-MM-DD')
            var param = `start=${start}&end=${end}`
            this.$store.dispatch('part/getReport', param)
                .then(response => {
                    this.$vs.loading.close()
                    let dataExcel = []
                    let data = response.data
                    if (data.length > 0) {
                        this.dialogDownloadHide()
                        for (let i = 0; i < data.length; i++) {
                            var pn = data[i].part_number == null ? '-' : data[i].part_number
                            var deskripsi = data[i].description == null ? '-' : data[i].description
                            var qty = data[i].qty == null ? '-' : data[i].qty
                            var type = data[i].type == null ? '-' : data[i].type
                            var category = data[i].category == null ? '-' : data[i].category
                            var serial_in = data[i].serial_in == null ? '-' : data[i].serial_in
                            var serial_out = data[i].serial_out == null ? '-' : data[i].serial_out
                            var photo = data[i].photo == null ? '-' : this.getImageUrl(data[i].photo)
                            var problem = data[i].problem == null ? '-' : data[i].problem


                            var partColumn = {
                                Work_Order: data[i].visit ? data[i].visit.work_order : '-',
                                Customer: data[i].visit ? data[i].visit.location.customer.name : '-',
                                Tipe_Kunjungan: data[i].visit ? data[i].visit.tipe_kunjungan : '-',
                                ID_CE: data[i].visit ? data[i].visit.user ? data[i].visit.user.ce_code : '-' : '-',
                                Nama_Lokasi: data[i].visit ? data[i].visit.location.location_name : '-',
                                Region: data[i].visit ? data[i].visit.location.service_base ? data[i].visit.location.service_base.region.name : '-' : '-',
                                Servicebase: data[i].visit ? data[i].visit.location.service_base ? data[i].visit.location.service_base.name : '-' : '-',
                                Type: type,
                                Category: category,
                                Part_Number: pn,
                                Description: deskripsi,
                                QTY: qty,
                                Serial_out: serial_out,
                                Serial_in: serial_in,
                                problem: problem,
                                Photo: photo
                            }
                            dataExcel.push(partColumn)
                        }
                        var dataAtm = XLSX.utils.json_to_sheet(dataExcel)
                        var wb = XLSX.utils.book_new()
                        wb.Props = {
                            Title: `Data Part`,
                            Subject: 'Data Part',
                            CreatedDate: new Date()
                        }
                        XLSX.utils.book_append_sheet(wb, dataAtm, `${this.$moment(new Date()).format('YYYY_MM_DD_hh_mm')}`)
                        XLSX.writeFile(wb, `nmapp_data_part_${this.$moment(new Date()).format('YYYY_MM_DD_hh_mm')}.xlsx`)
                    } else {
                        this.$vs.notify({
                            title: 'Warning',
                            text: 'Data tidak ditemukan',
                            iconPack: 'feather',
                            icon: 'icon-alert-circle',
                            color: 'warning',
                            position: 'top-right'
                        })
                    }
                })
                .catch(error => {
                    console.log(error)
                    this.$vs.loading.close()
                    this.$vs.notify({
                        title: 'Error',
                        text: 'Terjadi kesalahan',
                        iconPack: 'feather',
                        icon: 'icon-alert-circle',
                        color: 'danger',
                        position: 'top-right'
                    })
                })
        },
      getImageUrl(url){
        return url.includes('https://drive.google.com') ? url : `${this.baseUrl}${url}`
      },
        filter () {
            this.filters.pagination.current_page = 1
            this.getdataList()
        },
        changeSize (perPage) {
            this.filters.pagination.current_page = 1
            this.filters.pagination.per_page = perPage
            this.getdataList()
        },
        sort (column, sort) {
            if (column !== null) {
                if (column == this.filters.orderBy.column) {
                    this.filters.orderBy.direction = sort == null ? 'asc' : sort
                } else {
                    this.filters.orderBy.column = column
                    this.filters.orderBy.direction = 'asc'
                }
                this.getdataList()
            }
        },
        changePage (page) {
            this.filters.pagination.current_page = page
            this.getdataList()
        },
        handleSelected (tr) {
            this.dataAdd = tr
            this.popupAddData = true
        },
        deleteConfirm () {
            this.popupAddData = false
            this.$vs.dialog({
                type: 'confirm',
                color: 'danger',
                title: 'Confirm',
                text: `Are you sure want to delete ${this.dataAdd.name}?`,
                accept: this.destroy,
                parameters: this.dataAdd.name
            })
        },
        recoverConfirm () {
            this.popupAddData = false
            this.$vs.dialog({
                type: 'confirm',
                color: 'warning',
                title: 'Confirm',
                text: `Are you sure want to recover ${this.dataAdd.name}?`,
                accept: this.recover,
                parameters: this.dataAdd.name
            })
        },
        handleClick (e) {
            const files = e.target.files
            this.file = files[0]
            if (!this.file) return
            this.uploadFile(this.file)
        },
        handleDragover (e) {
            e.stopPropagation()
            e.preventDefault()
            e.dataTransfer.dropEffect = 'copy'
        },
        handleDrop (e) {
            e.stopPropagation()
            e.preventDefault()
            const files = e.dataTransfer.files
            if (files.length !== 1) {
                this.$vs.notify({
                    title: 'Upload',
                    text: 'Hanya upload 1 File',
                    iconPack: 'feather',
                    icon: 'icon-alert-circle',
                    color: 'warning',
                    position: 'top-right'
                })
                return
            }
            const rawFile = files[0] // only use files[0]
            if (!this.isExcel(rawFile)) {
                this.$vs.notify({
                    title: 'Login Attempt',
                    text: 'Upload file beresktensi .xlsx, .xls, .csv',
                    iconPack: 'feather',
                    icon: 'icon-alert-circle',
                    color: 'warning',
                    position: 'top-right'
                })
                return false
            }
            this.uploadFile(rawFile)
        },
        onFileChange (e) {
            let files = e.target.files || e.dataTransfer.files
            if (!files.length)
                return
            this.file = files[0]
        },
        uploadFile (file) {
            this.$vs.loading()
            let formData = new FormData()
            formData.append('file', file)
            axios.post(`/api/master/regions/import`, formData,
                {
                    headers: {
                        'Content-Type': 'multipart/form-data'
                    }
                })
                .then(response => {
                    this.getdataList()
                    this.popupImport = false
                    this.$vs.notify({
                        title: 'Sukses',
                        text: 'Import Data Sukses',
                        iconPack: 'feather',
                        icon: 'icon-alert-circle',
                        color: 'success',
                        position: 'top-right'
                    })
                })
                .catch(error => {
                    this.popupImport = false
                    this.$vs.notify({
                        title: 'Error',
                        text: 'Terjadi kesalahan',
                        iconPack: 'feather',
                        icon: 'icon-alert-circle',
                        color: 'danger',
                        position: 'top-right'
                    })
                })
                .then(() => {
                    this.$vs.loading.close()
                })
        }
    },
    watch: {
        current_page: function (value) {
            this.changePage(value)
        },
        'filters.search': debounce(function (newVal) {
            this.filters.pagination.current_page = 1
            this.getdataList()
        }, 1000)
    },
    destroyed () {
        localStorage.removeItem('filtersTableRegions')
    }

}
</script>

<style>
.table.vs-table > thead > tr > th {
    background-color: white;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    z-index: 2;
}
</style>
<style lang="scss">
.dropdown-button-container {
    display: flex;
    align-items: center;

    .btnx {
        border-radius: 5px 0px 0px 5px;
    }

    .btn-drop {
        border-radius: 0px 5px 5px 0px;
        border-left: 1px solid rgba(255, 255, 255, .2);
    }
}

.add-data {
    position: fixed;
    bottom: 5%;
    right: 79px;
    z-index: 51000;
    box-shadow: 0 1px 20px 1px rgb(12, 38, 52);
}

.text-ellipsis {
    white-space: nowrap;
    width: 185px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.date-custom {
    width: 110px;
    display: block;
    margin-right: auto;
    margin-left: auto;
}

.popup {
    width: 500px !important;
    height: 300px !important;
}


</style>
