<template>
    <div ref="parentSidebar" id="parentx">
        <div class="vx-row mb-3 p-5">
            <vx-card no-shadow card-border>
                <div class="vx-row">
                    <div class="vx-col sm:w-2/3 w-full">
                        <div class="vx-row">
                            <div class="vx-col sm:w-3/4 w-full">
                                <div class="search-page__search-bar flex items-center">
                                    <vs-input icon-no-border placeholder="Search" v-model="filters.search"
                                              class="w-full input-rounded-full" icon="icon-search" icon-pack="feather"/>
                                </div>
                            </div>
                            <div class="vx-col sm:w-1/4">
                                <v-select label="name" v-model="filters.status" name="Tipe"
                                          class="mr-2"
                                          :options="statusList"/>
                            </div>
                        </div>
                    </div>
                    <div class="vx-col sm:w-1/3 w-full items-start">
                        <div class="search-page__search-bar flex">
                            <div class="dropdown-button-container">
                                <vs-button class="btnx" type="filled" @click="popUpAddShow" v-can="'create-location'">
                                    Tambah
                                    ATM
                                </vs-button>

                                <vs-dropdown>
                                    <vs-button class="btn-drop" type="filled" icon="expand_more"></vs-button>
                                    <vs-dropdown-menu>
                                        <vs-dropdown-item v-can="'create-location'">
                                            <div @click="popUpImportShow"
                                                 class="flex items-center">
                                                <i class="material-icons"> publish </i>
                                                <span class="ml-3">Import Data</span>
                                            </div>
                                        </vs-dropdown-item>
                                        <vs-dropdown-item v-can="'read-location'">
                                            <div @click="popUpExportShow"
                                                 class="flex items-center">
                                                <i class="material-icons"> get_app </i>
                                                <span class="ml-3">Export Data</span>
                                            </div>
                                        </vs-dropdown-item>
                                        <!--<vs-dropdown-item>
                                            <div @click="$router.push('/apps/email').catch(() => {})"
                                                 class="flex items-center">
                                                <i class="material-icons"> get_app </i>
                                                <span class="ml-3">Export Data</span>
                                            </div>
                                        </vs-dropdown-item>-->
                                    </vs-dropdown-menu>
                                </vs-dropdown>
                            </div>
                        </div>
                    </div>
                </div>
            </vx-card>
        </div>
        <vx-card no-shadow>
            <vs-table
                :sst="true"
                @sort="handleSort"
                @selected="handleSelected"
                v-model="selected"
                max-items="5"
                :data="dataList">
                <template slot="thead">
                    <vs-th sort-key="id">No</vs-th>
                    <vs-th sort-key="customer_id">Customer</vs-th>
                    <vs-th sort-key="mc_id">MC ID / SN</vs-th>
                    <vs-th sort-key="model">Model</vs-th>
                    <vs-th sort-key="location_name">Location Name</vs-th>
                    <vs-th sort-key="service_base_id">Service Base</vs-th>
                    <vs-th sort-key="status">Status</vs-th>
                    <!--<vs-th sort-key="install_date">Install Date</vs-th>-->
                </template>

                <template slot-scope="{data}">
                    <vs-tr :data="data" :key="index" v-for="(data, index) in dataList">
                        <vs-td :data="index">
                            {{
                                filters.pagination.current_page === 1 ? index + 1 : index + 1 +
                                    ((filters.pagination.current_page - 1) * filters.pagination.per_page)
                            }}
                        </vs-td>
                        <vs-td :data="data.customer_id">

                            <div>
                                <div class="text-ellipsis">
                                    {{ data.customer ? data.customer.name : '' }}
                                </div>
                                <div class="text-sm">
                                    <b>Kode: </b>{{ data.customer ? data.customer.code : '' }}
                                </div>
                            </div>
                        </vs-td>
                        <vs-td :data="data.mc_id">
                            <div>
                                <div>
                                    {{ data.mc_id }}
                                </div>
                                <div class="text-sm">
                                    {{ data.serial_number }}
                                </div>
                            </div>
                        </vs-td>

                        <!-- <vs-td :data="data.region_id">
                             <div>
                                 <div>
                                     {{data.service_base ? data.service_base.name : ''}}
                                 </div>
                                 <div class="text-sm">
                                     {{data.region ? data.region.name : ''}}
                                 </div>
                             </div>
                         </vs-td>-->
                        <vs-td :data="data.model">


                            {{ data.model }}


                        </vs-td>
                        <vs-td :data="data.location_name">

                            <div>
                                <div class="text-bold">
                                    {{ data.location_name }}
                                </div>
                                <div class="text-sm text-ellipsis">
                                    {{ data.address }}
                                </div>
                                <div class="text-sm text-ellipsis">
                                    {{ data.city }} - {{ data.postal }}
                                </div>
                            </div>

                        </vs-td>
                        <vs-td :data="data.service_base">
                            <div>
                                <div class="text-sm">
                                    {{ data.service_base ? data.service_base.region.code : '-' }}
                                </div>
                                <div class="text-sm">
                                    {{ data.service_base ? data.service_base.name : '-' }}
                                </div>
                            </div>

                        </vs-td>
                        <vs-td :data="data.status">

                            <vs-chip color="danger" v-if="data.deleted_at !== null">Deleted</vs-chip>
                            <vs-chip color="success" v-else-if="data.status == 'Active'">{{ data.status }}</vs-chip>
                            <vs-chip color="warning" v-else>{{ data.status }}</vs-chip>

                        </vs-td>

                        <!--  <vs-td :data="data.install_date">
                              <small>{{data.install_date | moment('DD MMM YYYY')}}</small>
                          </vs-td>-->
                    </vs-tr>
                </template>
            </vs-table>
            <vs-row vs-type="flex" vs-justify="space-between" v-if="dataList.length > 0 && !loading">
                <vs-col s-type="flex" vs-justify="center" vs-align="center" vs-w="2">
                    <vs-dropdown vs-trigger-click class="cursor-pointer mt-5">
                        <div
                            class="p-4 border border-solid d-theme-border-grey-light rounded-full d-theme-dark-bg cursor-pointer flex items-center justify-between font-medium">
            <span class="mr-2 text-sm">{{ filters.pagination.from }} -  {{ filters.pagination.to }}  of {{
                    total
                }}</span>
                            <feather-icon icon="ChevronDownIcon" svgClasses="h-4 w-4"/>
                        </div>
                        <!-- <vs-button class="btn-drop" type="line" color="primary" icon-pack="feather" icon="icon-chevron-down"></vs-button> -->
                        <vs-dropdown-menu>

                            <vs-dropdown-item @click="changeSize(5)">
                                <span>5</span>
                            </vs-dropdown-item>
                            <vs-dropdown-item @click="changeSize(10)">
                                <span>10</span>
                            </vs-dropdown-item>
                            <vs-dropdown-item @click="changeSize(20)">
                                <span>20</span>
                            </vs-dropdown-item>
                            <vs-dropdown-item @click="changeSize(50)">
                                <span>50</span>
                            </vs-dropdown-item>
                            <vs-dropdown-item @click="changeSize(100)">
                                <span>100</span>
                            </vs-dropdown-item>
                        </vs-dropdown-menu>
                    </vs-dropdown>
                </vs-col>
                <vs-col s-type="flex" vs-justify="center" vs-align="center" vs-w="2">
                    <vs-pagination :total="last_page" v-model="current_page" class="mt-5"/>
                </vs-col>
            </vs-row>

            <vs-popup class="holamundo" title="Import Data" :active.sync="popupImport" @input="onPopupImportClose">
                <!--<div  class="text-center w-full">
                    <a :href="linkTemplate">
                        <vs-button class="mb-6" color="warning" type="relief" @click="linkTemplate">Download Template
                        </vs-button>
                    </a>
                </div>-->
                <input type="file" ref="fileInput" class="hidden" accept=".xlsx, .xls" @change="handleClick">
                <div class="row">
                    <div
                        @click="$refs.fileInput.click()"
                        @drop="handleDrop"
                        @dragover="handleDragover"
                        @dragenter="handleDragover"
                        class="mb-6 px-8 py-16 cursor-pointer text-center border-2 border-dashed d-theme-border-grey-light d-theme-dark-bg text-xl">
                        <feather-icon icon="UploadCloudIcon" svgClasses="h-16 w-16 stroke-current text-grey"
                                      class="block"/>
                        <span>Drop Excel File atau </span>
                        <span class="font-medium text-primary" @click.stop="$refs.fileInput.click()">Browse</span>
                        <!-- <vs-button type="border" @click.stop="$refs.fileInput.click()">Browse</vs-button> -->
                    </div>
                    <div>
                        <span class="text-sm">*) Import Data harus sesuai Template yang disediakan. <a
                            :href="linkTemplate"><b>Download Template</b></a></span>
                    </div>
                </div>
            </vs-popup>

            <vs-popup class="holamundo" title="Export Data ATM" :active.sync="popupExport" @input="onPopupExportClose">
                <form class="pl-10 pr-10 items-center content-center">
                    <div class="vx-row mb-3">
                        <ul class="centerx">
                            <li>
                                <vs-radio v-model="dataExport.filter" :vs-value="false">Semua</vs-radio>
                            </li>
                            <li>
                                <vs-radio v-model="dataExport.filter" :vs-value="true">Filter</vs-radio>
                            </li>
                        </ul>
                    </div>
                    <div class="vx-row mb-3" v-if="dataExport.filter">
                        <vx-card title="Filter" no-shadow card-border subtitle="Pilih Filter yang akan diaktifkan">
                            <div class="vx-col w-full">
                                <area-selector :data="dataExport" :errorsData="errorsData"></area-selector>
                            </div>
                            <div class="vx-col w-full">
                                <customer-selector :data="dataExport" :errorsData="errorsData"></customer-selector>
                            </div>
                        </vx-card>
                    </div>
                    <vs-button class="mt-5 mb-5 responsive" color="success" @click="exportData">
                        Download
                    </vs-button>
                </form>
            </vs-popup>

            <vs-popup fullscreen class="holamundo" :title="dataAdd.id ? 'Edit ATM':'Tambah ATM'"
                      :active.sync="popupAddData">
                <form>
                    <div class="vx-row  mb-2">
                        <div class="vx-col sm:w-1/2 w-full">
                            <vx-card title="Data ATM" :no-shadow=true :card-border=true>
                                <div class="vx-row  mb-3" v-if="dataAdd.id">
                                    <div class="vx-col sm:w-1/2 w-full mb-2">
                                        <vs-input class="w-full" label-placeholder="ID" v-model="dataAdd.id" disabled/>
                                    </div>
                                    <!-- <vs-switch color="success" v-model="!dataAdd.deleted_by" class="ml-5 mt-6">
                                         <span slot="on">Aktif</span>
                                         <span slot="off">Inaktif</span>
                                     </vs-switch>-->
                                </div>
                                <div class="vx-row  mb-2">
                                    <div class="vx-col w-full">
                                        <vs-input class="w-full" label-placeholder="Location Name"
                                                  v-model="dataAdd.location_name"
                                                  data-vv-validate-on="blur"
                                                  v-validate="'required'"
                                                  name="Location Name"/>
                                        <small class="form-text text-danger ml-3">{{
                                                errors.first('Location Name')
                                            }}</small>
                                        <span class="text-danger text-sm"
                                              v-if="errorsData.location_name">{{ errorsData.location_name[0] }}</span>
                                    </div>
                                </div>
                                <customer-selector :data="dataAdd" :errorsData="errorsData"></customer-selector>
                                <div class="vx-row  mb-2">
                                    <div class="vx-col w-full">
                                        <vs-input class="w-full" label-placeholder="MC ID" v-model="dataAdd.mc_id"
                                                  data-vv-validate-on="blur"
                                                  v-validate="'required'"
                                                  name="MC ID"/>
                                        <small class="form-text text-danger ml-3">{{ errors.first('MC ID') }}</small>
                                        <span class="text-danger text-sm"
                                              v-if="errorsData.mc_id">{{ errorsData.mc_id[0] }}</span>
                                    </div>
                                </div>
                                <div class="vx-row  mb-2">
                                    <div class="vx-col w-full">
                                        <vs-input class="w-full" label-placeholder="Serial Number"
                                                  v-model="dataAdd.serial_number"
                                                  data-vv-validate-on="blur"
                                                  v-validate="'required'"
                                                  name="Serial Number"/>
                                        <small class="form-text text-danger ml-3">{{
                                                errors.first('Serial Number')
                                            }}</small>
                                        <span class="text-danger text-sm"
                                              v-if="errorsData.serial_number">{{ errorsData.serial_number[0] }}</span>
                                    </div>
                                </div>
                                <div class="vx-row  mb-2">
                                    <div class="vx-col w-full">
                                        <vs-input class="w-full" label-placeholder="Site Number"
                                                  v-model="dataAdd.site_number"
                                                  data-vv-validate-on="blur"
                                                  v-validate="'required'"
                                                  name="Site Number"/>
                                        <small class="form-text text-danger ml-3">{{
                                                errors.first('Site Number')
                                            }}</small>
                                        <span class="text-danger text-sm"
                                              v-if="errorsData.site_number">{{ errorsData.site_number[0] }}</span>
                                    </div>
                                </div>
                                <div class="vx-row  mb-2">
                                    <div class="vx-col w-full">
                                        <vs-input class="w-full" label-placeholder="Model"
                                                  v-model="dataAdd.model"
                                                  data-vv-validate-on="blur"
                                                  v-validate="'required'"
                                                  name="Model"/>
                                        <small class="form-text text-danger ml-3">{{ errors.first('Model') }}</small>
                                        <span class="text-danger text-sm"
                                              v-if="errorsData.model">{{ errorsData.model[0] }}</span>
                                    </div>
                                </div>
                                <div class="vx-row  mb-3" v-if="dataAdd.id">
                                    <div class="vx-col sm:w-1/2 w-full mb-2 mt-auto">
                                        <label class="ml-1 mb-3 text-sm">Install Date</label>
                                        <datepicker label-placeholder="Install Date" v-model="dataAdd.install_date"
                                                    :language="languages[language]" format="dd MMMM yyyy"></datepicker>
                                        <small class="form-text text-danger ml-3">{{
                                                errors.first('Install Date')
                                            }}</small>
                                        <span class="text-danger text-sm"
                                              v-if="errorsData.install_date">{{ errorsData.install_date[0] }}</span>
                                    </div>
                                    <div class="vx-col sm:w-1/2 w-full mb-2 mt-auto">
                                        <label class="ml-1 mb-3 text-sm">Status</label>
                                        <v-select label="name" v-model="dataAdd.status" name="Status"
                                                  :options="statusArray" v-validate="'required'"/>
                                        <small class="form-text text-danger ml-3">{{
                                                errors.first('step-1.Status')
                                            }}</small>
                                        <small class="form-text text-danger"
                                               v-if="errorsData.status">{{ errorsData.status[0] }}</small>
                                    </div>
                                    <!--<div class="vx-col sm:w-1/2 w-full mb-2 mt-auto">
                                        <vs-input class="w-full" label-placeholder="Status"
                                                  v-model="dataAdd.status"
                                                  data-vv-validate-on="blur"
                                                  v-validate="'required'"
                                                  name="Status"/>
                                        <small class="form-text text-danger ml-3">{{ errors.first('Status') }}</small>
                                        <span class="text-danger text-sm"
                                              v-if="errorsData.status">{{ errorsData.status[0] }}</span>
                                    </div>-->
                                </div>

                                <area-selector :data="dataAdd" :errorsData="errorsData"></area-selector>

                                <div class="vx-row" v-if="!dataAdd.id">
                                    <vs-row vs-type="flex" vs-justify="flex-end">
                                        <vs-button class="mr-3 mb-2 mt-10" color="danger" @click="popupAddData=false">
                                            Cancel
                                        </vs-button>
                                        <input type="file" class="hidden" id="file2" ref="updateImgInput"
                                               @change="updateCurrImg"
                                               accept="image/*"/>
                                        <label
                                            class="mr-3 mb-2 mt-10 vs-component vs-button vs-button-primary vs-button-filled"
                                            v-if="!dataAdd.image" for="file2" v-can="'create-location'">Upload
                                            Image</label>

                                        <vs-button :disabled="validateAddForm" class="mr-3 mb-2 mt-10" color="success"
                                                   @click="create" v-can="'create-location'">
                                            Simpan
                                        </vs-button>
                                    </vs-row>
                                </div>
                                <div class="vx-row" v-if="dataAdd.id">
                                    <vs-row vs-type="flex" vs-justify="flex-end">
                                        <vs-button class="mr-3 mb-2 mt-10" color="danger" type="filled"
                                                   icon-pack="feather"
                                                   icon="icon-trash" @click="deleteConfirm"
                                                   v-if="!dataAdd.deleted_by" v-can="'delete-location'"></vs-button>

                                        <input type="file" class="hidden" id="file1" ref="updateImgInput"
                                               @change="updateCurrImg"
                                               accept="image/*"/>
                                        <label
                                            class="mr-3 mb-2 mt-10 vs-component vs-button vs-button-primary vs-button-filled"
                                            for="file1" v-if="!dataAdd.image && !dataAdd.deleted_by"
                                            v-can="'update-location'">Upload
                                            Image</label>

                                        <vs-button class="mr-3 mb-2 mt-10" color="success" v-if="!dataAdd.deleted_by"
                                                   @click="update" v-can="'update-location'">
                                            Update
                                        </vs-button>
                                        <vs-button class="mr-3 mb-2 mt-10" color="warning" @click="recoverConfirm"
                                                   v-if="dataAdd.deleted_by" v-can="'update-location'">Activate
                                        </vs-button>
                                    </vs-row>
                                </div>
                            </vx-card>
                            <vx-card v-if="dataAdd.image" class="mt-3" title="Foto Lokasi" :o-shadow=true
                                     :card-border=true>
                                <div class="vx-col w-full items-center">
                                    <vx-card class="grid-view-item overflow-hidden" no-shadow card-border>
                                        <template slot="no-body">
                                            <div
                                                class="item-img-container bg-white h-30 w-30 flex items-center justify-center mb-4 cursor-pointer">
                                                <expandable-image :src="dataAdd.image" v-bind:alt="dataAdd.image"
                                                                  class="grid-view-img"
                                                                  v-if="dataAdd.image"
                                                                  :close-on-background-click="true"/>

                                                <img src="/images/vuexy-login-bg.jpg" class="grid-view-img" v-else/>
                                            </div>
                                            <!--                    <vs-progress indeterminate color="warning" v-if="isProgress"></vs-progress>-->
                                            <input type="file" class="hidden" id="file" ref="updateImgInput"
                                                   @change="updateCurrImg"
                                                   accept="image/*"/>
                                            <div class="flex flex-wrap cursor-pointer" for="file"
                                                 @click="$refs.updateImgInput.click()" v-if="!dataAdd.image"
                                                 v-can="'create-location'">
                                                <div
                                                    class="item-view-secondary-action-btn bg-success p-3 flex flex-grow items-center justify-center text-white cursor-pointer">
                                                    <label class="text-sm font-semibold ml-2 cursor-pointer">UPLOAD
                                                        FOTO</label>
                                                </div>
                                            </div>
                                            <div class="flex flex-wrap cursor-pointer" for="file"
                                                 @click="$refs.updateImgInput.click()" v-else>
                                                <div
                                                    class="item-view-secondary-action-btn bg-danger p-3 flex flex-grow items-center justify-center text-white cursor-pointer"
                                                    v-can="'update-location'">
                                                    <label class="text-sm font-semibold ml-2 cursor-pointer">GANTI
                                                        FOTO</label>
                                                </div>
                                            </div>
                                        </template>
                                    </vx-card>
                                </div>
                                <!--<form>
                                    <div>
                                        &lt;!&ndash; Image Container &ndash;&gt;
                                        <div class="img-container w-64 mx-auto flex items-center justify-center">
                                            <img :src="dataAdd.image" v-bind:alt="dataAdd.image" class="responsive">
                                        </div>

                                        &lt;!&ndash; Image upload Buttons &ndash;&gt;
                                        <div class="modify-img flex justify-between mt-5">
                                            <input type="file" class="hidden" id="file" ref="updateImgInput"
                                                   @change="updateCurrImg"
                                                   accept="image/*"/>
                                            <label class="vs-component vs-button vs-button-primary vs-button-filled"
                                                   for="file">Update
                                                Image</label>
                                            <vs-button type="flat" color="#999" @click="removeImage">Remove Image
                                            </vs-button>
                                        </div>
                                    </div>
                                </form>-->
                            </vx-card>
                        </div>
                        <div class="vx-col sm:w-1/2 w-full">
                            <vx-card title="Info Lokasi" :o-shadow=true :card-border=true>
                                <div class="vx-col w-full mb-3">
                                    <vs-input class="w-full" label-placeholder="Alamat" v-model="dataAdd.address"/>
                                    <span class="text-danger text-sm"
                                          v-if="errorsData.address">{{ errorsData.address[0] }}</span>
                                </div>
                                <div class="vx-row  mb-2">
                                    <div class="vx-col sm:w-1/2 w-full mb-3">
                                        <vs-input class="w-full" label-placeholder="Kota" v-model="dataAdd.city"/>
                                        <span class="text-danger text-sm"
                                              v-if="errorsData.city">{{ errorsData.city[0] }}</span>
                                    </div>
                                    <div class="vx-col sm:w-1/2 w-full mb-3">
                                        <vs-input class="w-full" label-placeholder="Kode Pos" v-model="dataAdd.postal"/>
                                        <span class="text-danger text-sm"
                                              v-if="errorsData.postal">{{ errorsData.postal[0] }}</span>
                                    </div>
                                </div>
                                <div class="vx-row  mb-2">
                                    <div class="vx-col sm:w-1/2 w-full mb-3">
                                        <vs-input class="w-full" label-placeholder="Latitude"
                                                  v-model="dataAdd.latitude"/>
                                        <span class="text-danger text-sm"
                                              v-if="errorsData.latitude">{{ errorsData.latitude[0] }}</span>
                                    </div>
                                    <div class="vx-col sm:w-1/2 w-full mb-3">
                                        <vs-input class="w-full" label-placeholder="Longitude"
                                                  v-model="dataAdd.longitude"/>
                                        <span class="text-danger text-sm"
                                              v-if="errorsData.longitude">{{ errorsData.longitude[0] }}</span>
                                    </div>
                                </div>
                                <div class="vx-row  mb-2 p-3">
                                    <!--<gmap-map :center="center" :zoom="15" style="width: 100%; height: 300px"
                                              @center_changed="updateCenter">-->

                                    <gmap-map :center="position" :zoom="15" style="width: 100%; height: 300px">
                                        <gmap-info-window :options="infoOptions" :position="infoWindowPos"
                                                          :opened="infoWinOpen" @closeclick="infoWinOpen=false">
                                            {{ infoContent }}
                                        </gmap-info-window>
                                        <gmap-marker :position="position"></gmap-marker>
                                    </gmap-map>
                                </div>
                            </vx-card>
                        </div>
                    </div>


                </form>
            </vs-popup>
        </vx-card>
    </div>
</template>
<script>
import axios from '@/http/axios/index'
import {debounce} from '@/plugins/helpers'
import vSelect from 'vue-select'
import AreaSelector from '@/components/AreaSelector.vue'
import CustomerSelector from '@/components/CustomerSelector.vue'
import imageCompression from 'browser-image-compression'
import Datepicker from 'vuejs-datepicker'
import * as lang from 'vuejs-datepicker/src/locale'
import XLSX from 'xlsx'

export default {
    components: {
        'v-select': vSelect,
        AreaSelector,
        CustomerSelector,
        Datepicker
    },
    data () {
        return {
            language: 'id',
            languages: lang,
            isProgress: false,
            statusList: ['ALL', 'Active', 'Non-Active'],
            dataExport: {
                filter: false,
                region: {},
                service_base: {},
                customer: {}
            },
            dataAdd: {
                /*latitude: parseFloat(-6.175520398936992),
                longitude: parseFloat(106.82702403652341),*/
                region: {},
                service_base: {},
                customer: {},
                image: null
            },
            statusArray: ['Active', 'Non-Active'],
            isImageAdded: false,
            position: {
                lat: 0,
                lng: 0
            },
            errorsData: {},
            linkTemplate: '/template/import/atm_template.xlsx',
            popupAddData: false,
            popupImport: false,
            popupExport: false,
            selected: [],
            dataList: [],
            file: null,
            last_page: 1,
            current_page: 1,
            filters: {
                pagination: {
                    from: 0,
                    to: 0,
                    total: 0,
                    per_page: 20,
                    current_page: 1,
                    last_page: 0
                },
                orderBy: {
                    column: 'id',
                    direction: 'asc'
                },
                search: '',
                status: 'ALL'
            },
            loading: true,
            searchQuery: '',
            total: 0,
            center: {
                lat: parseFloat(-6.1753924),
                lng: parseFloat(106.8249641)
            },
            infoContent: '',
            infoWindowPos: null,
            infoWinOpen: false,
            currentMidx: null,
            infoOptions: {
                pixelOffset: {
                    width: 0,
                    height: -35
                }
            }
        }
    },
    computed: {
        validateAddForm () {
            return this.errors.count() > 0 || !(Object.keys(this.fields).some(key => this.fields[key].dirty))
        },
        isAdmin () {
            return localStorage.getItem('roles') === 'administrator'
        },
        baseUrl () {
            return window.location.origin
        }
    },
    mounted () {
        if (localStorage.getItem('filtersTableAtmList')) {
            this.filters = JSON.parse(localStorage.getItem('filtersTableAtmList'))
            this.filters.pagination.current_page = 1
            this.filters.search = ''
        } else {
            localStorage.setItem('filtersTableAtmList', this.filters)
        }
        this.getdataList()
    },
    methods: {
        updateCenter (latLng) {
            this.dataAdd.latitude = latLng.lat()
            this.dataAdd.longitude = latLng.lng()
            this.position = {
                lat: latLng.lat(),
                lng: latLng.lng()
            }
        },
        popUpAddShow () {
            this.dataAdd = {}
            this.popupAddData = true

        },
        onPopupClose () {
            this.dataAdd = {}
            this.popupAddData = false
        },
        popUpImportShow () {
            this.dataAdd = {}
            this.popupImport = true
        },
        onPopupImportClose () {
            this.dataAdd = {}
            this.popupImport = false
        },
        popUpExportShow () {
            this.popupExport = true
        },
        onPopupExportClose () {
            this.popupExport = false
        },
        handleSearch (searching) {
            if (searching.length >= 3) {
                this.filters.search = searching
                this.getDataList()
            } else {
                this.filters.search = ''
                this.getDataList()
            }
        },
        handleChangePage (page) {
            this.filters.pagination.current_page = page
            this.getdataList()
        },
        handleSort (key, active) {
            this.sort(key, active)
        },
        getdataList () {
            this.$vs.loading()
            this.dataList = []
            this.dataAdd = {}
            this.loading = true;
            localStorage.setItem('filtersTableAtmList', JSON.stringify(this.filters))
            axios.post(`/api/master/locations/filter?page=${this.filters.pagination.current_page}`, this.filters)
                .then(response => {
                    this.$vs.loading.close()
                    this.dataList = response.data.data
                    this.total = response.data.total
                    this.last_page = response.data.last_page
                    delete response.data.data
                    this.filters.pagination = response.data
                    this.loading = false
                })
                .catch(error => {
                    this.$vs.loading.close()
                    this.loading = false
                    this.errors = error.response.data.errors
                    this.$vs.notify({
                        title: 'Error',
                        text: 'Terjadi kesalahan',
                        iconPack: 'feather',
                        icon: 'icon-alert-circle',
                        color: 'danger',
                        position: 'top-right'
                    })
                })
        },
        create () {
            this.$vs.loading()
            axios.post(`/api/master/locations/store/`, this.dataAdd)
                .then(response => {
                    this.$vs.notify({
                        title: 'Success',
                        text: 'Data berhasil tersimpan',
                        iconPack: 'feather',
                        icon: 'icon-alert-circle',
                        color: 'success',
                        position: 'top-right'
                    })
                    this.popupAddData = false
                    this.getdataList()
                })
                .catch(error => {

                    this.$vs.notify({
                        title: 'Error',
                        text: 'Terjadi kesalahan',
                        iconPack: 'feather',
                        icon: 'icon-alert-circle',
                        color: 'danger',
                        position: 'top-right'
                    })
                })
                .then(() => {
                    this.$vs.loading.close()
                })

        },
        update () {
            this.dataAdd.install_date = this.$moment(this.dataAdd.install_date).format('YYYY-MM-DD HH:mm:ss')
            this.$vs.loading()
            axios.put(`/api/master/locations/update/${this.dataAdd.id}`, this.dataAdd)
                .then(response => {
                    this.$vs.notify({
                        title: 'Success',
                        text: 'Data berhasil diperbaharui',
                        iconPack: 'feather',
                        icon: 'icon-alert-circle',
                        color: 'success',
                        position: 'top-right'
                    })
                    this.popupAddData = false
                    this.getdataList()
                })
                .catch(error => {

                    this.$vs.notify({
                        title: 'Error',
                        text: 'Terjadi kesalahan',
                        iconPack: 'feather',
                        icon: 'icon-alert-circle',
                        color: 'danger',
                        position: 'top-right'
                    })
                })

        },
        destroy: function (parameters) {
            this.$vs.loading()
            axios.delete(`/api/master/locations/${this.dataAdd.id}`)
                .then(response => {
                    this.$vs.notify({
                        title: 'Success',
                        text: 'Data berhasil dihapus',
                        iconPack: 'feather',
                        icon: 'icon-alert-circle',
                        color: 'success',
                        position: 'top-right'
                    })
                    this.getdataList()
                    this.$vs.loading.close()
                })
        },
        recover: function (parameters) {
            this.$vs.loading()
            axios.post(`/api/master/locations/recover/${this.dataAdd.id}`)
                .then(response => {
                    this.$vs.notify({
                        title: 'Success',
                        text: 'Data berhasil dikembalikan',
                        iconPack: 'feather',
                        icon: 'icon-alert-circle',
                        color: 'success',
                        position: 'top-right'
                    })
                    this.getdataList()
                    this.$vs.loading.close()
                })
        },
        filter () {
            this.filters.pagination.current_page = 1
            this.getdataList()
        },
        changeSize (perPage) {
            this.filters.pagination.current_page = 1
            this.filters.pagination.per_page = perPage
            this.getdataList()
        },
        sort (column, sort) {
            if (column !== null) {
                if (column == this.filters.orderBy.column) {
                    this.filters.orderBy.direction = sort == null ? 'asc' : sort
                } else {
                    this.filters.orderBy.column = column
                    this.filters.orderBy.direction = 'asc'
                }
                this.getdataList()
            }
        },
        changePage (page) {
            this.filters.pagination.current_page = page
            this.getdataList()
        },
        handleSelected (tr) {
            this.dataAdd = tr
            if (tr.latitude != null) {
                this.position = {
                    lat: tr.latitude,
                    lng: tr.longitude
                }
            } else {
                this.position = {
                    lat: 0,
                    lng: 0
                }
            }
            this.popupAddData = true
        },
        addData () {

        },
        deleteConfirm () {
            this.popupAddData = false
            this.$vs.dialog({
                type: 'confirm',
                color: 'danger',
                title: 'Confirm',
                text: `Are you sure want to delete ${this.dataAdd.serial_number}?`,
                accept: this.destroy,
                parameters: this.dataAdd.serial_number
            })
        },
        recoverConfirm () {
            this.popupAddData = false
            this.$vs.dialog({
                type: 'confirm',
                color: 'warning',
                title: 'Confirm',
                text: `Are you sure want to recover ${this.dataAdd.serial_number}?`,
                accept: this.recover,
                parameters: this.dataAdd.serial_number
            })
        },
        removeImage () {
            this.dataAdd.image = null
            this.isImageAdded = false
        },
        updateCurrImg (input) {
            this.isProgress = true
            if (input.target.files && input.target.files[0]) {
                var imageFile = input.target.files[0]
                var options = {
                    maxSizeMB: 0.5,
                    maxWidthOrHeight: 1920,
                    useWebWorker: true
                }
                imageCompression(imageFile, options)
                    .then(file => {
                        this.setItemValue(file) // write your own logic
                    })
                    .catch(error => {

                    })
            }
        },
        setItemValue (input) {
            const reader = new FileReader()
            reader.onload = e => {
                this.dataAdd.image = e.target.result
                this.isImageAdded = true
            }
            reader.readAsDataURL(input)
        },
        upload () {
            axios.post(`/api/locations/uploadPhoto/`, this.dataAdd)
                .then(response => {
                    this.isProgress = false
                    this.$vs.notify({
                        title: 'Success',
                        text: 'Foto Berhasil diupload',
                        iconPack: 'feather',
                        icon: 'icon-alert-circle',
                        color: 'success',
                        position: 'top-right'
                    })
                })
                .catch(error => {

                    this.errorsData = error.response
                    this.isProgress = false
                    this.$vs.notify({
                        title: 'Error',
                        text: 'Terjadi kesalahan',
                        iconPack: 'feather',
                        icon: 'icon-alert-circle',
                        color: 'danger',
                        position: 'top-right'
                    })
                })
                .then(() => {
                    this.$vs.loading.close()
                })

        },
        handleClick (e) {
            this.file = null
            const files = e.target.files
            this.file = files[0]
            //if (!this.file) return
            this.uploadFile(this.file)
        },
        handleDragover (e) {
            e.stopPropagation()
            e.preventDefault()
            e.dataTransfer.dropEffect = 'copy'
        },
        handleDrop (e) {
            e.stopPropagation()
            e.preventDefault()
            this.file = e.dataTransfer.files
            if (this.file.length !== 1) {
                this.$vs.notify({
                    title: 'Upload',
                    text: 'Hanya upload 1 File',
                    iconPack: 'feather',
                    icon: 'icon-alert-circle',
                    color: 'warning',
                    position: 'top-right'
                })
                return
            }
            const rawFile = files[0] // only use files[0]
            if (!this.isExcel(rawFile)) {
                this.$vs.notify({
                    title: 'Login Attempt',
                    text: 'Upload file beresktensi .xlsx, .xls, .csv',
                    iconPack: 'feather',
                    icon: 'icon-alert-circle',
                    color: 'warning',
                    position: 'top-right'
                })
                return false
            }
            this.uploadFile(rawFile)
        },
        onFileChange (e) {
            let files = e.target.files || e.dataTransfer.files
            this.file = files[0]
        },
        uploadFile (file) {
            this.$vs.loading()
            let formData = new FormData()
            formData.append('file', file)
            axios.post(`/api/master/locations/import`, formData,
                {
                    headers: {
                        'Content-Type': 'multipart/form-data'
                    }
                })
                .then(response => {
                    this.$vs.loading.close()
                    this.getdataList()
                    this.popupImport = false
                    this.$vs.notify({
                        title: 'Sukses',
                        text: response.data.msg,
                        iconPack: 'feather',
                        icon: 'icon-alert-circle',
                        color: 'success',
                        position: 'top-right'
                    })
                    this.file = null
                }).catch(error => {
                this.file = null
                this.$vs.loading.close()
                this.$vs.notify({
                    title: 'Error',
                    text: 'Terjadi kesalahan',
                    iconPack: 'feather',
                    icon: 'icon-alert-circle',
                    color: 'danger',
                    position: 'top-right'
                })
            })

        },
        exportData () {
            this.$vs.loading()
            axios.post(`/api/master/locations/filterExport`, this.dataExport)
                .then(response => {
                    let dataExcel = []
                    let data = response.data
                    if (data.length > 0) {
                        for (let i = 0; i < data.length; i++) {
                            let column = {
                                No: i + 1,
                                Customer_Nbr: data[i].customer ? data[i].customer.code : '-',
                                Customer_Name: data[i].customer ? data[i].customer.name : '-',
                                Serial_number: data[i].customer ? data[i].serial_number : '-',
                                Mesin_ID: data[i].mc_id ? data[i].mc_id : '-',
                                Model: data[i].model ? data[i].model : '-',
                                Install_date: data[i].install_date ? data[i].install_date : '-',
                                Location_name: data[i].location_name,
                                Address: data[i].address ? data[i].address : '-',
                                City: data[i].city ? data[i].city : '-',
                                Postal_code: data[i].postal ? data[i].postal : '-',
                                Machine_status: data[i].status ? data[i].status : '-',
                                Service_base: data[i].service_base ? data[i].service_base.name : '-',
                                Region: data[i].service_base ? data[i].service_base.region ? data[i].service_base.region.code : '-' : '-',
                                Photo: data[i].image ? this.getImageUrl(data[i].image) : '-',
                                Photo_SN: data[i].photo_sn ? this.getImageUrl(data[i].photo_sn) : '-',
                                Latitude: data[i].latitude ? data[i].latitude : '-',
                                Longitude: data[i].longitude ? data[i].longitude : '-',
                                Last_Update: data[i].updated_at ? this.$moment(data[i].updated_at).format('YYYY-MM-DD HH:mm') : '-'
                            }
                            dataExcel.push(column)
                        }
                    }
                    var dataAtm = XLSX.utils.json_to_sheet(dataExcel)
                    var wb = XLSX.utils.book_new()
                    wb.Props = {
                        Title: `Data ATM`,
                        Subject: 'Data ATM',
                        CreatedDate: new Date()
                    }
                    XLSX.utils.book_append_sheet(wb, dataAtm, `${this.$moment(new Date()).format('YYYY_MM_DD_hh_mm')}`)
                    XLSX.writeFile(wb, `nmapp_data_atm_${this.$moment(new Date()).format('YYYY_MM_DD_hh_mm')}.xlsx`)
                    this.$vs.loading.close()
                }).catch(error => {
                this.$vs.loading.close()
                //this.errors = error.response.data.errors
                console.log(error)
                this.$vs.notify({
                    title: 'Error',
                    text: 'Terjadi kesalahan',
                    iconPack: 'feather',
                    icon: 'icon-alert-circle',
                    color: 'danger',
                    position: 'top-right'
                })
            })
        },
      getImageUrl(url){
        return url.includes('https://drive.google.com') ? url : `${this.baseUrl}${url}`
      },
    },
    watch: {
        'dataAdd.image': function (val) {
            /* if (this.dataAdd.id) {
               this.upload()
             }*/
        },
        current_page: function (value) {
            this.changePage(value)
        },
        'filters.search': debounce(function (newVal) {
            this.filters.pagination.current_page = 1
            this.getdataList()
        }, 1000),
        'filters.status': function (value) {
            this.filters.pagination.current_page = 1
            this.getdataList()
        },
    },
    destroyed () {
        localStorage.removeItem('filtersTableAtmList')
    }

}
</script>

<style>
.table.vs-table > thead > tr > th {
    background-color: white;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    z-index: 2;
}
</style>
<style lang="scss">
.text-ellipsis {
    white-space: nowrap;
    width: 185px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.dropdown-button-container {
    display: flex;
    align-items: center;

    .btnx {
        border-radius: 5px 0px 0px 5px;
    }

    .btn-drop {
        border-radius: 0px 5px 5px 0px;
        border-left: 1px solid rgba(255, 255, 255, .2);
    }
}

.grid-view-item {
    .grid-view-img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: .35s;
    }


}
</style>
