<template>
  <div>
    <div class="article-title mb-6">
      <h1>Master Customer</h1>
    </div>

  </div>
</template>

<script>
export default {
name: "customer"
}
</script>

<style scoped>

</style>
