<template>
  <div>
    <div class="article-title mb-6">
      <h1>Master Region</h1>
    </div>
      <vs-collapse open-hover>
          <vs-collapse-item>
              <div slot="header">
                  Tambah Data
              </div>
              <vx-card no-shadow no-radius :card-border="true">
                  <img src="/images/tutor/tutor_add_region.png" alt="article-img" class="responsive my-3 rounded" />
                  <vs-list>
                      <vs-list-header title="Form Tambah Data" color="danger"></vs-list-header>
                      <vs-list-item title="Kode" subtitle="Kode Region">
                          <template slot="avatar">
                              <label class="p-5 text-bold">1</label>
                          </template>
                      </vs-list-item>
                      <vs-list-item title="Nama" subtitle="Nama Region">
                          <template slot="avatar">
                              <label class="p-5 text-bold">2</label>
                          </template>
                      </vs-list-item>
                      <vs-list-item title="Tombol Batal" subtitle="Untuk membatalkan aksi tambah">
                          <template slot="avatar">
                              <label class="p-5 text-bold">3</label>
                          </template>
                      </vs-list-item>
                      <vs-list-item title="Tombol Simpan" subtitle="Akan aktif apabila ibputan sdah terisi dengan benar">
                          <template slot="avatar">
                              <label class="p-5 text-bold">4</label>
                          </template>
                      </vs-list-item>
                      <vs-list-item title="Tombol Tutup" subtitle="Untuk menutup dialog">
                          <template slot="avatar">
                              <label class="p-5 text-bold">5</label>
                          </template>
                      </vs-list-item>
                  </vs-list>

              </vx-card>
          </vs-collapse-item>

          <vs-collapse-item>
              <div slot="header">
                 Edit Data
              </div>
              <vx-card no-shadow no-radius :card-border="true">
                  <img src="/images/tutor/tutor_edit_region.png" alt="article-img" class="responsive my-3 rounded" />
                  <vs-list>
                      <vs-list-header title="Form Ubah Data" color="danger"></vs-list-header>
                      <vs-list-item title="Id dan Status" subtitle="Menampilkan ID data dan status data (Aktif / Tidak Aktif)">
                          <template slot="avatar">
                              <label class="p-5 text-bold">1</label>
                          </template>
                      </vs-list-item>
                      <vs-list-item title="Kode" subtitle="Kode Region">
                          <template slot="avatar">
                              <label class="p-5 text-bold">2</label>
                          </template>
                      </vs-list-item>
                      <vs-list-item title="Nama" subtitle="Nama Region">
                          <template slot="avatar">
                              <label class="p-5 text-bold">3</label>
                          </template>
                      </vs-list-item>
                      <vs-list-item title="Tombol Hapus" subtitle="Untuk menjadikan status data menjadi tidak aktif">
                          <template slot="avatar">
                              <label class="p-5 text-bold">4</label>
                          </template>
                      </vs-list-item>
                      <vs-list-item title="Tombol Update" subtitle="Untuk mengirimkan data untuk disimpan">
                          <template slot="avatar">
                              <label class="p-5 text-bold">5</label>
                          </template>
                      </vs-list-item>
                      <vs-list-item title="Tombol Tutup" subtitle="Untuk menutup dialog">
                          <template slot="avatar">
                              <label class="p-5 text-bold">6</label>
                          </template>
                      </vs-list-item>
                  </vs-list>

              </vx-card>
          </vs-collapse-item>
      </vs-collapse>

  </div>
</template>

<script>
export default {
name: "region"
}
</script>

<style scoped>

</style>
