<template>
  <div class="vx-row" v-if="isAdmin">
    <div class="vx-col w-full sm:w-1/1 md:w-1/1 lg:w-3/5 xl:w-3/5">
      <div class="vx-row">
        <div class="vx-col w-full sm:w-1/1 md:w-1/1 lg:w-1/3 xl:w-1/3">
          <statistics-card-line
              hideChart
              class="mb-base"
              icon="UserIcon"
              icon-right
              :statistic="usersCount"
              statisticTitle="Users"
              click="admin-users-management"/>
        </div>
        <div class="vx-col w-full sm:w-1/1 md:w-1/1 lg:w-1/3 xl:w-1/3">
          <statistics-card-line
              hideChart
              class="mb-base"
              icon="KeyIcon"
              icon-right
              :statistic="rolesCount"
              statisticTitle="Roles"
              color="success"
              click="admin-roles-management"/>
        </div>
        <div class="vx-col w-full sm:w-1/1 md:w-1/1 lg:w-1/3 xl:w-1/3">
          <statistics-card-line
              hideChart
              class="mb-base"
              icon="AlertOctagonIcon"
              icon-right
              :statistic="atmsCount"
              statisticTitle="ATM"
              color="warning"
              click="admin-master-atm"/>
        </div>
      </div>
      <div class="vx-row">
        <div class="vx-col w-full sm:w-1/1 md:w-1/1 lg:w-1/1 xl:w-1/1">
          <vx-card :title="`Visits in ${monthName}`" class="mb-base">
            <template slot="actions">
              <datepicker :minimumView="'month'" :maximumView="'year'" format="MM-yyyy"
                          class="date-custom"
                          v-model="monthSelected"></datepicker>
            </template>
            <div class="vx-row mb-base">
              <div class="vx-col w-full sm:w-1/1 md:w-1/1 lg:w-1/3 xl:w-1/3">
                <statistics-card-line
                    hideChart
                    icon="OpenBookIcon"
                    icon-right
                    :statistic="dataBulanIni.open"
                    color="danger"
                    statisticTitle="OPEN"
                    click="admin-visit"/>
              </div>
              <div class="vx-col w-full sm:w-1/1 md:w-1/1 lg:w-1/3 xl:w-1/3">
                <statistics-card-line
                    hideChart
                    icon="OpenBookIcon"
                    icon-right
                    :statistic="dataBulanIni.close"
                    statisticTitle="CLOSE"
                    color="success"
                    click="admin-visit"/>
              </div>
              <div class="vx-col w-full sm:w-1/1 md:w-1/1 lg:w-1/3 xl:w-1/3">
                <statistics-card-line
                    hideChart
                    icon="OpenBookIcon"
                    icon-right
                    :statistic="dataBulanIni.total"
                    statisticTitle="TOTAL"
                    color="warning"
                    click="admin-visit"/>
              </div>
            </div>
            <vue-apex-charts type="bar" height="350" :options="columnChart.chartOptions"
                             :series="columnChart.series" v-if="perDay"></vue-apex-charts>

            <div>
              <div v-if="perRegionLoading" style="height: 350px; padding-top: 175px" class="text-center align-items-center align-middle">
                <vs-progress indeterminate color="warning"></vs-progress>
              </div>
              <vue-apex-charts type="bar" height="350" :options="columnChart2.chartOptions" class="mt-5"
                               :series="columnChart2.series" v-else-if="perRegion || !perRegionLoading"></vue-apex-charts>
            </div>

          </vx-card>
        </div>
      </div>
      <!--            <div class="vx-row">
                      &lt;!&ndash; <div class="vx-col w-full sm:w-1/1 md:w-1/1 lg:w-1/1 xl:w-1/1 mb-base">
                       <vx-card title="Visits per Day">
                         <template slot="actions">
                           <datepicker :minimumView="'month'" :maximumView="'year'" format="MM-yyyy"
                                       class="date-custom"
                                       v-model="monthSelected"></datepicker>
                         </template>
                         <vs-row vs-type="flex" vs-justify="flex-end">
      
                         </vs-row>
      
                         <vue-apex-charts type="bar" height="350" :options="columnChart.chartOptions"
                                          :series="columnChart.series" v-if="perDay"></vue-apex-charts>
                       </vx-card>
                     </div>&ndash;&gt;
                      <div class="vx-col w-full sm:w-1/1 md:w-1/1 lg:w-1/1 xl:w-1/1 mb-base">
                          <vx-card title="Visits per Region">
      &lt;!&ndash;                        <template slot="actions">
                                  <div class="vx-row mr-1">
                                      <datepicker :minimumView="'date'" :maximumView="'year'" format="yyyy-MM-dd"
                                                  class="date-custom"
                                                  v-model="dateRange.startDate"></datepicker>
                                      <span class="text-2xl">-</span>
                                      <datepicker :minimumView="'date'" :maximumView="'year'" format="yyyy-MM-dd"
                                                  class="date-custom"
                                                  v-model="dateRange.endDate"></datepicker>
                                  </div>
      
                              </template>&ndash;&gt;
                          </vx-card>
                      </div>
                  </div>-->
    </div>
    <div class="vx-col w-full sm:w-1/1 md:w-1/1 lg:w-2/5 xl:w-2/5">
      <vx-card title="User Activities">
        <div v-if="logList" class="px-5">
          <div v-for="(item, Index) in logList">
            <div class="flex flex-wrap -mx-2 mb-2">
              <div class="w-3/4">
                <div class="flex">
                  <div class="w-1/4">
                    <vx-tooltip :text="item.users[0].name" position="bottom">
                      <vs-avatar :src="item.users[0].avatar" size="30px"
                                 class="border-2 border-white border-solid -m-1"></vs-avatar>
                    </vx-tooltip>
                  </div>
                  <div class="w-3/4 text-sm">
                    {{ item.description }}
                  </div>

                </div>

              </div>
              <div class="w-1/4">
                <div v-if="item.activity==='LOGIN'">
                  <vs-chip color="#4caf50">LOGIN</vs-chip>
                </div>
                <div v-if="item.activity==='LOGOUT'">
                  <vs-chip color="#f44336">LOGOUT</vs-chip>
                </div>
                <div v-if="item.activity==='CREATE'">
                  <vs-chip color="#2196f3">CREATE</vs-chip>
                </div>
                <div v-if="item.activity==='UPDATE' || item.activity==='CHANGE'">
                  <vs-chip color="#00bcd4">UPDATE</vs-chip>
                </div>
                <div v-if="item.activity==='DELETE' || item.activity==='REMOVE'">
                  <vs-chip color="#ff5722">DELETE</vs-chip>
                </div>
                <div v-if="item.activity==='RESTORE'">
                  <vs-chip color="#9e9e9e">RESTORE</vs-chip>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div v-else>No Activities yet!</div>
      </vx-card>
    </div>

  </div>
  <div class="vx-row" v-else>
    <div class="vx-col w-full sm:w-1/1 md:w-1/1 lg:w-3/5 xl:w-3/5">

      <div class="vx-row">
        <div class="vx-col w-full sm:w-1/1 md:w-1/1 lg:w-1/1 xl:w-1/1">
          <vx-card :title="`Visits in ${monthName}`" class="mb-base">
            <template slot="actions">
              <datepicker :minimumView="'month'" :maximumView="'year'" format="MM-yyyy"
                          class="date-custom"
                          v-model="monthSelected"></datepicker>
            </template>
            <div class="vx-row">
              <div class="vx-col w-full sm:w-1/1 md:w-1/1 lg:w-1/3 xl:w-1/3">
                <statistics-card-line
                    hideChart
                    icon="OpenBookIcon"
                    icon-right
                    :statistic="dataBulanIni.open"
                    color="danger"
                    statisticTitle="OPEN"
                    click="admin-visit"/>
              </div>
              <div class="vx-col w-full sm:w-1/1 md:w-1/1 lg:w-1/3 xl:w-1/3">
                <statistics-card-line
                    hideChart
                    icon="OpenBookIcon"
                    icon-right
                    :statistic="dataBulanIni.close"
                    statisticTitle="CLOSE"
                    color="success"
                    click="admin-visit"/>
              </div>
              <div class="vx-col w-full sm:w-1/1 md:w-1/1 lg:w-1/3 xl:w-1/3">
                <statistics-card-line
                    hideChart
                    icon="OpenBookIcon"
                    icon-right
                    :statistic="dataBulanIni.total"
                    statisticTitle="TOTAL"
                    color="warning"
                    click="admin-visit"/>
              </div>
            </div>
            <vue-apex-charts type="bar" height="350" :options="columnChart.chartOptions"
                             :series="columnChart.series" v-if="perDay"></vue-apex-charts>
          </vx-card>
        </div>
      </div>
    </div>

  </div>
</template>
<script>
import VuePerfectScrollbar from 'vue-perfect-scrollbar'
import VueApexCharts from 'vue-apexcharts'
import StatisticsCardLine from '@/components/statistics-cards/StatisticsCardLine.vue'
import ChangeTimeDurationDropdown from '@/components/ChangeTimeDurationDropdown.vue'
import axios from '@/http/axios/index'
import ChartjsComponentBarChart from '@/components/charts-components/ChartjsComponentBarChart.vue'
import Datepicker from 'vuejs-datepicker'

export default {
  components: {
    VueApexCharts,
    StatisticsCardLine,
    VuePerfectScrollbar,
    ChangeTimeDurationDropdown,
    ChartjsComponentBarChart,
    Datepicker
  },
  data () {
    const endDate = this.$moment().format('YYYY-MM-DD')
    const startDate = this.$moment(endDate).subtract(6, 'days').format('YYYY-MM-DD')
    return {
      translateDatePicker: {
        'night': 'Noite',
        'nights': 'Noites',
        'day-names': ['Min', 'Sen', 'Sel', 'Rab', 'Kan', 'Jum', 'Sab'],
        'check-in': 'Awal',
        'check-out': 'Akhir',
        'month-names': ['Januari', 'Februari', 'Maret', 'April', 'Mei', 'Juni', 'Juli', 'Agustus', 'September', 'Oktober', 'Nopember', 'Desember']
      },
      themeColors: ['#7367F0', '#28C76F', '#EA5455', '#FF9F43', '#1E1E1E'],
      columnChart: {
        series: [],
        chartOptions: {
          colors: this.themeColors,
          plotOptions: {
            bar: {
              horizontal: false,
              columnWidth: '55%'
            }
          },
          dataLabels: {
            enabled: false
          },
          stroke: {
            show: true,
            width: 2,
            colors: ['transparent']
          },

          xaxis: {
            categories: []
          },
          yaxis: {
            title: {
              text: 'Kunjungan per Hari'
            }
          },
          fill: {
            opacity: 1

          },
          tooltip: {
            y: {
              formatter (val) {
                return `${val  } Kunjungan per Hari`
              }
            }
          }
        }
      },
      columnChart2: {
        series: [],
        chartOptions: {
          colors: this.themeColors,
          plotOptions: {
            bar: {
              horizontal: false,
              columnWidth: '55%'
            }
          },
          dataLabels: {
            enabled: false
          },
          stroke: {
            show: true,
            width: 2,
            colors: ['transparent']
          },

          xaxis: {
            categories: []
          },
          yaxis: {
            title: {
              text: 'Kunjungan per Region per Hari'
            }
          },
          fill: {
            opacity: 1

          },
          tooltip: {
            y: {
              formatter (val) {
                return `${val  } Kunjungan per Hari`
              }
            }
          }
        }
      },
      usersCount: '',
      rolesCount: '',
      atmsCount: '',
      logList: [],
      monthSelected: '',
      monthName: '',
      dateRange: {
        startDate,
        endDate
      },
      dataBulanIni: {
        open: 0,
        close: 0,
        total: 0
      },
      logFilters: {
        pagination: {
          from: 0,
          to: 0,
          total: 0,
          per_page: 20,
          current_page: 1,
          last_page: 0
        },
        orderBy: {
          column: 'created_at',
          direction: 'desc'
        },
        search: ''
      },
      perDay: true,
      perRegionLoading: false,
      perRegion: true,
      data: {
        labels: [],
        datasets: [
          {
            label: 'Kunjungan',
            backgroundColor: [],
            data: []
          }
        ]
      },
      data2: {
        labels: [],
        datasets: [
          {
            label: 'Kunjungan',
            backgroundColor: [],
            data: []
          }
        ]
      },
      options: {
        legend: {display: false},
        title: {
          display: true,
          text: 'Statistik Kunjungan per Hari'
        }
      },
      notifUser: {
        total: 0,
        notif: []
      }
    }
  },
  computed: {
    scrollbarTag () {
      return this.$store.getters.scrollbarTag
    },
    isAdmin () {
      return localStorage.getItem('roles') === 'administrator' || localStorage.getItem('roles') === 'manager'
    }
  },
  mounted () {
    this.$store.dispatch('getNotification')
    this.monthSelected = this.$moment().format('YYYY-MM-DD')
    if (this.isAdmin) {
      this.getVisitPerDayPerRegion()
      this.getLogList()
      this.getDataCount()
    }
  },
  watch: {
    'monthSelected' (value) {
      this.dataBulanIni = {
        open: 0,
        close: 0,
        total: 0
      }
      if (this.isAdmin) {
        this.getVisitPerDay(value)
        this.getVisitPerDayPerRegion(value)
        this.getCount(value)
      } else {
        this.getVisitPerDayUser(value)
        this.getVisitPerDayPerRegion(value)
        this.getCount(value)
      }
    }
  },
  methods: {
    forceRerenderPerDay () {
      this.perDay = false
      this.$nextTick().then(() => {
        this.perDay = true
      })
    },
    forceRerenderPerRegion () {
      this.perRegion = false
      this.$nextTick().then(() => {
        this.perRegion = true
      })
    },
    getDataCount () {
      axios.get('/api/roles/count')
        .then(response => {
          this.rolesCount = response.data
        })
      axios.get('/api/users/count')
        .then(response => {
          this.usersCount = response.data
        })
      axios.get('/api/master/locations/count')
        .then(response => {
          this.atmsCount = response.data
        })

    },
    getLogList () {
      this.logList = []
      axios.post(`/api/logs/filter?page=${this.logFilters.pagination.current_page}`, this.logFilters)
        .then(response => {
          this.logList = response.data.data
          for (let i = 0; i < this.logList.length; i++) {
            const fields = this.logList[i].description.split(/-/)
            this.logList[i].description = fields[1]
            this.logList[i].activity = fields[0]
          }
          this.logFilters.pagination = response.data
        })
    },
    roleList () {
      this.$router.push('/app/setting/roles').catch(() => {
      })
    },
    userList () {
      this.$router.push('/app/setting/user').catch(() => {
      })
    },
    atmList () {
      this.$router.push('/app/master/locations').catch(() => {
      })
    },

    getVisitPerDay (value) {
      const month = this.$moment(value).format('YYYY-MM-DD')
      axios.get(`/api/visits/countPerDay?month=${month}`)
        .then(response => {
          const data = response.data
          const chart = {
            name: 'Data',
            data: []
          }
          this.data.datasets[0].data = []
          this.data.datasets[0].backgroundColor = []
          this.data.labels = []
          this.columnChart.chartOptions.xaxis.categories = []
          this.columnChart.series = []
          for (let i = 0; i < data.length; i++) {
            this.data.datasets[0].data.push(data[i].visits)
            this.data.datasets[0].backgroundColor.push('#28C76F')
            this.data.labels.push(data[i].date)
            chart.data.push(data[i].visits)
            this.columnChart.chartOptions.xaxis.categories.push(data[i].date)
          }
          this.columnChart.series.push(chart)
          this.forceRerenderPerDay()
        })
    },
    getVisitPerDayPerRegion (value) {
      const month = this.$moment(value).format('YYYY-MM-DD')
      this.perRegionLoading = true
      axios.get(`/api/visits/counPerRegionPerDay?month=${month}`)
        .then(response => {
          const data = response.data

          this.columnChart2.series = []
          for (let i = 0; i < data.length; i++) {
            const chart = {
              name: 'Data',
              data: []
            }
            const dataCount = data[i].data

            for (let x = 0; x < dataCount.length; x++) {
              chart.data.push(dataCount[x].count)
            }
            chart.name = data[i].region
            this.columnChart2.series.push(chart)
          }

          this.columnChart2.chartOptions.xaxis.categories = []
          const dataLabel = data[0]
          for (let x = 0; x < dataLabel.data.length; x++) {
            this.columnChart2.chartOptions.xaxis.categories.push(dataLabel.data[x].date)
          }
          this.perRegionLoading = false
          this.forceRerenderPerRegion()
        })

    },
    forceRerenderPerDayUser () {
      this.perDay = false
      this.$nextTick().then(() => {
        this.perDay = true
      })
    },
    getVisitPerDayUser (value) {
      const month = this.$moment(value).format('YYYY-MM-DD')

      axios.get(`/api/visits/countPerDayByRole?month=${month}`)
        .then(response => {
          const data = response.data.data
          const chart = {
            name: 'Data',
            data: []
          }
          //console.log(data)
          this.data.datasets[0].data = []
          this.data.datasets[0].backgroundColor = []
          this.data.labels = []
          this.columnChart.chartOptions.xaxis.categories = []
          this.columnChart.series = []
          for (let i = 0; i < data.length; i++) {
            this.data.datasets[0].data.push(data[i].visits)
            this.data.datasets[0].backgroundColor.push('#28C76F')
            this.data.labels.push(data[i].date)
            chart.data.push(data[i].visits)
            this.columnChart.chartOptions.xaxis.categories.push(data[i].date)
          }
          this.columnChart.series.push(chart)
          this.forceRerenderPerDayUser()
        })
    },
    getCount (value) {
      const month = this.$moment(value).format('YYYY-MM-DD')
      this.monthName = this.$moment(value).format('MMMM')


      axios.get(`/api/visits/countTotalByRole?month=${month}`)
        .then(response => {
          this.dataBulanIni = response.data.data
        }).catch(error => {

        })
    }


  }
}
</script>

<style lang="scss">
.chat-card-log {
  height: 400px;

  .chat-sent-msg {
    background-color: #f2f4f7 !important;
  }
}
</style>

<style scoped>
.slot {
  background-color: #aaa;
  padding: 0.5rem;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.text-black {
  color: #000;
}

.date-custom {
  width: 110px;
  display: block;
  margin-right: auto;
  margin-left: auto;
}
</style>
