<template>
    <div class="vx-row">
        <div class="vx-col w-full sm:w-1/1 md:w-1/1 lg:w-3/5 xl:w-3/5">

            <div class="vx-row">
                <div class="vx-col w-full sm:w-1/1 md:w-1/1 lg:w-1/1 xl:w-1/1">
                    <vx-card title="Total Bulan ini" class="mb-base">
                        <div class="vx-row">
                            <div class="vx-col w-full sm:w-1/1 md:w-1/1 lg:w-1/3 xl:w-1/3">
                                <statistics-card-line
                                    hideChart
                                    icon="OpenBookIcon"
                                    icon-right
                                    :statistic="dataBulanIni.open"
                                    color="danger"
                                    statisticTitle="OPEN"/>
                            </div>
                            <div class="vx-col w-full sm:w-1/1 md:w-1/1 lg:w-1/3 xl:w-1/3">
                                <statistics-card-line
                                    hideChart
                                    icon="OpenBookIcon"
                                    icon-right
                                    :statistic="dataBulanIni.close"
                                    statisticTitle="CLOSE"
                                    color="success"/>
                            </div>
                            <div class="vx-col w-full sm:w-1/1 md:w-1/1 lg:w-1/3 xl:w-1/3">
                                <statistics-card-line
                                    hideChart
                                    icon="OpenBookIcon"
                                    icon-right
                                    :statistic="dataBulanIni.total"
                                    statisticTitle="TOTAL"
                                    color="warning"/>
                            </div>
                        </div>
                    </vx-card>
                </div>
            </div>


            <div class="vx-row">
                <div class="vx-col w-full sm:w-1/1 md:w-1/1 lg:w-1/1 xl:w-1/1 mb-base">
                    <vx-card title="Kunjungan per Hari">
                        <template slot="actions">
                            <datepicker :minimumView="'month'" :maximumView="'year'" format="MM-yyyy"
                                        class="date-custom"
                                        v-model="monthSelected"></datepicker>
                        </template>
                        <vs-row vs-type="flex" vs-justify="flex-end">

                        </vs-row>
                        <vue-apex-charts type="bar" height="350" :options="columnChart.chartOptions"
                                         :series="columnChart.series" v-if="perDay"></vue-apex-charts>
                    </vx-card>
                </div>
                <!--<div class="vx-col w-full sm:w-1/1 md:w-1/1 lg:w-1/1 xl:w-1/1 mb-base">
                    <vx-card title="Kunjungan per Region">
                        <template slot="actions">
                            <div class="vx-row mr-1">
                                <datepicker :minimumView="'date'" :maximumView="'year'" format="yyyy-MM-dd"
                                            class="date-custom"
                                            v-model="dateRange.startDate"></datepicker>
                                <span class="text-2xl">-</span>
                                <datepicker :minimumView="'date'" :maximumView="'year'" format="yyyy-MM-dd"
                                            class="date-custom"
                                            v-model="dateRange.endDate"></datepicker>
                            </div>

                        </template>

                        <vue-apex-charts type="bar" height="350" :options="columnChart2.chartOptions"
                                         :series="columnChart2.series" v-if="perRegion"></vue-apex-charts>
                    </vx-card>
                </div>-->
            </div>
        </div>
        <div class="vx-col w-full sm:w-1/1 md:w-1/1 lg:w-2/5 xl:w-2/5">
            <vx-card title="User Activities">
                <div v-if="logList" class="px-5">
                    <div v-for="(item, Index) in logList">
                        <div class="flex flex-wrap -mx-2 mb-2">
                            <div class="w-3/4">
                                <div class="flex">
                                    <div class="w-1/4">
                                        <vx-tooltip :text="item.users[0].name" position="bottom">
                                            <vs-avatar :src="item.users[0].avatar" size="30px"
                                                       class="border-2 border-white border-solid -m-1"></vs-avatar>
                                        </vx-tooltip>
                                    </div>
                                    <div class="w-3/4 text-sm">
                                        {{item.description}}
                                    </div>

                                </div>

                            </div>
                            <div class="w-1/4">
                                <div v-if="item.activity==='LOGIN'">
                                    <vs-chip color="#4caf50">LOGIN</vs-chip>
                                </div>
                                <div v-if="item.activity==='LOGOUT'">
                                    <vs-chip color="#f44336">LOGOUT</vs-chip>
                                </div>
                                <div v-if="item.activity==='CREATE'">
                                    <vs-chip color="#2196f3">CREATE</vs-chip>
                                </div>
                                <div v-if="item.activity==='UPDATE' || item.activity==='CHANGE'">
                                    <vs-chip color="#00bcd4">UPDATE</vs-chip>
                                </div>
                                <div v-if="item.activity==='DELETE' || item.activity==='REMOVE'">
                                    <vs-chip color="#ff5722">DELETE</vs-chip>
                                </div>
                                <div v-if="item.activity==='RESTORE'">
                                    <vs-chip color="#9e9e9e">RESTORE</vs-chip>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div v-else>No Activities yet!</div>
            </vx-card>
        </div>

    </div>
</template>
<script>
    import VuePerfectScrollbar from 'vue-perfect-scrollbar'
    import VueApexCharts from 'vue-apexcharts'
    import StatisticsCardLine from '@/components/statistics-cards/StatisticsCardLine.vue'
    import ChangeTimeDurationDropdown from '@/components/ChangeTimeDurationDropdown.vue'
    import axios from '@/http/axios/index'
    import ChartjsComponentBarChart from '@/components/charts-components/ChartjsComponentBarChart.vue'
    import Datepicker from 'vuejs-datepicker'

    export default {
        components: {
            VueApexCharts,
            StatisticsCardLine,
            VuePerfectScrollbar,
            ChangeTimeDurationDropdown,
            ChartjsComponentBarChart,
            Datepicker
        },
        data () {
            return {
                themeColors: ['#7367F0', '#28C76F', '#EA5455', '#FF9F43', '#1E1E1E'],
                columnChart: {
                    series: [],
                    chartOptions: {
                        colors: this.themeColors,
                        plotOptions: {
                            bar: {
                                horizontal: false,
                                columnWidth: '55%'
                            }
                        },
                        dataLabels: {
                            enabled: false
                        },
                        stroke: {
                            show: true,
                            width: 2,
                            colors: ['transparent']
                        },

                        xaxis: {
                            categories: []
                        },
                        yaxis: {
                            title: {
                                text: 'Kunjungan per Hari'
                            }
                        },
                        fill: {
                            opacity: 1

                        },
                        tooltip: {
                            y: {
                                formatter: function (val) {
                                    return val + ' Kunjungan per Hari'
                                }
                            }
                        }
                    }
                },
                logList: [],
                monthSelected: '',
                logFilters: {
                    pagination: {
                        from: 0,
                        to: 0,
                        total: 0,
                        per_page: 20,
                        current_page: 1,
                        last_page: 0
                    },
                    orderBy: {
                        column: 'created_at',
                        direction: 'desc'
                    },
                    search: ''
                },
                perDay: true,
                data: {
                    labels: [],
                    datasets: [
                        {
                            label: 'Kunjungan',
                            backgroundColor: [],
                            data: []
                        }
                    ]
                },
                options: {
                    legend: {display: false},
                    title: {
                        display: true,
                        text: 'Statistik Kunjungan per Hari'
                    }
                },
                notifUser: {
                    total: 0,
                    notif: []
                },
                dataUser: {},
                dataBulanIni: {open: 0,
                close: 0,
                total: 0}
            }
        },
        computed: {
            scrollbarTag () {
                return this.$store.getters.scrollbarTag
            }
        },
        mounted () {
            this.dataUser = JSON.parse(localStorage.getItem('userInfo'))
            this.logFilters.search = this.dataUser.id
            this.getLogList()
            this.$store.dispatch('getNotification')
            this.monthSelected = this.$moment().format('YYYY-MM-DD')
            this.getCount()
        },
        watch: {
            'monthSelected': function (value) {
                this.getVisitPerDay(value)
            }
        },
        methods: {
            forceRerenderPerDay () {
                this.perDay = false
                this.$nextTick().then(() => {
                    this.perDay = true
                })
            },
            getLogList () {
                this.logList = []
                axios.post(`/api/logs/filter?page=${this.logFilters.pagination.current_page}`, this.logFilters)
                    .then(response => {
                        this.logList = response.data.data
                        for (var i = 0; i < this.logList.length; i++) {
                            var fields = this.logList[i].description.split(/-/)
                            this.logList[i].description = fields[1]
                            this.logList[i].activity = fields[0]
                        }
                        this.logFilters.pagination = response.data
                    })
            },
            getVisitPerDay (value) {
                let month = this.$moment(value).format('YYYY-MM-DD')

                axios.get(`/api/visits/countPerDayByRole?month=${month}`)
                    .then(response => {
                        let data = response.data.data
                        let chart = {
                            name: 'Data',
                            data: []
                        }
                        //console.log(data)
                        this.data.datasets[0].data = []
                        this.data.datasets[0].backgroundColor = []
                        this.data.labels = []
                        this.columnChart.chartOptions.xaxis.categories = []
                        this.columnChart.series = []
                        for (let i = 0; i < data.length; i++) {
                            this.data.datasets[0].data.push(data[i].visits)
                            this.data.datasets[0].backgroundColor.push('#28C76F')
                            this.data.labels.push(data[i].date)
                            chart.data.push(data[i].visits)
                            this.columnChart.chartOptions.xaxis.categories.push(data[i].date)
                        }
                        this.columnChart.series.push(chart)
                        this.forceRerenderPerDay()
                    })
            },
            getCount () {
                axios.get(`/api/visits/countTotalByRole`)
                    .then(response => {
                        this.dataBulanIni = response.data.data;
                    }).catch(error => {

                })
            }
        }
    }
</script>

<style lang="scss">
    .chat-card-log {
        height: 400px;

        .chat-sent-msg {
            background-color: #f2f4f7 !important;
        }
    }
</style>

<style scoped>
    .slot {
        background-color: #aaa;
        padding: 0.5rem;
        color: white;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .text-black {
        color: #000;
    }

    .date-custom {
        width: 110px;
        display: block;
        margin-right: auto;
        margin-left: auto;
    }
</style>
