<template>
    <vx-card no-shadow>
        <div class="vx-row mb-3">
            <div class="vx-col sm:w-1/2 w-full mb-2">

                <div class="search-page__search-bar flex items-center">
                    <vs-input icon-no-border placeholder="Search" v-model="filters.search"
                              class="w-full input-rounded-full" icon="icon-search" icon-pack="feather"/>
                </div>
            </div>
            <div class="vx-col sm:w-1/2 w-full mb-2 items-end" v-can="'create-task'">
                <div class="search-page__search-bar flex items-center">
                    <vs-button class="btnx" type="filled" @click="$router.push({name: 'admin-task-add'})">Add Task
                    </vs-button>
                </div>
            </div>
        </div>
        <vs-table
            :sst="true"
            @sort="handleSort"
            @selected="handleSelected"
            v-model="selected"
            max-items="5"
            :data="dataList">
            <template slot="thead">
                <vs-th sort-key="id">No</vs-th>
                <vs-th sort-key="code">Description</vs-th>
                <vs-th sort-key="start_date">Start Date</vs-th>
                <vs-th sort-key="end_date">End Date</vs-th>
                <vs-th>Progress</vs-th>
                <vs-th sort-key="created_at">Created Date</vs-th>
            </template>

            <template slot-scope="{data}">
                <vs-tr :data="data" :key="index" v-for="(data, index) in dataList">
                    <vs-td :data="index">
                        {{
                            filters.pagination.current_page === 1 ? index + 1 : index + 1 +
                                ((filters.pagination.current_page - 1) * filters.pagination.per_page)
                        }}
                    </vs-td>
                    <vs-td :data="data.description">
                        <label class="text-medium">{{ data.description }}</label>

                    </vs-td>
                    <vs-td :data="data.start_date">
                        <div class="vx-col flex-wrap">
                            <label class="text-medium">{{ data.start_date | moment('DD-MM-YYYY') }}</label>
                        </div>
                    </vs-td>
                    <vs-td :data="data.end_date">
                        <div class="vx-row">
                            <div class="vx-col flex-wrap" v-if="isDeadLine(data.end_date) === 'ok'">
                                <label class="text-medium">{{ data.end_date | moment('DD-MM-YYYY') }}</label>
                            </div>
                            <div class="vx-col flex-wrap" v-else-if="isDeadLine(data.end_date) === 'sama'">
                                <vs-chip color="warning">
                                    <label class="text-lg">{{ data.end_date | moment('DD-MM-YYYY') }}</label>
                                </vs-chip>
                            </div>
                            <div class="vx-col flex-wrap" v-else>
                                <vs-chip color="danger">
                                    <label class="text-lg">{{ data.end_date | moment('DD-MM-YYYY') }}</label>
                                </vs-chip>
                            </div>
                        </div>
                    </vs-td>
                    <vs-td>
                        <div>
                            <vs-row vs-type="flex" vs-justify="space-between">
                                <!--<vs-col vs-type="flex" vs-justify="center" vs-align="center" vs-w="3">Progress</vs-col>-->
                                <vs-col vs-type="flex">
                                    <div class="text-small">{{ data.close }} of {{ data.total }}</div>
                                </vs-col>
                            </vs-row>
                            <vs-progress :style="`width: ${data.close*100/data.total}%`"
                                         :percent="data.close*100/data.total"
                                         color="success"></vs-progress>
                        </div>
                    </vs-td>

                    <vs-td :data="data.created_at">
                        <small>{{ data.created_at | moment('DD-MM-YYYY') }}</small> - <small class="text-muted">{{
                            data.created_at
                                | moment('HH:mm')
                        }}</small>
                    </vs-td>
                </vs-tr>
            </template>
        </vs-table>
        <vs-row vs-type="flex" vs-justify="space-between" v-if="dataList">
            <vs-col s-type="flex" vs-justify="center" vs-align="center" vs-w="2">
                <vs-dropdown vs-trigger-click class="cursor-pointer mt-5">
                    <div
                        class="p-4 border border-solid d-theme-border-grey-light rounded-full d-theme-dark-bg cursor-pointer flex items-center justify-between font-medium">
            <span class="mr-2 text-sm">{{ filters.pagination.from }} -  {{ filters.pagination.to }}  of {{
                    total
                }}</span>
                        <feather-icon icon="ChevronDownIcon" svgClasses="h-4 w-4"/>
                    </div>
                    <!-- <vs-button class="btn-drop" type="line" color="primary" icon-pack="feather" icon="icon-chevron-down"></vs-button> -->
                    <vs-dropdown-menu>

                        <vs-dropdown-item @click="changeSize(5)">
                            <span>5</span>
                        </vs-dropdown-item>
                        <vs-dropdown-item @click="changeSize(10)">
                            <span>10</span>
                        </vs-dropdown-item>
                        <vs-dropdown-item @click="changeSize(20)">
                            <span>20</span>
                        </vs-dropdown-item>
                        <vs-dropdown-item @click="changeSize(30)">
                            <span>30</span>
                        </vs-dropdown-item>
                    </vs-dropdown-menu>
                </vs-dropdown>
            </vs-col>
            <vs-col s-type="flex" vs-justify="center" vs-align="center" vs-w="2">
                <vs-pagination :total="last_page" v-model="current_page" class="mt-5"/>
            </vs-col>
        </vs-row>
    </vx-card>
</template>
<script>
import axios from '@/http/axios/index'
import {debounce} from '@/plugins/helpers'
import service from '@/services/user.service'

export default {
    data () {
        return {
            linkTemplate: '/template/import/region_template.xlsx',
            dataAdd: {},
            errorsData: {},
            popupAddData: false,
            popupImport: false,
            selected: [],
            dataList: [],
            last_page: 1,
            current_page: 1,
            file: null,
            filters: {
                pagination: {
                    from: 0,
                    to: 0,
                    total: 0,
                    per_page: 20,
                    current_page: 1,
                    last_page: 0
                },
                orderBy: {
                    column: 'id',
                    direction: 'asc'
                },
                search: ''
            },
            loading: true,
            searchQuery: '',
            total: 0

        }
    },
    computed: {
        validateAddForm () {
            return this.errors.count() > 0 || !(Object.keys(this.fields).some(key => this.fields[key].dirty))
        },
        isAdmin () {
            return localStorage.getItem('roles') === 'administrator'
        }
    },
    mounted () {
        if (localStorage.getItem('filtersTableTask')) {
            this.filters = JSON.parse(localStorage.getItem('filtersTableTask'))
            this.filters.pagination.current_page = 1
            this.filters.search = ''
        } else {
            localStorage.setItem('filtersTableTask', this.filters)
        }

        this.getdataList()
    },
    methods: {
        isDeadLine (date) {
            let now = this.$moment().format('YYYY-MM-DD')
            let data = this.$moment(date).format('YYYY-MM-DD')
            if (now > data) {
                return 'lebih'
            } else if (now = data) {
                return 'sama'
            }
            return 'ok'
        },
        popUpAddShow () {
            this.dataAdd = {}
            this.popupAddData = true
        },
        onPopupClose () {
            this.dataAdd = {}
            this.popupAddData = false
        },
        popUpImportShow () {
            this.dataAdd = {}
            this.popupImport = true
        },
        onPopupImportClose () {
            this.dataAdd = {}
            this.popupImport = false
        },
        handleSearch (searching) {
            if (searching.length >= 3) {
                this.filters.search = searching
                this.getDataList()
            } else {
                this.filters.search = ''
                this.getDataList()
            }
        },
        handleChangePage (page) {
            this.filters.pagination.current_page = page
            this.getdataList()
        },
        handleSort (key, active) {
            this.sort(key, active)
        },
        getdataList () {
            this.$vs.loading()
            this.dataList = []
            this.dataAdd = {}
            localStorage.setItem('filtersTableTask', JSON.stringify(this.filters))
            this.$store.dispatch('task/get', this.filters)
                .then(response => {
                    this.$vs.loading.close()
                    this.dataList = response.data.data
                    this.total = response.data.total
                    this.last_page = response.data.last_page
                    delete response.data.data
                    this.filters.pagination = response.data
                    this.loading = false
                })
                .catch(error => {
                    this.$vs.loading.close()
                    this.errors = error.response.data.errors
                    this.$vs.notify({
                        title: 'Error',
                        text: 'Terjadi kesalahan',
                        iconPack: 'feather',
                        icon: 'icon-alert-circle',
                        color: 'danger',
                        position: 'top-right'
                    })
                })
        },
        create () {
            this.$vs.loading()
            this.$store.dispatch('task/create', this.dataAdd)
                .then(response => {
                    this.$vs.notify({
                        title: 'Success',
                        text: 'Data berhasil tersimpan',
                        iconPack: 'feather',
                        icon: 'icon-alert-circle',
                        color: 'success',
                        position: 'top-right'
                    })
                    this.popupAddData = false
                    this.getdataList()
                })
                .catch(error => {
                    this.errorsData = error.response.data.errors
                    this.$vs.notify({
                        title: 'Error',
                        text: 'Terjadi kesalahan',
                        iconPack: 'feather',
                        icon: 'icon-alert-circle',
                        color: 'danger',
                        position: 'top-right'
                    })
                })
                .then(() => {
                    this.$vs.loading.close()
                })

        },
        update () {
            this.$vs.loading()
            this.$store.dispatch('task/edit', this.dataAdd)
                .then(() => {
                    this.$vs.notify({
                        title: 'Success',
                        text: 'Data berhasil diperbaharui',
                        iconPack: 'feather',
                        icon: 'icon-alert-circle',
                        color: 'success',
                        position: 'top-right'
                    })
                    this.popupAddData = false
                    this.getdataList()
                })
                .catch(error => {
                    this.errorsData = error.response.data.errors
                    this.$vs.notify({
                        title: 'Error',
                        text: 'Terjadi kesalahan',
                        iconPack: 'feather',
                        icon: 'icon-alert-circle',
                        color: 'danger',
                        position: 'top-right'
                    })
                })
                .then(() => {
                    this.$vs.loading.close()
                })

        },
        destroy: function (parameters) {
            this.$vs.loading()
            this.$store.dispatch('task/delete', this.dataAdd)
                .then(response => {
                    this.$vs.notify({
                        title: 'Success',
                        text: 'Data berhasil dihapus',
                        iconPack: 'feather',
                        icon: 'icon-alert-circle',
                        color: 'success',
                        position: 'top-right'
                    })
                })
                .then(() => {
                    this.$vs.loading.close()
                })
            this.getdataList()
        },
        recover: function (parameters) {
            this.$vs.loading()
            this.$store.dispatch('task/restore', this.dataAdd)
                .then(response => {
                    this.$vs.notify({
                        title: 'Success',
                        text: 'Data berhasil dikembalikan',
                        iconPack: 'feather',
                        icon: 'icon-alert-circle',
                        color: 'success',
                        position: 'top-right'
                    })
                })
                .then(() => {
                    this.$vs.loading.close()
                })
            this.getdataList()
        },
        filter () {
            this.filters.pagination.current_page = 1
            this.getdataList()
        },
        changeSize (perPage) {
            this.filters.pagination.current_page = 1
            this.filters.pagination.per_page = perPage
            this.getdataList()
        },
        sort (column, sort) {
            if (column !== null) {
                if (column == this.filters.orderBy.column) {
                    this.filters.orderBy.direction = sort == null ? 'asc' : sort
                } else {
                    this.filters.orderBy.column = column
                    this.filters.orderBy.direction = 'asc'
                }
                this.getdataList()
            }
        },
        changePage (page) {
            this.filters.pagination.current_page = page
            this.getdataList()
        },
        handleSelected (tr) {
            this.$router.push({
                name: 'admin-task-detail',
                params: {id: tr.id}
            }).catch(() => {
            })
        },
        deleteConfirm () {
            this.popupAddData = false
            this.$vs.dialog({
                type: 'confirm',
                color: 'danger',
                title: 'Confirm',
                text: `Are you sure want to delete ${this.dataAdd.name}?`,
                accept: this.destroy,
                parameters: this.dataAdd.name
            })
        },
        recoverConfirm () {
            this.popupAddData = false
            this.$vs.dialog({
                type: 'confirm',
                color: 'warning',
                title: 'Confirm',
                text: `Are you sure want to recover ${this.dataAdd.name}?`,
                accept: this.recover,
                parameters: this.dataAdd.name
            })
        },
        handleClick (e) {
            const files = e.target.files
            this.file = files[0]
            if (!this.file) return
            this.uploadFile(this.file)
        },
        handleDragover (e) {
            e.stopPropagation()
            e.preventDefault()
            e.dataTransfer.dropEffect = 'copy'
        },
        handleDrop (e) {
            e.stopPropagation()
            e.preventDefault()
            const files = e.dataTransfer.files
            if (files.length !== 1) {
                this.$vs.notify({
                    title: 'Upload',
                    text: 'Hanya upload 1 File',
                    iconPack: 'feather',
                    icon: 'icon-alert-circle',
                    color: 'warning',
                    position: 'top-right'
                })
                return
            }
            const rawFile = files[0] // only use files[0]
            if (!this.isExcel(rawFile)) {
                this.$vs.notify({
                    title: 'Login Attempt',
                    text: 'Upload file beresktensi .xlsx, .xls, .csv',
                    iconPack: 'feather',
                    icon: 'icon-alert-circle',
                    color: 'warning',
                    position: 'top-right'
                })
                return false
            }
            this.uploadFile(rawFile)
        },
        onFileChange (e) {
            let files = e.target.files || e.dataTransfer.files
            if (!files.length)
                return
            this.file = files[0]
        },
        uploadFile (file) {
            this.$vs.loading()
            let formData = new FormData()
            formData.append('file', file)
            axios.post(`/api/master/regions/import`, formData,
                {
                    headers: {
                        'Content-Type': 'multipart/form-data'
                    }
                })
                .then(response => {
                    this.getdataList()
                    this.popupImport = false
                    this.$vs.notify({
                        title: 'Sukses',
                        text: 'Import Data Sukses',
                        iconPack: 'feather',
                        icon: 'icon-alert-circle',
                        color: 'success',
                        position: 'top-right'
                    })
                })
                .catch(error => {
                    this.popupImport = false
                    this.$vs.notify({
                        title: 'Error',
                        text: 'Terjadi kesalahan',
                        iconPack: 'feather',
                        icon: 'icon-alert-circle',
                        color: 'danger',
                        position: 'top-right'
                    })
                })
                .then(() => {
                    this.$vs.loading.close()
                })
        }
    },
    watch: {
        current_page: function (value) {
            this.changePage(value)
        },
        'filters.search': debounce(function (newVal) {
            this.filters.pagination.current_page = 1
            this.getdataList()
        }, 1000)
    },
    destroyed () {
        localStorage.removeItem('filtersTableTask')
    }

}
</script>

<style>
.table.vs-table > thead > tr > th {
    background-color: white;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    z-index: 2;
}
</style>
<style lang="scss">
.dropdown-button-container {
    display: flex;
    align-items: center;

    .btnx {
        border-radius: 5px 0px 0px 5px;
    }

    .btn-drop {
        border-radius: 0px 5px 5px 0px;
        border-left: 1px solid rgba(255, 255, 255, .2);
    }
}
</style>
