<template>
    <div>
        <vs-row vs-type="flex" vs-justify="flex-end" class="mb-base">
            <vs-button class="mr-base" @click="update">Update</vs-button>
            <vs-button class="mr-base" color="warning" @click="downloadReport">Download Report</vs-button>
            <vs-button color="danger" type="filled" icon-pack="feather"
                       icon="icon-trash" @click="deleteConfirm"
                       class="mr-base"
                       v-can="'delete-task'"></vs-button>

            <feather-icon
                icon="XIcon"
                @click="backToList"
                class="p-2 mr-2 shadow-drop rounded-lg d-theme-dark-bg cursor-pointer"/>
        </vs-row>
        <div class="vx-row">
            <div class="vx-col sm:w-1/2 w-full">
                <form>
                    <vx-card title="Task" class="mb-base">
                        <div class="vx-row  mb-3">
                            <div class="vx-col w-full">
                                <vs-input class="w-full" label-placeholder="Description" v-model="data.description"
                                          data-vv-validate-on="blur"
                                          v-validate="'required'"
                                          name="Description"/>
                                <small class="form-text text-danger ml-3">{{ errors.first('Description') }}</small>
                                <span class="text-danger text-sm ml-3" v-if="errorsData.description">{{
                                        errorsData.description[0]
                                    }}</span>
                            </div>
                        </div>
                        <div class="vx-row  mb-base">
                            <div class="vx-col sm:w-1/2 w-full">
                                <label class="ml-1 mb-3 text-sm">Start Date</label>
                                <flat-pickr :config="configdateTimePicker" v-model="data.start_date"
                                            style="width: 100%"
                                            name="Start Date"
                                            placeholder="Start Date"
                                            data-vv-validate-on="blur"
                                            v-validate="'required'"/>
                                <small class="form-text text-danger ml-3">{{ errors.first('Start Date') }}</small>
                                <span class="text-danger text-sm ml-3"
                                      v-if="errorsData.start_date">{{ errorsData.start_date[0] }}</span>
                            </div>
                            <div class="vx-col sm:w-1/2 w-full">
                                <label class="ml-1 mb-3 text-sm">End Date</label>
                                <flat-pickr :config="configdateTimePicker" v-model="data.end_date"
                                            style="width: 100%"
                                            name="End Date"
                                            placeholder="End Date"
                                            data-vv-validate-on="blur"
                                            v-validate="'required'"/>
                                <small class="form-text text-danger ml-3">{{ errors.first('End Date') }}</small>
                                <span class="text-danger text-sm ml-3" v-if="errorsData.end_date">{{
                                        errorsData.end_date[0]
                                    }}</span>
                            </div>
                        </div>
                        <div class="vx-row">

                        </div>
                    </vx-card>
                </form>
            </div>
            <div class="vx-col sm:w-1/2 w-full mb-base">
                <div class="vx-row mb-3">
                    <div class="vx-col w-full sm:w-1/1 md:w-1/1 lg:w-1/3 xl:w-1/3 mb-base">
                        <statistics-card-line-no-icon
                            :statistic="data.open"
                            statisticTitle="OPEN"/>
                    </div>
                    <div class="vx-col w-full sm:w-1/1 md:w-1/1 lg:w-1/3 xl:w-1/3 mb-base">
                        <statistics-card-line-no-icon
                            :statistic="data.close"
                            statisticTitle="CLOSE"/>
                    </div>

                    <!--   <div class="vx-col w-full sm:w-1/1 md:w-1/1 lg:w-1/2 xl:w-1/2 mb-base">
                           <statistics-card-line-no-icon
                               :statistic="data.progress"
                               statisticTitle="PROGRESS"/>
                       </div>-->
                    <div class="vx-col w-full sm:w-1/1 md:w-1/1 lg:w-1/3 xl:w-1/3 mb-base">
                        <statistics-card-line-no-icon
                            :statistic="data.total"
                            statisticTitle="TOTAL"/>
                    </div>
                </div>
            </div>
        </div>
        <vx-card title="Task by User">
            <div class="vx-row mb-3">
                <div class="vx-col sm:w-1/2 w-full mb-2">
                    <div class="search-page__search-bar flex items-center">
                        <vs-input icon-no-border placeholder="Search" v-model="filters.search"
                                  class="w-full input-rounded-full" icon="icon-search" icon-pack="feather"/>
                    </div>
                </div>
                <div class="vx-col sm:w-1/2 w-full mb-2">
                    <vs-button class="mr-4 mb-2" color="warning" @click="dialogDetailShow">Add Task User</vs-button>
                </div>
            </div>
            <vs-table
                :sst="true"
                @selected="handleSelected"
                v-model="selected"
                :data="dataList">
                <template slot="thead">
                    <vs-th sort-key="id">No</vs-th>
                    <vs-th sort-key="code">Engineer</vs-th>
                    <vs-th sort-key="code">Service Base</vs-th>
                    <vs-th>Progress</vs-th>
                </template>

                <template slot-scope="{data}">
                    <vs-tr :data="data" :key="index" v-for="(data, index) in dataList">
                        <vs-td :data="index">
                            {{ index + 1 }}
                        </vs-td>
                        <vs-td :data="data.user_id">
                            <div class="flex flex-wrap items-center" v-if="data.user != null">
                                <vs-avatar :src="data.user.avatar" size="40px" class="mr-4"/>
                                <div>
                                    <div>
                                        <label class="text-sm">{{ data.user.name }}</label>
                                    </div>
                                    <div class="text-sm" v-if="data.user.ce_code != null">
                                        {{ data.user.ce_code }}
                                    </div>
                                    <div class="text-sm" v-else>
                                        {{ data.user.email }}
                                    </div>
                                </div>
                            </div>
                        </vs-td>
                        <vs-td :data="data.user">
                            <div>
                                <div class="text-sm">
                                    {{ data.user.service_base ? data.user.service_base.region.code : '-' }}
                                </div>
                                <div class="text-sm">
                                    {{ data.user.service_base ? data.user.service_base.name : '-' }}
                                </div>
                            </div>
                        </vs-td>
                        <vs-td>
                            <div>
                                <vs-row vs-type="flex" vs-justify="space-between">
                                    <!--<vs-col vs-type="flex" vs-justify="center" vs-align="center" vs-w="3">Progress</vs-col>-->
                                    <vs-col vs-type="flex" vs-justify="right" vs-align="right" vs-w="3">
                                        <div class="text-medium">{{ data.close }} of {{ data.total }}</div>
                                    </vs-col>
                                </vs-row>
                                <vs-progress :style="`width: ${data.close*100/data.total}%`"
                                             :percent="data.close*100/data.total"
                                             color="success"></vs-progress>
                            </div>
                        </vs-td>
                    </vs-tr>
                </template>
            </vs-table>
            <vs-row vs-type="flex" vs-justify="space-between" v-if="dataList.length > 0">
                <vs-col s-type="flex" vs-justify="center" vs-align="center" vs-w="2">
                    <vs-dropdown vs-trigger-click class="cursor-pointer mt-5">
                        <div
                            class="p-4 border border-solid d-theme-border-grey-light rounded-full d-theme-dark-bg cursor-pointer flex items-center justify-between font-medium">
            <span class="mr-2 text-sm">{{ filters.pagination.from }} -  {{ filters.pagination.to }}  of {{
                    total
                }}</span>
                            <feather-icon icon="ChevronDownIcon" svgClasses="h-4 w-4"/>
                        </div>
                        <!-- <vs-button class="btn-drop" type="line" color="primary" icon-pack="feather" icon="icon-chevron-down"></vs-button> -->
                        <vs-dropdown-menu>

                            <vs-dropdown-item @click="changeSize(5)">
                                <span>5</span>
                            </vs-dropdown-item>
                            <vs-dropdown-item @click="changeSize(10)">
                                <span>10</span>
                            </vs-dropdown-item>
                            <vs-dropdown-item @click="changeSize(20)">
                                <span>20</span>
                            </vs-dropdown-item>
                            <vs-dropdown-item @click="changeSize(30)">
                                <span>30</span>
                            </vs-dropdown-item>
                        </vs-dropdown-menu>
                    </vs-dropdown>
                </vs-col>
                <vs-col s-type="flex" vs-justify="center" vs-align="center" vs-w="2">
                    <vs-pagination :total="last_page" v-model="current_page" class="mt-5"/>
                </vs-col>
            </vs-row>
        </vx-card>

        <vs-popup class="holamundo" :title="`Task by User`"
                  :active.sync="dialogAddTaskDetail"
                  @input="dialogAddTaskDetailHide">

            <form>
                <div class="vx-row mb-3">
                    <div class="vx-col w-full">
                        <atm-selector :data="dataAdd" :errorsData="errorsData"></atm-selector>
                    </div>
                </div>
                <div class="vx-row mb-3">
                    <div class="vx-col w-full">
                        <label class="ml-1 mb-3 text-sm">Tipe Kunjungan</label>
                        <v-select label="name" v-model="dataAdd.type" name="Tipe"
                                  :options="tipeList" v-validate="'required'"/>
                    </div>
                </div>

                <div class="vx-row">
                    <vs-row vs-type="flex" vs-justify="flex-end">
                        <vs-button color="danger" type="filled" icon-pack="feather"
                                   icon="icon-trash" @click="deleteConfirmTaskDetail"
                                   class="mr-3 mb-2 mt-10"
                                   v-can="'delete-task'"></vs-button>
                        <vs-button class="mr-3 mb-2 mt-10" color="danger" @click="dialogAddTaskDetailHide">
                            Cancel
                        </vs-button>
                        <vs-button class="mr-3 mb-2 mt-10" v-if="!dataAdd.isUpdateNew" color="success"
                                   @click="addTaskDetail">
                            Save
                        </vs-button>
                        <vs-button class="mr-3 mb-2 mt-10" v-if="dataAdd.isUpdateNew" color="success"
                                   @click="addTaskDetail">
                            Update
                        </vs-button>

                    </vs-row>
                </div>
            </form>
        </vs-popup>

        <vs-popup class="holamundo" :title="`Task by User`"
                  :active.sync="dialogDetail"
                  @input="dialogDetailHide">
            <div class="vx-row  mb-3">
                <div class="vx-col sm:w-1/2 w-full">
                    <user-selector :data="dialogDetailData" labelVisible v-if="!isEngineer" name="Engineer"/>
                    <span class="text-danger text-sm ml-3" v-if="errorsData.user">{{ errorsData.user[0] }}</span>
                    <vx-card class="mt-5" v-if="data.user" no-shadow card-border>
                        <div class="flex flex-wrap items-center">
                            <vs-avatar :src="dialogDetailData.user.avatar" size="40px" class="mr-4"/>
                            <div>
                                <div>
                                    {{ dialogDetailData.user.name }}
                                </div>
                                <div class="text-sm" v-if="data.user.ce_code != null">
                                    {{ dialogDetailData.user.ce_code }}
                                </div>
                                <div class="text-sm" v-else>
                                    {{ dialogDetailData.user.email }}
                                </div>
                            </div>
                        </div>
                    </vx-card>
                </div>
                <div class="vx-col sm:w-1/2 w-full mt-auto">
                    <vs-button class="float-right" @click="dialogDetailTaskSave">Save</vs-button>
                    <vs-button class="float-right mr-3" color="warning"
                               @click="dialogAddTaskDetailShow(dialogDetailData.id)">Add Task
                    </vs-button>
                    <vs-button color="danger" type="filled" icon-pack="feather"
                               icon="icon-trash" @click="deleteConfirmTaskUser"
                               class="float-right mr-3"
                               v-can="'delete-task'"></vs-button>

                </div>
            </div>
            <vs-table
                :sst="true"
                @selected="handleSelectedDetail"
                max-items="5"
                :data="dialogDetailData.task_detail">
                <template slot="thead">
                    <vs-th sort-key="id">No</vs-th>
                    <vs-th sort-key="code">Location</vs-th>
                    <vs-th>Type</vs-th>
                    <vs-th>Status</vs-th>
                    <vs-th></vs-th>
                </template>

                <template slot-scope="{data}">
                    <vs-tr :data="data" :key="index" v-for="(data, index) in dialogDetailData.task_detail">
                        <vs-td :data="index">
                            {{ index + 1 }}
                        </vs-td>
                        <vs-td :data="data.location">
                            <div class="vx-col w-full flex-no-wrap">
                                <div class="vx-row">
                                    <div class="vx-col sm:w-1/4 w-full">
                                        <label class="text-sm font-semibold">S/N</label>
                                    </div>
                                    <div class="vx-col">
                                        <small>{{ data.location ? data.location.serial_number : '' }} </small>
                                    </div>
                                </div>
                                <div class="vx-row">
                                    <div class="vx-col sm:w-1/4 w-full">
                                        <label class="text-sm font-semibold">ID Mesin</label>
                                    </div>
                                    <div class="vx-col">
                                        <small>{{ data.location ? data.location.mc_id : '' }} </small>
                                    </div>
                                </div>
                                <div class="vx-row">
                                    <div class="vx-col sm:w-1/4 w-full">
                                        <label class="text-sm font-semibold">Lokasi</label>
                                    </div>
                                    <div class="vx-col text-ellipsis">
                                        <small>{{ data.location ? data.location.location_name : '' }} </small>
                                    </div>
                                </div>
                                <div class="vx-row">
                                    <div class="vx-col sm:w-1/4 w-full">
                                        <label class="text-sm font-semibold">Customer</label>
                                    </div>
                                    <div class="vx-col">
                                        <small>{{ data.location ? data.location.customer.name : '' }} </small>
                                    </div>
                                </div>
                            </div>
                        </vs-td>
                        <vs-td :data="index">
                            {{ data.type }}
                        </vs-td>
                        <vs-td :data="data.status">
                            <div v-if="data.close_date === null && data.visit_id === null">
                                <vs-chip color="danger">OPEN</vs-chip>
                            </div>
                            <div v-else-if="data.close_date === null && data.visit_id !== null">
                                <vs-chip color="warning">ON PROGRESS</vs-chip>
                            </div>
                            <div v-else>
                                <div class="vx-col w-full items-center">
                                    <div class="vx-row ml-auto">
                                        <vs-chip color="success">CLOSE</vs-chip>
                                    </div>
                                    <div class="vx-row">
                                        <small>{{ data.close_date | moment('DD-MM-YYYY') }}</small> - <small
                                        class="text-muted">{{
                                            data.close_date
                                                | moment('HH:mm')
                                        }}</small>
                                    </div>
                                </div>
                            </div>
                        </vs-td>
                        <vs-td>
                            <div class="ml-3">
                                <vx-tooltip text="To data Visit">
                                    <vs-button color="warning" type="filled" icon-pack="feather"
                                               icon="icon-external-link" @click="goToVisit(data.visit)"
                                               v-if="data.visit !=null"></vs-button>
                                </vx-tooltip>
                            </div>
                        </vs-td>
                    </vs-tr>
                </template>
            </vs-table>

        </vs-popup>


    </div>

</template>
<script>
import flatPickr from 'vue-flatpickr-component'
import 'flatpickr/dist/flatpickr.css'
import StatisticsCardLineNoIcon from '@/components/statistics-cards/StatisticsCardLineNoIcon.vue'
import AtmSelector from '@/components/AtmSelector'
import UserSelector from '@/components/UserSelector'
import vSelect from 'vue-select'
import {debounce} from '@/plugins/helpers'
import XLSX from 'xlsx'

export default {
    components: {
        flatPickr,
        StatisticsCardLineNoIcon,
        AtmSelector,
        UserSelector,
        'v-select': vSelect
    },
    data () {
        return {
            configdateTimePicker: {
                dateFormat: 'Y-m-d',
                weekNumbers: true
            },
            errorsData: {},
            selected: [],
            data: {},
            dataAdd: {
                location: {},
                customer: {}
            },
            filters: {
                pagination: {
                    from: 0,
                    to: 0,
                    total: 0,
                    per_page: 20,
                    current_page: 1,
                    last_page: 0
                },
                orderBy: {
                    column: 'id',
                    direction: 'asc'
                },
                search: '',
                task_id: null,
                user_id: null
            },
            tipeList: ['1', '2', '3', '4', 'CHGC', 'CHGF', 'CHGI', 'DEIN', 'DEPO', 'ECO', 'INST', 'OBF', 'PM', 'PMCU', 'RAST', 'FRIT', 'SPV', 'SYSM'],
            dataList: [],
            last_page: 1,
            current_page: 1,
            file: null,
            searchQuery: '',
            total: 0,
            dialogDetail: false,
            dialogAddTaskDetail: false,
            dialogDetailData: {
                user: {},
                task_detail: []
            },
            selectedId: null
        }
    },
    computed: {
        validateForm () {
            return this.errors.count() > 0 || !(Object.keys(this.fields).some(key => this.fields[key].dirty))
        },
        validateAddForm () {
            return this.errors.count() > 0 || !(Object.keys(this.fields).some(key => this.fields[key].dirty))
        },
        isAdmin () {
            return localStorage.getItem('roles') === 'administrator'
        },
        isEngineer () {
            return localStorage.getItem('roles') === 'engineer'
        },
        isCustomer () {
            return localStorage.getItem('roles') === 'customer'
        },
        permission () {
            return JSON.parse(localStorage.getItem('permission'))
        }
    },
    mounted () {
        this.id = this.$route.params.id
        this.filters.task_id = this.id
        this.getData()
    },
    methods: {
        handleSelected (tr) {
            this.dialogDetailData = tr
            this.dialogDetailShow()
        },
        dialogDetailShow () {
            this.dialogDetail = true
        },
        dialogDetailHide () {
            this.dialogDetail = false
        },
        handleSelectedDetail (tr) {
            this.dataAdd = {
                ...tr,
                isUpdateNew: true
            }
            this.dialogAddTaskDetail = true
        },
        dialogAddTaskDetailShow (id) {
            this.dataAdd = {
                ...this.dataAdd,
                task_user_id: id,
                isUpdateNew: false
            }
            this.dialogAddTaskDetail = true
        },
        dialogAddTaskDetailHide () {
            this.dialogAddTaskDetail = false
        },
        isDeadLine (date) {
            let now = this.$moment().format('YYYY-MM-DD')
            let data = this.$moment(date).format('YYYY-MM-DD')
            if (now < data) {
                return true
            }
            return false
        },
        goToVisit (data) {
            if (this.permission.find((e) => e === 'delete-visit')) {
                let route = this.$router.resolve({
                    name: 'admin-visit-detail',
                    params: {id: data.id}
                })
                window.open(route.href, '_blank')
            } else {
                if (this.isCustomer) {
                    let route = this.$router.resolve({
                        name: 'app-visit-view',
                        params: {id: data.id}
                    })
                    window.open(route.href, '_blank')

                } else {
                    if (data.checkout_time != null && data.photo_ar != null) {
                        let route = this.$router.resolve({
                            name: 'app-visit-view',
                            params: {id: data.id}
                        })
                        window.open(route.href, '_blank')

                    } else {
                        let route = this.$router.resolve({
                            name: 'app-visit-ubah',
                            params: {id: data.id}
                        })
                        window.open(route.href, '_blank')

                    }
                }
            }
        },
        getData () {
            this.$vs.loading()
            this.getdataList()
            this.$store.dispatch('task/show', this.id)
                .then(response => {
                    this.$vs.loading.close()
                    this.data = response.data
                    //this.dataList = response.data.task_user != null ? response.data.task_user : response.data.task_user_by_role
                })
                .catch(error => {
                    this.$vs.loading.close()
                    this.errors = error.response.data.errors
                    this.$vs.notify({
                        title: 'Error',
                        text: 'Terjadi kesalahan',
                        iconPack: 'feather',
                        icon: 'icon-alert-circle',
                        color: 'danger',
                        position: 'top-right'
                    })
                })
        },
        changePage (page) {
            this.filters.pagination.current_page = page
            this.getdataList()
        },
        getdataList () {
            this.$vs.loading()
            this.dataList = []
            this.$store.dispatch('task/getTaskUser', this.filters)
                .then(response => {
                    this.$vs.loading.close()
                    this.filters.pagination = response.data
                    this.dataList = response.data.data
                    this.total = response.data.total
                    this.last_page = response.data.last_page
                    delete response.data.data
                })
                .catch(error => {
                    this.$vs.loading.close()
                    this.errors = error.response.data.errors
                    this.$vs.notify({
                        title: 'Error',
                        text: 'Terjadi kesalahan',
                        iconPack: 'feather',
                        icon: 'icon-alert-circle',
                        color: 'danger',
                        position: 'top-right'
                    })
                })
        },
        update () {
            this.$vs.loading()
            const data = {
                ...this.data,
                task_user: this.dataList
            }
            this.$store.dispatch('task/edit', data)
                .then(() => {
                    this.$vs.notify({
                        title: 'Success',
                        text: 'Data berhasil diperbaharui',
                        iconPack: 'feather',
                        icon: 'icon-alert-circle',
                        color: 'success',
                        position: 'top-right'
                    })
                })
                .catch(error => {
                    this.$vs.notify({
                        title: 'Error',
                        text: 'Terjadi kesalahan',
                        iconPack: 'feather',
                        icon: 'icon-alert-circle',
                        color: 'danger',
                        position: 'top-right'
                    })
                })
                .then(() => {
                    this.$vs.loading.close()
                    this.$router.push({name: 'admin-task-list'}).catch((e))
                })

        },
        destroy: function (parameters) {
            this.$vs.loading()
            this.$store.dispatch('task/delete', this.data)
                .then(response => {
                    this.backToList()
                    this.$vs.notify({
                        title: 'Success',
                        text: 'Data berhasil dihapus',
                        iconPack: 'feather',
                        icon: 'icon-alert-circle',
                        color: 'success',
                        position: 'top-right'
                    })
                }).catch(error => {
                this.$vs.notify({
                    title: 'Error',
                    text: 'Terjadi kesalahan',
                    iconPack: 'feather',
                    icon: 'icon-alert-circle',
                    color: 'danger',
                    position: 'top-right'
                })
            }).then(() => {
                this.$vs.loading.close()
            })
        },
        destroyTaskUser: function (id) {
            this.$vs.loading()
            this.$store.dispatch('task/deleteTaskUser', this.selectedId)
                .then(response => {
                    this.$router.go()
                    this.$vs.notify({
                        title: 'Success',
                        text: 'Data berhasil dihapus',
                        iconPack: 'feather',
                        icon: 'icon-alert-circle',
                        color: 'success',
                        position: 'top-right'
                    })
                }).catch(error => {
                this.$vs.notify({
                    title: 'Error',
                    text: 'Terjadi kesalahan',
                    iconPack: 'feather',
                    icon: 'icon-alert-circle',
                    color: 'danger',
                    position: 'top-right'
                })
            }).then(() => {
                this.$vs.loading.close()
            })

        },
        destroyTaskDetail: function (parameters) {
            this.$vs.loading()
            this.$store.dispatch('task/deleteTaskDetail', this.dataAdd)
                .then(response => {
                    this.$router.go()
                    this.$vs.notify({
                        title: 'Success',
                        text: 'Data berhasil dihapus',
                        iconPack: 'feather',
                        icon: 'icon-alert-circle',
                        color: 'success',
                        position: 'top-right'
                    })
                }).catch(error => {
                this.$vs.notify({
                    title: 'Error',
                    text: 'Terjadi kesalahan',
                    iconPack: 'feather',
                    icon: 'icon-alert-circle',
                    color: 'danger',
                    position: 'top-right'
                })
            }).then(() => {
                this.$vs.loading.close()
            })
        },
        recover: function (parameters) {
            this.$vs.loading()
            this.$store.dispatch('task/restore', this.dataAdd)
                .then(response => {
                    this.$vs.notify({
                        title: 'Success',
                        text: 'Data berhasil dikembalikan',
                        iconPack: 'feather',
                        icon: 'icon-alert-circle',
                        color: 'success',
                        position: 'top-right'
                    })
                })
                .then(() => {
                    this.$vs.loading.close()
                })
            this.getdataList()
        },
        deleteConfirm () {
            this.popupAddData = false
            this.$vs.dialog({
                type: 'confirm',
                color: 'danger',
                title: 'Confirm',
                text: `Are you sure want to delete?`,
                accept: this.destroy
            })
        },
        deleteConfirmTaskUser () {
            this.selectedId = this.dialogDetailData.id
            console.log(this.selectedId)
            this.dialogDetail = false
            this.$vs.dialog({
                type: 'confirm',
                color: 'danger',
                title: 'Confirm',
                text: `Are you sure want to delete?`,
                accept: this.destroyTaskUser
            })
        },
        deleteConfirmTaskDetail () {
            this.dialogDetail = false
            this.dialogAddTaskDetail = false
            this.$vs.dialog({
                type: 'confirm',
                color: 'danger',
                title: 'Confirm',
                text: `Are you sure want to delete?`,
                accept: this.destroyTaskDetail
            })
        },
        backToList () {
            this.$router.push('/app/task').catch(() => {
            })
        },
        recoverConfirm () {
            this.popupAddData = false
            this.$vs.dialog({
                type: 'confirm',
                color: 'warning',
                title: 'Confirm',
                text: `Are you sure want to recover ${this.dataAdd.name}?`,
                accept: this.recover,
                parameters: this.dataAdd.name
            })
        },
        addTaskDetail () {
            this.dialogAddTaskDetailHide()
            if (this.dataAdd.isUpdateNew != null && this.dataAdd.isUpdateNew) {
                this.dialogDetailData.task_detail.find((e) => {
                    if (e.location.id === this.dataAdd.location.id) {
                        e = this.dataAdd
                    }
                    return e
                })
            } else {
                this.dialogDetailData.open += 1
                this.dialogDetailData.total += 1
                this.dialogDetailData.task_detail.push({
                    ...this.dataAdd,
                    close_date: null,
                    visit_id: null
                })
            }

            this.dataAdd = {
                location: {},
                customer: {}
            }
        },
        dialogDetailTaskSave () {

            this.dialogDetailHide()
        },
        downloadReport () {
            this.$vs.loading()
            let dataExcel = []
            let dataDownload = []
            this.$store.dispatch('task/getAllTaskUser', this.data.id)
                .then(response => {
                    dataDownload = response.data
                    if (dataDownload !== null) {
                        for (let i = 0; i < dataDownload.length; i++) {
                            let dataColumn = dataDownload[i]
                            let column = {
                                No: i + 1,
                                ID_CE: dataColumn.user !== null ? dataColumn.user.ce_code !== null ? dataColumn.user.ce_code : dataColumn.user.username : '-',
                                Servicebase: dataColumn.user !== null ? dataColumn.user.service_base !== null ? dataColumn.user.service_base.name : '-' : '-',
                                Region: dataColumn.user !== null ? dataColumn.user.region !== null ? dataColumn.user.region.name : '-' : '-',
                                Total: dataColumn.total,
                                Close: dataColumn.close,
                                Open: dataColumn.open
                            }
                            dataExcel.push(column)
                        }
                        var dataVisit = XLSX.utils.json_to_sheet(dataExcel)
                        var wb = XLSX.utils.book_new()
                        wb.Props = {
                            Title: `Data Task ${this.data.description}`,
                            Subject: this.data.description,
                            Author: 'nmapp',
                            CreatedDate: new Date()
                        }

                        var title = this.data.description.replace(/\s+/g, '-').toLowerCase()
                        XLSX.utils.book_append_sheet(wb, dataVisit, 'Statistics')

                        let dataAllTaskDetail = [];
                        for (let i = 0; i < dataDownload.length; i++) {
                            let dataColumn = dataDownload[i]
                            let dataTaskDetail = []
                            if(dataColumn.task_detail !== null && dataColumn.task_detail.length > 0){
                                for (let x = 0; x < dataColumn.task_detail.length; x++) {
                                    let taskColumn = dataColumn.task_detail[x]
                                    let status = 'Open';
                                    if(taskColumn.visit !== null){
                                        status = 'Close';
                                        if(taskColumn.visit.photo_ar === null){
                                            status = 'On Progress';
                                        }
                                    }
                                    let columnDetail = {
                                        ID_CE: dataColumn.user !== null ? dataColumn.user.ce_code !== null ? dataColumn.user.ce_code : dataColumn.user.username : '-',
                                        Serial_Number: taskColumn.location ? taskColumn.location.serial_number : '-',
                                        Mesin_ID: taskColumn.location ? taskColumn.location.mc_id : '-',
                                        Customer: taskColumn.location ? taskColumn.location.customer.name : '-',
                                        Model: taskColumn.location ? taskColumn.location.model : '-',
                                        Visit_Type: taskColumn.type,
                                        Work_Order: taskColumn.visit ? taskColumn.visit.work_order : '-',
                                        Tanggal_Mulai: taskColumn.start_date ? this.$moment(taskColumn.start_date).format('YYYY-MM-DD HH:mm:ss') : '-',
                                        Tanggal_Selesai: taskColumn.close_date ? this.$moment(taskColumn.close_date).format('YYYY-MM-DD HH:mm:ss') : '-',
                                        Status: status,
                                    }
                                    dataTaskDetail.push(columnDetail)
                                    dataAllTaskDetail.push(columnDetail)
                                }
                            }
                           /* var sheetDetail = XLSX.utils.json_to_sheet(dataTaskDetail)
                            var titleSheet = dataColumn.user !== null ? dataColumn.user.ce_code !== null ? dataColumn.user.ce_code : dataColumn.user.username : '-'
                            XLSX.utils.book_append_sheet(wb, sheetDetail, titleSheet)*/
                        }
                        var sheetDetailAll = XLSX.utils.json_to_sheet(dataAllTaskDetail)
                        var titleSheetAll = 'Detail'
                        XLSX.utils.book_append_sheet(wb, sheetDetailAll, titleSheetAll)
                        XLSX.writeFile(wb, `nmapp_${title}.xlsx`, {bookType: 'xlsx'})

                    } else {
                        this.$vs.notify({
                            title: 'Error',
                            text: 'Terjadi kesalahan',
                            iconPack: 'feather',
                            icon: 'icon-alert-circle',
                            color: 'danger',
                            position: 'top-right'
                        })
                    }
                }).catch(error => {
                console.log(error)
                this.$vs.notify({
                    title: 'Error',
                    text: 'Terjadi kesalahan',
                    iconPack: 'feather',
                    icon: 'icon-alert-circle',
                    color: 'danger',
                    position: 'top-right'
                })
            }).then(() => {
                this.$vs.loading.close()
            })
        }
    },
    watch: {
        current_page: function (value) {
            this.changePage(value)
        },
        'filters.search': debounce(function (newVal) {
            this.filters.pagination.current_page = 1
            this.getdataList()
        }, 1000)
    }

}
</script>

<style>
.table.vs-table > thead > tr > th {
    background-color: white;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    z-index: 2;
}
</style>
<style lang="scss">
.dropdown-button-container {
    display: flex;
    align-items: center;

    .btnx {
        border-radius: 5px 0px 0px 5px;
    }

    .btn-drop {
        border-radius: 0px 5px 5px 0px;
        border-left: 1px solid rgba(255, 255, 255, .2);
    }
}

.dialog-action {
    display: flex;
    align-items: right;
}

.con-vs-popup .vs-popup {
    width: 60vw !important;
}
</style>
