<template>
  <div class="vx-row">
    <div class="vx-col w-full sm:w-1/1 md:w-1/1 lg:w-1/2 xl:w-1/2 mb-base items-stretch">
      <form>
        <vx-card title="Task">
          <div class="vx-row  mb-base">
            <div class="vx-col w-full">
              <vs-input class="w-full" label-placeholder="Description" v-model="data.description"
                        data-vv-validate-on="blur"
                        v-validate="'required'"
                        name="Description"/>
              <small class="form-text text-danger ml-3">{{ errors.first('Description') }}</small>
              <span class="text-danger text-sm ml-3" v-if="errorsData.description">{{
                  errorsData.description[0]
                }}</span>
            </div>
          </div>
          <div class="vx-row  mb-base">
            <div class="vx-col sm:w-1/2 w-full">
              <label class="ml-1 mb-3 text-sm">Start Date</label>
              <flat-pickr :config="configdateTimePicker" v-model="data.start_date"
                          style="width: 100%"
                          name="Start Date"
                          placeholder="Start Date"
                          data-vv-validate-on="blur"
                          v-validate="'required'"/>
              <small class="form-text text-danger ml-3">{{ errors.first('Start Date') }}</small>
              <span class="text-danger text-sm ml-3" v-if="errorsData.start_date">{{ errorsData.start_date[0] }}</span>
            </div>
            <div class="vx-col sm:w-1/2 w-full">
              <label class="ml-1 mb-3 text-sm">End Date</label>
              <flat-pickr :config="configdateTimePicker" v-model="data.end_date"
                          style="width: 100%"
                          name="End Date"
                          placeholder="End Date"
                          data-vv-validate-on="blur"
                          v-validate="'required'"/>
              <small class="form-text text-danger ml-3">{{ errors.first('End Date') }}</small>
              <span class="text-danger text-sm ml-3" v-if="errorsData.end_date">{{ errorsData.end_date[0] }}</span>
            </div>
          </div>
          <div class="vx-row">
            <vs-row vs-type="flex" vs-justify="flex-end" v-can="'create-user'">
              <vs-button class="mr-4 mb-2" :disabled="validateForm" @click="postData">Submit</vs-button>
              <vs-button color="warning" type="border" class="mb-2 mr-4"
                         @click="$router.push({name: 'admin-task-list'})">Cancel
              </vs-button>
            </vs-row>
          </div>
        </vx-card>
      </form>
    </div>
    <div class="vx-col w-full sm:w-1/1 md:w-1/1 lg:w-1/2 xl:w-1/2 mb-base items-stretch">
      <vx-card title="Import Task Detail">
        <div class="mb-base">
          <span class="text-sm">*) Import Data harus sesuai Template yang disediakan. <a :href="linkTemplate"><b>Download Template</b></a></span>
        </div>
        <input type="file" ref="fileInput" class="hidden" accept=".xlsx, .xls" @change="handleClick">
        <div class="row">
          <div
              @click="$refs.fileInput.click()"
              @drop="handleDrop"
              @dragover="handleDragover"
              @dragenter="handleDragover"
              class="mb-6 px-8 py-16 cursor-pointer text-center border-2 border-dashed d-theme-border-grey-light d-theme-dark-bg text-xl">
            <feather-icon icon="UploadCloudIcon" svgClasses="h-16 w-16 stroke-current text-grey" class="block"/>
            <span>Drop Excel File atau </span>
            <span class="font-medium text-primary" @click.stop="$refs.fileInput.click()">Browse</span>
          </div>
        </div>
      </vx-card>
    </div>
  </div>
</template>

<script>
import flatPickr from 'vue-flatpickr-component'
import 'flatpickr/dist/flatpickr.css'

export default {
  components: {
    flatPickr
  },
  data () {
    return {
      linkTemplate: '/template/import/task_template.xlsx',
      data: {},
      file: null,
      errorsData: {},
      configdateTimePicker: {
        dateFormat: 'Y-m-d',
        weekNumbers: true
      }
    }
  },
  computed: {
    validateForm () {
      return this.errors.count() > 0 || !(Object.keys(this.fields).some(key => this.fields[key].dirty))
    }
  },
  methods: {
    postData () {
      let formData = new FormData()
      formData.append('data', new Blob([JSON.stringify(this.data)], {type: 'application/json'}), 'data');
      formData.append('file', new Blob([this.file], {type: this.file.type}), this.file.name);
      this.$vs.loading()
      this.$store.dispatch('task/create', formData)
          .then(response => {
            this.$vs.loading.close()
            this.$vs.notify({
              title: 'Success',
              text: 'Data berhasil tersimpan',
              iconPack: 'feather',
              icon: 'icon-alert-circle',
              color: 'success',
              position: 'top-right'
            })
            this.backToList()
          })
          .catch(error => {
            this.$vs.loading.close()
            this.$vs.notify({
              title: 'Error',
              text: 'Terjadi kesalahan',
              iconPack: 'feather',
              icon: 'icon-alert-circle',
              color: 'danger',
              position: 'top-right'
            })
          })
    },
    backToList () {
      this.$router.push('/app/task').catch(() => {
      })
    },
    handleClick (e) {
      const files = e.target.files

      this.file = files[0]
      if (!this.file) return
      this.file = files[0]
    },
    handleDragover (e) {
      e.stopPropagation()
      e.preventDefault()
      e.dataTransfer.dropEffect = 'copy'
    },
    handleDrop (e) {
      e.stopPropagation()
      e.preventDefault()
      const files = e.dataTransfer.files
      if (files.length !== 1) {
        this.$vs.notify({
          title: 'Upload',
          text: 'Hanya upload 1 File',
          iconPack: 'feather',
          icon: 'icon-alert-circle',
          color: 'warning',
          position: 'top-right'
        })
        return
      }
      const rawFile = files[0] // only use files[0]
      if (!this.isExcel(rawFile)) {
        this.$vs.notify({
          title: 'Upload',
          text: 'Upload file beresktensi .xlsx, .xls, .csv',
          iconPack: 'feather',
          icon: 'icon-alert-circle',
          color: 'warning',
          position: 'top-right'
        })
        return false
      }
      this.file = files[0]
    },
    onFileChange (e) {
      let files = e.target.files || e.dataTransfer.files
      if (!files.length)
        return
      this.file = files[0]
    },
    isExcel (file) {
      return /\.(xlsx|xls|csv)$/.test(file.name)
    },
    uploadFile (file) {
      this.$refs['fileInput'].value = null
      this.readerData(file)
    }
  }


}
</script>
