<template>
    <vx-card no-shadow>
        <div class="vx-row mb-3">
            <div class="vx-col sm:w-1/2 w-full mb-2">

                <div class="search-page__search-bar flex items-center">
                    <vs-input icon-no-border placeholder="Search" v-model="filters.search"
                              class="w-full input-rounded-full" icon="icon-search" icon-pack="feather"/>
                </div>
            </div>
            <div class="vx-col sm:w-1/2 w-full mb-2 items-end"  v-can="'create-part_number'">
                <div class="search-page__search-bar flex items-center">
                    <div class="dropdown-button-container">
                        <vs-button class="btnx" type="filled" @click="popUpAddShow">Tambah
                            Part
                        </vs-button>

                        <vs-dropdown>
                            <vs-button class="btn-drop" type="filled" icon="expand_more"></vs-button>
                            <vs-dropdown-menu>
                                <vs-dropdown-item v-can="'create-part_number'">
                                    <div @click="popUpImportShow"
                                         class="flex items-center">
                                        <i class="material-icons"> publish </i>
                                        <span class="ml-3">Import Data</span>
                                    </div>
                                </vs-dropdown-item>
                                <vs-dropdown-item v-can="'read-part_number'">
                                    <div @click="downloadData"
                                         class="flex items-center">
                                        <i class="material-icons"> get_app </i>
                                        <span class="ml-3">Export Data</span>
                                    </div>
                                </vs-dropdown-item>
                            </vs-dropdown-menu>
                        </vs-dropdown>
                    </div>
<!--                    <vs-button color="primary" icon-pack="feather" icon="icon-plus" @click="popUpAddShow">Add-->
<!--                        Region-->
<!--                    </vs-button>-->
                </div>
            </div>
        </div>
        <vs-table
            :sst="true"
            @sort="handleSort"
            @selected="handleSelected"
            v-model="selected"
            max-items="5"
            :data="dataList">
            <template slot="thead">
                <vs-th sort-key="id">No</vs-th>
                <vs-th sort-key="type">Tipe</vs-th>
                <vs-th sort-key="part_number">Part Number</vs-th>
                <vs-th sort-key="description">Deskripsi</vs-th>
                <vs-th sort-key="deleted_at">Status</vs-th>
                <vs-th sort-key="created_at">Registered</vs-th>
            </template>

            <template slot-scope="{data}">
                <vs-tr :data="data" :key="index" v-for="(data, index) in dataList">
                    <vs-td :data="index">
                        {{ filters.pagination.current_page===1 ? index + 1 : index + 1 +
                        ((filters.pagination.current_page-1) * filters.pagination.per_page) }}
                    </vs-td>
                    <vs-td :data="data.type">
                        {{data.type}}
                    </vs-td>
                  <vs-td :data="data.part_number">
                        {{data.part_number}}
                    </vs-td>
                    <vs-td :data="data.description">
                        {{data.description}}
                    </vs-td>
                    <vs-td :data="data.deleted_at">
                        <div v-if="data.deleted_at">
                            <vs-chip color="warning">Inaktif</vs-chip>
                        </div>
                        <div v-if="!data.deleted_at">
                            <vs-chip color="success">Aktif</vs-chip>
                        </div>
                    </vs-td>

                    <vs-td :data="data.created_at">
                         <small>{{data.created_at | moment('DD-MM-YYYY')}}</small> - <small class="text-muted">{{data.created_at
                                        | moment('HH:mm')}}</small>
                    </vs-td>
                </vs-tr>
            </template>
        </vs-table>
        <vs-row vs-type="flex" vs-justify="space-between" v-if="dataList">
            <vs-col s-type="flex" vs-justify="center" vs-align="center" vs-w="2">
                <vs-dropdown vs-trigger-click class="cursor-pointer mt-5">
                    <div class="p-4 border border-solid d-theme-border-grey-light rounded-full d-theme-dark-bg cursor-pointer flex items-center justify-between font-medium">
                        <span class="mr-2 text-sm">{{filters.pagination.from}} -  {{filters.pagination.to}}  of {{ total }}</span>
                        <feather-icon icon="ChevronDownIcon" svgClasses="h-4 w-4" />
                    </div>
                    <!-- <vs-button class="btn-drop" type="line" color="primary" icon-pack="feather" icon="icon-chevron-down"></vs-button> -->
                    <vs-dropdown-menu>

                        <vs-dropdown-item @click="changeSize(5)">
                            <span>5</span>
                        </vs-dropdown-item>
                        <vs-dropdown-item @click="changeSize(10)">
                            <span>10</span>
                        </vs-dropdown-item>
                        <vs-dropdown-item @click="changeSize(20)">
                            <span>20</span>
                        </vs-dropdown-item>
                        <vs-dropdown-item @click="changeSize(30)">
                            <span>30</span>
                        </vs-dropdown-item>
                    </vs-dropdown-menu>
                </vs-dropdown>
            </vs-col>
            <vs-col s-type="flex" vs-justify="center" vs-align="center" vs-w="2">
                <vs-pagination :total="last_page" v-model="current_page" class="mt-5"/>
            </vs-col>
        </vs-row>

        <vs-popup class="holamundo" title="Import Data" :active.sync="popupImport" @input="onPopupImportClose">
            <input type="file" ref="fileInput" class="hidden" accept=".xlsx, .xls" @change="handleClick">
            <div class="row">
                <div
                @click="$refs.fileInput.click()"
                @drop="handleDrop"
                @dragover="handleDragover"
                @dragenter="handleDragover"
                class="mb-6 px-8 py-16 cursor-pointer text-center border-2 border-dashed d-theme-border-grey-light d-theme-dark-bg text-xl">
                <feather-icon icon="UploadCloudIcon" svgClasses="h-16 w-16 stroke-current text-grey" class="block" />
                <span>Drop Excel File atau </span>
                <span class="font-medium text-primary" @click.stop="$refs.fileInput.click()">Browse</span>
                <!-- <vs-button type="border" @click.stop="$refs.fileInput.click()">Browse</vs-button> -->
            </div>
            <div>
                <span class="text-sm">*) Import Data harus sesuai Template yang disediakan. <a :href="linkTemplate"><b>Download Template</b></a></span>
            </div>
            </div>
        </vs-popup>

        <vs-popup class="holamundo" :title="dataAdd.id ? 'Edit Part':'Tambah Part'" :active.sync="popupAddData" @input="onPopupClose">
            <form class="mt-base">
                <div class="vx-row  mb-3" v-if="dataAdd.id">
                    <div class="vx-col sm:w-1/2 w-full mb-2">
                        <vs-input class="w-full" label-placeholder="ID" v-model="dataAdd.id" disabled/>
                    </div>
                    <vs-switch color="success" v-model="!dataAdd.deleted_by" class="ml-5 mt-6">
                        <span slot="on">Aktif</span>
                        <span slot="off">Inaktif</span>
                    </vs-switch>
                </div>
              <div class="vx-col sm:w-1/2 w-full">
                <ul class="leftx">
                  <li class="modelx">
                    <vs-radio v-model="dataAdd.type" vs-value="Piece Part">Piece Part</vs-radio>
                  </li>
                  <li>
                    <vs-radio v-model="dataAdd.type" vs-value="Module">Module</vs-radio>
                  </li>
                </ul>
              </div>

              <div class="vx-row mb-3">
                <div class="vx-col w-full">
                  <vs-input class="w-full" label-placeholder="Part Number" v-model="dataAdd.part_number"
                            data-vv-validate-on="blur"
                            v-validate="'required'"
                            name="Part Number"/>
                  <small class="form-text text-danger ml-3">{{ errors.first('Part Number') }}</small>
                  <span class="text-danger text-sm ml-3" v-if="errorsData.part_number">{{ errorsData.part_number[0] }}</span>
                </div>
              </div>
                <div class="vx-row mb-3">
                    <div class="vx-col w-full">
                        <vs-input class="w-full" label-placeholder="Deskripsi" v-model="dataAdd.description"
                                  data-vv-validate-on="blur"
                                  v-validate="'required'"
                                  name="Deskripsi"/>
                        <small class="form-text text-danger ml-3">{{ errors.first('Deskripsi') }}</small>
                        <span class="text-danger text-sm ml-3" v-if="errorsData.description">{{ errorsData.description[0] }}</span>
                    </div>
                </div>

                <div class="vx-row" v-if="!dataAdd.id" v-can="'create-part_number'">
                    <vs-row vs-type="flex" vs-justify="flex-end">

                        <vs-button class="mr-3 mb-2 mt-10" color="danger" @click="popupAddData=false">
                            Cancel
                        </vs-button>
                        <vs-button :disabled="validateAddForm" class="mr-3 mb-2 mt-10" color="success" @click="create">
                            Simpan
                        </vs-button>
                    </vs-row>
                </div>
                <div class="vx-row" v-if="dataAdd.id" v-can="'update-part_number'">
                    <vs-row vs-type="flex" vs-justify="flex-end">

                        <vs-button class="mr-3 mb-2 mt-10" color="danger" type="filled" icon-pack="feather"
                                   icon="icon-trash" @click="deleteConfirm" v-if="!dataAdd.deleted_by" v-can="'delete-part_number'"></vs-button>
                        <vs-button class="mr-3 mb-2 mt-10" color="success" @click="update" v-if="!dataAdd.deleted_by" v-can="'update-part_number'">
                            Update
                        </vs-button>
                        <vs-button class="mr-3 mb-2 mt-10" color="warning" @click="recoverConfirm" v-if="dataAdd.deleted_by" v-can="'update-part_number'">Activate</vs-button>
                    </vs-row>
                </div>
            </form>

        </vs-popup>
    </vx-card>
</template>
<script>
    import axios from '@/http/axios/index'
    import {debounce} from '@/plugins/helpers'
    import service from '@/services/user.service'
    import XLSX from 'xlsx'

    export default {
        data () {
            return {
                linkTemplate: '/template/import/part_number_template.xlsx',
                dataAdd: {},
                errorsData: {},
                popupAddData: false,
                popupImport: false,
                selected: [],
                dataList: [],
                last_page: 1,
                current_page: 1,
                file: null,
                filters: {
                    pagination: {
                        from: 0,
                        to: 0,
                        total: 0,
                         per_page: 20,
                        current_page: 1,
                        last_page: 0
                    },
                    orderBy: {
                        column: 'id',
                        direction: 'asc'
                    },
                    search: ''
                },
                loading: true,
                searchQuery: '',
                total: 0

            }
        },
        computed: {
            validateAddForm () {
                return this.errors.count() > 0 || !(Object.keys(this.fields).some(key => this.fields[key].dirty))
            },
          isAdmin () {
            return localStorage.getItem('roles') === 'administrator'
          }
        },
        mounted () {
            if (localStorage.getItem('filtersTableParts')) {
                this.filters = JSON.parse(localStorage.getItem('filtersTableParts'))
                this.filters.pagination.current_page = 1
                this.filters.search = ''
            } else {
                localStorage.setItem('filtersTableParts', this.filters)
            }

            this.getdataList()
        },
        methods: {
            popUpAddShow(){
                this.dataAdd = {}
                this.popupAddData =  true
            },
            onPopupClose(){
                this.dataAdd = {}
                this.popupAddData =  false
            },
            popUpImportShow(){
                this.dataAdd = {}
                this.popupImport =  true
            },
            onPopupImportClose(){
                this.dataAdd = {}
                this.popupImport =  false
            },
            handleSearch (searching) {
                if (searching.length >= 3) {
                    this.filters.search = searching
                    this.getDataList()
                } else {
                    this.filters.search = ''
                    this.getDataList()
                }
            },
            handleChangePage (page) {
                this.filters.pagination.current_page = page
                this.getdataList()
            },
            handleSort (key, active) {
                this.sort(key, active)
            },
            getdataList () {
                this.$vs.loading()
                this.dataList = []
                this.dataAdd = {}
                localStorage.setItem('filtersTableParts', JSON.stringify(this.filters))
                this.$store.dispatch('parts/get', this.filters)
                    .then(response => {
                        this.$vs.loading.close()
                        this.dataList = response.data.data
                        this.total = response.data.total
                        this.last_page = response.data.last_page
                        delete response.data.data
                        this.filters.pagination = response.data
                        this.loading = false
                    })
                    .catch(error => {
                        this.$vs.loading.close()
                        this.errors = error.response.data.errors
                        this.$vs.notify({
                            title: 'Error',
                            text: 'Terjadi kesalahan',
                            iconPack: 'feather',
                            icon: 'icon-alert-circle',
                            color: 'danger',
                            position:'top-right'
                        })
                    })
            },
            create () {
                this.$vs.loading()
                this.$store.dispatch('parts/create', this.dataAdd)
                    .then(response => {
                        this.$vs.notify({
                            title: 'Success',
                            text: 'Data berhasil tersimpan',
                            iconPack: 'feather',
                            icon: 'icon-alert-circle',
                            color: 'success',
                            position:'top-right'
                        })
                        this.popupAddData = false
                        this.getdataList()
                    })
                    .catch(error => {
                        //this.errorsData = error.response.data.errors
                        this.$vs.notify({
                            title: 'Error',
                            text: 'Terjadi kesalahan',
                            iconPack: 'feather',
                            icon: 'icon-alert-circle',
                            color: 'danger',
                            position:'top-right'
                        })
                    })
                    .then(() => {
                        this.$vs.loading.close()
                    })

            },
            update () {
                this.$vs.loading()
                this.$store.dispatch('parts/edit', this.dataAdd)
                    .then(() => {
                        this.$vs.notify({
                            title: 'Success',
                            text: 'Data berhasil diperbaharui',
                            iconPack: 'feather',
                            icon: 'icon-alert-circle',
                            color: 'success',
                            position:'top-right'
                        })
                        this.popupAddData = false
                        this.getdataList()
                    })
                    .catch(error => {
                        //this.errorsData = error.response.data.errors
                        this.$vs.notify({
                            title: 'Error',
                            text: 'Terjadi kesalahan',
                            iconPack: 'feather',
                            icon: 'icon-alert-circle',
                            color: 'danger',
                            position:'top-right'
                        })
                    })
                    .then(() => {
                        this.$vs.loading.close()
                    })

            },
            destroy: function (parameters) {
                this.$vs.loading()
                this.$store.dispatch('parts/delete', this.dataAdd)
                    .then(response => {
                        this.$vs.notify({
                            title: 'Success',
                            text: 'Data berhasil dihapus',
                            iconPack: 'feather',
                            icon: 'icon-alert-circle',
                            color: 'success',
                            position:'top-right'
                        })
                    })
                    .then(() => {
                        this.$vs.loading.close()
                    })
                this.getdataList()
            },
            recover: function (parameters) {
                this.$vs.loading()
                this.$store.dispatch('parts/restore', this.dataAdd)
                    .then(response => {
                        this.$vs.notify({
                            title: 'Success',
                            text: 'Data berhasil dikembalikan',
                            iconPack: 'feather',
                            icon: 'icon-alert-circle',
                            color: 'success',
                            position:'top-right'
                        })
                    })
                    .then(() => {
                        this.$vs.loading.close()
                    })
                this.getdataList()
            },
            filter () {
                this.filters.pagination.current_page = 1
                this.getdataList()
            },
            changeSize (perPage) {
                this.filters.pagination.current_page = 1
                this.filters.pagination.per_page = perPage
                this.getdataList()
            },
            sort (column, sort) {
                if (column !== null) {
                    if (column == this.filters.orderBy.column) {
                        this.filters.orderBy.direction = sort == null ? 'asc' : sort
                    } else {
                        this.filters.orderBy.column = column
                        this.filters.orderBy.direction = 'asc'
                    }
                    this.getdataList()
                }
            },
            changePage (page) {
                this.filters.pagination.current_page = page
                this.getdataList()
            },
            handleSelected (tr) {
                this.dataAdd = tr
                this.popupAddData = true
            },
            deleteConfirm () {
                this.popupAddData = false
                this.$vs.dialog({
                    type: 'confirm',
                    color: 'danger',
                    title: 'Confirm',
                    text: `Are you sure want to delete ${this.dataAdd.name}?`,
                    accept: this.destroy,
                    parameters: this.dataAdd.name
                })
            },
            recoverConfirm () {
                this.popupAddData = false
                this.$vs.dialog({
                    type: 'confirm',
                    color: 'warning',
                    title: 'Confirm',
                    text: `Are you sure want to recover ${this.dataAdd.name}?`,
                    accept: this.recover,
                    parameters: this.dataAdd.name
                })
            },
            handleClick (e) {
                const files = e.target.files
                this.file = files[0]
                if (!this.file) return
                this.uploadFile(this.file)
            },
            handleDragover (e) {
                e.stopPropagation()
                e.preventDefault()
                e.dataTransfer.dropEffect = 'copy'
            },
            handleDrop (e) {
                e.stopPropagation()
                e.preventDefault()
                const files = e.dataTransfer.files
                if (files.length !== 1) {
                    this.$vs.notify({
                        title: 'Upload',
                        text: 'Hanya upload 1 File',
                        iconPack: 'feather',
                        icon: 'icon-alert-circle',
                        color: 'warning',
                        position:'top-right'
                    })
                    return
                }
                const rawFile = files[0] // only use files[0]
                if (!this.isExcel(rawFile)) {
                    this.$vs.notify({
                        title: 'Login Attempt',
                        text: 'Upload file beresktensi .xlsx, .xls, .csv',
                        iconPack: 'feather',
                        icon: 'icon-alert-circle',
                        color: 'warning',
                        position:'top-right'
                    })
                    return false
                }
                this.uploadFile(rawFile)
            },
            onFileChange(e) {
                let files = e.target.files || e.dataTransfer.files;
                if (!files.length)
                    return;
                this.file = files[0];
            },
            uploadFile(file) {
                this.$vs.loading()
                let formData = new FormData();
                formData.append('file', file);
                axios.post(`/api/master/parts/import`, formData,
                    {
                        headers: {
                            'Content-Type': 'multipart/form-data'
                        }
                    })
                    .then(response => {
                        this.$vs.loading.close()
                        this.getdataList();
                        this.popupImport = false
                        this.$vs.notify({
                            title: 'Sukses',
                            text: 'Import Data Sukses',
                            iconPack: 'feather',
                            icon: 'icon-alert-circle',
                            color: 'success',
                            position:'top-right'
                        })
                    })
                    .catch(error => {
                        this.$vs.loading.close()
                        this.popupImport = false
                        this.$vs.notify({
                            title: 'Error',
                            text: 'Terjadi kesalahan',
                            iconPack: 'feather',
                            icon: 'icon-alert-circle',
                            color: 'danger',
                            position:'top-right'
                        })
                    })

            },
            downloadData(){
                this.$vs.loading()
                this.$store.dispatch('parts/getAll')
                    .then(response => {
                        this.$vs.loading.close()
                        let dataExcel = [];
                        let data = response.data
                        if(data.length > 0){
                            for (let i = 0; i < data.length; i++) {
                                let column = {
                                    No: i+1,
                                    type: data[i].type,
                                    part_number: data[i].part_number,
                                    description: data[i].description,
                                }
                                dataExcel.push(column)
                            }
                        }
                        var dataAtm = XLSX.utils.json_to_sheet(dataExcel)
                        var wb = XLSX.utils.book_new()
                        wb.Props = {
                            Title: `Part Number`,
                            Subject: "Part Number",
                            CreatedDate: new Date()
                        };
                        XLSX.utils.book_append_sheet(wb, dataAtm, `${this.$moment(new Date()).format('YYYY_MM_DD_hh_mm')}`)
                        XLSX.writeFile(wb, `nmapp_master_part_number_${this.$moment(new Date()).format('YYYY_MM_DD_hh_mm')}.xlsx`)
                    })
                    .catch(error => {
                        console.log(error)
                        this.$vs.loading.close()
                        this.$vs.notify({
                            title: 'Error',
                            text: 'Terjadi kesalahan',
                            iconPack: 'feather',
                            icon: 'icon-alert-circle',
                            color: 'danger',
                            position:'top-right'
                        })
                    })
            }
        },
        watch: {
            current_page: function (value) {
                this.changePage(value)
            },
            'filters.search': debounce(function (newVal) {
                this.filters.pagination.current_page = 1
                this.getdataList()
            }, 1000)
        },
        destroyed() {
            localStorage.removeItem('filtersTableParts')
        }

    }
</script>

<style>
    .table.vs-table > thead > tr > th {
        background-color: white;
        position: sticky;
        position: -webkit-sticky;
        top: 0;
        z-index: 2;
    }
</style>
<style lang="scss">
    .dropdown-button-container {
        display: flex;
        align-items: center;

        .btnx {
            border-radius: 5px 0px 0px 5px;
        }

        .btn-drop {
            border-radius: 0px 5px 5px 0px;
            border-left: 1px solid rgba(255, 255, 255, .2);
        }
    }
</style>
