<template>
    <vx-card no-shadow>
        <div class="vx-row mb-3">
            <div class="vx-col sm:w-1/2 w-full mb-2">
                <div class="search-page__search-bar flex items-center">
                    <vs-input icon-no-border placeholder="Search" v-model="filters.search"
                              class="w-full input-rounded-full" icon="icon-search" icon-pack="feather"/>
                </div>
            </div>
            <div class="vx-col sm:w-1/2 w-full mb-2 items-end" v-can="'create-servicebase'">
                <div class="search-page__search-bar flex items-center">
                    <div class="dropdown-button-container">
                        <vs-button class="btnx" type="filled" @click="popUpAddShow">Tambah
                            Servicebase
                        </vs-button>

                        <vs-dropdown>
                            <vs-button class="btn-drop" type="filled" icon="expand_more"></vs-button>
                            <vs-dropdown-menu>
                                <vs-dropdown-item>
                                    <div @click="popUpImportShow"
                                         class="flex items-center">
                                        <i class="material-icons"> publish </i>
                                        <span class="ml-3">Import Data</span>
                                    </div>
                                </vs-dropdown-item>
                                <!--<vs-dropdown-item>
                                    <div @click="$router.push('/apps/email').catch(() => {})"
                                         class="flex items-center">
                                        <i class="material-icons"> get_app </i>
                                        <span class="ml-3">Export Data</span>
                                    </div>
                                </vs-dropdown-item>-->
                            </vs-dropdown-menu>
                        </vs-dropdown>
                    </div>
                </div>
            </div>
        </div>
        <vs-table
            :sst="true"
            @sort="handleSort"
            @selected="handleSelected"
            v-model="selected"
            max-items="5"
            :data="dataList">
            <template slot="thead">
                <vs-th sort-key="id">No</vs-th>
                <vs-th sort-key="code">Kode</vs-th>
                <vs-th sort-key="name">Service Base</vs-th>
                <vs-th sort-key="region">Region</vs-th>
                <vs-th sort-key="delete_at">Status</vs-th>
                <vs-th sort-key="created_at">Registered</vs-th>
            </template>

            <template slot-scope="{data}">
                <vs-tr :data="data" :key="index" v-for="(data, index) in dataList">
                    <vs-td :data="index">
                        {{ filters.pagination.current_page===1 ? index + 1 : index + 1 +
                        ((filters.pagination.current_page-1) * filters.pagination.per_page) }}
                    </vs-td>
                    <vs-td :data="data.code">
                        {{data.code}}
                    </vs-td>
                    <vs-td :data="data.name">
                        {{data.name}}
                    </vs-td>
                    <vs-td :data="data.region">
                        <div class="flex flex-wrap items-center">
                            <div>

                               <!-- <div>
                                    {{data.region.name}}
                                </div>-->
                                <div class="text-sm">
                                    {{data.region.code}}
                                </div>
                            </div>
                        </div>

                    </vs-td>
                    <vs-td :data="data.deleted_at">
                        <div v-if="data.deleted_at">
                            <vs-chip color="warning">Inaktif</vs-chip>
                        </div>
                        <div v-if="!data.deleted_at">
                            <vs-chip color="success">Aktif</vs-chip>
                        </div>

                    </vs-td>

                    <vs-td :data="data.created_at">
                         <small>{{data.created_at | moment('DD-MM-YYYY')}}</small> - <small class="text-muted">{{data.created_at
                                        | moment('HH:mm')}}</small>
                    </vs-td>
                </vs-tr>
            </template>
        </vs-table>
        <vs-row vs-type="flex" vs-justify="space-between" v-if="dataList">
            <vs-col s-type="flex" vs-justify="center" vs-align="center" vs-w="2">
                <vs-dropdown vs-trigger-click class="cursor-pointer mt-5">
                    <div
                        class="p-4 border border-solid d-theme-border-grey-light rounded-full d-theme-dark-bg cursor-pointer flex items-center justify-between font-medium">
                        <span
                            class="mr-2">{{filters.pagination.from}} -  {{filters.pagination.to}}  of {{ total }}</span>
                        <feather-icon icon="ChevronDownIcon" svgClasses="h-4 w-4"/>
                    </div>
                    <!-- <vs-button class="btn-drop" type="line" color="primary" icon-pack="feather" icon="icon-chevron-down"></vs-button> -->
                    <vs-dropdown-menu>

                        <vs-dropdown-item @click="changeSize(5)">
                            <span>5</span>
                        </vs-dropdown-item>
                        <vs-dropdown-item @click="changeSize(10)">
                            <span>10</span>
                        </vs-dropdown-item>
                        <vs-dropdown-item @click="changeSize(20)">
                            <span>20</span>
                        </vs-dropdown-item>
                        <vs-dropdown-item @click="changeSize(30)">
                            <span>30</span>
                        </vs-dropdown-item>
                    </vs-dropdown-menu>
                </vs-dropdown>
            </vs-col>
            <vs-col s-type="flex" vs-justify="center" vs-align="center" vs-w="2">
                <vs-pagination :total="last_page" v-model="current_page" class="mt-5"/>
            </vs-col>
        </vs-row>

        <vs-popup class="holamundo" title="Import Data" :active.sync="popupImport" @input="onPopupImportClose">
            <!--<div  class="text-center w-full">
                <a :href="linkTemplate">
                    <vs-button class="mb-6" color="warning" type="relief" @click="linkTemplate">Download Template
                    </vs-button>
                </a>
            </div>-->
            <input type="file" ref="fileInput" class="hidden" accept=".xlsx, .xls" @change="handleClick">
            <div class="row">
                <div
                    @click="$refs.fileInput.click()"
                    @drop="handleDrop"
                    @dragover="handleDragover"
                    @dragenter="handleDragover"
                    class="mb-6 px-8 py-16 cursor-pointer text-center border-2 border-dashed d-theme-border-grey-light d-theme-dark-bg text-xl">
                    <feather-icon icon="UploadCloudIcon" svgClasses="h-16 w-16 stroke-current text-grey" class="block"/>
                    <span>Drop Excel File atau </span>
                    <span class="font-medium text-primary" @click.stop="$refs.fileInput.click()">Browse</span>
                    <!-- <vs-button type="border" @click.stop="$refs.fileInput.click()">Browse</vs-button> -->
                </div>
                <div>
                        <span class="text-sm">*) Import Data harus sesuai Template yang disediakan. <a :href="linkTemplate"><b>Download Template</b></a></span>
                </div>
            </div>
        </vs-popup>


        <vs-popup class="holamundo" :title="dataAdd.id ? 'Edit Servicebase':'Tambah Servicebase'"
                  :active.sync="popupAddData">
            <form>
                <div class="vx-row  mb-3" v-if="dataAdd.id">
                    <div class="vx-col sm:w-1/2 w-full mb-2">
                        <vs-input class="w-full" label-placeholder="ID" v-model="dataAdd.id" disabled/>
                    </div>
                    <vs-switch color="success" v-model="!dataAdd.deleted_by" class="ml-5 mt-6">
                        <span slot="on">Aktif</span>
                        <span slot="off">Inaktif</span>
                    </vs-switch>
                </div>
                <div class="vx-row mb-3">
                    <div class="vx-col w-full">
                        <vs-input class="w-full" label-placeholder="Kode" v-model="dataAdd.code"
                                  data-vv-validate-on="blur"
                                  v-validate="'required|min:3'"
                                  name="Kode"/>
                        <small class="form-text text-danger ml-3">{{ errors.first('Kode') }}</small>
                        <span class="text-danger text-sm ml-3" v-if="errorsData.code">{{ errorsData.code[0] }}</span>
                    </div>
                </div>
                <div class="vx-row mb-4">
                    <div class="vx-col w-full">
                        <vs-input class="w-full" label-placeholder="Nama" v-model="dataAdd.name"
                                  data-vv-validate-on="blur"
                                  v-validate="'required|min:5'"
                                  name="Nama"/>
                        <small class="form-text text-danger ml-3">{{ errors.first('Nama') }}</small>
                        <span class="text-danger text-sm ml-3" v-if="errorsData.name">{{ errorsData.name[0] }}</span>
                    </div>
                </div>
                <div>
                    <label class="ml-1 mb-4">Region</label>
                    <v-select label="name" v-model="dataAdd.region" :options="regions"/>
                    <small class="form-text text-danger"
                           v-if="errorsData.region">{{errorsData.region[0]}}</small>
                </div>
                <div class="vx-row" v-if="!dataAdd.id" v-can="'create-servicebase'">
                    <vs-row vs-type="flex" vs-justify="flex-end">
                        <vs-button class="mr-3 mb-2 mt-10" color="danger" @click="popupAddData=false">
                            Cancel
                        </vs-button>
                        <vs-button :disabled="validateAddForm" class="mr-3 mb-2 mt-10" color="success" @click="create">
                            Simpan
                        </vs-button>
                    </vs-row>
                </div>
                <div class="vx-row" v-if="dataAdd.id">
                    <vs-row vs-type="flex" vs-justify="flex-end">

                        <vs-button class="mr-3 mb-2 mt-10" color="danger" type="filled" icon-pack="feather"
                                   icon="icon-trash" @click="deleteConfirm" v-if="!dataAdd.deleted_by" v-can="'delete-servicebase'"></vs-button>

                        <vs-button class="mr-3 mb-2 mt-10" color="success" @click="update" v-if="!dataAdd.deleted_by" v-can="'update-servicebase'">
                            Update
                        </vs-button>

                        <vs-button class="mr-3 mb-2 mt-10" color="warning" @click="recoverConfirm" v-can="'update-servicebase'"
                                   v-if="dataAdd.deleted_by">Activate
                        </vs-button>
                    </vs-row>
                </div>
            </form>

        </vs-popup>
    </vx-card>
</template>
<script>
    import axios from '@/http/axios/index'
    import {debounce} from '@/plugins/helpers'
    import service from '@/services/user.service'
    import vSelect from 'vue-select'

    export default {
        components: {
            'v-select': vSelect
        },
        data () {
            return {
                linkTemplate: '/template/import/servicebase_template.xlsx',
                dataAdd: {},
                regions: [],
                popupImport: false,
                errorsData: {},
                popupAddData: false,
                selected: [],
                dataList: [],
                file: null,
                last_page: 1,
                current_page: 1,
                filters: {
                    pagination: {
                        from: 0,
                        to: 0,
                        total: 0,
                         per_page: 20,
                        current_page: 1,
                        last_page: 0
                    },
                    orderBy: {
                        column: 'id',
                        direction: 'asc'
                    },
                    search: ''
                },
                loading: true,
                searchQuery: '',
                total: 0

            }
        },
        computed: {
            validateAddForm () {
                return this.errors.count() > 0 || !(Object.keys(this.fields).some(key => this.fields[key].dirty))
            },
          isAdmin () {
            return localStorage.getItem('roles') === 'administrator'
          }
        },
        mounted () {
            if (localStorage.getItem('filtersTableServicebases')) {
                this.filters = JSON.parse(localStorage.getItem('filtersTableServicebases'))
                this.filters.pagination.current_page = 1
                this.filters.search = ''
            } else {
                localStorage.setItem('filtersTableServicebases', this.filters)
            }

            this.getdataList()
            this.getAreas()
        },
        methods: {
            popUpAddShow () {
                this.dataAdd = {}
                this.popupAddData = true
            },
            onPopupClose () {
                this.dataAdd = {}
                this.popupAddData = false
            },
            popUpImportShow () {
                this.dataAdd = {}
                this.popupImport = true
            },
            onPopupImportClose () {
                this.dataAdd = {}
                this.popupImport = false
            },
            handleSearch (searching) {
                if (searching.length >= 3) {
                    this.filters.search = searching
                    this.getDataList()
                } else {
                    this.filters.search = ''
                    this.getDataList()
                }
            },
            handleChangePage (page) {
                this.filters.pagination.current_page = page
                this.getdataList()
            },
            handleSort (key, active) {
                this.sort(key, active)
            },
            getdataList () {
                this.$vs.loading()
                this.dataList = []
                this.dataAdd = {}
                localStorage.setItem('filtersTableServicebases', JSON.stringify(this.filters))
                axios.post(`/api/master/servicebases/filter?page=${this.filters.pagination.current_page}`, this.filters)
                    .then(response => {
                        this.$vs.loading.close()
                        this.dataList = response.data.data
                        this.total = response.data.total
                        this.last_page = response.data.last_page
                        delete response.data.data
                        this.filters.pagination = response.data
                        this.loading = false
                    })
                    .catch(error => {
                        this.$vs.loading.close()
                        this.errors = error.response.data.errors
                        this.$vs.notify({
                            title: 'Error',
                            text: 'Terjadi kesalahan',
                            iconPack: 'feather',
                            icon: 'icon-alert-circle',
                            color: 'danger',
                            position:'top-right'
                        })
                    })
            },
            create () {
                this.$vs.loading()
                axios.post(`/api/master/servicebases/store/`, this.dataAdd)
                    .then(response => {
                        this.$vs.notify({
                            title: 'Success',
                            text: 'Data berhasil tersimpan',
                            iconPack: 'feather',
                            icon: 'icon-alert-circle',
                            color: 'success',
                            position:'top-right'
                        })
                        this.popupAddData = false
                        this.getdataList()
                    })
                    .catch(error => {
                        //this.errorsData = error.response.data.errors
                        this.$vs.notify({
                            title: 'Error',
                            text: 'Terjadi kesalahan',
                            iconPack: 'feather',
                            icon: 'icon-alert-circle',
                            color: 'danger',
                            position:'top-right'
                        })
                    })
                    .then(() => {
                        this.$vs.loading.close()
                    })

            },
            update () {
                this.$vs.loading()
                axios.put(`/api/master/servicebases/update/${this.dataAdd.id}`, this.dataAdd)
                    .then(response => {
                        this.$vs.notify({
                            title: 'Success',
                            text: 'Data berhasil diperbaharui',
                            iconPack: 'feather',
                            icon: 'icon-alert-circle',
                            color: 'success',
                            position:'top-right'
                        })
                        this.popupAddData = false
                        this.getdataList()
                    })
                    .catch(error => {
                        //this.errorsData = error.response.data.errors
                        this.$vs.notify({
                            title: 'Error',
                            text: 'Terjadi kesalahan',
                            iconPack: 'feather',
                            icon: 'icon-alert-circle',
                            color: 'danger',
                            position:'top-right'
                        })
                    })
                    .then(() => {
                        this.$vs.loading.close()
                    })

            },
            destroy: function (parameters) {
                this.$vs.loading()
                axios.delete(`/api/master/servicebases/${this.dataAdd.id}`)
                    .then(response => {
                        this.$vs.notify({
                            title: 'Success',
                            text: 'Data berhasil dihapus',
                            iconPack: 'feather',
                            icon: 'icon-alert-circle',
                            color: 'success',
                            position:'top-right'
                        })
                    })
                    .then(() => {
                        this.$vs.loading.close()
                    })
                this.getdataList()
            },
            recover: function (parameters) {
                this.$vs.loading()
                axios.post(`/api/master/servicebases/recover/${this.dataAdd.id}`)
                    .then(response => {
                        this.$vs.notify({
                            title: 'Success',
                            text: 'Data berhasil dikembalikan',
                            iconPack: 'feather',
                            icon: 'icon-alert-circle',
                            color: 'success',
                            position:'top-right'
                        })
                    })
                    .then(() => {
                        this.$vs.loading.close()
                    })
                this.getdataList()
            },
            getAreas () {
                axios.get(`/api/master/regions/all`)
                    .then(response => {
                        this.regions = response.data
                    })
                    .catch(error => {
                        //this.errorsData = error.response.data.errors
                    })
            },
            filter () {
                this.filters.pagination.current_page = 1
                this.getdataList()
            },
            changeSize (perPage) {
                this.filters.pagination.current_page = 1
                this.filters.pagination.per_page = perPage
                this.getdataList()
            },
            sort (column, sort) {
                if (column !== null) {
                    if (column == this.filters.orderBy.column) {
                        this.filters.orderBy.direction = sort == null ? 'asc' : sort
                    } else {
                        this.filters.orderBy.column = column
                        this.filters.orderBy.direction = 'asc'
                    }
                    this.getdataList()
                }
            },
            changePage (page) {
                this.filters.pagination.current_page = page
                this.getdataList()
            },
            handleSelected (tr) {
                this.dataAdd = tr
                this.popupAddData = true
            },
            addData () {

            },
            deleteConfirm () {
                this.popupAddData = false
                this.$vs.dialog({
                    type: 'confirm',
                    color: 'danger',
                    title: 'Confirm',
                    text: `Are you sure want to delete ${this.dataAdd.name}?`,
                    accept: this.destroy,
                    parameters: this.dataAdd.name
                })
            },
            recoverConfirm () {
                this.popupAddData = false
                this.$vs.dialog({
                    type: 'confirm',
                    color: 'warning',
                    title: 'Confirm',
                    text: `Are you sure want to recover ${this.dataAdd.name}?`,
                    accept: this.recover,
                    parameters: this.dataAdd.name
                })
            },
            handleClick (e) {
                const files = e.target.files
                this.file = files[0]
                if (!this.file) return
                this.uploadFile(this.file)
            },
            handleDragover (e) {
                e.stopPropagation()
                e.preventDefault()
                e.dataTransfer.dropEffect = 'copy'
            },
            handleDrop (e) {
                e.stopPropagation()
                e.preventDefault()
                const files = e.dataTransfer.files
                if (files.length !== 1) {
                    this.$vs.notify({
                        title: 'Upload',
                        text: 'Hanya upload 1 File',
                        iconPack: 'feather',
                        icon: 'icon-alert-circle',
                        color: 'warning',
                        position:'top-right'
                    })
                    return
                }
                const rawFile = files[0] // only use files[0]
                if (!this.isExcel(rawFile)) {
                    this.$vs.notify({
                        title: 'Upload',
                        text: 'Upload file beresktensi .xlsx, .xls, .csv',
                        iconPack: 'feather',
                        icon: 'icon-alert-circle',
                        color: 'warning',
                        position:'top-right'
                    })
                    return false
                }
                this.uploadFile(rawFile)
            },
            onFileChange (e) {
                let files = e.target.files || e.dataTransfer.files
                if (!files.length)
                    return
                this.file = files[0]
            },
            uploadFile (file) {
                this.$vs.loading()
                let formData = new FormData()
                formData.append('file', file)
                axios.post(`/api/master/servicebases/import`, formData,
                    {
                        headers: {
                            'Content-Type': 'multipart/form-data'
                        }
                    })
                    .then(response => {
                        this.$vs.loading.close()
                        this.getdataList()
                        this.popupImport = false
                        this.$vs.notify({
                            title: 'Sukses',
                            text: 'Import Data Sukses',
                            iconPack: 'feather',
                            icon: 'icon-alert-circle',
                            color: 'success',
                            position:'top-right'
                        })
                    })
                    .catch(error => {
                        this.$vs.loading.close()
                        this.file = null
                        this.popupImport = false
                        this.$vs.notify({
                            title: 'Error',
                            text: 'Terjadi kesalahan',
                            iconPack: 'feather',
                            icon: 'icon-alert-circle',
                            color: 'danger',
                            position:'top-right'
                        })
                    })
            }
        },
        watch: {
            current_page: function (value) {
                this.changePage(value)
            },
            'filters.search': debounce(function (newVal) {
                this.filters.pagination.current_page = 1
                this.getdataList()
            }, 1000)
        },
        destroyed() {
            localStorage.removeItem('filtersTableServicebases')
        }

    }
</script>

<style>
    .table.vs-table > thead > tr > th {
        background-color: white;
        position: sticky;
        position: -webkit-sticky;
        top: 0;
        z-index: 2;
    }
</style>
<style lang="scss">
    .dropdown-button-container {
        display: flex;
        align-items: center;

        .btnx {
            border-radius: 5px 0px 0px 5px;
        }

        .btn-drop {
            border-radius: 0px 5px 5px 0px;
            border-left: 1px solid rgba(255, 255, 255, .2);
        }
    }
</style>
