<template>
  <div id="parentx" ref="parentSidebar">
    <div class="vx-row mb-3 p-5">
      <vx-card card-border no-shadow>
        <div class="vx-row mb-3">
          <div class="vx-col sm:w-2/3 w-full">
            <div class="vx-row">
              <div class="search-page__search-bar flex sm:w-3/4 ml-4">
                <vs-input v-model="filters.search" class="w-full input-rounded-full mr-2" icon="icon-search"
                          icon-no-border icon-pack="feather"
                          placeholder="Search"/>
                <vs-dropdown class="mr-2">
                  <feather-icon
                      class="p-2 shadow-drop rounded-lg d-theme-dark-bg cursor-pointer"
                      icon="MenuIcon"
                      @click="currentItemView='item-grid'"/>
                  <vs-dropdown-menu>
                    <vs-dropdown-item>
                      <div class="flex items-center"
                           @click="dialogDownloadShow">
                        <i class="material-icons"> get_app </i>
                        <span class="ml-3 lg:whitespace-no-wrap">Download Data</span>
                      </div>
                    </vs-dropdown-item>
                    <!--<vs-dropdown-item>
                        <div @click="$router.push('/apps/email').catch(() => {})"
                             class="flex items-center">
                            <i class="material-icons"> get_app </i>
                            <span class="ml-3">Export Data</span>
                        </div>
                    </vs-dropdown-item>-->
                  </vs-dropdown-menu>
                </vs-dropdown>

              </div>
            </div>
          </div>
          <div v-if="dataList.length>0" class="vx-col sm:w-1/3 w-full items-end">
            <vs-row vs-justify="flex-end" vs-type="flex">
              <vs-dropdown class="cursor-pointer" vs-trigger-click>
                <div
                    class="p-4 border border-solid d-theme-border-grey-light rounded-full d-theme-dark-bg cursor-pointer flex items-center justify-between font-medium">
                        <span
                            class="mr-2">{{ filters.pagination.from }} -  {{ filters.pagination.to }}  of {{
                            total
                          }}</span>
                  <feather-icon icon="ChevronDownIcon" svgClasses="h-4 w-4"/>
                </div>
                <!-- <vs-button class="btn-drop" type="line" color="primary" icon-pack="feather" icon="icon-chevron-down"></vs-button> -->
                <vs-dropdown-menu>

                  <vs-dropdown-item @click="changeSize(10)">
                    <span>10</span>
                  </vs-dropdown-item>
                  <vs-dropdown-item @click="changeSize(20)">
                    <span>20</span>
                  </vs-dropdown-item>
                  <vs-dropdown-item @click="changeSize(50)">
                    <span>50</span>
                  </vs-dropdown-item>
                  <vs-dropdown-item @click="changeSize(100)">
                    <span>100</span>
                  </vs-dropdown-item>
                </vs-dropdown-menu>
              </vs-dropdown>
            </vs-row>
          </div>
        </div>
        <b-row class="col-12">
          <b-col class="col-4">
            <el-date-picker v-model="filters.advance.start_end"
                            :default-time="['00:00:00', '23:59:59']"
                            end-placeholder="Akhir"
                            range-separator="-"
                            size="mini" start-placeholder="Mulai"
                            style="width: 100%;"
                            type="daterange">
            </el-date-picker>
          </b-col>
          <b-col v-if="getRole !== 'customer'" class="col-4">
            <customer-selector2 :model="filters.advance" full mini name="customer_id"
                                placeholder="Customer"></customer-selector2>
          </b-col>
          <b-col class="col-4">
            <el-checkbox-group v-model="filters.advance.status" size="mini">
              <el-checkbox-button label="open">Open</el-checkbox-button>
              <el-checkbox-button label="close">Close</el-checkbox-button>
            </el-checkbox-group>
          </b-col>

        </b-row>
        <b-row class="col-12 mt-2">
          <b-col class="col-4" v-if="getRole !== 'customer'">
            <user-selector2 :model="filters.advance" full mini name="user_id" placeholder="Engineer"></user-selector2>
          </b-col>
        </b-row>
      </vx-card>

    </div>
    <template>
      <vs-table
          v-model="selected"
          :data="dataList"
          :sst="true"
          @selected="handleSelected"
          @sort="handleSort">
        <template #thead>
          <vs-th sort-key="id">No</vs-th>
          <vs-th sort-key="work_order">Work Order</vs-th>
          <vs-th sort-key="location_id">ATM</vs-th>
          <vs-th sort-key="checkin_time">Tanggal</vs-th>
          <vs-th v-if="isAdmin" sort-key="user_id">Engineer</vs-th>
          <vs-th sort-key="photo_ar">Status</vs-th>
        </template>

        <template slot-scope="{data}">
          <vs-tr v-for="(data, index) in dataList" :key="index" :data="data">
            <vs-td :data="index">
              {{
                filters.pagination.current_page === 1 ? index + 1 : index + 1 +
                    ((filters.pagination.current_page - 1) * filters.pagination.per_page)
              }}
            </vs-td>
            <vs-td :data="data.work_order">
              {{ data.work_order }}
            </vs-td>
            <vs-td :data="data.location">
              <div class="vx-col w-full flex-no-wrap">
                <div class="vx-row">
                  <div class="vx-col sm:w-1/4 w-full">
                    <label class="text-sm font-semibold">S/N</label>
                  </div>
                  <div class="vx-col">
                    <small>{{ data.location ? data.location.serial_number : '' }} </small>
                  </div>
                </div>
                <div class="vx-row">
                  <div class="vx-col sm:w-1/4 w-full">
                    <label class="text-sm font-semibold">ID Mesin</label>
                  </div>
                  <div class="vx-col">
                    <small>{{ data.location ? data.location.mc_id : '' }} </small>
                  </div>
                </div>
                <div class="vx-row">
                  <div class="vx-col sm:w-1/4 w-full">
                    <label class="text-sm font-semibold">Lokasi</label>
                  </div>
                  <div class="vx-col text-ellipsis">
                    <small>{{ data.location ? data.location.location_name : '' }} </small>
                  </div>
                </div>
                <div v-if="roleName !== 'customer'" class="vx-row">
                  <div class="vx-col sm:w-1/4 w-full">
                    <label class="text-sm font-semibold">Customer</label>
                  </div>
                  <div class="vx-col">
                    <small>{{ data.location ? data.location.customer.name : '' }} </small>
                  </div>
                </div>
              </div>
            </vs-td>
            <vs-td :data="data.created_at">
              <div class="vx-col w-full">
                <div class="vx-row">
                  <div class="vx-col sm:w-1/4 w-full">
                    <label class="text-sm font-semibold">Mulai</label>
                  </div>
                  <div v-if="data.checkin_time" class="vx-col flex-wrap">
                    <small class="ml-3">{{ data.checkin_time | moment('DD-MM-YYYY') }}</small> -
                    <small
                        class="text-muted">{{
                        data.checkin_time
                            | moment('HH:mm')
                      }}</small>
                  </div>
                  <div v-else class="vx-col flex-wrap">
                    <small class="ml-3">{{ data.created_at | moment('DD-MM-YYYY') }}</small> -
                    <small
                        class="text-muted">{{
                        data.created_at
                            | moment('HH:mm')
                      }}</small>
                  </div>
                </div>
                <div class="vx-row">
                  <div class="vx-col sm:w-1/4 w-full">
                    <label class="text-sm font-semibold">Selesai</label>
                  </div>
                  <div v-if="data.checkout_time" class="vx-col flex-wrap">
                    <small class="ml-3">{{ data.checkout_time | moment('DD-MM-YYYY') }}</small> -
                    <small
                        class="text-muted">{{
                        data.checkout_time
                            | moment('HH:mm')
                      }}</small>
                  </div>
                  <div v-else class="vx-col flex-wrap">
                    <small class="ml-3">-</small>
                  </div>
                </div>
              </div>

            </vs-td>
            <vs-td v-if="isAdmin" :data="data.user_id">
              <div class="flex flex-wrap items-center">
                <div>
                  <div>
                    <label class="text-sm">{{ data.user.name }}</label>
                  </div>
                  <div v-if="data.user.ce_code != null" class="text-sm">
                    {{ data.user.ce_code }}
                  </div>
                  <div v-else class="text-sm">
                    {{ data.user.email }}
                  </div>
                </div>
              </div>
            </vs-td>
            <vs-td :data="data.photo_ar">
              <div v-if="!data.photo_ar">
                <vs-chip color="warning">OPEN</vs-chip>
              </div>
              <div v-else>
                <vs-chip color="success">CLOSE</vs-chip>
              </div>
            </vs-td>

            <!--<template #expand>
                <div class="con-content">
                    <div class="vx-row">
                        <div class="vx-col sm:w-1/2 w-full items-start">
                            <div class="flex flex-wrap">
                                <vs-avatar :src="data.user.avatar_url" size="40px" class="mr-4"/>
                                <div>
                                    <div>
                                        {{data.user.name}}
                                    </div>
                                    <div class="text-sm">
                                        {{data.user.email}}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="vx-col sm:w-1/2 w-full">
                            <div class="vx-row">

                            </div>
                        </div>
                    </div>
                </div>
            </template>-->
          </vs-tr>
        </template>
      </vs-table>
    </template>

    <vs-row v-if="dataList" vs-justify="space-between" vs-type="flex">
      <vs-col s-type="flex" vs-align="center" vs-justify="center" vs-w="2">

      </vs-col>
      <vs-col s-type="flex" vs-align="center" vs-justify="center" vs-w="2">
        <vs-pagination v-model="current_page" :total="last_page" class="mt-5"/>
      </vs-col>
    </vs-row>

    <vs-button v-can="'create-visit'" class="add-data" color="primary" icon="icon-plus" icon-pack="feather"
               @click="addData">Tambah Data
    </vs-button>

    <el-dialog
        :title="`Download Site Visit Log`"
        :visible.sync="dialogDownload"
        modal-append-to-body
        width="60%">
      <b-row class="col-12 mt-10 mb-10">
        <b-col class="col-12 mt-3">
          <el-date-picker v-model="report.start_end"
                          :default-time="['00:00:00', '23:59:59']"
                          end-placeholder="Akhir"
                          range-separator="-"
                          start-placeholder="Mulai"
                          style="width: 100%;"
                          type="daterange">
          </el-date-picker>
        </b-col>
        <b-col v-if="getRole !== 'customer'" class="col-12 mt-3">
          <customer-selector2 :model="report" full name="customer_id" placeholder="Customer"></customer-selector2>
        </b-col>
        <b-col v-if="getRole !== 'customer'" class="col-12 mt-3">
          <user-selector2 :model="report" full name="user_id" placeholder="Engineer"></user-selector2>
        </b-col>
      </b-row>
      <span slot="footer" class="dialog-footer">
         <vs-button color="warning" @click="dialogDownloadHide">Close</vs-button>
         <vs-button color="primary" @click="getReport">Download Report</vs-button>
<!--         <vs-button color="primary" @click="getReport2">Via Email</vs-button>-->
      </span>
    </el-dialog>

  </div>
</template>

<script>
import axios from '@/http/axios/index'
import {debounce} from '@/plugins/helpers'
import Datepicker from 'vuejs-datepicker'
import XLSX from 'xlsx'
import AreaSelector from '../../components/AreaSelector.vue'
import CustomerSelector2 from '../../components/CustomerSelector2.vue'
import UserSelector2 from '../../components/UserSelector2.vue'
import vSelect from 'vue-select'

export default {
  components: {
    ItemGrid: () => import('./component/ItemGrid.vue'),
    Datepicker,
    AreaSelector,
    CustomerSelector2,
    UserSelector2,
    'v-select': vSelect
  },
  data () {
    let sd = this.$moment().startOf('month').format('YYYY-MM-DD')
    let ed = this.$moment().format('YYYY-MM-DD')
    return {
      currentItemView: 'item-list',
      routeAdd: '/add',
      addPermission: false,
      sideBarFilter: false,
      dataExport: {
        startDate: null,
        endDate: null
      },
      dataList: [],
      selected: [],
      statusList: ['ALL', 'OPEN', 'CLOSE'],
      last_page: 1,
      current_page: 1,
      filters: {
        status: 'ALL',
        role: '',
        advance: {
          status: ['open', 'close'],
          customer_id: '',
          location_id: '',
          start_end: '',
          user_id: '',
          tipe_kunjungan: ''
        },
        pagination: {
          from: 0,
          to: 0,
          total: 0,
          per_page: 9,
          current_page: 1,
          last_page: 0
        },
        orderBy: {
          column: 'id',
          direction: 'desc'
        },
        search: '',
        month: ''
      },
      report: {
        customer_id: '',
        location_id: '',
        start_end: '',
        user_id: '',
        role: ''
      },
      filterTahun: true,
      monthSelected: ed,
      loading: true,
      searchQuery: '',
      total: 0,
      roleName: null,
      dialogDownload: false,
      dateRange: {
        startDate: sd,
        endDate: ed
      }

    }
  },
  computed: {
    getRole () {
      return localStorage.getItem('roles')
    },
    isAdmin () {
      return localStorage.getItem('roles') === 'administrator'
    },
    isUser () {
      return localStorage.getItem('roles') === 'engineer' || localStorage.getItem('roles') === 'supervisor'
    },
    isCustomer () {
      return localStorage.getItem('roles') === 'customer'
    },
    isVendor () {
      return localStorage.getItem('roles') === 'vendor'
    },
    windowWidth () {
      return this.$store.state.windowWidth
    },
    baseUrl () {
      return window.location.origin
    },
    userInfo () {
      return JSON.parse(localStorage.getItem('userInfo'))
    },
    permission () {
      return JSON.parse(localStorage.getItem('permission'))
    }
  },
  mounted () {
    this.filters.status = 'ALL'
    const param = this.$route.params
    if (param.status) {
      this.filters.status = param.status
      if (param.status === 'TOTAL') {
        this.filters.status = 'ALL'
      }
    }

    this.roleName = localStorage.getItem('roles')
    if (this.roleName !== 'customer') {
      this.addPermission = true
    }
    if (this.roleName === 'engineer') {
      this.routeAdd = 'add/'
    }
    this.getdataList()
  },
  methods: {
    dialogDownloadShow () {
      this.dialogDownload = true
    },
    dialogDownloadHide () {
      this.dialogDownload = false
    },
    handleSearch (searching) {
      if (searching.length >= 3) {
        this.filters.search = searching
        this.getDataList()
      } else {
        this.filters.search = ''
        this.getDataList()
      }
    },
    handleChangePage (page) {
      this.filters.pagination.current_page = page
      this.getdataList()
    },
    handleSort (key, active) {
      this.sort(key, active)
    },
    getdataList () {
      this.$store.dispatch('getNotification')
      this.$vs.loading()
      this.dataList = []
      if (this.filterTahun) {
        this.filters.month = this.$moment(this.monthSelected).format('YYYY-MM-DD')
      } else {
        this.filters.month = null
      }
      this.filters.role = this.getRole
      axios.post(`/api/visits/filter2?page=${this.filters.pagination.current_page}`, this.filters)
          .then(response => {
            this.$vs.loading.close()
            this.dataList = response.data.data
            this.total = response.data.total
            this.last_page = response.data.last_page
            delete response.data.data
            this.filters.pagination = response.data
            this.loading = false
          })
          .catch(error => {
            this.$vs.loading.close()
            this.errors = error.response.data.errors
            this.$vs.notify({
              title: 'Error',
              text: 'Terjadi kesalahan',
              iconPack: 'feather',
              icon: 'icon-alert-circle',
              color: 'danger',
              position: 'top-right'
            })
          })
    },
    filter () {
      this.filters.pagination.current_page = 1
      this.getdataList()
    },
    changeSize (perPage) {
      this.filters.pagination.current_page = 1
      this.filters.pagination.per_page = perPage
      this.getdataList()
    },
    sort (column, sort) {
      if (column !== null) {
        if (column == this.filters.orderBy.column) {
          this.filters.orderBy.direction = sort == null ? 'asc' : sort
        } else {
          this.filters.orderBy.column = column
          this.filters.orderBy.direction = 'asc'
        }
        this.getdataList()
      }
    },
    changePage (page) {
      this.filters.pagination.current_page = page
      this.getdataList()
    },
    handleSelected (tr) {
      if (this.permission.find((e) => e === 'delete-visit')) {
        this.$router.push({
          name: 'admin-visit-detail',
          params: {id: tr.id}
        }).catch(() => {
        })
      } else {
        if (this.isCustomer) {
          this.$router.push({
            name: 'app-visit-view',
            params: {id: tr.id}
          }).catch(() => {
          })
        } else {
          if (tr.checkout_time != null && tr.photo_ar != null) {
            this.$router.push({
              name: 'app-visit-view',
              params: {id: tr.id}
            }).catch(() => {
            })
          } else {
            this.$router.push({
              name: 'app-visit-ubah',
              params: {id: tr.id}
            }).catch(() => {
            })
          }
        }

      }
    },
    addData () {
      if (localStorage.getItem('roles') !== 'engineer') {
        this.$router.push('/app/visit/add').catch(() => {
        })
      } else {
        this.$router.push('/app/visit/add').catch(() => {
        })
      }
    },
    getReport () {
      this.$vs.loading()
      this.dataExport.startDate = this.$moment(this.dateRange.startDate).format('YYYY-MM-DD')
      this.dataExport.endDate = this.$moment(this.dateRange.endDate).format('YYYY-MM-DD')
      this.report.role = this.getRole

      axios.post(`/api/visits/getReport`, this.report)
          .then(response => {
            this.report = {
              customer_id: '',
              location_id: '',
              start_end: '',
              user_id: '',
              role: ''
            }
            let dataExcel = []
            let dataParts = []
            let data = response.data.data
            let i = 0
            if (data.length > 0) {
              // for (let i = 0; i < data.length; i++) {
              data.forEach((visit) => {

                /*const location = data[i].location
                const servicebase = location.servicebase_name
                const region = location.region_name

                let column = {
                    No: i + 1,
                    Work_Order: data[i].work_order,
                    Serial_Number: data[i].location ? data[i].location.serial_number : '-',
                    Mesin_ID: data[i].location ? data[i].location.mc_id : '-',
                    Customer: location.customer.name,
                    Model: data[i].location ? data[i].location.model : '-',
                    Tipe_Kunjungan: data[i].tipe_kunjungan,
                    Problem_Reported: data[i].detail_kunjungan ? data[i].detail_kunjungan : '-',
                    ID_CE: data[i].user ? data[i].user.ce_code ? data[i].user.ce_code : data[i].user.username : '-',
                    Nama_Lokasi: location.name,
                    Servicebase: servicebase,
                    Region: region,
                    Penglola: data[i].pengelola,
                    Penglola_PIC: data[i].pengelola_pic,
                    Penglola_PIC_Number: data[i].pengelola_phone,
                    Tanggal_Input: data[i].created_at ? this.$moment(data[i].created_at).format('YYYY-MM-DD HH:mm:ss') : '-',
                    Tanggal_Mulai: data[i].checkin_time ? this.$moment(data[i].checkin_time).format('YYYY-MM-DD HH:mm:ss') : '-',
                    Tanggal_Selesai: data[i].checkout_time ? this.$moment(data[i].checkout_time).format('YYYY-MM-DD HH:mm:ss') : '-',
                    //Photo_Selfie: data[i].photo ? `=HYPERLINK("${this.baseUrl}${data[i].photo}" ; "${this.baseUrl}${data[i].photo}")` : "-",
                    //Photo_SN: data[i].photo_sn ?`=HYPERLINK("${this.baseUrl}${data[i].photo_sn}" ; "${this.baseUrl}${data[i].photo_sn}")` : "-",
                    //Activity_Report: data[i].photo_ar ? `=HYPERLINK("${this.baseUrl}${data[i].photo_ar}" ; "${this.baseUrl}${data[i].photo_ar}")` : "-
                    Photo_Selfie: data[i].photo ? `${this.baseUrl}${data[i].photo}` : '-',
                    Photo_SN: data[i].photo_sn ? `${this.baseUrl}${data[i].photo_sn}` : '-',
                    Activity_Report: data[i].photo_ar ? `${this.baseUrl}${data[i].photo_ar}` : '-',
                    Latitude: data[i].latitude ? data[i].latitude : '-',
                    Longitude: data[i].longitude ? data[i].longitude : '-',
                    Alamat: data[i].location ?data[i].location.address ? data[i].location.address : '-' : '-',
                    Kota: data[i].location ?data[i].location.city ? data[i].location.city : '-' : '-',
                    Kodepos: data[i].location ?data[i].location.postal ? data[i].location.postal : '-' : '-',
                }*/
                i++
                let column = {
                  No: i,
                  Work_Order: visit.workorder,
                  Serial_Number: visit.sn,
                  Mesin_ID: visit.mc_id,
                  Customer: visit.customer,
                  Model: visit.model,
                  Tipe_Kunjungan: visit.type,
                  Problem_Reported: visit.problem,
                  ID_CE: visit.ce,
                  Nama_Lokasi: visit.name,
                  Servicebase: visit.servicebase,
                  Region: visit.region,
                  Pengelola: visit.pengelola,
                  Penglola_PIC: visit.pic,
                  Penglola_PIC_Number: visit.phone,
                  Tanggal_Input: visit.input ? this.$moment(visit.input).format('YYYY-MM-DD HH:mm:ss') : '-',
                  Tanggal_Mulai: visit.checkin ? this.$moment(visit.checkin).format('YYYY-MM-DD HH:mm:ss') : '-',
                  Tanggal_Selesai: visit.checkout ? this.$moment(visit.checkout).format('YYYY-MM-DD HH:mm:ss') : '-',
                  //Photo_Selfie: visit.photo ? `=HYPERLINK("${this.baseUrl}${visit.photo}" ; "${this.baseUrl}${visit.photo}")` : "-",
                  //Photo_SN: visit.photo_sn ?`=HYPERLINK("${this.baseUrl}${visit.photo_sn}" ; "${this.baseUrl}${visit.photo_sn}")` : "-",
                  //Activity_Report: visit.photo_ar ? `=HYPERLINK("${this.baseUrl}${visit.photo_ar}" ; "${this.baseUrl}${visit.photo_ar}")` : "-
                  Photo_Selfie: visit.Selfie ? this.getImageUrl(visit.Selfie) : '-',
                  Photo_SN: visit.SN ? this.getImageUrl(visit.SN) : '-',
                  Activity_Report: visit.AR ? this.getImageUrl(visit.AR) : '-',
                  Latitude: visit.latitude ? visit.latitude : '-',
                  Longitude: visit.longitude ? visit.longitude : '-',
                  Alamat: visit.address,
                  Kota: visit.city,
                  Kodepos: visit.postal,
                  Start_OnSite: visit.start_onsite ? 'Ya' : 'Tidak'
                }

                var checklist = visit.checklists
                if (checklist.length > 0) {
                  checklist.forEach((item) => {
                    var deskripsi = item.deskripsi.replace(' ', '_')
                    if (item.photo) {
                      //column[deskripsi] = `=HYPERLINK("${this.baseUrl}${checklist[x].photo}" ; "Photo")`;
                      column[deskripsi] = item.value ? `${this.getImageUrl(item.photo)} - ${item.value}` : `${this.baseUrl}${item.photo}`
                    } else {
                      //column[deskripsi] = checklist[x].value ? checklist[x].photo ? `=HYPERLINK("${this.baseUrl}${checklist[x].photo}" ; "${checklist[x].value}")` : checklist[x].value  : "-";
                      column[deskripsi] = item.value
                    }
                  })

                  /*for (let x = 0; x < checklist.length; x++) {
                      // console.log(checklist[x].deskripsi)
                      // console.log(checklist[x].value ? checklist[x].value : "-")
                      // column.Checklist = checklist[x].deskripsi
                      // column.Checklist = checklist[x].deskripsi


                  }*/
                }

                /*var parts = `data[i].`spareparts
                if (parts.length > 0) {
                    for (let x = 0; x < parts.length; x++) {

                        var pn = parts[x].part_number == null ? '-' : parts[x].part_number
                        var deskripsi = parts[x].description == null ? '-' : parts[x].description
                        var qty = parts[x].qty == null ? '-' : parts[x].qty
                        var type = parts[x].type == null ? '-' : parts[x].type
                        var serial_in = parts[x].serial_in == null ? '-' : parts[x].serial_in
                        var serial_out = parts[x].serial_out == null ? '-' : parts[x].serial_out
                        var photo = parts[x].photo == null ? '-' : `${this.baseUrl}${parts[x].photo}`
                        var problem = parts[x].problem == null ? '-' : parts[x].problem

                        var partColumn = {
                            Work_Order: data[i].work_order,
                            Customer: data[i].location.customer.name,
                            Tipe_Kunjungan: data[i].tipe_kunjungan,
                            ID_CE: data[i].user ? data[i].user.ce_code ? data[i].user.ce_code : data[i].user.username : '-',
                            Nama_Lokasi: data[i].location.location_name,
                            Region: data[i].location.region ? data[i].location.region.name : '-',
                            Servicebase: data[i].location.service_base ? data[i].location.service_base.name : '-',
                            Type: type,
                            Part_Number: pn,
                            Description: deskripsi,
                            QTY: qty,
                            Serial_out: serial_out,
                            Serial_in: serial_in,
                            problem: problem,
                            Photo: photo
                        }
                        //dataParts.push(partColumn)
                    }
                }*/
                dataExcel.push(column)
              })

              var dataVisit = XLSX.utils.json_to_sheet(dataExcel)
              //var partsData = XLSX.utils.json_to_sheet(dataParts)
              var wb = XLSX.utils.book_new()
              wb.Props = {
                Title: `Data Site Visit ${this.dataExport.startDate} - ${this.dataExport.endDate}`,
                Subject: 'Data Site Visit',
                Author: 'nmapp',
                CreatedDate: new Date()
              }
              XLSX.utils.book_append_sheet(wb, dataVisit, 'data_site_visit')
              //XLSX.utils.book_append_sheet(wb, partsData, 'data_parts')
              XLSX.writeFile(wb, `nmapp_data_site_visit_${this.dataExport.startDate}_${this.dataExport.endDate}.xlsx`, {bookType: 'xlsx'})
              this.dialogDownloadHide()
            } else {
              this.$vs.notify({
                title: 'Warning',
                text: 'Data tidak ditemukan',
                iconPack: 'feather',
                icon: 'icon-alert-circle',
                color: 'warning',
                position: 'top-right'
              })
            }
            this.$vs.loading.close()
          }).catch(error => {
        this.$vs.loading.close()
        console.log(error)
        this.$vs.notify({
          title: 'Error',
          text: 'Terjadi kesalahan',
          iconPack: 'feather',
          icon: 'icon-alert-circle',
          color: 'danger',
          position: 'top-right'
        })
      })
    },
    getImageUrl(url){
      return url.includes('https://drive.google.com') ? url : `${this.baseUrl}${url}`
    },
    getReport2 () {
      this.dataExport.startDate = this.$moment(this.dateRange.startDate).format('YYYY-MM-DD')
      this.dataExport.endDate = this.$moment(this.dateRange.endDate).format('YYYY-MM-DD')
      this.report.role = this.getRole
      axios.post(`/api/visits/getReport2`, this.report)
          .then(response => {
            this.report = {
              customer_id: '',
              location_id: '',
              start_end: '',
              user_id: '',
              role: ''
            }
          })
      this.$vs.notify({
        title: 'Sukses',
        text: 'Link Download akan di emailkan',
        iconPack: 'feather',
        icon: 'icon-alert-circle',
        color: 'success',
        position: 'top-right'
      })
      this.dialogDownloadHide()
    }
  },
  watch: {
    'filters.advance': {
      handler: function (params) {
        this.filters.pagination.current_page = 1
        this.getdataList()
      },
      deep: true
    },
    'monthSelected': function (value) {
      this.filters.pagination.current_page = 1
      this.getdataList()
    },
    'filterTahun': function (value) {
      this.filterTahun = value
      this.filters.pagination.current_page = 1
      this.getdataList()
    },
    current_page: function (value) {
      this.changePage(value)
    },
    'filters.search': debounce(function (newVal) {
      this.filters.pagination.current_page = 1
      this.getdataList()
    }, 1000),
    'filters.status': function (value) {
      this.filters.pagination.current_page = 1
      this.getdataList()
    }
  },
  destroyed () {
    localStorage.removeItem('filtersVisitData')
  }
}

</script>


<style lang="scss">
.add-data {
  position: fixed;
  bottom: 5%;
  right: 79px;
  z-index: 51000;
  box-shadow: 0 1px 20px 1px rgb(12, 38, 52);
}

.text-ellipsis {
  white-space: nowrap;
  width: 185px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.date-custom {
  width: 110px;
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.popup {
  width: 500px !important;
  height: 300px !important;
}


</style>
