<template>
  <div class="vx-row pl-4 pr-4">
    <vs-tabs alignment="center">
      <vs-tab label="Data">
        <div class="vx-row">
          <div class="vx-col sm:w-1/2 w-full mb-2">
            <vx-card title="Data Kunjungan" class="mb-base">
              <template slot="actions" >
                <div class="vx-row mr-1" v-can="'create-visit'">
                  <feather-icon
                                icon="EditIcon"
                                @click="isEditWo=!isEditWo"
                                class="p-2 ml-4 shadow-drop rounded-lg d-theme-dark-bg cursor-pointer hidden sm:inline-flex"
                                :svgClasses="{'text-primary stroke-current': dialogWO}"/>
                </div>
              </template>
              <div class="vx-row  mb-2" v-can="'create-visit'" v-if="isEditWo">
                <div class="vx-col sm:w-3/5 w-full">
                  <vs-input class="w-full" label-placeholder="No. Work Order"
                            v-model="data.work_order"
                            data-vv-validate-on="blur"
                            v-validate="'wo-rule'"
                            name="Work Order" v-if="!isOpenWo"/>
                  <open-wo-selector :data="data" labelVisible
                                    v-if="isOpenWo"/>
                  <small class="form-text text-danger ml-3">{{
                      errors.first('Work Order')
                    }}</small>
                  <span class="text-danger text-sm ml-3"
                        v-if="errorsData.work_order">{{ errorsData.work_order[0] }}</span>
                </div>
                <div class="vx-col sm:w-2/5 w-full mt-auto">
                  <!--                            <vs-checkbox color="danger" v-model="isOpenWo"><label class="text-sm">Outstanding WO</label></vs-checkbox>-->
                  <vs-switch color="danger" v-model="isOpenWo" class="mb-6">
                    <span slot="on">Outstading</span>
                    <span slot="off">Normal</span>
                  </vs-switch>
                </div>
              </div>
              <div class="vx-row mb-3" v-else>
                <div class="vx-col sm:w-1/3 w-full">
                  <label class="text-sm font-semibold">Work Order</label>
                </div>
                <div class="vx-col">
                  <span class="text-bold">{{ data.work_order ? data.work_order : '' }} </span>
                </div>
              </div>
              <div class="vx-row mb-3">
                <div class="vx-col sm:w-1/3 w-full">
                  <label class="text-sm font-semibold">Customer</label>
                </div>
                <div class="vx-col">
                                        <span
                                            class="text-bold">{{ data.location.customer ? data.location.customer.code : '' }} </span>
                </div>
              </div>
              <div class="vx-row mb-3">
                <div class="vx-col sm:w-1/3 w-full">
                  <label class="text-sm font-semibold">Lokasi</label>
                </div>
                <div class="vx-col text-ellipsis">
                                        <span
                                            class="text-bold">{{ data.location ? data.location.location_name : '' }} </span>
                </div>
              </div>
              <div class="vx-row mb-3">
                <div class="vx-col sm:w-1/3 w-full">
                  <label class="text-sm font-semibold">Serial Number</label>
                </div>
                <div class="vx-col text-ellipsis">
                                        <span
                                            class="text-bold">{{ data.location ? data.location.serial_number : '' }} </span>
                </div>
              </div>
              <div class="vx-row mb-3">
                <div class="vx-col sm:w-1/3 w-full">
                  <label class="text-sm font-semibold">ID Mesin</label>
                </div>
                <div class="vx-col text-ellipsis">
                  <span class="text-bold">{{ data.location ? data.location.mc_id : '' }} </span>
                </div>
              </div>
              <div class="vx-row mb-3">
                <div class="vx-col sm:w-1/3 w-full">
                  <label class="text-sm font-semibold">Tipe Kunjungan</label>
                </div>
                <div class="vx-col">
                                        <span
                                            class="text-bold">{{ data.tipe_kunjungan ? data.tipe_kunjungan : '' }} </span>
                </div>
              </div>
              <div class="vx-row mb-3">
                <div class="vx-col sm:w-1/3 w-full">
                  <label class="text-sm font-semibold">Problem Reported</label>
                </div>
                <div class="vx-col">
                                        <span
                                            class="text-bold">{{ data.detail_kunjungan ? data.detail_kunjungan : '' }} </span>
                </div>
              </div>
          <vx-card :no-shadow="true" :card-border="true">

            <div class="vx-col w-full mb-2">
              <div class="vx-row mb-3">
                <div class="vx-col sm:w-1/3 w-full">
                  <label class="text-sm font-semibold">Mulai</label>
                </div>
                <div class="vx-col flex-wrap" v-if="data.checkin_time">
                                            <span class="text-bold">{{
                                                data.checkin_time |
                                                    moment('DD-MM-YYYY')
                                              }}</span> - <span
                    class="text-muted">{{
                    data.checkin_time
                        | moment('HH:mm')
                  }}</span>
                </div>
                <div class="vx-col flex-wrap" v-else>
                                            <span class="text-bold">{{
                                                data.checkin_time |
                                                    moment('DD-MM-YYYY')
                                              }}</span> - <span
                    class="text-muted">{{
                    data.checkin_time
                        | moment('HH:mm')
                  }}</span>
                </div>
              </div>
              <div class="vx-row">
                <div class="vx-col sm:w-1/3 w-full">
                  <label class="text-sm font-semibold">Selesai</label>
                </div>
                <div class="vx-col flex-wrap" v-if="data.checkout_time">
                  <span class="text-bold">{{ data.checkout_time | moment('DD-MM-YYYY') }}</span>
                  - <span
                    class="text-muted">{{
                    data.checkout_time
                        | moment('HH:mm')
                  }}</span>
                </div>
                <div class="vx-col flex-wrap" v-else>
                  <span class="text-bold">-</span>
                </div>
              </div>
            </div>
          </vx-card>

              <div class="vx-row" v-can="'create-visit'" >
                <vs-row vs-type="flex" vs-justify="flex-end">
                  <vs-button class="mr-3 mb-2 mt-10" color="success" v-if="isEditWo"
                             @click="update">
                    Simpan
                  </vs-button>

                     <vs-button class="mr-3 mb-2 mt-10" color="danger" type="filled" icon-pack="feather" v-if="!isEditWo"
                                icon="icon-edit" @click="isEditWo=!isEditWo">Ubah Nomor WO</vs-button>

                  <vs-button class="mr-3 mb-2 mt-10" color="warning" type="filled" icon-pack="feather" v-if="isEditWo"
                             icon="icon-edit" @click="isEditWo=!isEditWo">Cancel</vs-button>
                </vs-row>
              </div>
          </vx-card>

            <vx-card title="Pengelola Mesin" class="mb-base">
              <div class="vx-col w-full flex-no-wrap">
                <div class="vx-row mb-3">
                  <div class="vx-col sm:w-1/3 w-full">
                    <label class="text-sm font-semibold">Pengelola</label>
                  </div>
                  <div class="vx-col">
                    <span class="text-bold">{{ data.pengelola ? data.pengelola : '' }} </span>
                  </div>
                </div>
                <div class="vx-row mb-3">
                  <div class="vx-col sm:w-1/3 w-full">
                    <label class="text-sm font-semibold">PIC</label>
                  </div>
                  <div class="vx-col">
                    <span class="text-bold">{{ data.pengelola_pic ? data.pengelola_pic : '' }} </span>
                  </div>
                </div>
                <div class="vx-row mb-3">
                  <div class="vx-col sm:w-1/3 w-full">
                    <label class="text-sm font-semibold">Telepon PIC</label>
                  </div>
                  <div class="vx-col mb-3">
                                        <span
                                            class="text-bold">{{ data.pengelola_phone ? data.pengelola_phone : '' }} </span>
                  </div>
                </div>
              </div>
            </vx-card>
        </div>
        <div class="vx-col sm:w-1/2 w-full mb-2">

          <vx-card title="Engineer" class="mb-base">
            <vx-card v-if="data.user" no-shadow card-border>
              <div class="flex flex-wrap items-center">
                <vs-avatar :src="data.user.avatar" size="40px" class="mr-4"/>
                <div>
                  <div>
                    {{ data.user.name }}
                  </div>
                  <div class="text-sm" v-if="data.user.ce_code != null">
                    {{ data.user.ce_code }}
                  </div>
                  <div class="text-sm" v-else>
                    {{ data.user.email }}
                  </div>
                </div>
              </div>
            </vx-card>
          </vx-card>
          <location-map :data="data" v-if="data.latitude !=null"/>

        </div>
  </div>
  <div class="vx-row">
    <div class="vx-col w-full mb-2">
      <vx-card title="Foto Kunjungan" class="mb-base">
        <div class="vx-row">
          <div class="vx-col sm:w-1/3 w-full mb-2">
            <vs-alert :active="true" color="danger" class="mb-3">
              <span>Foto Selfie</span>
            </vs-alert>
            <vx-card :no-shadow="true" :card-border="true">
              <div>
                <!--<div class=" mx-auto flex items-center justify-center responsive mb-5">
                    <input type="file" class="hidden" id="photo" ref="updateImgInput"
                           @change="updateCurrImg"
                           accept="image/*"
                           v-validate="'required'"
                           name="Foto Selfie"/>

                    <label class="vs-component vs-button vs-button-primary vs-button-filled"
                           for="photo">Upload
                        Foto Selfie</label>
                </div>-->
                <small class="form-text text-danger">{{
                    errors.first('step-1.Foto Selfie')
                  }}</small>
                <small class="form-text text-danger"
                       v-if="errorsData.photo">{{ errorsData.photo[0] }}</small>
                <div
                    class="img-container w-64 mx-auto flex items-center justify-center responsive"
                    v-if="data.photo">
                  <expandable-image :src="data.photo" v-bind:alt="data.photo"
                                    class="responsive"
                                    :close-on-background-click="true"/>
                </div>
              </div>
            </vx-card>
          </div>
          <div class="vx-col sm:w-1/3 w-full mb-2">
            <vs-alert :active="true" color="danger" class="mb-3">
              <span>Foto Serial Number</span>
            </vs-alert>
            <vx-card :no-shadow="true" :card-border="true">
              <div>
                <!--<div class=" mx-auto flex items-center justify-center responsive mb-5">
                    <input type="file" class="hidden" id="photo_sn" ref="updateImgInput"
                           @change="updateCurrImgAr"
                           accept="image/*"
                           v-validate="'required'"
                           name="Foto Serial Number"/>

                    <label class="vs-component vs-button vs-button-primary vs-button-filled"
                           for="photo_sn">Upload Foto Serial Number</label>
                </div>-->
                <small class="form-text text-danger">{{ errors.first('step-1.Foto Serial Number') }}</small>
                <small class="form-text text-danger"
                       v-if="errorsData.photo_sn">{{ errorsData.photo_sn[0] }}</small>
                <div
                    class="img-container w-64 mx-auto flex items-center justify-center responsive"
                    v-if="data.photo_sn">
                  <expandable-image :src="data.photo_sn" v-bind:alt="data.photo_sn"
                                    class="responsive"
                                    :close-on-background-click="true"/>
                </div>
                <div
                    class="img-container flex items-center justify-center responsive"
                    v-else>
                  <small>Foto Serial Number belum diunggah</small>
                </div>
              </div>
            </vx-card>
          </div>
          <div class="vx-col sm:w-1/3 w-full mb-2">
            <vs-alert :active="true" color="danger" class="mb-3">
              <span>Foto Activity Report</span>
            </vs-alert>
            <vx-card :no-shadow="true" :card-border="true">
              <div>
                <!--<div class=" mx-auto flex items-center justify-center responsive mb-5">
                    <input type="file" class="hidden" id="photo_sn" ref="updateImgInput"
                           @change="updateCurrImgAr"
                           accept="image/*"
                           v-validate="'required'"
                           name="Foto Activity Repot"/>

                    <label class="vs-component vs-button vs-button-primary vs-button-filled"
                           for="photo_sn">Upload Foto Serial Number</label>
                </div>-->
                <small class="form-text text-danger">{{ errors.first('step-1.Foto Activity Repot') }}</small>
                <small class="form-text text-danger"
                       v-if="errorsData.photo_ar">{{ errorsData.photo_ar[0] }}</small>

                <div class="img-container w-64 mx-auto flex items-center justify-center responsive"
                     v-if="data.photo_ar">
                  <!--<expandable-image :src="data.photo_ar" v-bind:alt="data.photo_ar" class="responsive" :close-on-background-click="true"/>-->
                  <div class="vx-row">
                    <div class="vx-col w-full mb-2">
                      <object :data="data.photo_ar" class="img-visit"
                              @click="onDialogArShow"/>
                    </div>
                    <div class="vx-col w-full mb-2">
                      <vs-button type="filled" @click="openAr">Lihat Activity
                        Report
                      </vs-button>
                    </div>
                  </div>
                </div>
                <div
                    class="img-container flex items-center justify-center responsive"
                    v-else>
                  <small>Activity Report belum diunggah</small>
                </div>
              </div>
            </vx-card>
          </div>
        </div>

      </vx-card>
    </div>
  </div>
  </vs-tab>
  <vs-tab label="Checklist">
    <vx-card title="Checklist" class="mb-3">
      <div class="vx-row">
        <div class="items-grid-view vx-row match-height p-3">

          <div class="vx-col w-full" v-for="checklist in data.checklists"
               :key="checklist.id">
            <!--   <item-input-layout     :item="checklist"
                                      :label="checklist.deskripsi"
                                      v-validate="'required'"
                                      :error="errors.first(checklist.deskripsi)"/>-->
            <item-input-view-layout v-model="checklist.value"
                                    :item="checklist"
                                    :label="checklist.deskripsi"
                                    v-validate="'required'"
                                    :error="errors.first(checklist.deskripsi)"
            ></item-input-view-layout>
          </div>

        </div>
      </div>
    </vx-card>
  </vs-tab>
      <vs-tab label="Part">
        <part-selector :data-list="data.spareparts" :is-add="false"/>
      </vs-tab>
  </vs-tabs>
        <vs-popup fullscreen class="holamundo" title="Activity Report" :active.sync="dialogAR" @input="onDialogArClose">
            <object :data="data.photo_ar" height="500px" width="100%"/>

        </vs-popup>
    </div>
</template>


<script>
import axios from '@/http/axios/index'
import vSelect from 'vue-select'
import AtmSelector from '@/components/AtmSelector'
import imageCompression from 'browser-image-compression'
import UserSelector from '@/components/UserSelector'
import AtmEdit from '@/components/AtmEdit'
import OpenWoSelector from '@/components/OpenWoSelector'
import ItemPhotoUpload from './component/ItemPhotoUpload'
import ItemInputViewLayout from './component/ItemInputViewLayout'
import TextInput from './component/Text'
import PartSelector from './part/PartListAdd'
import LocationMap from './component/LocationMap'
import {Validator} from 'vee-validate'

Validator.extend('wo-rule', {
  getMessage: field => 'Harus dengan Format Work Order yang benar',
  validate: value => value.length == 10 && value[0] == 'W'
})
export default {
  components: {
    'v-select': vSelect,
    AtmSelector,
    UserSelector,
    OpenWoSelector,
    ItemPhotoUpload,
    ItemInputViewLayout,
    TextInput,
    AtmEdit,
    PartSelector,
    LocationMap
  },
  data () {
    return {
      data: {
        location: {},
        checklistData: [],
        photo_url: null,
        photo: null,
        photo_sn: null
      },
      dialogAR: false,
      checkList: [],
      errorsData: {},
      loading: true,
      submiting: false,
      submitingDestroy: false,
      isComplete: false,
      isEditWo: false,
      isOpenWo: false
    }
  },
  mounted () {
    this.id = this.$route.params.id
    this.getData()
    if (this.isEngineer) {
      this.data.user = JSON.parse(localStorage.getItem('userInfo'))
    }
  },
  computed: {
    validateForm () {
      return this.errors.count() > 0 || !(Object.keys(this.fields).some(key => this.fields[key].dirty))
    },
    isAdmin () {
      return localStorage.getItem('roles') === 'administrator'
    },
    isEngineer () {
      return localStorage.getItem('roles') === 'engineer'
    },
    isCustomer () {
      return localStorage.getItem('roles') === 'customer'
    }
  },
  methods: {
    openAr: function () {
      window.open(this.data.photo_ar, '_blank')
    },
    onDialogArShow () {
      this.dialogWO = true
    },
    onDialogArClose () {
      this.dialogWO = false
    },
    getData () {
      this.$vs.loading()
      this.loading = true
      axios.get(`/api/visits/${this.id}`)
          .then(response => {
            this.data = response.data
            /* this.data.checklists.sort(function (a, b) {
                 var y = a.option ? a.option : 'a'
                 var x = b.option ? b.option : 'a'
                 if (x < y) {
                     return -1
                 }
                 if (x > y) {
                     return 1
                 }
                 return 0
             })*/
          })
          .catch(error => {
            this.$vs.notify({
              title: 'Error',
              text: 'Terjadi kesalahan',
              iconPack: 'feather',
              icon: 'icon-alert-circle',
              color: 'danger',
              position: 'top-right'
            })
            this.backToList()
          })
          .then(() => {
            this.$vs.loading.close()
          })
    },
    update () {
      this.$vs.loading()
      axios.put(`/api/visits/update/${this.data.id}`, this.data)
          .then(response => {
            this.$vs.notify({
              title: 'Success',
              text: 'Data berhasil diperbaharui',
              iconPack: 'feather',
              icon: 'icon-alert-circle',
              color: 'success',
              position: 'top-right'
            })
            this.backToList()
          })
          .catch(error => {
            this.$vs.notify({
              title: 'Error',
              text: 'Error while saving data',
              iconPack: 'feather',
              icon: 'icon-alert-circle',
              color: 'danger',
              position: 'top-right'
            })
          })
          .then(() => {
            this.$vs.loading.close()
          })
    },
    checkout () {
      this.$vs.loading()
      axios.put(`/api/visits/checkout/${this.data.id}`, this.data)
          .then(response => {
            this.$vs.notify({
              title: 'Success',
              text: 'Data berhasil diperbaharui',
              iconPack: 'feather',
              icon: 'icon-alert-circle',
              color: 'success',
              position: 'top-right'
            })
            this.backToList()
          })
          .catch(error => {
            this.$vs.notify({
              title: 'Error',
              text: 'Error while saving data',
              iconPack: 'feather',
              icon: 'icon-alert-circle',
              color: 'danger',
              position: 'top-right'
            })
          })
          .then(() => {
            this.$vs.loading.close()
          })
    },
    updateCurrImg (input) {
      if (input.target.files && input.target.files[0]) {
        var imageFile = input.target.files[0]
        var options = {
          maxSizeMB: 0.5,
          maxWidthOrHeight: 1920,
          useWebWorker: true
        }
        imageCompression(imageFile, options)
            .then(file => {
              this.setItemValue(file) // write your own logic
            })
            .catch(error => {

            })
      }
    },
    updateCurrImgAr (input) {
      if (input.target.files && input.target.files[0]) {
        var imageFile = input.target.files[0]
        var options = {
          maxSizeMB: 0.5,
          maxWidthOrHeight: 1920,
          useWebWorker: true
        }
        imageCompression(imageFile, options)
            .then(file => {
              this.setItemValueAr(file) // write your own logic
            })
            .catch(error => {

            })
      }
    },
    setItemValue (input) {
      const reader = new FileReader()
      reader.onload = e => {
        this.data.photo_url = e.target.result
        this.data.photo = e.target.result
      }
      reader.readAsDataURL(input)
    },
    setItemValueAr (input) {
      const reader = new FileReader()
      reader.onload = e => {
        this.data.photo_sn = e.target.result
      }
      reader.readAsDataURL(input)
    },
    removeImage () {
      this.data.photo_url = null
      this.data.photo = null
    },
    removeImageAr () {
      this.data.photo_sn = null
    },
    backToList () {
      this.$router.push('/app/visit').catch(() => {
      })
    }
    /*getCheckList (value) {
        this.checkList = []
        axios.get(`/api/master/checklists/allByCustomer?customer_id=${value}`)
            .then(response => {
                this.checkList = response.data
            })
    }*/
  },
  watch: {
    /*'data.customer': function (value) {
        this.getCheckList(value.id)
    },
    'data': function (value) {
        for (let i = 0; i < value.checklists.length; i++) {
            value.checklists[i].isComplete = false
        }
    },*/
    /*'data.checklists': {
        handler: function (after, before) {
            console.log(after)
            for (let i = 0; i < after.length; i++) {
                var data = after[i]
                if (data.isComplete === true) {
                    this.isComplete = true
                } else {
                    this.isComplete = false

                    break
                }
            }
        },
        deep: true
    }*/
  }
}
</script>

<style scoped>
.add-data {
  position: fixed;
  bottom: 5%;
  right: 79px;
  z-index: 51000;
  box-shadow: 0 1px 20px 1px rgb(12, 38, 52);
}

.img-visit {
  width: 100%;
  height: 300px;
  object-fit: cover;
}
</style>
