<template>
    <div class="vx-row pl-4 pr-4">
        <vs-tabs alignment="center">
            <vs-tab label="Data">
                <vx-card class="mb-3">
                    <div class="vx-row">
                        <div class="vx-col lg:w-1/2 sm:w-1/2 w-full">
                            <vx-card title="Kunjungan Data" class="mb-6" :card-border="true" :no-shadow="true">
                                <div class="vx-row">
                                    <div class="vx-col w-full">
                                        <div class="vx-row mb-3">
                                            <div class="vx-col sm:w-1/3 w-full">
                                                <label class="text-xs font-semibold">Work Order</label>
                                            </div>
                                            <div class="vx-col sm:w-2/3 w-full">
                                                <span class="text-sm">{{data.work_order}}</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="vx-col w-full">
                                        <div class="vx-row mb-3">
                                            <div class="vx-col sm:w-1/3 w-full">
                                                <label class="text-xs font-semibold">Tipe Kunjungan</label>
                                            </div>
                                            <div class="vx-col sm:w-2/3 w-full">
                                                <span class="text-sm">{{data.tipe_kunjungan}}</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="vx-col w-full">
                                        <div class="vx-row mb-3">
                                            <div class="vx-col sm:w-1/3 w-full">
                                                <label class="text-xs font-semibold">Detail</label>
                                            </div>
                                            <div class="vx-col sm:w-2/3 w-full">
                                                <span class="text-sm">{{data.detail_kunjungan}}</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="vx-col w-full">
                                        <div class="vx-row mb-3">
                                            <div class="vx-col sm:w-1/3 w-full">
                                                <label class="text-xs font-semibold">Mulai</label>
                                            </div>
                                            <div class="vx-col sm:w-2/3 w-full" v-if="data.checkin_time">
                                                   <span class="text-sm">{{data.checkin_time | moment('DD-MM-YYYY')}} - {{data.checkin_time
                                            | moment('HH:mm')}}</span>
                                            <div class="vx-col sm:w-2/3 w-full" v-else>
                                                   <span class="text-sm">{{data.checkin_time | moment('DD-MM-YYYY')}} - {{data.created_at
                                            | moment('HH:mm')}}</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="vx-col w-full" v-if="data.checkout_time">
                                        <div class="vx-row mb-3">
                                            <div class="vx-col sm:w-1/3 w-full">
                                                <label class="text-xs-sm font-semibold">Selesai</label>
                                            </div>
                                            <div class="vx-col sm:w-2/3 w-full">
                                                 <span class="text-sm">{{data.checkout_time | moment('DD-MM-YYYY')}} - {{data.checkout_time
                                                | moment('HH:mm')}}</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="vx-col w-full" v-else>
                                        <div class="vx-row mb-3">
                                            <div class="vx-col sm:w-1/3 w-full">
                                                <label class="text-xs-sm font-semibold">Checkout</label>
                                            </div>
                                            <div class="vx-col sm:w-2/3 w-full">
                                                <span class="text-sm">-</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </vx-card>

                            <vx-card title="ATM" class="mb-6" :card-border="true" :no-shadow="true">
                                <div class="vx-row">
                                    <div class="vx-col w-full">
                                        <div class="vx-row mb-3">
                                            <div class="vx-col sm:w-1/3 w-full">
                                                <label class="text-xs font-semibold">Customer</label>
                                            </div>
                                            <div class="vx-col sm:w-2/3 w-full">
                                                <span class="text-sm">{{data.location ? data.location.customer.name : ''}}</span>
                                            </div>
                                        </div>
                                        <div class="vx-row mb-3">
                                            <div class="vx-col sm:w-1/3 w-full">
                                                <label class="text-xs font-semibold">Serial Number</label>
                                            </div>
                                            <div class="vx-col sm:w-2/3 w-full">
                                                <span class="text-sm">{{data.location ? data.location.serial_number : ''}}</span>
                                            </div>
                                        </div>
                                        <div class="vx-row mb-3">
                                            <div class="vx-col sm:w-1/3 w-full">
                                                <label class="text-xs font-semibold">Lokasi</label>
                                            </div>
                                            <div class="vx-col sm:w-2/3 w-full">
                                                <span class="text-sm">{{data.location ? data.location.location_name : ''}}</span>
                                            </div>
                                        </div>
                                        <div class="vx-row mb-3">
                                            <div class="vx-col sm:w-1/3 w-full">
                                                <label class="text-xs font-semibold">Pengelola</label>
                                            </div>
                                            <div class="vx-col sm:w-2/3 w-full">
                                                <span class="text-sm">{{data.pengelola}}</span>
                                            </div>
                                        </div>
                                        <div class="vx-row mb-3">
                                            <div class="vx-col sm:w-2/3 w-full ml-auto">
                                                <span class="text-sm">{{data.pengelola_pic}}</span>
                                            </div>
                                        </div>
                                        <div class="vx-row mb-3">
                                            <div class="vx-col sm:w-2/3 w-full ml-auto">
                                                <span class="text-sm">{{data.pengelola_phone}}</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </vx-card>

                        </div>
                        <div class="vx-col lg:w-1/2 sm:w-1/2 w-full">
                            <vx-card class="mb-6" :card-border="true" :no-shadow="true">
                                <div class="flex flex-wrap items-center">
                                    <vs-avatar :src="data.user ? data.user.avatar : ''" size="80px" class="mr-4"/>
                                    <div>

                                        <div>
                                            {{data.user ? data.user.display_name : '-'}}
                                        </div>
                                        <div class="text-xs">
                                            {{data.user.service_base ? data.user.service_base.name : '-'}}
                                        </div>
                                        <div class="text-xs">
                                            {{data.user.service_base ? data.user.service_base.region.name : '-'}}
                                        </div>
                                    </div>
                                </div>
                            </vx-card>
                            <vx-card class="grid-view-item mb-base overflow-hidden mb-6" :no-shadow="true">
                                <template slot="no-body">
                                    <div
                                        class="item-img-container bg-white h-64 flex items-center justify-center mb-4 cursor-pointer">
                                        <img :src="data.photo" v-bind:alt="data.work_order" class="grid-view-img"
                                             v-if="data.work_order">
                                        <img src="/images/vuexy-login-bg.jpg" class="grid-view-img" v-else>
                                    </div>
                                </template>
                            </vx-card>
                            <vx-card class="grid-view-item mb-base overflow-hidden mb-6" :no-shadow="true">
                                <template slot="no-body">
                                    <div
                                        class="item-img-container bg-white h-64 flex items-center justify-center mb-4 cursor-pointer">
                                        <img
                                            src="https://maps.googleapis.com/maps/api/staticmap?size=600x400&markers=icon%3Ahttp%3A%2F%2Fwww.google.com%2Fmapfiles%2Farrow.png%7C41.39479%2C2.148768&visible=41.320004%2C2.069526%7C41.469576%2C2.22801&key=AIzaSyDztlrk_3CnzGHo7CFvLFqE_2bUKEq1JEU&signature=WkICJTRmmI1EgDK2VJI4l9lt3qA="
                                            title=""/>
                                    </div>
                                </template>
                            </vx-card>
                        </div>
                    </div>

                </vx-card>
            </vs-tab>
            <vs-tab label="Checklist">
                <vx-card title="Checklist" class="mb-3">
                    <div class="vx-row">
                        <div class="items-grid-view vx-row match-height p-3">
                            <div class="vx-col lg:w-1/2 sm:w-1/2 w-full" v-for="checklist in data.checklists" :key="checklist.id">
                                <item-input-layout :item="checklist"/>
                            </div>
                        </div>
                    </div>
                </vx-card>
            </vs-tab>
            <vs-tab label="Photo">
                <vx-card title="Photo" class="mb-3">
                    <div class="vx-row">
                        <div class="items-grid-view vx-row match-height p-3">
                            <div class="vx-col lg:w-1/3 sm:w-1/2 w-full" v-for="item in data.photos" :key="item.id">
                                <item-photo-upload :item="item"/>
                            </div>
                        </div>
                    </div>
                </vx-card>
            </vs-tab>
        </vs-tabs>


        <vs-button color="success" class="save-data text-xs font-semibold" icon-pack="feather" icon="icon-save"
                   @click="update" v-if="savePermission">Simpan
            Data
        </vs-button>
    </div>
</template>
<style lang="scss">
    .save-data {
        position: fixed;
        bottom: 5%;
        right: 79px;
        z-index: 51000;;
    }

</style>

<script>
    import axios from '@/http/axios/index'
    import vSelect from 'vue-select'
    import ItemPhotoUpload from './component/ItemPhotoUpload'
    import ItemInputLayout from './component/ItemInputLayout'

    export default {
        components: {
            'v-select': vSelect,
            ItemPhotoUpload,
            ItemInputLayout
        },
        data () {
            return {
                id: 0,
                data: {
                },
                errorsData: {},
                loading: true,
                submiting: false,
                savePermission: false
            }
        },
        mounted () {
            this.id = this.$route.params.id
            if (localStorage.getItem('roles') !== 'customer') {
                this.savePermission = true
            }
            this.getData()
        },
        computed: {
            validateForm () {
                return this.errors.count() > 0 || !(Object.keys(this.fields).some(key => this.fields[key].dirty))
            }
        },
        methods: {
            getData () {
                this.$vs.loading()
                this.loading = true
                let str = window.location.pathname
                let res = str.split('/')
                axios.get(`/api/visits/${this.id}`)
                    .then(response => {
                        this.data = response.data
                      /*  this.data.checklists.sort(function(a, b){
                            var y = a.option ? a.option : "a";
                            var x = b.option ? b.option : "a";
                            if (x < y) {return -1;}
                            if (x > y) {return 1;}
                            return 0;
                        });*/
                    })
                    .catch(error => {
                        this.$vs.notify({
                            title: 'Error',
                            text: 'Terjadi kesalahan',
                            iconPack: 'feather',
                            icon: 'icon-alert-circle',
                            color: 'danger',
                            position:'top-right'
                        })
                        this.backToList()
                    })
                    .then(() => {
                        this.$vs.loading.close()
                    })
            },
            update () {
                this.$vs.loading()
                axios.put(`/api/visits/update/${this.data.id}`, this.data)
                    .then(response => {
                        this.$vs.notify({
                            title: 'Success',
                            text: 'Data berhasil diperbaharui',
                            iconPack: 'feather',
                            icon: 'icon-alert-circle',
                            color: 'success',
                            position:'top-right'
                        })
                        this.backToList()
                    })
                    .catch(error => {
                        this.$vs.notify({
                            title: 'Error',
                            text: 'Error while saving data',
                            iconPack: 'feather',
                            icon: 'icon-alert-circle',
                            color: 'danger',
                            position:'top-right'
                        })
                    })
                    .then(() => {
                        this.$vs.loading.close()
                    })
            },
            backToList () {
                this.$router.push('/app/visit').catch(() => {
                })
            }
        },
        watch: {}
    }
</script>

<style scoped>

</style>
