<template>
    <form-wizard color="rgba(var(--vs-primary), 1)" :title="null" :subtitle="null"
                 finishButtonText="Submit"
                 @on-complete="checkout">
        <tab-content title="Data Kunjungan" class="mb-base" :before-change="validateStep1">
            <form data-vv-scope="step-1">
                <div class="vx-row">

                        <div class="vx-col sm:w-1/2 w-full mb-2">
                            <vx-card title="Kunjungan Data" class="mb-base">
                                <!--   <div class="vx-row  mb-2">
                                       <div class="vx-col sm:w-1/2 w-full mb-2">
                                           <vs-input class="w-full" label-placeholder="ID" v-model="data.id" disabled/>
                                       </div>
                                       <div class="vx-col sm:w-1/2 w-full mb-2">
                                           <vs-switch color="success" v-model="data.is_active" class="ml-5 mt-6">
                                               <span slot="on">Aktif</span>
                                               <span slot="off">Inaktif</span>
                                           </vs-switch>
                                       </div>
                                   </div>-->
                                <div class="vx-row  mb-2">isOpenWo
                                    <div class="vx-col sm:w-3/5 w-full">
                                        <vs-input class="w-full" label-placeholder="No. Work Order"
                                                  v-model="data.work_order"
                                                  data-vv-validate-on="blur"
                                                  v-validate="'required'"
                                                  name="Work Order" v-if="!isOpenWo"/>
                                        <open-wo-selector :data="data" labelVisible
                                                          v-if="isOpenWo"/>
                                        <small class="form-text text-danger ml-3">{{
                                            errors.first('Work Order')
                                            }}</small>
                                        <span class="text-danger text-sm ml-3"
                                              v-if="errorsData.work_order">{{ errorsData.work_order[0] }}</span>
                                    </div>
                                    <div class="vx-col sm:w-2/5 w-full mt-auto">
                                        <!--                            <vs-checkbox color="danger" v-model="isOpenWo"><label class="text-sm">Outstanding WO</label></vs-checkbox>-->
                                        <vs-switch color="danger" v-model="isOpenWo" class="mb-6">
                                            <span slot="on">Outstading</span>
                                            <span slot="off">Normal</span>
                                        </vs-switch>
                                    </div>
                                </div>
                                <atm-selector :data="data" :errorsData="errorsData"></atm-selector>
                                <div class="vx-row mb-6">
                                    <div class="vx-col w-full">
                                        <label class="ml-1 mb-4">Tipe Kunjungan</label>
                                        <v-select label="name" v-model="data.tipe_kunjungan"
                                                  :options="tipeList"/>
                                        <small class="form-text text-danger"
                                               v-if="errorsData.tipe_kunjungan">{{errorsData.tipe_kunjungan[0]}}</small>
                                    </div>
                                </div>
                                <div class="vx-row mb-2">
                                    <div class="vx-col w-full">
                                        <vs-textarea class="w-full" label="Problem Reported"
                                                     v-model="data.detail_kunjungan"/>
                                        <span class="text-danger text-sm ml-3"
                                              v-if="errorsData.detail_kunjungan">{{ errorsData.detail_kunjungan[0] }}</span>
                                    </div>
                                </div>
                                <div class="vx-col w-full mb-2">
                                    <div class="vx-row">
                                        <div class="vx-col sm:w-1/4 w-full">
                                            <label class="text-sm font-semibold">Mulai</label>
                                        </div>
                                        <div class="vx-col flex-wrap" v-if="data.checkin_time">
                                            <span class="text-bold">{{data.checkin_time |
                                                moment('DD-MM-YYYY')}}</span> - <span
                                            class="text-muted">{{data.checkin_time
                                            | moment('HH:mm')}}</span>
                                        </div>
                                        <div class="vx-col flex-wrap" v-else>
                                            <span class="text-bold">{{data.created_at |
                                                moment('DD-MM-YYYY')}}</span> - <span
                                            class="text-muted">{{data.created_at
                                            | moment('HH:mm')}}</span>
                                        </div>
                                    </div>
                                    <div class="vx-row" v-if="data.checkout_time">
                                        <div class="vx-col sm:w-1/4 w-full">
                                            <label class="text-sm font-semibold">Selesai</label>
                                        </div>
                                        <div class="vx-col flex-wrap">
                                            <span class="text-bold">{{data.checkout_time | moment('DD-MM-YYYY')}}</span> - <span
                                            class="text-muted">{{data.checkout_time
                                            | moment('HH:mm')}}</span>
                                        </div>
                                    </div>
                                    <div class="vx-row" v-else>
                                        <div class="vx-col sm:w-1/4 w-full">
                                            <label class="text-sm font-semibold">Selesai</label>
                                        </div>
                                        <div class="vx-col flex-wrap">
                                            <small>-</small>
                                        </div>
                                    </div>
                                </div>
                                <div class="vx-row">
                                    <vs-row vs-type="flex" vs-justify="flex-end">
                                        <vs-button class="mr-3 mb-2 mt-10" color="success"
                                                   @click="update" v-if="!isEngineer">
                                            Simpan
                                        </vs-button>

                                        <!--   <vs-button class="mr-3 mb-2 mt-10" color="danger" type="filled" icon-pack="feather"
                                                      icon="icon-trash" @click="deleteConfirm"></vs-button>-->
                                    </vs-row>
                                </div>
                            </vx-card>
                        </div>
                        <div class="vx-col sm:w-1/2 w-full mb-2">
                            <vx-card title="Engineer" class="mb-base" v-if="!isEngineer">
                                <user-selector :data="data"/>
                            </vx-card>
                            <vx-card title="Pengelola Mesin" class="mb-base">
                                <div class="vx-row mb-2">
                                    <div class="vx-col w-full">
                                        <v-select label="name" v-model="data.pengelola"
                                                  :options="pengelolaList"/>
                                        <small class="form-text text-danger"
                                               v-if="errorsData.pengelola">{{errorsData.pengelola[0]}}</small>
                                    </div>
                                </div>
                                <div class="vx-row mb-2">
                                    <div class="vx-col w-full">
                                        <vs-input class="w-full" type="email"
                                                  label-placeholder="Nama PIC"
                                                  v-model="data.pengelola_pic"
                                                  data-vv-validate-on="blur"
                                                  v-validate="'required'"
                                                  name="Nama PIC"/>
                                        <small class="form-text text-danger ml-3">{{
                                            errors.first('Nama PIC') }}</small>
                                        <span class="text-danger text-sm ml-3"
                                              v-if="errorsData.pengelola_pic">{{ errorsData.pengelola_pic[0] }}</span>
                                    </div>
                                </div>
                                <div class="vx-row mb-2">
                                    <div class="vx-col w-full">
                                        <vs-input class="w-full" label-placeholder="Telepon"
                                                  v-model="data.pengelola_phone"/>
                                        <span class="text-danger text-sm"
                                              v-if="errorsData.pengelola_phone">{{ errorsData.pengelola_phone[0] }}</span>
                                    </div>
                                </div>
                            </vx-card>
                        </div>
                    <div class="vx-col w-full mb-2">
                        <vx-card title="Upload Foto">
                            <form>
                                <div class="vx-row">
                                    <div class="vx-col sm:w-1/2 w-full mb-2">
                                        <vs-alert :active="true" color="danger" class="mb-3"  v-if="!data.photo">
                                            <span>Foto Selfie harus diunggah</span>
                                        </vs-alert>
                                        <vx-card :no-shadow="true" :card-border="true" class="mb-base" >
                                            <div>
                                                <div class=" mx-auto flex items-center justify-center responsive mb-5">
                                                    <input type="file" class="hidden" id="photo" ref="updateImgInput"
                                                           @change="updateCurrImg"
                                                           accept="image/*"
                                                           v-validate="'required'"
                                                           name="Foto Selfie"/>

                                                    <label class="vs-component vs-button vs-button-primary vs-button-filled"
                                                           for="photo">Upload
                                                        Foto Selfie</label>
                                                </div>
                                                <small class="form-text text-danger">{{ errors.first('step-1.Foto Selfie')
                                                    }}</small>
                                                <small class="form-text text-danger"
                                                       v-if="errorsData.photo">{{errorsData.photo[0]}}</small>
                                                <div
                                                    class="img-container w-64 mx-auto flex items-center justify-center responsive"
                                                    v-if="data.photo">
                                                    <expandable-image :src="data.photo" v-bind:alt="data.photo" class="responsive" :close-on-background-click="true"/>
                                                </div>
                                            </div>
                                        </vx-card>
                                    </div>
                                    <div class="vx-col sm:w-1/2 w-full mb-2">
                                        <vs-alert :active="true" color="danger" class="mb-3" v-if="!data.photo_sn">
                                            <span>Foto Serial Number harus diunggah</span>
                                        </vs-alert>
                                        <vx-card :no-shadow="true" :card-border="true" class="mb-base" >
                                            <div>
                                                <div class=" mx-auto flex items-center justify-center responsive mb-5">
                                                    <input type="file" class="hidden" id="photo_sn" ref="updateImgInput"
                                                           @change="updateCurrImgSn"
                                                           accept="image/*"
                                                           v-validate="'required'"
                                                           name="Foto Serial Number"/>

                                                    <label class="vs-component vs-button vs-button-primary vs-button-filled"
                                                           for="photo_sn">Upload Foto Serial Number</label>
                                                </div>
                                                <small class="form-text text-danger">{{ errors.first('step-1.Foto Serial Number')
                                                    }}</small>
                                                <small class="form-text text-danger"
                                                       v-if="errorsData.photo_sn">{{errorsData.photo_sn[0]}}</small>
                                                <div
                                                    class="img-container w-64 mx-auto flex items-center justify-center responsive"
                                                    v-if="data.photo_sn">
                                                    <expandable-image :src="data.photo_sn" v-bind:alt="data.photo_sn" class="responsive" :close-on-background-click="true"/>
                                                </div>
                                            </div>
                                        </vx-card>
                                    </div>
                                </div>
                            </form>
                        </vx-card>
                    </div>
                </div>
            </form>
        </tab-content>
        <tab-content title="Checklist" class="mb-5" :before-change="validateStep2">
            <form data-vv-scope="step-2">
            <vx-card title="Checklist" class="mb-3">
                <div class="vx-row">

                        <div class="items-grid-view vx-row match-height p-3">
                            <div class="vx-col w-full" v-for="checklist in data.checklists"
                                 :key="checklist.id">
                                <item-input-layout v-model="checklist.value"
                                                   :item="checklist"
                                                   :label="checklist.deskripsi"
                                                   :error="errors.first('step-2.' + checklist.deskripsi)"/>
                            </div>

                        </div>

                </div>
            </vx-card>
            </form>
        </tab-content>
        <tab-content title="Part" class="mb-5" :before-change="validateStep2">
          <vx-card no-radius no-shadow>
            <span class="text-warning text-lg ml-1">Lewati apabila tidak ada pergantian Part</span>
          </vx-card>
          <part-selector :data-list="data.spareparts" :is-add="true"/>
        </tab-content>
        <tab-content title="Pekerjaan Selesai" class="mb-5" :before-change="validateStep3">
            <form data-vv-scope="step-3">
                <vx-card  class="mb-3">
                    <div class="vx-row items-center justify-center responsive">

                                    <div class="vx-col sm:w-1/3 w-full mb-base items-center justify-center responsive">
                                        <label class="ml-1 mb-3 text-sm">Selesai Perkerjaan</label>
                                        <flat-pickr :config="configdateTimePicker" v-model="data.checkout"
                                                    style="width: 100%"
                                                    placeholder="Tanggal Selesai"/>
                                        <span class="text-warning text-sm ml-1">Kosongkan apabila menggunakan tanggal saat ini</span>

                                    </div>

                        <vs-alert :active="true" color="danger" class="mb-3" v-if="!data.photo_ar">
                            <span>Activity Report harus diunggah</span>
                        </vs-alert>
                        <vx-card title="Activity Report" :no-shadow="true" :card-border="true" class="mb-base" >
                            <div>
                                <div class=" mx-auto flex items-center justify-center responsive mb-5">
                                    <input type="file" class="hidden" id="photo_ar" ref="updateImgInput"
                                           @change="updateCurrImgAr"
                                           accept="image/*,application/pdf"
                                           v-validate="'required'"
                                           name="Activity Repot"/>

                                    <label class="vs-component vs-button vs-button-primary vs-button-filled"
                                           for="photo_ar">Upload Activity Report</label>
                                </div>
                                <small class="form-text text-danger">{{ errors.first('step-3.Activity Repot')
                                    }}</small>
                                <small class="form-text text-danger"
                                       v-if="errorsData.photo_ar">{{errorsData.photo_ar[0]}}</small>
                                <div
                                    class="img-container mx-auto flex items-center justify-center responsive"
                                    v-if="data.photo_ar">
                                  <!--<expandable-image :src="data.photo_ar" v-bind:alt="data.photo_ar" class="responsive" :close-on-background-click="true"/>-->
                                    <object :data="data.photo_ar" width="100%" height="500"/>
                                </div>
                            </div>

                        </vx-card>
                    </div>
                </vx-card>
            </form>
        </tab-content>
    </form-wizard>

    <!--  <vs-button class="add-data" color="danger"
                 @click="checkout" :disabled="validateForm" v-if="!data.checkout_time && isEngineer">
          Checkout
      </vs-button>-->
</template>


<script>
    import axios from '@/http/axios/index'
    import vSelect from 'vue-select'
    import AtmSelector from '@/components/AtmSelector'
    import imageCompression from 'browser-image-compression'
    import UserSelector from '@/components/UserSelector'
    import OpenWoSelector from '@/components/OpenWoSelector'
    import ItemPhotoUpload from './component/ItemPhotoUpload'
    import ItemInputLayout from './component/ItemInputLayout'
    import TextInput from './component/Text'
    import {FormWizard, TabContent} from 'vue-form-wizard'
    import 'vue-form-wizard/dist/vue-form-wizard.min.css'
    import {Validator} from 'vee-validate'
    import Datepicker from 'vuejs-datepicker'
    import * as lang from 'vuejs-datepicker/src/locale'
    import flatPickr from 'vue-flatpickr-component'
    import 'flatpickr/dist/flatpickr.css'
    import PartSelector from './part/PartListAdd'

     Validator.localize('id')

    export default {
        components: {
            'v-select': vSelect,
            AtmSelector,
            UserSelector,
            OpenWoSelector,
            ItemPhotoUpload,
            ItemInputLayout,
            TextInput,
            FormWizard,
            TabContent,
            Datepicker,
            flatPickr,
            PartSelector,
        },
        data () {
            return {
                  configdateTimePicker: {
                    enableTime: true,
                    dateFormat: 'Y-m-d H:i',
                    time_24hr: true,
                    weekNumbers: true
                },
                language: 'id',
                languages: lang,
                data: {
                    location: {},
                    customer: {},
                    checklistData: [],
                    photo_url: null,
                    photo_ar_blob: null,
                    photo_ar: null,
                    photo_sn: null,
                    photo: null
                },
                id: 0,
                isOpenWo: false,
                tipeList: ['1', '2', '3', '4', 'CHGC', 'CHGF', 'CHGI', 'DEIN', 'DEPO', 'ECO', 'INST', 'OBF', 'PM', 'PMCU', 'RAST', 'RFIT', 'SPV', 'SYSM'],
                pengelolaList: ['Cabang', 'Vendor CR-FLM'],
                checkList: [],
                permissionsCount: 0,
                errorsData: {},
                loading: true,
                submiting: false,
                submitingDestroy: false,
                roles: [],
                regions: [],
                customerSelected: {search: ''},
                customers: [],
                servicebases: [],
                isEngineer: false,
                isCustomer: false,
                roleSelected: {},
                isComplete: false
            }
        },
        mounted () {
            this.id = this.$route.params.id
            this.getData()
            this.isEngineer = localStorage.getItem('roles') === 'engineer'
            if (this.isEngineer) {
                this.data.user = JSON.parse(localStorage.getItem('userInfo'))
            }
            this.getWoTypeList()
        },
        computed: {
            validateForm () {
                //console.log(this.fields)
                return this.errors.count() > 0 || !(Object.keys(this.fields).some(key => this.fields[key].dirty))
            }
        },
        methods: {
            getWoTypeList () {
                this.$store.dispatch('wo_type/all', this.filters)
                    .then(response => {
                        this.tipeList = response.data
                    })
                    .catch(error => {

                    })
            },
            validateStep1 () {
                return new Promise((resolve, reject) => {
                    this.$validator.validateAll('step-1').then(result => {
                        //console.log(result)
                        if (result) {
                            resolve(true)
                        } else {
                            reject('correct all values')
                        }
                    })
                })
            },
            validateStep2 () {
                return new Promise((resolve, reject) => {
                    this.$validator.validateAll('step-2').then(result => {
                        //console.log(result)
                        if (result) {
                            resolve(true)
                        } else {
                            reject('correct all values')
                        }
                    })
                })
            },
            validateStep3 () {
                return new Promise((resolve, reject) => {
                    this.$validator.validateAll('step-3').then(result => {
                        console.log(result)
                        if (result) {
                            resolve(true)
                        } else {
                            reject('correct all values')
                        }
                    })
                })
            },
            getData () {
                this.$vs.loading()
                this.loading = true
                let str = window.location.pathname
                let res = str.split('/')
                axios.get(`/api/visits/${this.id}`)
                    .then(response => {
                        this.data = response.data
                        this.data.customer = this.data.location.customer
                        this.data.checklists.sort(function (a, b) {
                            var y = a.option ? a.option : 'a'
                            var x = b.option ? b.option : 'a'
                            if (x < y) {
                                return -1
                            }
                            if (x > y) {
                                return 1
                            }
                            return 0
                        })
                    })
                    .catch(error => {
                        this.$vs.notify({
                            title: 'Error',
                            text: 'Terjadi kesalahan',
                            iconPack: 'feather',
                            icon: 'icon-alert-circle',
                            color: 'danger',
                            position: 'top-right'
                        })
                        this.backToList()
                    })
                    .then(() => {
                        this.$vs.loading.close()
                    })
            },
            update () {
                this.$vs.loading()
                axios.put(`/api/visits/update/${this.data.id}`, this.data)
                    .then(response => {
                        this.$vs.notify({
                            title: 'Success',
                            text: 'Data berhasil diperbaharui',
                            iconPack: 'feather',
                            icon: 'icon-alert-circle',
                            color: 'success',
                            position: 'top-right'
                        })
                        this.backToList()
                    })
                    .catch(error => {
                        this.$vs.notify({
                            title: 'Error',
                            text: 'Error while saving data',
                            iconPack: 'feather',
                            icon: 'icon-alert-circle',
                            color: 'danger',
                            position: 'top-right'
                        })
                    })
                    .then(() => {
                        this.$vs.loading.close()
                    })
            },
            checkout () {
                this.$vs.loading()
                 if (this.data.checkout) {
                    let dateTime = this.$moment(this.data.checkout).toISOString()
                    this.data.checkout_time = this.$moment(dateTime).format('YYYY-MM-DD HH:mm:ss')
                }
                axios.put(`/api/visits/checkout/${this.data.id}`, this.data)
                    .then(response => {
                        this.$vs.notify({
                            title: 'Success',
                            text: 'Data berhasil diperbaharui',
                            iconPack: 'feather',
                            icon: 'icon-alert-circle',
                            color: 'success',
                            position: 'top-right'
                        })
                        this.backToList()
                    })
                    .catch(error => {
                        this.$vs.notify({
                            title: 'Error',
                            text: 'Error while saving data',
                            iconPack: 'feather',
                            icon: 'icon-alert-circle',
                            color: 'danger',
                            position: 'top-right'
                        })
                    })
                    .then(() => {
                        this.$vs.loading.close()
                    })
            },
            updateCurrImg (input) {
                if (input.target.files && input.target.files[0]) {
                    var imageFile = input.target.files[0]
                    var options = {
                        maxSizeMB: 0.5,
                        maxWidthOrHeight: 1920,
                        useWebWorker: true
                    }
                    imageCompression(imageFile, options)
                        .then(file => {
                            this.setItemValue(file) // write your own logic
                        })
                        .catch(error => {

                        })
                }
            },
            updateCurrImgSn (input) {
                if (input.target.files && input.target.files[0]) {
                    var imageFile = input.target.files[0]
                    var options = {
                        maxSizeMB: 0.5,
                        maxWidthOrHeight: 1920,
                        useWebWorker: true
                    }
                    imageCompression(imageFile, options)
                        .then(file => {
                            this.setItemValueSn(file) // write your own logic
                        })
                        .catch(error => {

                        })
                }
            },
            updateCurrImgAr (input) {
                if (input.target.files && input.target.files[0]) {
                  const file = input.target.files[0]
                  if(file.type.includes('image')){
                    var imageFile = input.target.files[0]
                    var options = {
                      maxSizeMB: 0.5,
                      maxWidthOrHeight: 1920,
                      useWebWorker: true
                    }
                    imageCompression(imageFile, options)
                        .then(file => {
                          this.setItemValueAr(file) // write your own logic
                        })
                        .catch(error => {

                        })
                  } else {
                    this.setItemValueAr(file)
                  }
                }
            },
            setItemValue (input) {
                const reader = new FileReader()
                reader.onload = e => {
                    this.data.photo_url = e.target.result
                    this.data.photo = e.target.result
                }
                reader.readAsDataURL(input)
            },
            setItemValueSn (input) {
                const reader = new FileReader()
                reader.onload = e => {
                    this.data.photo_sn = e.target.result
                }
                reader.readAsDataURL(input)
            },
            setItemValueAr (input) {
                const reader = new FileReader()
                reader.onload = e => {
                    this.data.photo_ar = e.target.result
                }
                reader.readAsDataURL(input)
            },
            removeImage () {
                this.data.photo_url = null
                this.data.photo = null
            },
            removeImageAr () {
                this.data.photo_sn= null
            },
            backToList () {
                    this.$router.push('/app/visit').catch(() => {
                })
            },
            getCheckList (value) {
                this.checkList = []
                axios.get(`/api/master/checklists/allByCustomer?customer_id=${value}`)
                    .then(response => {
                        this.checkList = response.data
                    })
            }
        },
        watch: {
            'data.customer': function (value) {
                this.getCheckList(value.id)
            },
            'data': function (value) {
                for (let i = 0; i < value.checklists.length; i++) {
                    value.checklists[i].isComplete = false
                }
            },
            /*'data.checklists': {
                handler: function (after, before) {
                    console.log(after)
                    for (let i = 0; i < after.length; i++) {
                        var data = after[i]
                        if (data.isComplete === true) {
                            this.isComplete = true
                        } else {
                            this.isComplete = false

                            break
                        }
                    }
                },
                deep: true
            }*/
        }
    }
</script>

<style scoped>
    .add-data {
        position: fixed;
        bottom: 5%;
        right: 79px;
        z-index: 51000;
        box-shadow: 0 1px 20px 1px rgb(12, 38, 52);
    }
</style>
