<template>
    <!-- <div class="vx-row">
         <div class="vx-col sm:w-1/2 w-full mb-2">
             <form>
                 <vx-card title="Kunjungan Data">
                     &lt;!&ndash;   <div class="vx-row  mb-2">
                            <div class="vx-col sm:w-1/2 w-full mb-2">
                                <vs-input class="w-full" label-placeholder="ID" v-model="data.id" disabled/>
                            </div>
                            <div class="vx-col sm:w-1/2 w-full mb-2">
                                <vs-switch color="success" v-model="data.is_active" class="ml-5 mt-6">
                                    <span slot="on">Aktif</span>
                                    <span slot="off">Inaktif</span>
                                </vs-switch>
                            </div>
                        </div>&ndash;&gt;
                     <div class="vx-row  mb-2">
                         <div class="vx-col sm:w-3/5 w-full">
                             <vs-input class="w-full" label-placeholder="No. Work Order" v-model="data.work_order"
                                       data-vv-validate-on="blur"
                                       v-validate="'required'"
                                       name="Work Order" v-if="!isOpenWo"/>
                             <open-wo-selector :data="data" labelVisible v-if="isOpenWo"/>
                             <small class="form-text text-danger ml-3">{{ errors.first('Work Order') }}</small>
                             <span class="text-danger text-sm ml-3" v-if="errorsData.work_order">{{ errorsData.work_order[0] }}</span>
                         </div>
                         <div class="vx-col sm:w-2/5 w-full mt-auto">
 &lt;!&ndash;                            <vs-checkbox color="danger" v-model="isOpenWo"><label class="text-sm">Outstanding WO</label></vs-checkbox>&ndash;&gt;
                             <vs-switch color="danger" v-model="isOpenWo" class="mb-6">
                                 <span slot="on">Outstading</span>
                                 <span slot="off">Normal</span>
                             </vs-switch>
                         </div>
                     </div>
                     <atm-selector :data="data" :errorsData="errorsData"></atm-selector>
                     <div class="vx-row mb-6">
                         <div class="vx-col w-full">
                             <label class="ml-1 mb-4">Tipe Kunjungan</label>
                             <v-select label="name" v-model="data.tipe_kunjungan" :options="tipeList"/>
                             <small class="form-text text-danger"
                                    v-if="errorsData.tipe_kunjungan">{{errorsData.tipe_kunjungan[0]}}</small>
                         </div>
                     </div>
                     <div class="vx-row mb-2">
                         <div class="vx-col w-full">
                             <vs-textarea class="w-full" label="Detail Kunjungan" v-model="data.detail_kunjungan"/>
                             <span class="text-danger text-sm ml-3" v-if="errorsData.detail_kunjungan">{{ errorsData.detail_kunjungan[0] }}</span>
                         </div>
                     </div>
                     <div class="vx-row">
                         <vs-row vs-type="flex" vs-justify="flex-end">
                             <vs-button :disabled="validateForm" class="mr-3 mb-2 mt-10" color="success"
                                        @click="create">
                                 Simpan
                             </vs-button>
                             &lt;!&ndash;   <vs-button class="mr-3 mb-2 mt-10" color="danger" type="filled" icon-pack="feather"
                                           icon="icon-trash" @click="deleteConfirm"></vs-button>&ndash;&gt;
                         </vs-row>
                     </div>
                 </vx-card>
             </form>
         </div>
         <div class="vx-col sm:w-1/2 w-full mb-2">

             <vx-card title="Engineer" class="mb-5" v-if="!isEngineer">
                 <user-selector :data="data"/>
             </vx-card>
             <vx-card title="Pengelola Mesin" class="mb-5">
                 <div class="vx-row mb-2">
                     <div class="vx-col w-full">
                         <v-select label="name" v-model="data.pengelola" :options="pengelolaList"/>
                         <small class="form-text text-danger"
                                v-if="errorsData.pengelola">{{errorsData.pengelola[0]}}</small>
                     </div>
                 </div>
                 <div class="vx-row mb-2">
                     <div class="vx-col w-full">
                         <vs-input class="w-full" type="email" label-placeholder="Nama PIC" v-model="data.pengelola_pic"
                                   data-vv-validate-on="blur"
                                   v-validate="'required'"
                                   name="Nama PIC"/>
                         <small class="form-text text-danger ml-3">{{ errors.first('Nama PIC') }}</small>
                         <span class="text-danger text-sm ml-3" v-if="errorsData.pengelola_pic">{{ errorsData.pengelola_pic[0] }}</span>
                     </div>
                 </div>
                 <div class="vx-row mb-2">
                     <div class="vx-col w-full">
                         <vs-input class="w-full" label-placeholder="Telepon" v-model="data.pengelola_phone"/>
                         <span class="text-danger text-sm"
                               v-if="errorsData.pengelola_phone">{{ errorsData.pengelola_phone[0] }}</span>
                     </div>
                 </div>
             </vx-card>
             <vx-card title="Upload Foto" class="mb-5">
                 <form>
                     <div>
                         <div class=" mx-auto flex items-center justify-center responsive mb-5">
                             <input type="file" class="hidden" id="file" ref="updateImgInput"
                                    @change="updateCurrImg"
                                    accept="image/*"/>
                             <label class="vs-component vs-button vs-button-primary vs-button-filled" for="file">Upload
                                 Image</label>
                             &lt;!&ndash;<vs-button type="flat" color="#999" @click="removeImage">Remove Image
                             </vs-button>&ndash;&gt;
                         </div>
                         &lt;!&ndash; Image Container &ndash;&gt;
                         <div class="img-container w-64 mx-auto flex items-center justify-center responsive"
                              v-if="data.photo">
                             <img :src="data.photo" v-bind:alt="data.photo" class="responsive">
                         </div>

                         &lt;!&ndash; Image upload Buttons &ndash;&gt;

                     </div>
                 </form>
             </vx-card>
         </div>
     </div>-->

    <div>
        <form-wizard color="rgba(var(--vs-primary), 1)" :title="null" :subtitle="null" finishButtonText="Submit"
                     @on-complete="create">
            <tab-content title="Step 1" class="mb-5" :before-change="validateStep1">
                <form data-vv-scope="step-1">
                    <div class="vx-row">
                        <div class="vx-col sm:w-1/2 w-full mb-2">
                            <vx-card class="mb-base">
                                <!--<div class="vx-row  mb-2">
                                    <div class="vx-col sm:w-1/2 w-full mb-2">
                                        <vs-input class="w-full" label-placeholder="ID" v-model="data.id" disabled/>
                                    </div>
                                    <div class="vx-col sm:w-1/2 w-full mb-2">
                                        <vs-switch color="success" v-model="data.is_active" class="ml-5 mt-6">
                                            <span slot="on">Aktif</span>
                                            <span slot="off">Inaktif</span>
                                        </vs-switch>
                                    </div>
                                </div>-->
                                <div class="vx-row  mb-3">
                                    <div class="vx-col sm:w-3/5 w-full">
                                        <vs-input class="w-full" label-placeholder="No. Work Order"
                                                  v-model="data.work_order"
                                                  v-validate="'wo-rule'"
                                                  name="Work Order" v-if="!isOpenWo"/>
                                        <open-wo-selector :data="data" labelVisible v-if="isOpenWo"/>
                                        <small class="form-text text-danger ml-3">{{
                                                errors.first('step-1.Work Order')
                                            }}</small>
                                        <span class="text-danger text-sm ml-3"
                                              v-if="errorsData.work_order">{{ errorsData.work_order[0] }}</span>
                                    </div>

                                    <div class="vx-col sm:w-2/5 w-full mt-auto">
                                        <vs-switch color="danger" v-model="isOpenWo" class="mb-6">
                                            <span slot="on">Outstading</span>
                                            <span slot="off">Normal</span>
                                        </vs-switch>
                                    </div>
                                </div>

                                <div class="vx-row  mb-3">
                                    <div class="vx-col w-full">
                                        <label class="ml-1 mb-3 text-sm">Mulai Perkerjaan</label>
                                        <flat-pickr :config="configdateTimePicker" v-model="data.checkin"
                                                    style="width: 100%"
                                                    @on-change="onMulaiChange"
                                                    placeholder="Tanggal Mulai"/>
                                        <span class="text-warning text-sm ml-3">Kosongkan apabila menggunakan tanggal saat ini</span>

                                    </div>
                                </div>

                                <div class="vx-row  mb-3">
                                    <div class="vx-col w-full">
                                        <user-selector :data="data" labelVisible v-if="!isEngineer" name="Engineer"/>
                                        <small class="form-text text-danger ml-3">{{
                                                errors.first('step-1.Engineer')
                                            }}</small>
                                        <span class="text-danger text-sm ml-3"
                                              v-if="errorsData.user">{{ errorsData.user[0] }}</span>
                                        <vx-card class="mt-5" v-if="data.user" no-shadow card-border>
                                            <div class="flex flex-wrap items-center">
                                                <vs-avatar :src="data.user.avatar" size="40px" class="mr-4"/>
                                                <div>
                                                    <div>
                                                        {{ data.user.name }}
                                                    </div>
                                                    <div class="text-sm" v-if="data.user.ce_code != null">
                                                        {{ data.user.ce_code }}
                                                    </div>
                                                    <div class="text-sm" v-else>
                                                        {{ data.user.email }}
                                                    </div>
                                                </div>
                                            </div>
                                        </vx-card>
                                    </div>
                                </div>

                            </vx-card>

                            <vx-card class="mb-base">
                                <template slot="actions">
                                    <div class="vx-row mr-1">
                                        <feather-icon v-if="data.location.mc_id"
                                                      icon="EditIcon"
                                                      @click="editAtm"
                                                      class="p-2 ml-4 shadow-drop rounded-lg d-theme-dark-bg cursor-pointer hidden sm:inline-flex"
                                                      :svgClasses="{'text-primary stroke-current': editAtm}"/>
                                    </div>
                                </template>


                                <vs-alert :active="data.location.mc_id != null" color="danger" class="mb-3">
                                    <span>Harap <b>Update Data ATM</b> apabila data tidak sesuai</span>
                                </vs-alert>
                                <atm-selector :data="data" :errorsData="errorsData"
                                              :isEditAtm="isEditAtm"></atm-selector>

                                <div class="vx-row mb-3" v-if="data.location.mc_id">
                                    <div class="vx-col w-full mb-3">
                                        <label class="ml-1 mb-3">Nama Lokasi</label>
                                        <vs-input class="w-full" v-model="data.location.location_name"
                                                  data-vv-validate-on="blur"
                                                  v-validate="'required'"
                                                  name="Lokasi" :disabled="!isEditAtm"/>
                                    </div>
                                    <div class="vx-col w-full mb-3">
                                        <label class="ml-1 mb-3">Alamat</label>
                                        <vs-input class="w-full" v-model="data.location.address"
                                                  name="Alamat" :disabled="!isEditAtm"/>
                                    </div>

                                    <div class="vx-col sm:w-1/2 w-full mb-3">
                                        <label class="ml-1 mb-3">Kota</label>
                                        <vs-input class="w-full" v-model="data.location.city"
                                                  name="Kota" :disabled="!isEditAtm"/>
                                    </div>

                                    <div class="vx-col sm:w-1/2 w-full mb-3">
                                        <label class="ml-1 mb-3">Kode Pos</label>
                                        <vs-input class="w-full" v-model="data.location.postal"
                                                  name="Kode Pos" :disabled="!isEditAtm"/>
                                    </div>

                                    <div class="vx-col w-full">
                                        <div class="vx-col w-full">
                                            <vx-card class="grid-view-item overflow-hidden" no-shadow>
                                                <template slot="no-body">
                                                    <div
                                                        class="item-img-container bg-white h-30 w-30 flex items-center justify-center mb-4 cursor-pointer">
                                                        <img :src="data.location.image" v-bind:alt="data.location.image"
                                                             class="grid-view-img"
                                                             v-if="data.location.image">
                                                        <img src="/images/vuexy-login-bg.jpg" class="grid-view-img"
                                                             v-else>
                                                    </div>
                                                    <vs-progress indeterminate color="warning"
                                                                 v-if="isProgressFotoLokasi"></vs-progress>
                                                    <input type="file" class="hidden" id="fileAtm" ref="updateImgInput"
                                                           @change="updateCurrImg"
                                                           accept="image/*"/>
                                                    <div class="flex flex-wrap cursor-pointer" for="fileAtm"
                                                         @click="$refs.updateImgInput.click()">
                                                        <div v-if="isEditAtm"
                                                             class="item-view-secondary-action-btn bg-success p-3 flex flex-grow items-center justify-center text-white cursor-pointer">
                                                            <label
                                                                class="text-sm font-semibold ml-2 cursor-pointer">UPDATE
                                                                FOTO LOKASI</label>
                                                        </div>
                                                    </div>
                                                </template>

                                            </vx-card>
                                        </div>
                                    </div>
                                </div>

                            </vx-card>


                        </div>
                        <div class="vx-col sm:w-1/2 w-full mb-2">

                            <vx-card class="mb-base">
                                <div class="vx-row mb-3">
                                    <div class="vx-col w-full">
                                        <label class="ml-1 mb-3 text-sm">Tipe Kunjungan</label>
                                        <v-select label="name" v-model="data.tipe_kunjungan" name="Tipe"
                                                  :options="tipeList" v-validate="'required'"/>
                                        <small class="form-text text-danger ml-3">{{
                                                errors.first('step-1.Tipe')
                                            }}</small>
                                        <small class="form-text text-danger"
                                               v-if="errorsData.tipe_kunjungan">{{ errorsData.tipe_kunjungan[0] }}</small>
                                    </div>
                                </div>
                                <div class="vx-row mb-3">
                                    <div class="vx-col w-full">
                                        <label class="ml-1 mb-3 text-sm">Problem Reported</label>
                                        <vs-textarea class="w-full" name="Problem Reported"
                                                     v-model="data.detail_kunjungan"
                                                     data-vv-validate-on="blur"
                                                     v-validate="'required'"/>
                                        <small class="form-text text-danger">{{
                                                errors.first('step-1.Problem Reported')
                                            }}</small>
                                    </div>
                                </div>
                                <div class="vx-row mb-3">
                                    <div class="vx-col w-full">
                                        <label class="ml-1 mb-3 text-sm">Pengelola</label>
                                        <v-select label="name" v-model="data.pengelola" :options="pengelolaList"
                                                  v-validate="'required'"
                                                  name="Pengelola"/>
                                        <small class="form-text text-danger">{{
                                                errors.first('step-1.Pengelola')
                                            }}</small>
                                        <small class="form-text text-danger"
                                               v-if="errorsData.pengelola">{{ errorsData.pengelola[0] }}</small>
                                    </div>
                                </div>
                                <div class="vx-row mb-3">
                                    <div class="vx-col w-full sm:w-1/2">
                                        <vs-input class="w-full" type="email" label-placeholder="Nama PIC"
                                                  v-model="data.pengelola_pic"
                                                  data-vv-validate-on="blur"
                                                  v-validate="'required'"
                                                  name="Nama PIC"/>
                                        <small class="form-text text-danger">{{
                                                errors.first('step-1.Nama PIC')
                                            }}</small>
                                        <span class="text-danger text-sm"
                                              v-if="errorsData.pengelola_pic">{{ errorsData.pengelola_pic[0] }}</span>
                                    </div>
                                    <div class="vx-col w-full sm:w-1/2">
                                        <vs-input class="w-full" label-placeholder="Telepon PIC"
                                                  v-model="data.pengelola_phone"
                                                  data-vv-validate-on="blur"
                                                  v-validate="'required'"
                                                  name="Telepon PIC"/>
                                        <small class="form-text text-danger">{{
                                                errors.first('step-1.Telepon PIC')
                                            }}</small>
                                        <span class="text-danger text-sm"
                                              v-if="errorsData.pengelola_phone">{{
                                                errorsData.pengelola_phone[0]
                                            }}</span>
                                    </div>
                                </div>
                                <div class="vx-row mb-3">

                                </div>
                            </vx-card>

                            <vx-card title="Upload Foto" class="mb-5">
                                <form>
                                    <vs-alert :active="true" color="danger" class="mb-3" v-if="!data.photo">
                                        <span>Foto Selfie harus diunggah</span>
                                    </vs-alert>
                                    <vx-card :no-shadow="true" :card-border="true" class="mb-base">
                                        <div>
                                            <div class=" mx-auto flex items-center justify-center responsive mb-5">
                                                <input type="file" class="hidden" id="photo" ref="updateImgInput"
                                                       @change="updateCurrImg"
                                                       accept="image/*"
                                                       v-validate="'required'"
                                                       name="Foto Selfie"/>

                                                <label class="vs-component vs-button vs-button-primary vs-button-filled"
                                                       for="photo">Upload
                                                    Foto Selfie</label>
                                            </div>
                                            <small class="form-text text-danger">{{
                                                    errors.first('step-1.Foto Selfie')
                                                }}</small>
                                            <small class="form-text text-danger"
                                                   v-if="errorsData.photo">{{ errorsData.photo[0] }}</small>
                                            <div
                                                class="img-container w-64 mx-auto flex items-center justify-center responsive"
                                                v-if="data.photo">
                                                <expandable-image :src="data.photo" v-bind:alt="data.photo"
                                                                  class="responsive" :close-on-background-click="true"/>
                                            </div>
                                        </div>
                                    </vx-card>
                                    <vs-alert :active="true" color="danger" class="mb-3" v-if="!data.photo_sn">
                                        <span>Foto Serial Number harus diunggah</span>
                                    </vs-alert>
                                    <vx-card :no-shadow="true" :card-border="true" class="mb-base">
                                        <div>
                                            <div class=" mx-auto flex items-center justify-center responsive mb-5">
                                                <input type="file" class="hidden" id="photo_sn" ref="updateImgInput"
                                                       @change="updateCurrImgAr"
                                                       accept="image/*"
                                                       v-validate="'required'"
                                                       name="Foto Activity Repot"/>

                                                <label class="vs-component vs-button vs-button-primary vs-button-filled"
                                                       for="photo_sn">Upload
                                                    Serial Number</label>
                                            </div>
                                            <small class="form-text text-danger">{{
                                                    errors.first('step-1.Foto Activity Repot')
                                                }}</small>
                                            <small class="form-text text-danger"
                                                   v-if="errorsData.photo_sn">{{ errorsData.photo_sn[0] }}</small>
                                            <div
                                                class="img-container w-64 mx-auto flex items-center justify-center responsive"
                                                v-if="data.photo_sn">
                                                <expandable-image :src="data.photo_sn" v-bind:alt="data.photo_sn"
                                                                  class="responsive" :close-on-background-click="true"/>
                                            </div>
                                        </div>
                                    </vx-card>

                                </form>
                            </vx-card>

                        </div>
                    </div>
                </form>
                <!-- tab 1 content -->
            </tab-content>
        </form-wizard>

        <vs-popup fullscreen class="holamundo" title="Edit ATM" :active.sync="isEditAtm">
            <form>
                <div class="vx-row  mb-2">
                    <div class="vx-col sm:w-1/2 w-full">
                        <vx-card title="Data ATM" :no-shadow=true :card-border=true>
                            <!--<div class="vx-row  mb-3" v-if="dataEditAtm.id">
                                <div class="vx-col sm:w-1/2 w-full mb-2">
                                    <vs-input class="w-full" label-placeholder="ID" v-model="dataEditAtm.id" disabled/>
                                </div>
                                <vs-switch color="success" v-model="!dataEditAtm.deleted_by" class="ml-5 mt-6">
                                    <span slot="on">Aktif</span>
                                    <span slot="off">Inaktif</span>
                                </vs-switch>
                            </div>-->
                            <div class="vx-row  mb-2">
                                <div class="vx-col w-full">
                                    <vs-input class="w-full" label-placeholder="Location Name"
                                              v-model="dataEditAtm.location_name"
                                              name="Location Name"/>
                                </div>
                            </div>
                            <customer-selector :data="dataEditAtm" :errorsData="errorsData"></customer-selector>
                            <div class="vx-row  mb-2">
                                <div class="vx-col w-full">
                                    <vs-input class="w-full" label-placeholder="MC ID" v-model="dataEditAtm.mc_id"

                                              name="MC ID"/>
                                    <small class="form-text text-danger ml-3">{{ errors.first('MC ID') }}</small>
                                    <span class="text-danger text-sm"
                                          v-if="errorsData.mc_id">{{ errorsData.mc_id[0] }}</span>
                                </div>
                            </div>
                            <div class="vx-row  mb-2">
                                <div class="vx-col w-full">
                                    <vs-input class="w-full" label-placeholder="Serial Number"
                                              v-model="dataEditAtm.serial_number"

                                              name="Serial Number"/>
                                    <small class="form-text text-danger ml-3">{{
                                            errors.first('Serial Number')
                                        }}</small>
                                    <span class="text-danger text-sm"
                                          v-if="errorsData.serial_number">{{ errorsData.serial_number[0] }}</span>
                                </div>
                            </div>
                            <div class="vx-row  mb-2">
                                <div class="vx-col w-full">
                                    <vs-input class="w-full" label-placeholder="Site Number"
                                              v-model="dataEditAtm.site_number"

                                              name="Site Number"/>
                                    <small class="form-text text-danger ml-3">{{ errors.first('Site Number') }}</small>
                                    <span class="text-danger text-sm"
                                          v-if="errorsData.site_number">{{ errorsData.site_number[0] }}</span>
                                </div>
                            </div>
                            <div class="vx-row  mb-2">
                                <div class="vx-col w-full">
                                    <vs-input class="w-full" label-placeholder="Model"
                                              v-model="dataEditAtm.model"

                                              name="Model"/>
                                    <small class="form-text text-danger ml-3">{{ errors.first('Model') }}</small>
                                    <span class="text-danger text-sm"
                                          v-if="errorsData.model">{{ errorsData.model[0] }}</span>
                                </div>
                            </div>
                            <div class="vx-row  mb-3" v-if="dataEditAtm.id">
                                <div class="vx-col sm:w-1/2 w-full mb-2 mt-auto">
                                    <label class="ml-1 mb-3 text-sm">Install Date</label>
                                    <datepicker label-placeholder="Install Date" v-model="dataEditAtm.install_date"
                                                :language="languages[language]" format="dd MMMM yyyy"></datepicker>
                                    <small class="form-text text-danger ml-3">{{ errors.first('Install Date') }}</small>
                                    <span class="text-danger text-sm"
                                          v-if="errorsData.install_date">{{ errorsData.install_date[0] }}</span>
                                </div>
                                <div class="vx-col sm:w-1/2 w-full mb-2 mt-auto">
                                    <vs-input class="w-full" label-placeholder="Status"
                                              v-model="dataEditAtm.status"

                                              name="Status"/>
                                    <small class="form-text text-danger ml-3">{{ errors.first('Status') }}</small>
                                    <span class="text-danger text-sm"
                                          v-if="errorsData.status">{{ errorsData.status[0] }}</span>
                                </div>
                            </div>

                            <area-selector :data="dataEditAtm" :errorsData="errorsData"></area-selector>

                            <div class="vx-row" v-if="!dataEditAtm.id">
                                <vs-row vs-type="flex" vs-justify="flex-end">
                                    <vs-button class="mr-3 mb-2 mt-10" color="danger" @click="isEditAtm=false">
                                        Cancel
                                    </vs-button>
                                    <input type="file" class="hidden" id="file2" ref="updateImgInput"
                                           @change="updateCurrImg"
                                           accept="image/*"/>
                                    <label
                                        class="mr-3 mb-2 mt-10 vs-component vs-button vs-button-primary vs-button-filled"
                                        v-if="!dataEditAtm.image" for="file2">Upload Image</label>

                                    <vs-button class="mr-3 mb-2 mt-10" color="success"
                                               @click="create">
                                        Simpan
                                    </vs-button>
                                </vs-row>
                            </div>
                            <div class="vx-row" v-if="dataEditAtm.id">
                                <vs-row vs-type="flex" vs-justify="flex-end">
                                    <!--  <vs-button class="mr-3 mb-2 mt-10" color="danger" type="filled" icon-pack="feather"
                                                 icon="icon-trash" @click="deleteConfirm"
                                                 v-if="!dataEditAtm.deleted_by"></vs-button>
  -->
                                    <!--<input type="file" class="hidden" id="file1" ref="updateImgInput"
                                           @change="updateCurrImg"
                                           accept="image/*"/>
                                    <label
                                        class="mr-3 mb-2 mt-10 vs-component vs-button vs-button-primary vs-button-filled"
                                        for="file1" v-if="!dataEditAtm.image && !dataEditAtm.deleted_by">Upload
                                        Image</label>-->

                                    <vs-button class="mr-3 mb-2 mt-10" color="success" v-if="!dataEditAtm.deleted_by"
                                               @click="updateAtmData">
                                        Update
                                    </vs-button>
                                    <!-- <vs-button class="mr-3 mb-2 mt-10" color="warning" @click="recoverConfirm"
                                                v-if="dataEditAtm.deleted_by">Activate
                                     </vs-button>-->
                                </vs-row>
                            </div>
                        </vx-card>
                        <vx-card class="mt-3" title="Foto Lokasi" :o-shadow=true
                                 :card-border=true>
                            <div class="vx-col w-full items-center">
                                <vx-card class="grid-view-item overflow-hidden" no-shadow card-border>
                                    <template slot="no-body">
                                        <div
                                            class="item-img-container bg-white h-30 w-30 flex items-center justify-center mb-4 cursor-pointer">
                                            <img :src="dataEditAtm.image" v-bind:alt="dataEditAtm.image"
                                                 class="grid-view-img"
                                                 v-if="dataEditAtm.image">
                                            <img src="/images/vuexy-login-bg.jpg" class="grid-view-img" v-else>
                                        </div>
                                        <vs-progress indeterminate color="warning"
                                                     v-if="isProgressFotoLokasi"></vs-progress>
                                        <input type="file" class="hidden" id="fileEditATM" ref="updateImgInputLokasi"
                                               @change="updateCurrImgFotoAtm"
                                               accept="image/*"/>
                                        <div class="flex flex-wrap cursor-pointer" for="fileEditATM"
                                             @click="$refs.updateImgInputLokasi.click()" v-if="!dataEditAtm.image">
                                            <div
                                                class="item-view-secondary-action-btn bg-success p-3 flex flex-grow items-center justify-center text-white cursor-pointer">
                                                <label class="text-sm font-semibold ml-2 cursor-pointer">UPLOAD
                                                    FOTO</label>
                                            </div>
                                        </div>
                                        <div class="flex flex-wrap cursor-pointer" for="file"
                                             @click="$refs.updateImgInputLokasi.click()" v-else>
                                            <div
                                                class="item-view-secondary-action-btn bg-danger p-3 flex flex-grow items-center justify-center text-white cursor-pointer">
                                                <label class="text-sm font-semibold ml-2 cursor-pointer">GANTI
                                                    FOTO</label>
                                            </div>
                                        </div>
                                    </template>
                                </vx-card>
                            </div>
                            <!--<form>
                                <div>
                                    &lt;!&ndash; Image Container &ndash;&gt;
                                    <div class="img-container w-64 mx-auto flex items-center justify-center">
                                        <img :src="dataEditAtm.image" v-bind:alt="dataEditAtm.image" class="responsive">
                                    </div>

                                    &lt;!&ndash; Image upload Buttons &ndash;&gt;
                                    <div class="modify-img flex justify-between mt-5">
                                        <input type="file" class="hidden" id="file" ref="updateImgInput"
                                               @change="updateCurrImg"
                                               accept="image/*"/>
                                        <label class="vs-component vs-button vs-button-primary vs-button-filled"
                                               for="file">Update
                                            Image</label>
                                        <vs-button type="flat" color="#999" @click="removeImage">Remove Image
                                        </vs-button>
                                    </div>
                                </div>
                            </form>-->
                        </vx-card>
                    </div>
                    <div class="vx-col sm:w-1/2 w-full">
                        <vx-card title="Info Lokasi" :o-shadow=true :card-border=true>
                            <div class="vx-col w-full mb-3">
                                <vs-input class="w-full" label-placeholder="Alamat" v-model="dataEditAtm.address"/>
                                <span class="text-danger text-sm"
                                      v-if="errorsData.address">{{ errorsData.address[0] }}</span>
                            </div>
                            <div class="vx-row  mb-2">
                                <div class="vx-col sm:w-1/2 w-full mb-3">
                                    <vs-input class="w-full" label-placeholder="Kota" v-model="dataEditAtm.city"/>
                                    <span class="text-danger text-sm"
                                          v-if="errorsData.city">{{ errorsData.city[0] }}</span>
                                </div>
                                <div class="vx-col sm:w-1/2 w-full mb-3">
                                    <vs-input class="w-full" label-placeholder="Kode Pos" v-model="dataEditAtm.postal"/>
                                    <span class="text-danger text-sm"
                                          v-if="errorsData.postal">{{ errorsData.postal[0] }}</span>
                                </div>
                            </div>
                            <div class="vx-row  mb-2">
                                <div class="vx-col sm:w-1/2 w-full mb-3">
                                    <vs-input class="w-full" label-placeholder="Latitude"
                                              v-model="dataEditAtm.latitude"/>
                                    <span class="text-danger text-sm"
                                          v-if="errorsData.latitude">{{ errorsData.latitude[0] }}</span>
                                </div>
                                <div class="vx-col sm:w-1/2 w-full mb-3">
                                    <vs-input class="w-full" label-placeholder="Longitude"
                                              v-model="dataEditAtm.longitude"/>
                                    <span class="text-danger text-sm"
                                          v-if="errorsData.longitude">{{ errorsData.longitude[0] }}</span>
                                </div>
                            </div>
                            <div class="vx-row  mb-2 p-3">
                                <gmap-map :center="center" :zoom="15" style="width: 100%; height: 300px"
                                          @center_changed="updateCenter">
                                    <gmap-info-window :options="infoOptions" :position="infoWindowPos"
                                                      :opened="infoWinOpen" @closeclick="infoWinOpen=false">
                                        {{ infoContent }}
                                    </gmap-info-window>
                                    <gmap-marker :position="position"></gmap-marker>
                                </gmap-map>
                            </div>
                        </vx-card>
                    </div>
                </div>
            </form>
        </vs-popup>
    </div>
</template>


<script>
import axios from '@/http/axios/index'
import vSelect from 'vue-select'
import AtmSelector from '@/components/AtmSelector'
import imageCompression from 'browser-image-compression'
import UserSelector from '@/components/UserSelector'
import OpenWoSelector from '@/components/OpenWoSelector'
import {FormWizard, TabContent} from 'vue-form-wizard'
import 'vue-form-wizard/dist/vue-form-wizard.min.css'
import {Validator} from 'vee-validate'
import {debounce} from '@/plugins/helpers'
import AreaSelector from '@/components/AreaSelector.vue'
import CustomerSelector from '@/components/CustomerSelector.vue'
import Datepicker from 'vuejs-datepicker'
import * as lang from 'vuejs-datepicker/src/locale'
import flatPickr from 'vue-flatpickr-component'
import 'flatpickr/dist/flatpickr.css'

Validator.localize('id')
Validator.extend('wo-rule', {
    getMessage: field => 'Harus dengan Format Work Order yang benar',
    validate: value => value.length > 9 && value[0] == 'W'
})
export default {
    components: {
        'v-select': vSelect,
        AtmSelector,
        UserSelector,
        OpenWoSelector,
        FormWizard,
        TabContent,
        AreaSelector,
        CustomerSelector,
        Datepicker,
        flatPickr
    },
    data () {
        return {
            configdateTimePicker: {
                enableTime: true,
                dateFormat: 'Y-m-d H:i',
                time_24hr: true,
                maxDate: new Date(),
                weekNumbers: true
            },
            data: {
                location: {},
                customer: {},
                photo_url: null,
                photo: null,
                photo_sn: null
            },
            dataEditAtm: {
                latitude: parseFloat(-6.175520398936992),
                longitude: parseFloat(106.82702403652341),
                region: {},
                service_base: {},
                customer: {},
                image: null
            },
            language: 'id',
            languages: lang,
            isImageAdded: false,
            position: {
                lat: 0,
                lng: 0
            },
            center: {
                lat: parseFloat(-6.1753924),
                lng: parseFloat(106.8249641)
            },
            infoContent: '',
            infoWindowPos: null,
            infoWinOpen: false,
            currentMidx: null,
            infoOptions: {
                pixelOffset: {
                    width: 0,
                    height: -35
                }
            },
            isEditAtm: false,
            isOpenWo: false,
            tipeList: [],
            pengelolaList: ['Cabang', 'Vendor CR-FLM'],
            checkList: [],
            permissionsCount: 0,
            errorsData: {},
            loading: true,
            submiting: false,
            submitingDestroy: false,
            roles: [],
            regions: [],
            customerSelected: {search: ''},
            customers: [],
            servicebases: [],
            isEngineer: false,
            isCustomer: false,
            roleSelected: {},
            isProgress: false,
            isProgressFotoLokasi: false
        }
    },
    mounted () {
        this.isEngineer = localStorage.getItem('roles') === 'engineer'
        if (this.isEngineer) {
            this.data.user = JSON.parse(localStorage.getItem('userInfo'))
        }
        this.getWoTypeList()
    },
    /* computed: {
         validateForm () {
             return this.errors.count() > 0 || !(Object.keys(this.fields).some(key => this.fields[key].dirty))
         }
     },*/
    methods: {
        getWoTypeList () {
            this.$store.dispatch('wo_type/all', this.filters)
                .then(response => {
                    this.tipeList = response.data
                })
                .catch(error => {

                })
        },
        onMulaiChange (value) {
            console.log(value)
        },
        updateCenter (latLng) {
            this.dataAdd.latitude = latLng.lat()
            this.dataAdd.longitude = latLng.lng()
            this.position = {
                lat: latLng.lat(),
                lng: latLng.lng()
            }
        },
        validateStep1 () {
            return new Promise((resolve, reject) => {
                this.$validator.validateAll('step-1').then(result => {
                    //console.log(result)
                    if (result) {
                        resolve(true)
                    } else {
                        reject('correct all values')
                    }
                })
            })
        },
        validateStep2 () {
            return new Promise((resolve, reject) => {
                this.$validator.validateAll('step-1').then(result => {
                    if (result) {
                        resolve(true)
                    } else {
                        reject('correct all values')
                    }
                })
            })
        },
        editAtm () {

            this.dataEditAtm = this.data.location

            this.isEditAtm = !this.isEditAtm
        },
        updateCurrImg (input) {
            if (input.target.files && input.target.files[0]) {
                var imageFile = input.target.files[0]
                var options = {
                    maxSizeMB: 0.5,
                    maxWidthOrHeight: 1920,
                    useWebWorker: true
                }
                imageCompression(imageFile, options)
                    .then(file => {
                        this.setItemValue(file) // write your own logic
                    })
                    .catch(error => {

                    })
            }
        },
        updateCurrImgAr (input) {
            if (input.target.files && input.target.files[0]) {
                var imageFile = input.target.files[0]
                var options = {
                    maxSizeMB: 0.5,
                    maxWidthOrHeight: 1920,
                    useWebWorker: true
                }
                imageCompression(imageFile, options)
                    .then(file => {
                        this.setItemValueAr(file) // write your own logic
                    })
                    .catch(error => {

                    })
            }
        },
        setItemValue (input) {
            const reader = new FileReader()
            reader.onload = e => {
                this.data.photo_url = e.target.result
                this.data.photo = e.target.result
            }
            reader.readAsDataURL(input)
        },
        setItemValueAr (input) {
            const reader = new FileReader()
            reader.onload = e => {
                this.data.photo_sn = e.target.result

            }
            reader.readAsDataURL(input)
        },
        removeImage () {
            this.data.photo_url = null
            this.data.photo = null
        },
        removeImageAr () {
            this.data.photo_sn = null
        },
        create () {
            this.$vs.loading()
            if (this.data.checkin) {
                let dateTime = this.$moment(this.data.checkin).toISOString()
                this.data.checkin_time = this.$moment(dateTime).format('YYYY-MM-DD HH:mm:ss')
            }
            this.data.photo_url = null
            axios.post(`/api/visits/store`, this.data)
                .then(response => {
                    this.$vs.loading.close()
                    this.$vs.notify({
                        title: 'Success',
                        text: 'Data berhasil tersimpan',
                        iconPack: 'feather',
                        icon: 'icon-alert-circle',
                        color: 'success',
                        position: 'top-right'
                    })
                    this.backToList()
                })
                .catch(error => {
                    if (error.response.data !== null) {
                        this.errorsData = error.response.data.errors
                    }
                    this.$vs.loading.close()
                    this.$vs.notify({
                        title: 'Error',
                        text: 'Terjadi kesalahan',
                        iconPack: 'feather',
                        icon: 'icon-alert-circle',
                        color: 'danger',
                        position: 'top-right'
                    })
                })
        },
        backToList () {
            this.$router.push('/app/visit').catch(() => {
            })
        },
        getCheckList (value) {
            /* this.checkList = []
             axios.get(`/api/master/checklists/allByCustomer?customer_id=${value}`)
                 .then(response => {
                     this.data.checklistData = []
                     this.checkList = response.data
                     for (let i = 0; i < this.checkList.length; i++) {
                         this.data.checklistData.push(this.checkList[i])
                     }
                 })*/
        },
        updateAtmData () {
            this.dataEditAtm.install_date = this.dataEditAtm.install_date ? this.$moment(this.dataEditAtm.install_date).format('YYYY-MM-DD HH:mm:ss') : null
            this.$vs.loading()
            axios.put(`/api/master/locations/update/${this.dataEditAtm.id}`, this.dataEditAtm)
                .then(response => {
                    this.$vs.notify({
                        title: 'Success',
                        text: 'Data berhasil diperbaharui',
                        iconPack: 'feather',
                        icon: 'icon-alert-circle',
                        color: 'success',
                        position: 'top-right'
                    })
                    this.isEditAtm = false
                })
                .catch(error => {
                    this.isEditAtm = false
                    this.$vs.notify({
                        title: 'Error',
                        text: 'Terjadi kesalahan',
                        iconPack: 'feather',
                        icon: 'icon-alert-circle',
                        color: 'danger',
                        position: 'top-right'
                    })
                })
                .then(() => {
                    this.$vs.loading.close()
                })

        }
        ,
        updateCurrImgFotoAtm (input) {
            this.isProgress = true
            if (input.target.files && input.target.files[0]) {
                var imageFile = input.target.files[0]
                var options = {
                    maxSizeMB: 0.5,
                    maxWidthOrHeight: 1920,
                    useWebWorker: true
                }
                imageCompression(imageFile, options)
                    .then(file => {
                        this.setItemValueFotoAtm(file) // write your own logic
                    })
                    .catch(error => {

                    })
            }
        }
        ,
        setItemValueFotoAtm (input) {
            const reader = new FileReader()
            reader.onload = e => {
                this.data.location.image = e.target.result
                this.dataEditAtm.image = e.target.result
                this.isImageAdded = true
            }
            reader.readAsDataURL(input)
        }
        ,
        uploadFotoAtm () {
            axios.post(`/api/locations/upload/`, this.dataEditAtm)
                .then(response => {
                    this.isProgress = false
                    this.$vs.notify({
                        title: 'Success',
                        text: 'Data Berhasil diunggah',
                        iconPack: 'feather',
                        icon: 'icon-alert-circle',
                        color: 'success',
                        position: 'top-right'
                    })
                })
                .catch(error => {

                    this.errorsData = error.response
                    this.isProgress = false
                    this.$vs.notify({
                        title: 'Error',
                        text: 'Terjadi kesalahan',
                        iconPack: 'feather',
                        icon: 'icon-alert-circle',
                        color: 'danger',
                        position: 'top-right'
                    })
                })
                .then(() => {
                    this.$vs.loading.close()
                })

        }
    },
    watch: {
        'data.customer':
            function (value) {
                this.getCheckList(value.id)
            }

        ,
        'dataEditAtm.image':
            function (val) {
                if (this.dataEditAtm.id) {
                    this.uploadFotoAtm()
                }
            }
    }
}
</script>

<style lang="scss" scoped>

.grid-view-item {
    alignment: center;
    align-self: center;

    .grid-view-img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: .35s;
    }


}


</style>
