<!-- =========================================================================================
  File Name: ECommerceShop.vue
  Description: eCommerce Shop Page
  ----------------------------------------------------------------------------------------
  Item Name: Vuexy - Vuejs, HTML & Laravel Admin Dashboard Template
    Author: Pixinvent
  Author URL: http://www.themeforest.net/user/pixinvent
========================================================================================== -->

<template>
  <div id="parentx" ref="parentSidebar">

    <div class="vx-row mb-3 p-5">
      <vx-card card-border no-shadow>
        <atm-selector2 :data="atmFilter" :errorsData="errorsData" :isCustomer="isCustomer"
                       :isEditAtm="false"></atm-selector2>
        <div v-if="atmFilter.location.serial_number">
          <div class="vx-col w-full  mb-3">
            <vs-input v-model="atmFilter.location.location_name" v-validate="'required'"
                      class="w-full"
                      data-vv-validate-on="blur"
                      disabled
                      label-placeholder="Location Name" name="Location Name"/>
          </div>
          <div class="vx-row mb-3">
            <div class="vx-col w-full mt-auto">
              <vs-input v-model="atmFilter.location.model" v-validate="'required'"
                        class="w-full"
                        data-vv-validate-on="blur"
                        disabled
                        label-placeholder="Model" name="Model"/>
            </div>
          </div>
          <div class="vx-row  mb-3">
            <div class="vx-col sm:w-1/2 w-full mb-2 mt-auto">
              <label class="ml-1 mb-3 text-sm">Install Date</label>
              <datepicker v-model="atmFilter.location.install_date" disabled
                          format="dd MMMM yyyy" label-placeholder="Install Date"></datepicker>
            </div>
            <div class="vx-col sm:w-1/2 w-full mb-2 mt-auto">
              <label class="ml-1 mb-3 text-sm">Status</label>
              <v-select v-model="atmFilter.location.status" v-validate="'required'" :options="statusArray" disabled
                        label="name" name="Status"/>
            </div>
          </div>

        </div>
      </vx-card>

    </div>
    <div v-if="dataList != null">
      <b-row v-if="dataList.length > 0" class="col-12 mt-5 mb-5">
        <b-col class="col-6">
          <el-date-picker v-model="dataExport.start_end"
                          :default-time="['00:00:00', '23:59:59']"
                          end-placeholder="Akhir"
                          range-separator="-"
                          start-placeholder="Mulai"
                          style="width: 100%;"
                          type="daterange">
          </el-date-picker>
        </b-col>
        <b-col class="col-6">
          <div class="float-right">
            <vs-button color="primary" @click="getReport">Download Report</vs-button>
          </div>
        </b-col>
      </b-row>
      <template>
        <vs-table
            v-model="selected"
            :data="dataList"
            :sst="true"
            @selected="handleSelected"
            @sort="handleSort">
          <template #thead>
            <vs-th sort-key="id">No</vs-th>
            <vs-th sort-key="work_order">Work Order</vs-th>
            <vs-th sort-key="tipe_kunjungan">Type</vs-th>
            <vs-th sort-key="location_id">ATM</vs-th>
            <vs-th sort-key="checkin_time">Tanggal</vs-th>
            <vs-th v-if="isAdmin" sort-key="user_id">Engineer</vs-th>
            <vs-th sort-key="photo_ar">Status</vs-th>
          </template>

          <template slot-scope="{data}">
            <vs-tr v-for="(data, index) in dataList" :key="index" :data="data">
              <vs-td :data="index">
                {{
                  filters.pagination.current_page === 1 ? index + 1 : index + 1 +
                      ((filters.pagination.current_page - 1) * filters.pagination.per_page)
                }}
              </vs-td>
              <vs-td :data="data.work_order">
                {{ data.work_order }}
              </vs-td>
              <vs-td :data="data.tipe_kunjungan">
                {{ data.tipe_kunjungan }}
              </vs-td>
              <vs-td :data="data.location.name">
                <div class="vx-col w-full flex-no-wrap">
                  <div class="vx-row">
                    <div class="vx-col sm:w-1/4 w-full">
                      <label class="text-sm font-semibold">S/N</label>
                    </div>
                    <div class="vx-col">
                      <small>{{ data.location ? data.location.serial_number : '' }} </small>
                    </div>
                  </div>
                  <div class="vx-row">
                    <div class="vx-col sm:w-1/4 w-full">
                      <label class="text-sm font-semibold">ID Mesin</label>
                    </div>
                    <div class="vx-col">
                      <small>{{ data.location ? data.location.mc_id : '' }} </small>
                    </div>
                  </div>
                  <div class="vx-row">
                    <div class="vx-col sm:w-1/4 w-full">
                      <label class="text-sm font-semibold">Lokasi</label>
                    </div>
                    <div class="vx-col text-ellipsis">
                      <small>{{ data.location ? data.location.location_name : '' }} </small>
                    </div>
                  </div>
                  <div v-if="roleName !== 'customer'" class="vx-row">
                    <div class="vx-col sm:w-1/4 w-full">
                      <label class="text-sm font-semibold">Customer</label>
                    </div>
                    <div class="vx-col">
                      <small>{{ data.location ? data.location.customer.name : '' }} </small>
                    </div>
                  </div>
                </div>
              </vs-td>
              <vs-td :data="data.created_at">
                <div class="vx-col w-full">
                  <div class="vx-row">
                    <div class="vx-col sm:w-1/4 w-full">
                      <label class="text-sm font-semibold">Mulai</label>
                    </div>
                    <div v-if="data.checkin_time" class="vx-col flex-wrap">
                      <small class="ml-3">{{ data.checkin_time | moment('DD-MM-YYYY') }}</small> -
                      <small
                          class="text-muted">{{
                          data.checkin_time
                              | moment('HH:mm')
                        }}</small>
                    </div>
                    <div v-else class="vx-col flex-wrap">
                      <small class="ml-3">{{ data.created_at | moment('DD-MM-YYYY') }}</small> -
                      <small
                          class="text-muted">{{
                          data.created_at
                              | moment('HH:mm')
                        }}</small>
                    </div>
                  </div>
                  <div class="vx-row">
                    <div class="vx-col sm:w-1/4 w-full">
                      <label class="text-sm font-semibold">Selesai</label>
                    </div>
                    <div v-if="data.checkout_time" class="vx-col flex-wrap">
                      <small class="ml-3">{{ data.checkout_time | moment('DD-MM-YYYY') }}</small>
                      -
                      <small
                          class="text-muted">{{
                          data.checkout_time
                              | moment('HH:mm')
                        }}</small>
                    </div>
                    <div v-else class="vx-col flex-wrap">
                      <small class="ml-3">-</small>
                    </div>
                  </div>
                </div>

              </vs-td>
              <vs-td v-if="isAdmin" :data="data.user_id">
                <div class="flex flex-wrap items-center">
                  <div>
                    <div>
                      <label class="text-sm">{{ data.user.name }}</label>
                    </div>
                    <div v-if="data.user.ce_code != null" class="text-sm">
                      {{ data.user.ce_code }}
                    </div>
                    <div v-else class="text-sm">
                      {{ data.user.email }}
                    </div>
                  </div>
                </div>
              </vs-td>
              <vs-td :data="data.photo_ar">
                <div v-if="!data.photo_ar">
                  <vs-chip color="warning">OPEN</vs-chip>
                </div>
                <div v-else>
                  <vs-chip color="success">CLOSE</vs-chip>
                </div>
              </vs-td>

              <!--<template #expand>
                  <div class="con-content">
                      <div class="vx-row">
                          <div class="vx-col sm:w-1/2 w-full items-start">
                              <div class="flex flex-wrap">
                                  <vs-avatar :src="data.user.avatar_url" size="40px" class="mr-4"/>
                                  <div>
                                      <div>
                                          {{data.user.name}}
                                      </div>
                                      <div class="text-sm">
                                          {{data.user.email}}
                                      </div>
                                  </div>
                              </div>
                          </div>
                          <div class="vx-col sm:w-1/2 w-full">
                              <div class="vx-row">

                              </div>
                          </div>
                      </div>
                  </div>
              </template>-->
            </vs-tr>
          </template>
        </vs-table>
      </template>

      <vs-row vs-justify="space-between" vs-type="flex">
        <vs-col s-type="flex" vs-align="center" vs-justify="center" vs-w="2">

        </vs-col>
        <vs-col s-type="flex" vs-align="center" vs-justify="center" vs-w="2">
          <vs-pagination v-model="current_page" :total="last_page" class="mt-5"/>
        </vs-col>
      </vs-row>
    </div>
  </div>
</template>

<script>
import axios from '@/http/axios/index'
import XLSX from 'xlsx'
import AreaSelector from '../../components/AreaSelector.vue'
import CustomerSelector from '../../components/CustomerSelector.vue'
import vSelect from 'vue-select'
import AtmSelector2 from '@/components/AtmSelector2'
import Datepicker from 'vuejs-datepicker'

export default {
  components: {
    ItemGrid: () => import('./component/ItemGrid.vue'),
    AreaSelector,
    CustomerSelector,
    'v-select': vSelect,
    AtmSelector2,
    Datepicker
  },
  data () {
    let sd = this.$moment().startOf('month').format('YYYY-MM-DD')
    let ed = this.$moment().format('YYYY-MM-DD')
    return {
      currentItemView: 'item-list',
      routeAdd: '/add',
      addPermission: false,
      sideBarFilter: false,
      atmFilter: {
        location: {},
        customer: {}
      },
      errorsData: {},
      dataExport: {
        location_id: null,
        start_end: null
      },
      dataList: null,
      selected: [],
      statusList: ['ALL', 'OPEN', 'CLOSE'],
      last_page: 1,
      current_page: 1,
      filters: {
        status: 'ALL',
        pagination: {
          from: 0,
          to: 0,
          total: 0,
          per_page: 9,
          current_page: 1,
          last_page: 0
        },
        orderBy: {
          column: 'id',
          direction: 'desc'
        },
        search: ''
      },
      filterTahun: true,
      monthSelected: ed,
      loading: true,
      searchQuery: '',
      total: 0,
      roleName: null,
      dialogDownload: false,
      dateRange: {
        startDate: sd,
        endDate: ed
      }

    }
  },
  computed: {
    isAdmin () {
      return localStorage.getItem('roles') === 'administrator'
    },
    isEngineer () {
      return localStorage.getItem('roles') === 'engineer'
    },
    isCustomer () {
      return localStorage.getItem('roles') === 'customer'
    },
    windowWidth () {
      return this.$store.state.windowWidth
    },
    baseUrl () {
      return window.location.origin
    },
    userInfo () {
      return JSON.parse(localStorage.getItem('userInfo'))
    },
    permission () {
      return JSON.parse(localStorage.getItem('permission'))
    }
  },
  mounted () {


    this.roleName = localStorage.getItem('roles')
    if (this.roleName !== 'customer') {
      this.addPermission = true
    }
    if (this.roleName === 'engineer') {
      this.routeAdd = 'add/'
    }
    if (this.roleName === 'customer') {
      this.atmFilter.customer = this.userInfo.customer

    }
  },
  methods: {
    dialogDownloadShow () {
      this.dialogDownload = true
    },
    dialogDownloadHide () {
      this.dialogDownload = false
    },
    handleSearch (searching) {
      if (searching.length >= 3) {
        this.filters.search = searching
        this.getDataList()
      } else {
        this.filters.search = ''
        this.getDataList()
      }
    },
    handleChangePage (page) {
      this.filters.pagination.current_page = page
      this.getdataList()
    },
    handleSort (key, active) {
      this.sort(key, active)
    },
    getdataList () {
      this.$store.dispatch('getNotification')
      this.$vs.loading()
      this.dataList = []
      axios.post(`/api/visits/filter?page=${this.filters.pagination.current_page}`, this.filters)
          .then(response => {
            this.$vs.loading.close()
            this.dataList = response.data.data
            this.total = response.data.total
            this.last_page = response.data.last_page
            delete response.data.data
            this.filters.pagination = response.data
            this.loading = false
          })
          .catch(error => {
            this.$vs.loading.close()
            this.errors = error.response.data.errors
            this.$vs.notify({
              title: 'Error',
              text: 'Terjadi kesalahan',
              iconPack: 'feather',
              icon: 'icon-alert-circle',
              color: 'danger',
              position: 'top-right'
            })
          })
    },
    filter () {
      this.filters.pagination.current_page = 1
      this.getdataList()
    },
    changeSize (perPage) {
      this.filters.pagination.current_page = 1
      this.filters.pagination.per_page = perPage
      this.getdataList()
    },
    sort (column, sort) {
      if (column !== null) {
        if (column == this.filters.orderBy.column) {
          this.filters.orderBy.direction = sort == null ? 'asc' : sort
        } else {
          this.filters.orderBy.column = column
          this.filters.orderBy.direction = 'asc'
        }
        this.getdataList()
      }
    },
    changePage (page) {
      this.filters.pagination.current_page = page
      this.getdataList()
    },
    handleSelected (tr) {
      if (this.permission.find((e) => e === 'delete-visit')) {
        this.$router.push({
          name: 'admin-visit-detail',
          params: {id: tr.id}
        }).catch(() => {
        })
      } else {
        if (this.isCustomer) {
          this.$router.push({
            name: 'app-visit-view',
            params: {id: tr.id}
          }).catch(() => {
          })
        } else {
          if (tr.checkout_time != null && tr.photo_ar != null) {
            this.$router.push({
              name: 'app-visit-view',
              params: {id: tr.id}
            }).catch(() => {
            })
          } else {
            this.$router.push({
              name: 'app-visit-ubah',
              params: {id: tr.id}
            }).catch(() => {
            })
          }
        }

      }
    },
    addData () {
      if (localStorage.getItem('roles') !== 'engineer') {
        this.$router.push('/app/visit/add').catch(() => {
        })
      } else {
        this.$router.push('/app/visit/add').catch(() => {
        })
      }
    },
    getReport () {
      this.$vs.loading()
      this.dataExport.role = this.getRole
      this.dataExport = {
        ...this.dataExport,
        location_id: this.atmFilter.location.id,
      }
      axios.post(`/api/visits/getReport`, this.dataExport)
          .then(response => {
            this.dataExport = {
              customer_id: '',
              location_id: '',
              start_end: '',
              user_id: '',
              role: ''
            }
            let dataExcel = []
            let dataParts = []
            let data = response.data.data
            let i = 0
            if (data.length > 0) {
              // for (let i = 0; i < data.length; i++) {
              data.forEach((visit) => {

                /*const location = data[i].location
                const servicebase = location.servicebase_name
                const region = location.region_name

                let column = {
                    No: i + 1,
                    Work_Order: data[i].work_order,
                    Serial_Number: data[i].location ? data[i].location.serial_number : '-',
                    Mesin_ID: data[i].location ? data[i].location.mc_id : '-',
                    Customer: location.customer.name,
                    Model: data[i].location ? data[i].location.model : '-',
                    Tipe_Kunjungan: data[i].tipe_kunjungan,
                    Problem_Reported: data[i].detail_kunjungan ? data[i].detail_kunjungan : '-',
                    ID_CE: data[i].user ? data[i].user.ce_code ? data[i].user.ce_code : data[i].user.username : '-',
                    Nama_Lokasi: location.name,
                    Servicebase: servicebase,
                    Region: region,
                    Penglola: data[i].pengelola,
                    Penglola_PIC: data[i].pengelola_pic,
                    Penglola_PIC_Number: data[i].pengelola_phone,
                    Tanggal_Input: data[i].created_at ? this.$moment(data[i].created_at).format('YYYY-MM-DD HH:mm:ss') : '-',
                    Tanggal_Mulai: data[i].checkin_time ? this.$moment(data[i].checkin_time).format('YYYY-MM-DD HH:mm:ss') : '-',
                    Tanggal_Selesai: data[i].checkout_time ? this.$moment(data[i].checkout_time).format('YYYY-MM-DD HH:mm:ss') : '-',
                    //Photo_Selfie: data[i].photo ? `=HYPERLINK("${this.baseUrl}${data[i].photo}" ; "${this.baseUrl}${data[i].photo}")` : "-",
                    //Photo_SN: data[i].photo_sn ?`=HYPERLINK("${this.baseUrl}${data[i].photo_sn}" ; "${this.baseUrl}${data[i].photo_sn}")` : "-",
                    //Activity_Report: data[i].photo_ar ? `=HYPERLINK("${this.baseUrl}${data[i].photo_ar}" ; "${this.baseUrl}${data[i].photo_ar}")` : "-
                    Photo_Selfie: data[i].photo ? `${this.baseUrl}${data[i].photo}` : '-',
                    Photo_SN: data[i].photo_sn ? `${this.baseUrl}${data[i].photo_sn}` : '-',
                    Activity_Report: data[i].photo_ar ? `${this.baseUrl}${data[i].photo_ar}` : '-',
                    Latitude: data[i].latitude ? data[i].latitude : '-',
                    Longitude: data[i].longitude ? data[i].longitude : '-',
                    Alamat: data[i].location ?data[i].location.address ? data[i].location.address : '-' : '-',
                    Kota: data[i].location ?data[i].location.city ? data[i].location.city : '-' : '-',
                    Kodepos: data[i].location ?data[i].location.postal ? data[i].location.postal : '-' : '-',
                }*/
                i++
                let column = {
                  No: i,
                  Work_Order: visit.workorder,
                  Serial_Number: visit.sn,
                  Mesin_ID: visit.mc_id,
                  Customer: visit.customer,
                  Model: visit.model,
                  Tipe_Kunjungan: visit.type,
                  Problem_Reported: visit.problem,
                  ID_CE: visit.ce,
                  Nama_Lokasi: visit.name,
                  Servicebase: visit.servicebase,
                  Region: visit.region,
                  Pengelola: visit.pengelola,
                  Penglola_PIC: visit.pic,
                  Penglola_PIC_Number: visit.phone,
                  Tanggal_Input: visit.input ? this.$moment(visit.input).format('YYYY-MM-DD HH:mm:ss') : '-',
                  Tanggal_Mulai: visit.checkin ? this.$moment(visit.checkin).format('YYYY-MM-DD HH:mm:ss') : '-',
                  Tanggal_Selesai: visit.checkout ? this.$moment(visit.checkout).format('YYYY-MM-DD HH:mm:ss') : '-',
                  //Photo_Selfie: visit.photo ? `=HYPERLINK("${this.baseUrl}${visit.photo}" ; "${this.baseUrl}${visit.photo}")` : "-",
                  //Photo_SN: visit.photo_sn ?`=HYPERLINK("${this.baseUrl}${visit.photo_sn}" ; "${this.baseUrl}${visit.photo_sn}")` : "-",
                  //Activity_Report: visit.photo_ar ? `=HYPERLINK("${this.baseUrl}${visit.photo_ar}" ; "${this.baseUrl}${visit.photo_ar}")` : "-
                  Photo_Selfie: visit.Selfie ? this.getImageUrl(visit.Selfie) : '-',
                  Photo_SN: visit.SN ? this.getImageUrl(visit.SN) : '-',
                  Activity_Report: visit.AR ? this.getImageUrl(visit.AR) : '-',
                  Latitude: visit.latitude ? visit.latitude : '-',
                  Longitude: visit.longitude ? visit.longitude : '-',
                  Alamat: visit.address,
                  Kota: visit.city,
                  Kodepos: visit.postal,
                  Start_OnSite: visit.start_onsite ? 'Ya' : 'Tidak'
                }

                var checklist = visit.checklists
                if (checklist.length > 0) {
                  checklist.forEach((item) => {
                    var deskripsi = item.deskripsi.replace(' ', '_')
                    if (item.photo) {
                      //column[deskripsi] = `=HYPERLINK("${this.baseUrl}${checklist[x].photo}" ; "Photo")`;
                      column[deskripsi] = item.value ? `${this.baseUrl}${item.photo} - ${item.value}` : `${this.baseUrl}${item.photo}`
                    } else {
                      //column[deskripsi] = checklist[x].value ? checklist[x].photo ? `=HYPERLINK("${this.baseUrl}${checklist[x].photo}" ; "${checklist[x].value}")` : checklist[x].value  : "-";
                      column[deskripsi] = item.value
                    }
                  })

                  /*for (let x = 0; x < checklist.length; x++) {
                      // console.log(checklist[x].deskripsi)
                      // console.log(checklist[x].value ? checklist[x].value : "-")
                      // column.Checklist = checklist[x].deskripsi
                      // column.Checklist = checklist[x].deskripsi


                  }*/
                }

                /*var parts = `data[i].`spareparts
                if (parts.length > 0) {
                    for (let x = 0; x < parts.length; x++) {

                        var pn = parts[x].part_number == null ? '-' : parts[x].part_number
                        var deskripsi = parts[x].description == null ? '-' : parts[x].description
                        var qty = parts[x].qty == null ? '-' : parts[x].qty
                        var type = parts[x].type == null ? '-' : parts[x].type
                        var serial_in = parts[x].serial_in == null ? '-' : parts[x].serial_in
                        var serial_out = parts[x].serial_out == null ? '-' : parts[x].serial_out
                        var photo = parts[x].photo == null ? '-' : `${this.baseUrl}${parts[x].photo}`
                        var problem = parts[x].problem == null ? '-' : parts[x].problem

                        var partColumn = {
                            Work_Order: data[i].work_order,
                            Customer: data[i].location.customer.name,
                            Tipe_Kunjungan: data[i].tipe_kunjungan,
                            ID_CE: data[i].user ? data[i].user.ce_code ? data[i].user.ce_code : data[i].user.username : '-',
                            Nama_Lokasi: data[i].location.location_name,
                            Region: data[i].location.region ? data[i].location.region.name : '-',
                            Servicebase: data[i].location.service_base ? data[i].location.service_base.name : '-',
                            Type: type,
                            Part_Number: pn,
                            Description: deskripsi,
                            QTY: qty,
                            Serial_out: serial_out,
                            Serial_in: serial_in,
                            problem: problem,
                            Photo: photo
                        }
                        //dataParts.push(partColumn)
                    }
                }*/
                dataExcel.push(column)
              })

              var dataVisit = XLSX.utils.json_to_sheet(dataExcel)
              //var partsData = XLSX.utils.json_to_sheet(dataParts)
              var wb = XLSX.utils.book_new()
              wb.Props = {
                Title: `Data Site Visit ${this.dataExport.startDate} - ${this.dataExport.endDate}`,
                Subject: 'Data Site Visit',
                Author: 'nmapp',
                CreatedDate: new Date()
              }
              XLSX.utils.book_append_sheet(wb, dataVisit, 'data_site_visit')
              //XLSX.utils.book_append_sheet(wb, partsData, 'data_parts')
              XLSX.writeFile(wb, `nmapp_data_site_visit_${this.dataExport.startDate}_${this.dataExport.endDate}.xlsx`, {bookType: 'xlsx'})
              this.dialogDownloadHide()
            } else {
              this.$vs.notify({
                title: 'Warning',
                text: 'Data tidak ditemukan',
                iconPack: 'feather',
                icon: 'icon-alert-circle',
                color: 'warning',
                position: 'top-right'
              })
            }
            this.$vs.loading.close()
          }).catch(error => {
        this.$vs.loading.close()
        console.log(error)
        this.$vs.notify({
          title: 'Error',
          text: 'Terjadi kesalahan',
          iconPack: 'feather',
          icon: 'icon-alert-circle',
          color: 'danger',
          position: 'top-right'
        })
      })
    },
    getImageUrl(url){
      return url.includes('https://drive.google.com') ? url : `${this.baseUrl}${url}`
    },
    getReport2 () {
      this.dataExport.startDate = this.$moment(this.dateRange.startDate).format('YYYY-MM-DD')
      this.dataExport.endDate = this.$moment(this.dateRange.endDate).format('YYYY-MM-DD')
      axios.post(`/api/visits/getReport2`, this.dataExport)
          .then(response => {
            console.log(response)
          })
      this.$vs.notify({
        title: 'Sukses',
        text: 'Link Download akan di emailkan',
        iconPack: 'feather',
        icon: 'icon-alert-circle',
        color: 'success',
        position: 'top-right'
      })
      this.dialogDownloadHide()
    }
  },
  watch: {
    'atmFilter.customer': function (value) {
      this.dataList = null
      this.atmFilter.location.serial_number = null
    },
    'atmFilter.location.serial_number': function (value) {
      console.log(this.atmFilter.location)
      if (this.atmFilter.location.serial_number !== null) {
        this.filters.search = this.atmFilter.location.serial_number
        this.getdataList()
      } else {
        this.filters.search = null
        this.dataList = null
      }
    }
  }
}

</script>


<style lang="scss">
.add-data {
  position: fixed;
  bottom: 5%;
  right: 79px;
  z-index: 51000;
  box-shadow: 0 1px 20px 1px rgb(12, 38, 52);
}

.text-ellipsis {
  white-space: nowrap;
  width: 185px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.date-custom {
  width: 110px;
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.popup {
  width: 500px !important;
  height: 300px !important;
}


</style>
