<template>
    <vs-popup fullscreen class="holamundo" title="Pick ATM" :active.sync="isDialogOpen" @input="onPopupImportClose">
        <div class="vx-row mb-3">
            <div class="vx-col sm:w-1/2 w-full mb-2">
                <div class="search-page__search-bar flex items-center">
                    <vs-input icon-no-border placeholder="Search" v-model="filters.search"
                              class="w-full input-rounded-full" icon="icon-search" icon-pack="feather"/>
                </div>
            </div>
        </div>
        <vs-table
            :sst="true"
            @sort="handleSort"
            @selected="handleSelected"
            v-model="selected"
            max-items="5"
            :data="dataList">
            <template slot="thead">
                <vs-th sort-key="id">No</vs-th>
                <vs-th sort-key="customer_id">Customer</vs-th>
                <vs-th sort-key="mc_id">MC ID / SN</vs-th>
                <vs-th sort-key="model">Model</vs-th>
                <vs-th sort-key="location_name">Location Name</vs-th>
                <vs-th sort-key="service_base_id">Service Base</vs-th>
                <vs-th sort-key="status">Status</vs-th>
                <!--<vs-th sort-key="install_date">Install Date</vs-th>-->
            </template>

            <template slot-scope="{data}">
                <vs-tr :data="data" :key="index" v-for="(data, index) in dataList">
                    <vs-td :data="index">
                        {{
                            filters.pagination.current_page === 1 ? index + 1 : index + 1 +
                                ((filters.pagination.current_page - 1) * filters.pagination.per_page)
                        }}
                    </vs-td>
                    <vs-td :data="data.customer_id">

                        <div>
                            <div class="text-ellipsis">
                                {{ data.customer ? data.customer.name : '' }}
                            </div>
                            <div class="text-sm">
                                <b>Kode: </b>{{ data.customer ? data.customer.code : '' }}
                            </div>
                        </div>
                    </vs-td>
                    <vs-td :data="data.mc_id">
                        <div>
                            <div>
                                {{ data.mc_id }}
                            </div>
                            <div class="text-sm">
                                {{ data.serial_number }}
                            </div>
                        </div>
                    </vs-td>

                    <!-- <vs-td :data="data.region_id">
                         <div>
                             <div>
                                 {{data.service_base ? data.service_base.name : ''}}
                             </div>
                             <div class="text-sm">
                                 {{data.region ? data.region.name : ''}}
                             </div>
                         </div>
                     </vs-td>-->
                    <vs-td :data="data.model">


                        {{ data.model }}


                    </vs-td>
                    <vs-td :data="data.location_name">

                        <div>
                            <div class="text-bold">
                                {{ data.location_name }}
                            </div>
                            <div class="text-sm text-ellipsis">
                                {{ data.address }}
                            </div>
                            <div class="text-sm text-ellipsis">
                                {{ data.city }} - {{ data.postal }}
                            </div>
                        </div>

                    </vs-td>
                    <vs-td :data="data.service_base">

                        <div>
                            <div class="text-sm">
                                {{ data.service_base ? data.service_base.region.code : '-' }}
                            </div>
                            <div class="text-sm">
                                {{ data.service_base ? data.service_base.name : '-' }}
                            </div>
                        </div>

                    </vs-td>
                    <vs-td :data="data.status">

                        <vs-chip color="danger" v-if="data.deleted_at !== null">Deleted</vs-chip>
                        <vs-chip color="success" v-else-if="data.status == 'Active'">{{ data.status }}</vs-chip>
                        <vs-chip color="warning" v-else>{{ data.status }}</vs-chip>

                    </vs-td>

                    <!--  <vs-td :data="data.install_date">
                          <small>{{data.install_date | moment('DD MMM YYYY')}}</small>
                      </vs-td>-->
                </vs-tr>
            </template>
        </vs-table>
        <vs-row vs-type="flex" vs-justify="space-between" v-if="dataList">
            <vs-col s-type="flex" vs-justify="center" vs-align="center" vs-w="2">
                <vs-dropdown vs-trigger-click class="cursor-pointer mt-5">
                    <div
                        class="p-4 border border-solid d-theme-border-grey-light rounded-full d-theme-dark-bg cursor-pointer flex items-center justify-between font-medium">
            <span class="mr-2 text-sm">{{ filters.pagination.from }} -  {{ filters.pagination.to }}  of {{
                    total
                }}</span>
                        <feather-icon icon="ChevronDownIcon" svgClasses="h-4 w-4"/>
                    </div>
                    <!-- <vs-button class="btn-drop" type="line" color="primary" icon-pack="feather" icon="icon-chevron-down"></vs-button> -->
                    <vs-dropdown-menu>

                        <vs-dropdown-item @click="changeSize(5)">
                            <span>5</span>
                        </vs-dropdown-item>
                        <vs-dropdown-item @click="changeSize(10)">
                            <span>10</span>
                        </vs-dropdown-item>
                        <vs-dropdown-item @click="changeSize(20)">
                            <span>20</span>
                        </vs-dropdown-item>
                        <vs-dropdown-item @click="changeSize(50)">
                            <span>50</span>
                        </vs-dropdown-item>
                        <vs-dropdown-item @click="changeSize(100)">
                            <span>100</span>
                        </vs-dropdown-item>
                    </vs-dropdown-menu>
                </vs-dropdown>
            </vs-col>
            <vs-col s-type="flex" vs-justify="center" vs-align="center" vs-w="2">
                <vs-pagination :total="last_page" v-model="current_page" class="mt-5"/>
            </vs-col>
        </vs-row>

    </vs-popup>
</template>

<script>
import axios from '@/http/axios/index'
import {debounce} from '@/plugins/helpers'
import vSelect from 'vue-select'

export default {
name: "ATMPicker",
    props: {
        selected: {
            type: Object,
            required: false
        },
        dialogOpen: {
            type: Boolean,
            required: true
        },
    },
    data () {
        return {
            dataList: [],
            customers: [],
            atms: [],
            filters: {
                pagination: {
                    from: 0,
                    to: 0,
                    total: 0,
                    per_page: 20,
                    current_page: 1,
                    last_page: 0
                },
                orderBy: {
                    column: 'created_at',
                    direction: 'desc'
                },
                search: '',
                customer: null,
            },
            last_page: 1,
            current_page: 1,
            total: 0,
        }
    },
    computed: {
        isAdmin () {
            return localStorage.getItem('roles') === 'administrator'
        },
        isEngineer () {
            return localStorage.getItem('roles') === 'engineer'
        },
        isCustomer () {
            return localStorage.getItem('roles') === 'customer'
        },
        baseUrl () {
            return window.location.origin
        },
        userInfo () {
            return JSON.parse(localStorage.getItem('userInfo'))
        },
        isDialogOpen: {
            get: function(){
                return this.dialogOpen;
            },
            set: function(newValue){
                this.$emit('close', newValue);
            }
        }
    },
    mounted () {
       if(this.isCustomer){
           this.filters.customer = this.userInfo.customer_id
           this.getAtmsByCustomer()
       }
        this.getAtmsByCustomer()
    },
    methods: {
        onPopupImportClose () {
            this.$emit('close', false);
        },
        handleChangePage (page) {
            this.filters.pagination.current_page = page
            this.getdataList()
        },
        handleSort (key, active) {
            this.sort(key, active)
        },
        onCustomerChange (payload) {
            this.data.customer = payload
            this.data.location = {}
            this.customerSelected.search = payload
            this.getAtms()
        },
        onAtmChange (payload) {
            this.data.atm = payload
        },
        getCustomers () {
            axios.get(`/api/master/customers/all`)
                .then(response => {
                    this.customers = response.data
                    if (this.data.id != null) {
                        this.customerSelected.search = this.data.location.customer
                        this.getAtms()
                    }
                })

        },
        getAtmsByCustomer () {
            this.dataList = []
            axios.post(`/api/master/locations/filterCustomer?page=${this.filters.pagination.current_page}`, this.filters)
                .then(response => {
                    this.isProgress = false
                    this.dataList = response.data.data
                    this.total = response.data.total
                    this.last_page = response.data.last_page
                    delete response.data.data
                    this.filters.pagination = response.data
                })
        },
        getAtms () {
            this.servicebases = []
            this.isProgress = true
            axios.post(`/api/master/locations/byCustomer`, this.customerSelected)
                .then(response => {

                })
        },
        changePage (page) {
            this.filters.pagination.current_page = page
            this.getAtmsByCustomer()
        },
        changeSize (perPage) {
            this.filters.pagination.current_page = 1
            this.filters.pagination.per_page = perPage
            this.getdataList()
        },
        sort (column, sort) {
            if (column !== null) {
                if (column == this.filters.orderBy.column) {
                    this.filters.orderBy.direction = sort == null ? 'asc' : sort
                } else {
                    this.filters.orderBy.column = column
                    this.filters.orderBy.direction = 'asc'
                }
                this.getdataList()
            }
        },
        handleSelected (tr) {

        },
    },
    watch: {
        current_page: function (value) {
            this.changePage(value)
        },
        'filters.search': debounce(function (newVal) {
            this.filters.pagination.current_page = 1
            this.filters.search = newVal
            this.getAtmsByCustomer()
        }, 1000)
    },
}
</script>

<style scoped>

</style>
