<!-- =========================================================================================
    File Name: ForgotPassword.vue
    Description: FOrgot Password Page
    ----------------------------------------------------------------------------------------
    Item Name: Vuexy - Vuejs, HTML & Laravel Admin Dashboard Template
      Author: Pixinvent
    Author URL: http://www.themeforest.net/user/pixinvent
========================================================================================== -->


<template>
  <div class="h-screen flex w-full bg-img">
    <div class="vx-col w-4/5 sm:w-4/5 md:w-3/5 lg:w-3/4 xl:w-3/5 mx-auto self-center">
      <vx-card>
        <div slot="no-body" class="full-page-bg-color">
          <div class="vx-row">
            <div class="vx-col hidden sm:hidden md:hidden lg:block lg:w-1/2 mx-auto self-center">
              <img src="@assets/images/pages/forgot-password.png" alt="login" class="mx-auto">
            </div>
            <div class="vx-col sm:w-full md:w-full lg:w-1/2 mx-auto self-center d-theme-dark-bg">
              <div class="p-8">
                <div class="vx-card__title mb-8">
                  <h4 class="mb-4">Reset Password</h4>
                  <p>Silahkan masukan email yang sudah terdaftar.</p>
                </div>
                <div class="vx-card__title mb-8">
                  <vs-input type="email" label-placeholder="Email" v-model="email" class="w-full" name="Email"
                            v-validate="'required|email'"/>
                  <span class="text-danger text-sm" v-show="errors.has('Email')">{{ errors.first('Email') }}</span>
                </div>
                <vs-button type="border" to="/login" class="px-4 w-full md:w-auto">Kembali ke Login</vs-button>
                <vs-button class="float-right px-4 w-full md:w-auto mt-3 mb-8 md:mt-0 md:mb-0" :disabled="validateForm"
                           @click="resetPassword">Kirim
                </vs-button>
              </div>
            </div>
          </div>
        </div>
      </vx-card>
    </div>
  </div>
</template>

<script>
import axios from '@/http/axios/index'

export default {
  data () {
    return {
      email: '',
      errorsResponse: {},
    }
  },
  computed: {
    validateForm () {
      return this.errors.count() > 0 || !(Object.keys(this.fields).some(key => this.fields[key].dirty))
    }
  },
  methods: {
    resetPassword () {
      this.$vs.loading()
      const payload = {
        email: this.email
      }
      axios.post(`/api/auth/forgot-password`, payload)
          .then(response => {
            this.$vs.loading.close()
            this.$vs.notify({
              title: 'Sukses',
              text: response.data.status,
              iconPack: 'feather',
              icon: 'icon-alert-circle',
              color: 'success',
              position: 'top-right'
            })
          }).catch(error => {
        this.errorsResponse = error.response.data
        this.$vs.loading.close()
        this.$vs.notify({
          title: 'Error',
          text: error.response.data.status,
          iconPack: 'feather',
          icon: 'icon-alert-circle',
          color: 'danger',
          position: 'top-right'
        })
      })

    }
  }
}
</script>
