<!-- =========================================================================================
    File Name: LockScreen.vue
    Description: Lock Screen Page
    ----------------------------------------------------------------------------------------
    Item Name: Vuexy - Vuejs, HTML & Laravel Admin Dashboard Template
      Author: Pixinvent
    Author URL: http://www.themeforest.net/user/pixinvent
========================================================================================== -->


<template>
    <div class="h-screen flex w-full bg-img vx-row no-gutter justify-center items-center">
        <div class="vx-col sm:w-3/5 md:w-3/5 lg:w-3/4 xl:w-3/5 sm:m-0 m-4">
            <vx-card>
                <div slot="no-body" class="full-page-bg-color">
                    <div class="vx-row no-gutter">
                        <div class="vx-col hidden sm:hidden md:hidden lg:block lg:w-1/2 mx-auto self-center">
                            <img src="@assets/images/pages/lock-screen.png" alt="login" class="mx-auto">
                        </div>
                        <div class="vx-col sm:w-full md:w-full lg:w-1/2 mx-auto self-center d-theme-dark-bg">
                            <div class="p-8">
                                <div class="vx-card__title mb-8">
                                    <h4 class="mb-4">Your Session is locked</h4>
                                </div>
                                <div class="mb-base">
                                    <vs-input
                                        v-validate="'required|email|min:3'"
                                        data-vv-validate-on="blur"
                                        name="Email / Username"
                                        icon-no-border
                                        icon-after vs-icon-after="true"
                                        icon="icon icon-user"
                                        icon-pack="feather"
                                        label-placeholder="Email / Username"
                                        v-model="login"
                                        class="w-full"
                                        disabled/>
                                    <span class="text-danger text-sm ml-3" v-if="errorsResponse.email">Email: {{ errorsResponse.email[0] }}</span>
                                    <span class="text-danger text-sm ml-3" v-if="errorsResponse.username">Username: {{ errorsResponse.username[0] }}</span>
                                    <span class="text-danger text-sm ml-3">{{ errors.first('Email / Username') }}</span>
                                </div>
                                <div class="mb-base">
                                    <vs-input
                                        data-vv-validate-on="blur"
                                        v-validate="'required|min:6|max:10'"
                                        type="password"
                                        icon-after vs-icon-after="true"
                                        name="password"
                                        icon-no-border
                                        icon="icon icon-lock"
                                        icon-pack="feather"
                                        label-placeholder="Password"
                                        v-model="password"
                                        class="w-full"/>
                                    <span class="text-danger text-sm ml-3" v-if="errorsResponse.password">{{ errorsResponse.password[0] }}</span>
                                    <span class="text-danger text-sm ml-3">{{ errors.first('password') }}</span>
                                </div>

                                <div class="flex justify-between flex-wrap">
                                    <router-link to="/login" class="mb-4">{{ message }}</router-link>
                                    <vs-button :disabled="validateForm" @click="loginJWT">Login</vs-button>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </vx-card>
        </div>
    </div>
</template>

<script>
    export default {
        data () {
            return {
                login: '',
                password: '',
                user: {},
                message: '',
                errorsResponse: {}
            }
        },
        mounted () {
            if (!this.checkLogin()) {
                this.$router.push('/app,').catch(() => {
                })
            }
            this.user = JSON.parse(localStorage.getItem('userInfo'))
            if (!this.user) {
                this.$router.push('/login').catch(() => {
                })
            } else {
                this.login = this.user.email
                this.message = `Are you not ${this.user.name}?`
            }
        },
        computed: {
            validateForm () {
                return this.errors.count() > 0 || !(Object.keys(this.fields).some(key => this.fields[key].dirty))
            }
        },
        methods: {
            checkLogin () {

                if (this.$store.state.auth.isUserLoggedIn()) {

                    this.$vs.notify({
                        title: 'Login Attempt',
                        text: 'You are already logged in!',
                        iconPack: 'feather',
                        icon: 'icon-alert-circle',
                        color: 'warning',
                        position:'top-right'
                    })

                    return false
                }
                return true
            },
            loginJWT () {
                this.errorsResponse = {}
                if (!this.checkLogin()) return

                this.$vs.loading()

                const payload = {
                    checkbox_remember_me: this.checkbox_remember_me,
                    userDetails: {
                        login: this.login,
                        password: this.password
                    }
                }

                this.$store.dispatch('auth/loginJWT', payload)
                    .then(() => {
                        this.$vs.loading.close()
                    })
                    .catch(error => {
                        this.$vs.loading.close()
                        this.errorsResponse = error.response.data.errors
                        this.$vs.notify({
                            title: 'Error',
                            text: error.message,
                            iconPack: 'feather',
                            icon: 'icon-alert-circle',
                            color: 'danger',
                            position:'top-right'
                        })
                    })
            }
        }
    }
</script>
