<!-- =========================================================================================
    File Name: Login.vue
    Description: Login Page
    ----------------------------------------------------------------------------------------
    Item Name: Vuexy - Vuejs, HTML & Laravel Admin Dashboard Template
      Author: Pixinvent
    Author URL: http://www.themeforest.net/user/pixinvent
========================================================================================== -->


<template>
    <div class="h-screen flex w-full bg-img vx-row no-gutter items-center justify-center" id="page-login">
        <div class="vx-col sm:w-1/2 md:w-1/2 lg:w-3/4 xl:w-3/5 sm:m-0 m-4">
            <vx-card>
                <div slot="no-body" class="full-page-bg-color">

                    <div class="vx-row no-gutter justify-center items-center">

                        <div class="vx-col hidden lg:block lg:w-1/2">
                            <img src="@assets/images/pages/login.svg" height="300px" alt="login" class="mx-auto">
                        </div>

                        <div class="vx-col sm:w-full md:w-full lg:w-1/2 d-theme-dark-bg">
                            <div class="px-8 pt-8 login-tabs-container">

                                <vs-row vs-type="flex" vs-justify="center" class="mb-base">
                                    <img v-if="logo" :src="logo" alt="user-img" class="items-center content-center"
                                         width="auto" height="45"/>
                                </vs-row>

                                <div class="vx-card__title mb-10">
                                    <h4 class="mb-4">Login</h4>
                                    <p class="mb-4">Silahkan masuk untuk menggunakan Aplikasi</p>
                                </div>
                                <form>
                                    <div>
                                        <div class="mb-6">
                                            <vs-input
                                                v-validate="'required'"
                                                data-vv-validate-on="blur"
                                                name="Email / Username"
                                                icon-no-border
                                                icon-after vs-icon-after="true"
                                                icon="icon icon-user"
                                                icon-pack="feather"
                                                label-placeholder="Email / Username"
                                                v-model="login"
                                                class="w-full"/>
                                            <span class="text-danger text-sm ml-3" v-if="errorsResponse.email">Email: {{ errorsResponse.email[0] }}</span>
                                            <span class="text-danger text-sm ml-3" v-if="errorsResponse.username">Username: {{ errorsResponse.username[0] }}</span>
                                            <span class="text-danger text-sm ml-3">{{ errors.first('Email / Username') }}</span>
                                        </div>
                                        <div class="mb-6">
                                            <vs-input
                                                data-vv-validate-on="blur"
                                                v-validate="'required|min:6|max:15'"
                                                type="password"
                                                icon-after vs-icon-after="true"
                                                name="Password"
                                                icon-no-border
                                                autocomplete="on"
                                                icon="icon icon-lock"
                                                icon-pack="feather"
                                                label-placeholder="Password"
                                                v-model="password"
                                                class="w-full"/>
                                            <span class="text-danger text-sm ml-3" v-if="errorsResponse.password">{{ errorsResponse.password[0] }}</span>
                                            <span class="text-danger text-sm ml-3">{{ errors.first('Password') }}</span>
                                        </div>
                                        <div class="flex flex-wrap justify-between my-5">
                                          <!--<vs-checkbox v-model="checkbox_remember_me" class="mb-3">Remember Me
                                          </vs-checkbox>-->
                                          <div></div>
<!--                                         <router-link to="/forgot-password">Lupa Password?</router-link>-->
                                      </div>
                                        <div class="flex mb-3 mt-10 pt-10">
                                            <vs-button style="width:100%" :disabled="validateForm" @click="loginJWT">
                                                Login
                                            </vs-button>
                                        </div>

                                        <!-- <div class="flex mb-3">
                                             <vs-button style="width:100%" type="border" @click="registerUser">Register</vs-button>
                                         </div>-->


                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </vx-card>
        </div>
    </div>
</template>


<script>
    export default {
        data () {
            return {
                login: '',
                password: '',
                checkbox_remember_me: false,
                errorsResponse: {},
                logo: '/images/logo/logo.png'
            }
        },
        mounted () {
            this.$vs.loading.close()
            if (!this.checkLogin()) this.$router.push('/app').catch(() => {
            })
            this.settings = window.app
            if (this.settings.app_logo) {
                this.logo = '/storage/settings/' + this.settings.app_logo
            }

        },
        computed: {
            validateForm () {
                return this.errors.count() > 0 || !(Object.keys(this.fields).some(key => this.fields[key].dirty))
            }
        },
        methods: {
            checkLogin () {
                if (this.$store.state.auth.isUserLoggedIn()) {

                    this.$vs.notify({
                        title: 'Login Attempt',
                        text: 'You are already logged in!',
                        iconPack: 'feather',
                        icon: 'icon-alert-circle',
                        color: 'warning',
                        position: 'top-right'
                    })

                    return false
                }
                return true
            },
            loginJWT () {
                this.errorsResponse = {}
                if (!this.checkLogin()) return

                this.$vs.loading()

                const payload = {
                    checkbox_remember_me: this.checkbox_remember_me,
                    userDetails: {
                        login: this.login,
                        password: this.password
                    }
                }

                this.$store.dispatch('auth/loginJWT', payload)
                    .then((res) => {
                        this.$vs.loading.close()
                    })
                    .catch(error => {
                        this.$vs.loading.close()
                        console.log(error)
                        this.$vs.notify({
                          title: 'Error',
                          text: error.data.msg,
                          iconPack: 'feather',
                          icon: 'icon-alert-circle',
                          color: 'danger',
                          position: 'top-right'
                        })
                        //this.errorsResponse = error.response.data.errors


                    })
            },
            registerUser () {
                if (!this.checkLogin()) return
                this.$router.push('/register').catch(() => {
                })
            }
        }
    }
</script>

<style lang="scss">
    .login-tabs-container {
        min-height: 505px;

        .con-tab {
            padding-bottom: 14px;
        }

        .con-slot-tabs {
            margin-top: 1rem;
        }
    }
</style>
