<!-- =========================================================================================
    File Name: Register.vue
    Description: Register Page
    ----------------------------------------------------------------------------------------
    Item Name: Vuexy - Vuejs, HTML & Laravel Admin Dashboard Template
      Author: Pixinvent
    Author URL: http://www.themeforest.net/user/pixinvent
========================================================================================== -->


<template>
    <div class="h-screen flex w-full bg-img vx-row no-gutter items-center justify-center">
        <div class="vx-col sm:w-1/2 md:w-1/2 lg:w-3/4 xl:w-3/5 sm:m-0 m-4">
            <vx-card>
                <div slot="no-body" class="full-page-bg-color">
                    <div class="vx-row no-gutter">
                        <div class="vx-col hidden sm:hidden md:hidden lg:block lg:w-1/2 mx-auto self-center">
                            <img src="@assets/images/pages/register.jpg" alt="register" class="mx-auto">
                        </div>
                        <div class="vx-col sm:w-full md:w-full lg:w-1/2 mx-auto self-center  d-theme-dark-bg">
                            <div class="px-8 pt-8 register-tabs-container">
                                <div class="vx-card__title mb-4">
                                    <h4 class="mb-4">Create Account</h4>
                                    <p>Fill the below form to create a new account.</p>
                                </div>
                                <form>
                                <div class="clearfix">
                                    <vs-input
                                        v-validate="'required|alpha_dash|min:3'"
                                        data-vv-validate-on="blur"
                                        label-placeholder="Nama"
                                        name="Nama"
                                        placeholder="Nama"
                                        v-model="name"
                                        class="w-full"/>
                                    <span class="text-danger text-sm ml-3">{{ errors.first('Nama') }}</span>

                                    <vs-input
                                        v-validate="'required|email'"
                                        data-vv-validate-on="blur"
                                        name="Email"
                                        type="email"
                                        label-placeholder="Email"
                                        placeholder="Email"
                                        v-model="email"
                                        class="w-full mt-6"/>
                                    <span class="text-danger text-sm ml-3">{{ errors.first('Email') }}</span>

                                    <vs-input
                                        ref="password"
                                        type="password"
                                        data-vv-validate-on="blur"
                                        v-validate="'required|min:6|max:10'"
                                        name="Password"
                                        autocomplete="on"
                                        label-placeholder="Password"
                                        placeholder="Password"
                                        v-model="password"
                                        class="w-full mt-6"/>
                                    <span class="text-danger text-sm ml-3">{{ errors.first('Password') }}</span>

                                    <vs-input
                                        type="password"
                                        v-validate="'min:6|max:10|confirmed:password'"
                                        data-vv-validate-on="blur"
                                        data-vv-as="password"
                                        name="Confirm Password"
                                        autocomplete="on"
                                        label-placeholder="Confirm Password"
                                        placeholder="Confirm Password"
                                        v-model="confirm_password"
                                        class="w-full mt-6"/>
                                    <span class="text-danger text-sm ml-3">{{ errors.first('Confirm Password') }}</span>

                                    <vs-checkbox v-model="isTermsConditionAccepted" class="mt-6">I accept the terms &
                                        conditions.
                                    </vs-checkbox>
                                    <vs-button type="border" to="/login" class="mt-6">Login</vs-button>
                                    <vs-button class="float-right mt-6" :disabled="validateForm" @click="register">
                                        Register
                                    </vs-button>
                                </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </vx-card>
        </div>
    </div>
</template>

<script>

    export default {
        data () {
            return {
                name: '',
                email: '',
                password: '',
                confirm_password: '',
                isTermsConditionAccepted: false,
                user: {},
                message: '',
                errorsResponse: {}
            }
        },
        mounted () {

        },
        computed: {
            validateForm () {
                return this.errors.count() > 0 || !(Object.keys(this.fields).some(key => this.fields[key].dirty))
            }
        },
        methods: {
            register () {
                if (!this.isTermsConditionAccepted) {
                    this.$vs.dialog({
                        color: 'warning',
                        title: `Terms & Conditions`,
                        text: 'You must accept Terms & Conditions of our website before continue.',
                        accept: this.acceptAlert
                    })
                } else {

                }
            },
            acceptAlert () {
                this.isTermsConditionAccepted = true
            }
        }
    }
</script>

<style lang="scss">
    .register-tabs-container {
        min-height: 517px;

        .con-tab {
            padding-bottom: 23px;
        }
    }
</style>
