<!-- =========================================================================================
  File Name: TheNavbar.vue
  Description: Navbar component
  Component Name: TheNavbar
  ----------------------------------------------------------------------------------------
  Item Name: Vuexy - Vuejs, HTML & Laravel Admin Dashboard Template
  Author: Pixinvent
  Author URL: http://www.themeforest.net/user/pixinvent
========================================================================================== -->


<template>
  <div class="relative">

    <div class="vx-navbar-wrapper" :class="classObj">

      <vs-navbar class="vx-navbar navbar-custom navbar-skelton" :color="navbarColorLocal" :class="textColor">

        <!--<bookmarks :navbarColor="navbarColor" v-if="windowWidth >= 992"/>-->
        <!-- SM - OPEN SIDEBAR BUTTON -->
        <feather-icon class="sm:inline-flex xl:hidden cursor-pointer p-2" icon="MenuIcon"
                      @click.stop="showSidebar"/>
        <!--                <locale-dropdown/>-->

        <div class="content-area__heading p-2"
             v-if="windowWidth >= 992 && !routeTitle.includes('Dashboard')">
          <h2 class="mb-1">{{ routeTitle }}</h2>
        </div>
        <div v-else-if="userRole==='customer'" class="content-area__heading p-2">
          <h3 class="mb-1">{{ activeUserInfo.customer.name }}</h3>
        </div>
        <div v-else-if="userRole==='vendor'" class="content-area__heading p-2">
          <h3 class="mb-1">{{ activeUserInfo.vendor.name }}</h3>
        </div>
        <div v-else class="ml-2 sm:inline-flex p-2">
          <img v-if="logo" :src="logo" alt="user-img"
               width="auto" height="45" class="vx-logo"/>
        </div>


        <vs-spacer/>

        <notification-drop-down/>
        <profile-drop-down/>

      </vs-navbar>
    </div>
  </div>
</template>


<script>
import Bookmarks from './components/Bookmarks.vue'
import SearchBar from './components/SearchBar.vue'
import NotificationDropDown from './components/NotificationDropDown.vue'
import ProfileDropDown from './components/ProfileDropDown.vue'
import LocaleDropdown from './components/LocaleDropdown.vue'

export default {
  name: 'the-navbar-vertical',
  props: {
    navbarColor: {
      type: String,
      default: '#fff'
    }
  },
  data () {
    return {
      logo: '/images/logo/logo.png',
      routeTitle: this.$route.meta.pageTitle
    }
  },
  watch: {
    '$route' () {
      this.routeTitle = this.$route.meta.pageTitle
    }
  },
  components: {
    Bookmarks,
    SearchBar,
    NotificationDropDown,
    ProfileDropDown,
    LocaleDropdown
  },
  computed: {
    navbarColorLocal () {
      return this.$store.state.theme === 'dark' && this.navbarColor === '#fff' ? '#10163a' : this.navbarColor
    },
    verticalNavMenuWidth () {
      return this.$store.state.verticalNavMenuWidth
    },
    textColor () {
      return {'text-white': (this.navbarColor !== '#10163a' && this.$store.state.theme === 'dark') || (this.navbarColor !== '#fff' && this.$store.state.theme !== 'dark')}
    },
    windowWidth () {
      return this.$store.state.windowWidth
    },

    // NAVBAR STYLE
    classObj () {
      if (this.verticalNavMenuWidth === 'default') return 'navbar-default'
      else if (this.verticalNavMenuWidth === 'reduced') return 'navbar-reduced'
      else if (this.verticalNavMenuWidth) return 'navbar-full'
    },
    userRole () {
      if (localStorage.getItem('roles') === 'customer') {
        return 'customer'
      } else if (localStorage.getItem('roles') === 'vendor') {
        return 'vendor'
      }
    },
    activeUserInfo () {
      return this.$store.state.AppActiveUser
    },
  },
  mounted () {
    this.settings = window.app
    if (this.settings.app_logo) {
      this.logo = '/storage/settings/' + this.settings.app_logo
    }

  },
  methods: {
    showSidebar () {
      this.$store.commit('TOGGLE_IS_VERTICAL_NAV_MENU_ACTIVE', true)
    },
    changeRouteTitle (title) {
      this.routeTitle = title
    }
  }
}
</script>

