<template>
    <vx-card no-shadow>
        <div class="vx-row mb-3">
            <div class="vx-col sm:w-1/2 w-full mb-2">
                <div class="search-page__search-bar flex items-center">
                    <vs-input icon-no-border placeholder="Search" v-model="filters.search"
                              class="w-full input-rounded-full" icon="icon-search" icon-pack="feather"/>
                </div>
            </div>
            <div class="vx-col sm:w-1/2 w-full mb-2 items-end" v-can="'create-roles'">
                <div class="search-page__search-bar flex items-center">
                    <vs-button color="primary" icon-pack="feather" icon="icon-plus" @click="addData">Tambah Role
                    </vs-button>
                </div>
            </div>
        </div>
        <vs-table
            :sst="true"
            @sort="handleSort"
            v-model="selected"
            @selected="handleSelected"
            max-items="5"
            :data="dataList">
            <template slot="thead">
                <vs-th sort-key="id">No</vs-th>
                <vs-th sort-key="display_name">Nama Role</vs-th>
               <!-- <vs-th sort-key="name">Identifier</vs-th>-->
                <vs-th>Users</vs-th>
                <vs-th>Hak Akses</vs-th>
            </template>

            <template slot-scope="{data}">
                <vs-tr :data="item" :key="index" v-for="(item, index) in dataList">
                    <vs-td :data="index">
                        {{ filters.pagination.current_page===1 ? index + 1 : index + 1 + ((filters.pagination.current_page-1) * filters.pagination.per_page) }}
                    </vs-td>
                    <vs-td :data="item.display_name">
                        {{item.display_name}}
                    </vs-td>
                  <!--  <vs-td :data="item.name">
                        {{item.name}}
                    </vs-td>-->
                    <vs-td :data="item.users">
                        <div class="flex items-center">
                            <ul class="users-liked user-list ml-3 sm:ml-6">
                                <li v-for="(user, userIndex) in item.users.slice(0, 5)" :key="userIndex">
                                    <vx-tooltip :text="user.name" position="bottom">
                                        <vs-avatar :src="user.avatar" size="30px" class="border-2 border-white border-solid -m-1"></vs-avatar>
                                    </vx-tooltip>
                                </li>
                            </ul>
                            <small class="ml-2" v-if="item.users.length > 5">+{{ item.users.length - 5 }}</small>
                            <small class="ml-2" v-if="item.users.length === 0">Tidak ditemukan</small>
                        </div>
                    </vs-td>

                    <vs-td :data="item.permissions">
                        <div>
                            <vs-row vs-type="flex" vs-justify="space-between">
                                <vs-col vs-type="flex" vs-justify="center" vs-align="center" vs-w="2">Level</vs-col>
                                <vs-col vs-type="flex" vs-justify="right" vs-align="right" vs-w="4">
                                    <div class="text-sm">{{item.permissions.length}} of {{permissionsCount}}</div>
                                </vs-col>
                            </vs-row>
                            <vs-progress :style="`width: ${item.permissions.length*100/permissionsCount}%`"
                                         :percent="item.permissions.length*100/permissionsCount"
                                         color="success"></vs-progress>
                        </div>

                    </vs-td>

                </vs-tr>
            </template>
        </vs-table>
        <vs-pagination :total="last_page" v-model="current_page" class="mt-5"/>
    </vx-card>
</template>
<script>
    import axios from '@/http/axios/index'
    import {debounce} from '@/plugins/helpers'

    export default {
        data () {
            return {
                selected: [],
                dataList: [],
                last_page: 1,
                current_page: 1,
                permissionsCount: 0,
                filters: {
                    pagination: {
                        from: 0,
                        to: 0,
                        total: 0,
                         per_page: 20,
                        current_page: 1,
                        last_page: 0
                    },
                    orderBy: {
                        column: 'id',
                        direction: 'asc'
                    },
                    search: ''
                },
                loading: true
            }
        },
      computed: {
        isAdmin () {
          return localStorage.getItem('roles') === 'administrator'
        }
      },
        mounted () {
            if (localStorage.getItem('filtersTableRoles')) {
                this.filters = JSON.parse(localStorage.getItem('filtersTableRoles'))
                this.filters.pagination.current_page = 1
                this.filters.search = ''
            } else {
                localStorage.setItem('filtersTableRoles', this.filters)
            }
            this.getPermissionsCount()
            this.getDataList()

        },
        methods: {
            handleSearch (searching) {
                if (searching.length >= 3) {
                    this.filters.search = searching
                    this.getDataList()
                } else {
                    this.filters.search = ''
                    this.getDataList()
                }
            },
            handleChangePage (page) {
                this.filters.pagination.current_page = page
                this.getDataList()
            },
            handleSort (key, active) {
                this.sort(key, active)
            },
            getPermissionsCount () {
                axios.get(`/api/permissions/count`)
                    .then(response => {
                        this.permissionsCount = response.data
                    })
            },
            getDataList () {
                this.$vs.loading()
                this.dataList = []
                localStorage.setItem('filtersTableRoles', JSON.stringify(this.filters))
                axios.post(`/api/roles/filter?page=${this.filters.pagination.current_page}`, this.filters)
                    .then(response => {
                        this.$vs.loading.close()
                        this.dataList = response.data.data
                        this.last_page = response.data.last_page
                        delete response.data.data
                        this.filters.pagination = response.data
                        this.loading = false
                    })
                    .catch(error => {
                        this.$vs.loading.close()
                        this.errors = error.response.data.errors
                        this.$vs.notify({
                            title: 'Error',
                            text: 'Terjadi kesalahan',
                            iconPack: 'feather',
                            icon: 'icon-alert-circle',
                            color: 'danger',
                            position:'top-right'
                        })
                    })
            },
            editUser (userId) {
                location.href = `/setting/dataList/${userId}/edit`
            },
            // filters
            filter () {
                this.filters.pagination.current_page = 1
                this.getDataList()
            },
            changeSize (perPage) {
                this.filters.pagination.current_page = 1
                this.filters.pagination.per_page = perPage
                this.getDataList()
            },
            sort (column, sort) {
                if (column !== null) {
                    if (column == this.filters.orderBy.column) {
                        this.filters.orderBy.direction = sort == null ? 'asc' : sort
                    } else {
                        this.filters.orderBy.column = column
                        this.filters.orderBy.direction = 'asc'
                    }
                    this.getDataList()
                }
            },
            changePage (page) {
                this.filters.pagination.current_page = page
                this.getDataList()
            },
            handleSelected (tr) {
                this.$router.push({
                    name: 'admin-role-edit',
                    params: {id: tr.id}
                }).catch(() => {
                })
            },
            addData () {
                this.$router.push('/app/setting/roles/add').catch(() => {
                })
            }
        }
        ,
        watch: {
            current_page: function (value) {
                this.changePage(value)
            },
            'filters.search': debounce(function (newVal) {
                this.filters.pagination.current_page = 1
                this.getDataList()
            }, 1000)
        },
        destroyed() {
            localStorage.removeItem('filtersTableRoles')
        }
    }
</script>

