<template>
    <div class="vx-row">
        <div class="vx-col sm:w-1/2 w-full mb-2">
            <vx-card title="Role Data">
                <div class="vx-row">
                    <div class="vx-col w-full mb-2">
                        <vs-input class="w-full" label-placeholder="Nama" v-model="role.display_name"
                                  data-vv-validate-on="blur"
                                  v-validate="'required|min:5'"
                                  name="Nama"/>
                        <small class="form-text text-danger ml-3">{{ errors.first('Nama') }}</small>
                        <small class="form-text text-danger"
                               v-if="errorsData.display_name">{{errorsData.display_name[0]}}</small>

                    </div>
                </div>
                <div class="vx-row" hidden>
                    <div class="vx-col w-full mb-10">
                        <vs-input class="w-full" label-placeholder="Identifier" v-model="role.name" disabled/>
                        <small class="form-text text-danger"
                               v-if="errorsData.name">{{errorsData.name[0]}}</small>
                    </div>
                </div>
                <div class="vx-row">
                    <vs-row vs-type="flex" vs-justify="flex-end">
                        <vs-button :disabled="validateForm" class="mr-3 mb-2" color="success" @click="create">Simpan
                        </vs-button>
                        <!--                        <vs-button class="mr-3 mb-2" color="danger" type="filled" icon-pack="feather"
                                                           icon="icon-trash" @click="deleteConfirm"></vs-button>-->
                    </vs-row>
                </div>

            </vx-card>
        </div>
        <div class="vx-col sm:w-1/2 w-full mb-2">
            <vx-card title="Hak Akses">
                <div class="w-full" v-for="module in role.modulesPermissions">
                    <div class="text-sm mb-3"><strong>{{module.display_name}}</strong></div>
                    <div class="w-full">
                        <div v-for="permission in module.permissions">
                            <vs-row vs-type="flex" vs-justify="space-between" class="mb-3">
                                <vs-col vs-type="flex" vs-justify="left" vs-align="center" vs-w="1">
                                    {{permission.display_name}}
                                </vs-col>
                                <vs-col vs-type="flex" vs-justify="right" vs-align="center" vs-w="2">
                                    <label class="switch switch-pill switch-outline-success-alt float-right">
                                        <vs-switch color="success" v-model="permission.allow"
                                                   icon-pack="feather" vs-icon="icon-check"/>
                                    </label>
                                </vs-col>
                            </vs-row>
                        </div>
                    </div>
                </div>


            </vx-card>
        </div>
    </div>

</template>


<script>
    import axios from '@/http/axios/index'

    export default {
        data () {
            return {
                id: 0,
                role: {
                    permissions: [],
                    modulesPermissions: []
                },
                permissionsCount: 0,
                errorsData: {},
                loading: true,
                submiting: false,
                submitingDestroy: false
            }
        },
        mounted () {
            this.id = this.$route.params.id
            this.getPermissionsCount()
            this.getModulesPermissions()
        },
        computed: {
            validateForm () {
                return this.errors.count() > 0 || !(Object.keys(this.fields).some(key => this.fields[key].dirty));
            }
        },
        methods: {
            create () {
                this.$vs.loading()
                axios.post(`/api/roles/store`, this.role)
                    .then(response => {
                        this.$vs.notify({
                            title: 'Success',
                            text: 'Role created',
                            iconPack: 'feather',
                            icon: 'icon-alert-circle',
                            color: 'success',
                            position:'top-right'
                        })
                        this.backToList()
                    })
                    .catch(error => {
                        //this.errorsData = error.response.data.errors
                        this.$vs.notify({
                            title: 'Error',
                            text: 'Terjadi kesalahan',
                            iconPack: 'feather',
                            icon: 'icon-alert-circle',
                            color: 'danger',
                            position:'top-right'
                        })
                    })
                    .then(() => {
                        this.$vs.loading.close()
                    })
            },
            getModulesPermissions () {
                this.loading = true
                axios.get('/api/modules/getModulesPermissions')
                    .then(response => {
                        this.role.modulesPermissions = response.data
                        this.loading = false
                        //this.$set(this.role, 'modules', response.data)
                    })
            },
            backToList () {
                this.$router.push('/app/setting/roles').catch(() => {
                })
            },
            getPermissionsCount () {
                axios.get(`/api/permissions/count`)
                    .then(response => {
                        this.permissionsCount = response.data
                    })
            },
            deleteConfirm () {
                this.$vs.dialog({
                    type: 'confirm',
                    color: 'danger',
                    title: 'Confirm',
                    text: `Yakin akan menghapus Role ${this.role.display_name}?`,
                    accept: this.destroy,
                    parameters: this.role.display_name
                })
            }
        },
        watch: {
            'role.display_name': function (val) {
                this.role.name = val.toString().toLowerCase()
                    .replace(/\s+/g, '-')
                    .replace(/[^\w\-]+/g, '')
                    .replace(/\-\-+/g, '-')
                    .replace(/^-+/, '')
                    .replace(/-+$/, '')
            }
        }
    }
</script>

<style scoped>

</style>
