<template>
    <div class="vx-row">
        <div class="vx-col sm:w-1/2 w-full mb-2">
            <div class="vx-col w-full mb-2">
                <vx-card title="Role Data">
                    <div class="vx-row">
                        <div class="vx-col sm:w-1/2 w-full mb-2">
                            <vs-input class="w-full" label-placeholder="Nama" v-model="role.display_name"/>

                        </div>
                        <div class="vx-col sm:w-1/2 w-full mb-2">
                            <vs-input class="w-full" label-placeholder="ID" v-model="role.id" disabled/>
                        </div>
                    </div>
                    <div class="vx-row" hidden>
                        <div class="vx-col w-full mb-10">
                            <vs-input class="w-full" label-placeholder="Slug Nama" v-model="role.name" disabled/>
                        </div>
                    </div>
                    <div class="vx-row">
                        <vs-row vs-type="flex" vs-justify="flex-end">
                            <vs-button class="mr-3 mb-2" color="success" @click="update" v-can="'update-roles'">Simpan</vs-button>
                            <vs-button class="mr-3 mb-2" color="danger" type="filled" icon-pack="feather"
                                       icon="icon-trash" @click="deleteConfirm" v-can="'delete-roles'"></vs-button>
                        </vs-row>
                    </div>

                </vx-card>
            </div>
            <div class="vx-col w-full mb-2">
                <vx-card title="Users">
                    <div v-for="user in role.users.slice(0,5)">
                        <vx-card>
                            <div class="flex flex-wrap items-center">
                                <vs-avatar :src="user.avatar" size="40px" class="mr-4"/>
                                <div>
                                    <div>
                                        {{user.name}}
                                    </div>
                                    <div class="text-sm">
                                        {{user.email}}
                                    </div>
                                </div>
                            </div>
                        </vx-card>
                    </div>
                    <div class="text-lg justify-center mt-10" v-if="role.users.length > 5">+{{ role.users.length - 5 }} User</div>
                    <div class="text-lg justify-center" v-if="role.users.length===0">Tidak ditemukan</div>
                </vx-card>
            </div>
        </div>
        <div class="vx-col sm:w-1/2 w-full mb-2">
            <vx-card>
                <vs-collapse>

                    <vs-collapse-item>
                        <div slot="header">

                            <div>
                                <vs-row vs-type="flex" vs-justify="space-between" class="mb-3">
                                    <vs-col vs-type="flex" vs-justify="center" vs-align="center" vs-w="4">
                                        <h3>Hak Akses</h3>
                                    </vs-col>
                                    <vs-col vs-type="flex" vs-justify="center" vs-align="center" vs-w="4">
                                        {{role.permissions.length}} of {{permissionsCount}}
                                    </vs-col>
                                </vs-row>
                                <vs-row vs-type="flex" vs-justify="flex-end">
                                    <vs-col vs-type="flex" vs-justify="center" vs-align="center" vs-w="2">
                                        <vs-progress :style="`width: ${role.permissions.length*100/permissionsCount}%`"
                                                     :percent="role.permissions.length*100/permissionsCount"
                                                     color="success"></vs-progress>
                                    </vs-col>
                                </vs-row>
                            </div>
                        </div>

                        <div class="w-full" v-for="module in role.modulesPermissions">
                            <div class="text-sm mb-3"><strong>{{module.display_name}}</strong></div>
                            <div class="w-full">
                                <div v-for="permission in module.permissions">
                                    <vs-row vs-type="flex" vs-justify="space-between" class="mb-3">
                                        <vs-col vs-type="flex" vs-justify="left" vs-align="center" vs-w="1">
                                            {{permission.display_name}}
                                        </vs-col>
                                        <vs-col vs-type="flex" vs-justify="right" vs-align="center" vs-w="2">
                                            <label class="switch switch-pill switch-outline-success-alt float-right">
                                                <vs-switch color="success" v-model="permission.allow"
                                                           icon-pack="feather" vs-icon="icon-check"/>
                                            </label>
                                        </vs-col>
                                    </vs-row>
                                </div>
                            </div>
                        </div>
                    </vs-collapse-item>
                </vs-collapse>
            </vx-card>
        </div>


    </div>

</template>


<script>
    import axios from '@/http/axios/index'

    export default {
        data () {
            return {
                id: 0,
                role: {
                    permissions: [],
                    users: []
                },
                permissionsCount: 0,
                errorsData: {},
                loading: true,
                submiting: false,
                submitingDestroy: false
            }
        },
      computed: {
        isAdmin () {
          return localStorage.getItem('roles') === 'administrator'
        }
      },
        mounted () {
            this.id = this.$route.params.id
            this.getPermissionsCount()
            this.getRole()
        },
        methods: {
            getRole () {
                this.$vs.loading()
                this.loading = true
                let str = window.location.pathname
                let res = str.split('/')
                axios.get(`/api/roles/getRoleModulesPermissions/${this.id}`)
                    .then(response => {
                        this.role = response.data
                    })
                    .catch(error => {
                        this.$vs.notify({
                            title: 'Error',
                            text: 'Terjadi kesalahan',
                            iconPack: 'feather',
                            icon: 'icon-alert-circle',
                            color: 'danger',
                            position:'top-right'
                        })
                        this.backToList()
                    })
                    .then(() => {
                        this.$vs.loading.close()
                    })
            },
            update () {
                this.$vs.loading()
                axios.put(`/api/roles/update/${this.role.id}`, this.role)
                    .then(response => {
                        this.$vs.notify({
                            title: 'Success',
                            text: 'Data berhasil diperbaharui',
                            iconPack: 'feather',
                            icon: 'icon-alert-circle',
                            color: 'success',
                            position:'top-right'
                        })
                        this.backToList()
                    })
                    .catch(error => {
                        this.$vs.notify({
                            title: 'Error',
                            text: 'Error while saving data',
                            iconPack: 'feather',
                            icon: 'icon-alert-circle',
                            color: 'danger',
                            position:'top-right'
                        })
                    })
                    .then(() => {
                        this.$vs.loading.close()
                    })
            },
            destroy: function (parameters) {
                this.$vs.loading()
                axios.delete(`/api/roles/${this.role.id}`)
                    .then(response => {
                        this.$vs.notify({
                            title: 'Success',
                            text: 'Data berhasil dihapus',
                            iconPack: 'feather',
                            icon: 'icon-alert-circle',
                            color: 'success',
                            position:'top-right'
                        })
                        this.backToList()
                    })
                    .catch(error => {
                        this.$vs.notify({
                            title: 'Error',
                            text: 'Error while deleting data',
                            iconPack: 'feather',
                            icon: 'icon-alert-circle',
                            color: 'danger',
                            position:'top-right'
                        })
                    })
                    .then(() => {
                        this.$vs.loading.close()
                    })
            },
            backToList () {
                this.$router.push('/app/setting/roles').catch(() => {
                })
            },
            getPermissionsCount () {
                axios.get(`/api/permissions/count`)
                    .then(response => {
                        this.permissionsCount = response.data
                    })
            },
            deleteConfirm () {
                this.$vs.dialog({
                    type: 'confirm',
                    color: 'danger',
                    title: 'Confirm',
                    text: `Yakin akan menghapus Role ${this.role.display_name}?`,
                    accept: this.destroy,
                    parameters: this.role.display_name
                })
            }
        },
        watch: {
            'role.display_name': function (val) {
                this.role.name = val.toString().toLowerCase()
                    .replace(/\s+/g, '-')
                    .replace(/[^\w\-]+/g, '')
                    .replace(/\-\-+/g, '-')
                    .replace(/^-+/, '')
                    .replace(/-+$/, '')
            }
        }
    }
</script>

<style scoped>

</style>
