<!-- =========================================================================================
    File Name: KnowledgeBaseCategoryQuestion.vue
    Description: Knowledge Base Question - Answer Article
    ----------------------------------------------------------------------------------------
    Item Name: Vuexy - Vuejs, HTML & Laravel Admin Dashboard Template
      Author: Pixinvent
    Author URL: http://www.themeforest.net/user/pixinvent
========================================================================================== -->

<template>
  <div id="knowledge-base-article">

    <div class="vx-row">
      <div class="vx-col w-full md:w-2/5 lg:w-1/4">
        <vx-card>
          <div class="vx-row mb-base">
            <div class="vx-col">
              <vs-button class="btn-drop" type="filled" icon="arrow_back_ios"
                         @click="$router.push({name: 'tutorial'}).catch(() => {})"></vs-button>
            </div>
            <div class="mt-auto"><h3>Kategori</h3></div>
          </div>
          <ul class="bordered-items">
            <li v-for="que in relatedQuestions" :key="que.id" class="py-2 cursor-pointer" @click="setArtikel(que.id)">
              <label>{{ que.question }}</label>
            </li>
          </ul>
        </vx-card>

      </div>
      <div class="vx-col w-full md:w-3/5 lg:w-3/4 mt-12 md:mt-0">
        <vx-card>
          <!-- Title -->
          <div v-if="selected===-1">
            <div class="article-title mb-6">
              <h1>List Data pada Menu Master</h1>
            </div>
            <div>
              <img src="/images/tutor/tutor-master.png" alt="article-img" class="responsive my-3 rounded" />
              <vs-list>
                <vs-list-header title="List Data" color="danger"></vs-list-header>
                <vs-list-item title="Pencarian" subtitle="Untuk mencari data berdasarkan nama & Kode">
                  <template slot="avatar">
                    <label class="p-5 text-bold">1</label>
                  </template>
                </vs-list-item>
                <vs-list-item title="Tombol Tambah Data" subtitle="Untuk menambahkan data">
                  <template slot="avatar">
                    <label class="p-5 text-bold">2</label>
                  </template>
                </vs-list-item>
              </vs-list>
              <vs-list-item title="Import Data" subtitle="Untuk menambahkan data secara bulk dengan format excel yang sudah disediakan">
                <template slot="avatar">
                  <label class="p-5 text-bold">3</label>
                </template>
              </vs-list-item>
              <vs-list-item title="Jumlah Data" subtitle="Menampilkan jumlah data yang tersimpan">
                <template slot="avatar">
                  <label class="p-5 text-bold">4</label>
                </template>
              </vs-list-item>
              <vs-list-item title="Paginasi" subtitle="Untuk berganti halaman pada list">
                <template slot="avatar">
                  <label class="p-5 text-bold">5</label>
                </template>
              </vs-list-item>
            </div>
          </div>
          <div v-if="selected===0">
            <region/>
          </div>
          <div v-else-if="selected===1">
            <service-base/>
          </div>
          <div v-else-if="selected===2">
            <customer/>
          </div>
          <div v-else-if="selected===3">
            <atm/>
          </div>

          <!-- Footer -->
        </vx-card>
      </div>
    </div>
  </div>
</template>

<script>
import Region from './master/Region'
import ServiceBase from './master/ServiceBase'
import Atm from './master/Atm'
import Customer from './master/Customer'

export default {
  components: {
    Region,
    ServiceBase,
    Atm,
    Customer
  },
  data () {
    return {
      selected: -1,
      title: '',
      relatedQuestions: [
        {
          'id': -1,
          'question': 'List Data',
          'answerUrl': '/pages/knowledge-base/category/question'
        },
        {
          'id': 0,
          'question': 'Region',
          'answerUrl': '/pages/knowledge-base/category/question'
        },
        {
          'id': 1,
          'question': 'Service Base',
          'answerUrl': '/pages/knowledge-base/category/question'
        },
        {
          'id': 2,
          'question': 'Customer',
          'answerUrl': '/pages/knowledge-base/category/question'
        },
        {
          'id': 3,
          'question': 'ATM',
          'answerUrl': '/pages/knowledge-base/category/question'
        }
      ],
      article: [
        {
          title: 'Master Region',
          content: ''

        },
        {
          title: 'Master Service Base',
          content: ''
        }
      ]
    }
  },
  mounted () {
    this.title = this.$route.params.category
    this.$emit('changeRouteTitle', 'sdfdsf ' + this.title)
  },
  methods: {
    setArtikel (id) {
      this.selected = id
    }
  }
}
</script>
