<!-- =========================================================================================
    File Name: KnowledgeBase.vue
    Description: Knowledge Base Page
    ----------------------------------------------------------------------------------------
    Item Name: Vuexy - Vuejs, HTML & Laravel Admin Dashboard Template
      Author: Pixinvent
    Author URL: http://www.themeforest.net/user/pixinvent
========================================================================================== -->


<template>
  <div id="knowledge-base-page">
    <!-- JUMBOTRON -->
    <div class="knowledge-base-jumbotron">
      <div class="knowledge-base-jumbotron-content lg:p-32 md:p-24 sm:p-16 p-8 rounded-lg mb-base">
        <h1 class="mb-1 text-white">Cari Tutorial</h1>
        <vs-input icon-no-border placeholder="Search Topic or Keyword" v-model="knowledgeBaseSearchQuery"
                  icon-pack="feather" icon="icon-search" size="large" class="w-full mt-6"/>
      </div>
    </div>

    <!-- KNOWLEDGE BASE CARDS  -->
    <div class="vx-row">
      <div class="vx-col w-full md:w-1/3 sm:w-1/2 mb-base" v-for="item in filteredKB" :key="item.id"
           @click="$router.push({path: `/tutorial/${item.category}`}).catch(() => {})">
        <vx-card class="text-center cursor-pointer">
          <img :src="item.graphic" alt="graphic" width="180" class="mx-auto mb-4">
          <h4 class="mb-2">{{ item.title.toUpperCase() }}</h4>
          <small>{{ item.description }}</small>
        </vx-card>
      </div>
    </div>
  </div>
</template>

<script>

export default {
  data () {
    return {
      knowledgeBaseSearchQuery: '',
      kb: [
        {
          id: 1,
          title: 'Data Master',
          category: 'master',
          description: 'Tutorial untuk Tambah, Ubah dan Delete',
          graphic: require('@assets/images/pages/graphic-1.png'),
          url: '/tutorial'
        },
        {
          id: 2,
          title: 'Pengaturan User',
          category: 'user',
          description: 'Bagaimana cara untuk membuat User dan mengatur Hak Akses',
          graphic: require('@assets/images/pages/graphic-2.png'),
          url: '/tutorial'
        },
        {
          id: 3,
          title: 'Kunjungan',
          category: 'kunjungan',
          description: 'Cara untuk membuat Data Kunjungan, Update Checklist dan menyelesaikan Tugas',
          graphic: require('@assets/images/pages/graphic-3.png'),
          url: '/tutorial'
        }
      ]
    }
  },
  computed: {
    filteredKB () {
      return this.kb.filter((item) => item.title.toLowerCase().includes(this.knowledgeBaseSearchQuery.toLowerCase()) || item.description.toLowerCase().includes(this.knowledgeBaseSearchQuery.toLowerCase()))
    }
  },
  methods: {},
  components: {}
}
</script>

<style lang="scss">
.knowledge-base-jumbotron-content {
  background-image: url('../../../../assets/images/pages/knowledge-base-cover.jpg');
  background-size: cover;
}
</style>
