<!-- =========================================================================================
  File Name: BuyNow.vue
  Description: Buy Now Button
  Component Name: BuyNow
  ----------------------------------------------------------------------------------------
  Item Name: Vuexy - Vuejs, HTML & Laravel Admin Dashboard Template
  Author: Pixinvent
  Author URL: http://www.themeforest.net/user/pixinvent
========================================================================================== -->

<template functional>
    <vs-button color="primary" class="add-data" icon-pack="feather" icon="icon-plus">Tambah Data
    </vs-button>
</template>

<style lang="scss">
    .add-data {
        position: fixed;
        bottom: 5%;
        right: 79px;
        z-index: 51000;
        box-shadow: 0 1px 20px 1px rgb(12, 38, 52);
    }

</style>
<script>
    export default {
        name: 'add-data-button',
        props: {
            link: {
                type: String,
                required: true
            }
        },
        methods: {
            addData () {
                this.$router.push('/apps/eCommerce/checkout').catch(() => {
                })
            }
        }
    }

</script>

