<template>
    <div slot="no-body">
        <div class="vx-row  mb-2">
            <div class="vx-col sm:w-1/2 w-full mb-2">
                <label class="ml-1 mb-3 text-sm">Region</label>
                <v-select label="name" v-model="regionSelected.search" :options="regions" @input="onRegionChange"/>
            </div>
            <div class="vx-col sm:w-1/2 w-full mb-2">
                <label class="ml-1 mb-3 text-sm">Service Bases</label>
                <v-select label="name" v-model="data.service_base" :options="servicebases"
                          @input="onServicebaseChange"/>
                <small class="form-text text-danger" v-if="errorsData.service_base">{{errorsData.service_base[0]}}</small>
            </div>
        </div>
    </div>
</template>

<script>
    import axios from '@/http/axios/index'
    import vSelect from 'vue-select'
    export default {
      name: 'area-selector',
        components: {
            'v-select': vSelect,
        },
        props: {
            data: {
                type: Object,
                required: false
            },
            errorsData: {
                type: Object,
                required: false
            },
        },
        data () {
            return {
                regions: [],
                servicebases: [],
                regionSelected: {search: ''},
            }
        },
        mounted () {
            this.setHeader()
            this.getRegion()
            //this.getServicebases()
            this.regionSelected.search = this.data.service_base.region
        },
        methods: {
            setHeader () {
                const token = localStorage.getItem('accessToken')
                axios.defaults.headers.common['Authorization'] = `Bearer ${token}`
            },
            onRegionChange (payload) {
                this.data.region = payload
                this.data.servicebase = {}
                this.regionSelected.search = payload
                this.getServicebases()
            },
            onServicebaseChange (payload) {
                this.data.service_base = payload
            },
            getRegion () {
                axios.get(`/api/master/regions/all`)
                    .then(response => {
                        this.regions = response.data
                    })

            },
            getServicebases () {
                this.servicebases = []
                axios.post(`/api/master/servicebases/byRegion`, this.regionSelected)
                    .then(response => {
                        this.servicebases = response.data
                    })

            },
        }
    }
</script>
