<template>
    <vs-popup fullscreen class="holamundo" :title="dataAdd.id ? 'Edit ATM':'Tambah ATM'"
              :active.sync="popupAddData">
        <form>
            <div class="vx-row  mb-2">
                <div class="vx-col sm:w-1/2 w-full">
                    <vx-card title="Data ATM" :no-shadow=true :card-border=true>
                        <div class="vx-row  mb-3" v-if="dataAdd.id">
                            <div class="vx-col sm:w-1/2 w-full mb-2">
                                <vs-input class="w-full" label-placeholder="ID" v-model="dataAdd.id" disabled/>
                            </div>
                            <vs-switch color="success" v-model="!dataAdd.deleted_by" class="ml-5 mt-6">
                                <span slot="on">Aktif</span>
                                <span slot="off">Inaktif</span>
                            </vs-switch>
                        </div>
                        <div class="vx-row  mb-2">
                            <div class="vx-col w-full">
                                <vs-input class="w-full" label-placeholder="Location Name"
                                          v-model="dataAdd.location_name"
                                          data-vv-validate-on="blur"
                                          v-validate="'required'"
                                          name="Location Name"/>
                                <small class="form-text text-danger ml-3">{{ errors.first('Location Name')
                                    }}</small>
                                <span class="text-danger text-sm"
                                      v-if="errorsData.location_name">{{ errorsData.location_name[0] }}</span>
                            </div>
                        </div>
                        <customer-selector :data="dataAdd" :errorsData="errorsData"></customer-selector>
                        <div class="vx-row  mb-2">
                            <div class="vx-col w-full">
                                <vs-input class="w-full" label-placeholder="MC ID" v-model="dataAdd.mc_id"
                                          data-vv-validate-on="blur"
                                          v-validate="'required'"
                                          name="MC ID"/>
                                <small class="form-text text-danger ml-3">{{ errors.first('MC ID') }}</small>
                                <span class="text-danger text-sm"
                                      v-if="errorsData.mc_id">{{ errorsData.mc_id[0] }}</span>
                            </div>
                        </div>
                        <div class="vx-row  mb-2">
                            <div class="vx-col w-full">
                                <vs-input class="w-full" label-placeholder="Serial Number"
                                          v-model="dataAdd.serial_number"
                                          data-vv-validate-on="blur"
                                          v-validate="'required'"
                                          name="Serial Number"/>
                                <small class="form-text text-danger ml-3">{{ errors.first('Serial Number')
                                    }}</small>
                                <span class="text-danger text-sm"
                                      v-if="errorsData.serial_number">{{ errorsData.serial_number[0] }}</span>
                            </div>
                        </div>
                        <div class="vx-row  mb-2">
                            <div class="vx-col w-full">
                                <vs-input class="w-full" label-placeholder="Site Number"
                                          v-model="dataAdd.site_number"
                                          data-vv-validate-on="blur"
                                          v-validate="'required'"
                                          name="Site Number"/>
                                <small class="form-text text-danger ml-3">{{ errors.first('Site Number') }}</small>
                                <span class="text-danger text-sm"
                                      v-if="errorsData.site_number">{{ errorsData.site_number[0] }}</span>
                            </div>
                        </div>
                        <div class="vx-row  mb-2">
                            <div class="vx-col w-full">
                                <vs-input class="w-full" label-placeholder="Model"
                                          v-model="dataAdd.model"
                                          data-vv-validate-on="blur"
                                          v-validate="'required'"
                                          name="Model"/>
                                <small class="form-text text-danger ml-3">{{ errors.first('Model') }}</small>
                                <span class="text-danger text-sm"
                                      v-if="errorsData.model">{{ errorsData.model[0] }}</span>
                            </div>
                        </div>
                        <div class="vx-row  mb-3" v-if="dataAdd.id">
                            <div class="vx-col sm:w-1/2 w-full mb-2 mt-auto">
                                <label class="ml-1 mb-3 text-sm">Install Date</label>
                                <datepicker label-placeholder="Install Date" v-model="dataAdd.install_date"
                                            :language="languages[language]" format="dd MMMM yyyy"></datepicker>
                                <small class="form-text text-danger ml-3">{{ errors.first('Install Date') }}</small>
                                <span class="text-danger text-sm"
                                      v-if="errorsData.install_date">{{ errorsData.install_date[0] }}</span>
                            </div>
                            <div class="vx-col sm:w-1/2 w-full mb-2 mt-auto">
                                <vs-input class="w-full" label-placeholder="Status"
                                          v-model="dataAdd.status"
                                          data-vv-validate-on="blur"
                                          v-validate="'required'"
                                          name="Status"/>
                                <small class="form-text text-danger ml-3">{{ errors.first('Status') }}</small>
                                <span class="text-danger text-sm"
                                      v-if="errorsData.status">{{ errorsData.status[0] }}</span>
                            </div>
                        </div>

                        <area-selector :data="dataAdd" :errorsData="errorsData"></area-selector>

                        <div class="vx-row" v-if="!dataAdd.id">
                            <vs-row vs-type="flex" vs-justify="flex-end">
                                <vs-button class="mr-3 mb-2 mt-10" color="danger" @click="popupAddData=false">
                                    Cancel
                                </vs-button>
                                <input type="file" class="hidden" id="file2" ref="updateImgInput"
                                       @change="updateCurrImg"
                                       accept="image/*"/>
                                <label
                                    class="mr-3 mb-2 mt-10 vs-component vs-button vs-button-primary vs-button-filled"
                                    v-if="!dataAdd.image" for="file2">Upload Image</label>

                                <vs-button :disabled="validateAddForm" class="mr-3 mb-2 mt-10" color="success"
                                           @click="create">
                                    Simpan
                                </vs-button>
                            </vs-row>
                        </div>
                        <div class="vx-row" v-if="dataAdd.id">
                            <vs-row vs-type="flex" vs-justify="flex-end">
                                <vs-button class="mr-3 mb-2 mt-10" color="danger" type="filled" icon-pack="feather"
                                           icon="icon-trash" @click="deleteConfirm"
                                           v-if="!dataAdd.deleted_by"></vs-button>

                                <!--<input type="file" class="hidden" id="file1" ref="updateImgInput"
                                       @change="updateCurrImg"
                                       accept="image/*"/>
                                <label
                                    class="mr-3 mb-2 mt-10 vs-component vs-button vs-button-primary vs-button-filled"
                                    for="file1" v-if="!dataAdd.image && !dataAdd.deleted_by">Upload
                                    Image</label>-->

                                <vs-button class="mr-3 mb-2 mt-10" color="success" v-if="!dataAdd.deleted_by"
                                           @click="update">
                                    Update
                                </vs-button>
                                <vs-button class="mr-3 mb-2 mt-10" color="warning" @click="recoverConfirm"
                                           v-if="dataAdd.deleted_by">Activate
                                </vs-button>
                            </vs-row>
                        </div>
                    </vx-card>
                    <vx-card v-if="dataAdd.image" class="mt-3" title="Foto Lokasi" :o-shadow=true :card-border=true>
                        <div class="vx-col w-full items-center">
                            <vx-card class="grid-view-item overflow-hidden" no-shadow card-border>
                                <template slot="no-body">
                                    <div
                                        class="item-img-container bg-white h-30 w-30 flex items-center justify-center mb-4 cursor-pointer">
                                        <img :src="dataAdd.image" v-bind:alt="dataAdd.image" class="grid-view-img"
                                             v-if="dataAdd.image">
                                        <img src="/images/vuexy-login-bg.jpg" class="grid-view-img" v-else>
                                    </div>
                                    <vs-progress indeterminate color="warning" v-if="isProgress"></vs-progress>
                                    <input type="file" class="hidden" id="file" ref="updateImgInput"
                                           @change="updateCurrImg"
                                           accept="image/*"/>
                                    <div class="flex flex-wrap cursor-pointer" for="file"
                                         @click="$refs.updateImgInput.click()" v-if="!dataAdd.image">
                                        <div
                                            class="item-view-secondary-action-btn bg-success p-3 flex flex-grow items-center justify-center text-white cursor-pointer">
                                            <label class="text-sm font-semibold ml-2 cursor-pointer">UPLOAD
                                                FOTO</label>
                                        </div>
                                    </div>
                                    <div class="flex flex-wrap cursor-pointer" for="file"
                                         @click="$refs.updateImgInput.click()" v-else>
                                        <div
                                            class="item-view-secondary-action-btn bg-danger p-3 flex flex-grow items-center justify-center text-white cursor-pointer">
                                            <label class="text-sm font-semibold ml-2 cursor-pointer">GANTI
                                                FOTO</label>
                                        </div>
                                    </div>
                                </template>
                            </vx-card>
                        </div>
                        <!--<form>
                            <div>
                                &lt;!&ndash; Image Container &ndash;&gt;
                                <div class="img-container w-64 mx-auto flex items-center justify-center">
                                    <img :src="dataAdd.image" v-bind:alt="dataAdd.image" class="responsive">
                                </div>

                                &lt;!&ndash; Image upload Buttons &ndash;&gt;
                                <div class="modify-img flex justify-between mt-5">
                                    <input type="file" class="hidden" id="file" ref="updateImgInput"
                                           @change="updateCurrImg"
                                           accept="image/*"/>
                                    <label class="vs-component vs-button vs-button-primary vs-button-filled"
                                           for="file">Update
                                        Image</label>
                                    <vs-button type="flat" color="#999" @click="removeImage">Remove Image
                                    </vs-button>
                                </div>
                            </div>
                        </form>-->
                    </vx-card>
                </div>
                <div class="vx-col sm:w-1/2 w-full">
                    <vx-card title="Info Lokasi" :o-shadow=true :card-border=true>
                        <div class="vx-col w-full mb-3">
                            <vs-input class="w-full" label-placeholder="Alamat" v-model="dataAdd.address"/>
                            <span class="text-danger text-sm"
                                  v-if="errorsData.address">{{ errorsData.address[0] }}</span>
                        </div>
                        <div class="vx-row  mb-2">
                            <div class="vx-col sm:w-1/2 w-full mb-3">
                                <vs-input class="w-full" label-placeholder="Kota" v-model="dataAdd.city"/>
                                <span class="text-danger text-sm"
                                      v-if="errorsData.city">{{ errorsData.city[0] }}</span>
                            </div>
                            <div class="vx-col sm:w-1/2 w-full mb-3">
                                <vs-input class="w-full" label-placeholder="Kode Pos" v-model="dataAdd.postal"/>
                                <span class="text-danger text-sm"
                                      v-if="errorsData.postal">{{ errorsData.postal[0] }}</span>
                            </div>
                        </div>
                        <div class="vx-row  mb-2">
                            <div class="vx-col sm:w-1/2 w-full mb-3">
                                <vs-input class="w-full" label-placeholder="Latitude" v-model="dataAdd.latitude"/>
                                <span class="text-danger text-sm"
                                      v-if="errorsData.latitude">{{ errorsData.latitude[0] }}</span>
                            </div>
                            <div class="vx-col sm:w-1/2 w-full mb-3">
                                <vs-input class="w-full" label-placeholder="Longitude" v-model="dataAdd.longitude"/>
                                <span class="text-danger text-sm"
                                      v-if="errorsData.longitude">{{ errorsData.longitude[0] }}</span>
                            </div>
                        </div>
                        <div class="vx-row  mb-2 p-3">
                            <gmap-map :center="center" :zoom="15" style="width: 100%; height: 300px"
                                      @center_changed="updateCenter">
                                <gmap-info-window :options="infoOptions" :position="infoWindowPos"
                                                  :opened="infoWinOpen" @closeclick="infoWinOpen=false">
                                    {{infoContent}}
                                </gmap-info-window>
                                <gmap-marker :position="position"></gmap-marker>
                            </gmap-map>
                        </div>
                    </vx-card>
                </div>
            </div>


        </form>
    </vs-popup>
</template>

<script>
  import * as lang from 'vuejs-datepicker/dist/locale'
  import vSelect from 'vue-select'
  import Datepicker from 'vuejs-datepicker'
  import AreaSelector from '@/components/AreaSelector.vue'
  import CustomerSelector from '@/components/CustomerSelector.vue'

  export default {
    name: 'AtmEdit',
      components: {
          'v-select': vSelect,
          AreaSelector,
          CustomerSelector,
          Datepicker
      },
      data () {
          return {
              isProgress: false,
              isImageAdded: false,
              position: {
                  lat: 0,
                  lng: 0
              },
              loading: true,
              center: {
                  lat: parseFloat(-6.1753924),
                  lng: parseFloat(106.8249641)
              },
              infoContent: '',
              infoWindowPos: null,
              infoWinOpen: false,
              currentMidx: null,
              infoOptions: {
                  pixelOffset: {
                      width: 0,
                      height: -35
                  }
              }
          }
      },
      props: {
          dataAdd: {
              type: Object,
              required: true
          },
          popupAddData:{
              type: Boolean,
              required: true
          }

      }
  }
</script>

<style scoped>

</style>
