<template>
  <div slot="no-body">
    <div class="vx-row">
      <div v-if="!isCustomer" class="vx-col w-full mb-3">
        <label class="ml-1 mb-3 text-sm">Customer</label>
        <v-select v-model="data.customer" :options="customers" label="name" @input="onCustomerChange"/>
        <small v-if="errorsData.customer"
               class="form-text text-danger">{{ errorsData.customer[0] }}</small>
      </div>
      <div class="vx-col w-full">
        <vs-progress v-if="isProgress" color="warning" indeterminate></vs-progress>
      </div>
      <div class="vx-col sm:w-1/2 w-full mb-3">
        <label class="ml-1 mb-3 text-sm">Serial Number</label>
        <v-select v-model="data.location" :options="atms"
                  label="serial_number" @input="onAtmChange" @search="getAtms"/>
        <small v-if="errorsData.location" class="form-text text-danger">{{ errorsData.location[0] }}</small>

      </div>
      <div class="vx-col sm:w-1/2 w-full mb-3 mt-auto">
        <label class="ml-1 mb-3 text-sm">ID Mesin</label>
        <vs-input v-model="data.location.mc_id" v-validate="'required'"
                  :disabled="!isEditAtm"
                  class="w-full"
                  data-vv-validate-on="blur" name="MC ID"/>
      </div>
    </div>
  </div>
</template>

<script>
import axios from '@/http/axios/index'
import vSelect from 'vue-select'

export default {
  name: 'atm-selector',
  components: {
    'v-select': vSelect
  },
  props: {
    data: {
      type: Object,
      required: true
    },
    isEditAtm: {
      type: Boolean,
      required: false
    },
    isCustomer: {
      type: Boolean,
      default: false
    },
    errorsData: {
      type: Object,
      required: false
    }
  },
  data () {
    return {
      customers: [],
      atms: [],
      atmFilter: {
        customer_id: '',
        search: ''
      },
      isProgress: false
    }
  },
  mounted () {
    this.getCustomers()

  },
  methods: {
    onCustomerChange (payload) {
      this.data.customer = payload

    },
    onAtmChange (payload) {
      this.data.atm = payload
    },
    getCustomers () {
      axios.get(`/api/master/customers/all`)
          .then(response => {
            this.customers = response.data
            if (this.data.id != null) {
              this.customerSelected.search = this.data.location.customer
              this.getAtms()
            }
          })

    },
    getAtms (value) {
      this.servicebases = []
      this.isProgress = true
      this.atmFilter.search = value
      axios.post(`/api/master/locations/byCustomer`, this.atmFilter)
          .then(response => {
            this.isProgress = false
            this.atms = response.data
          })

    }
  },
  watch: {
    'data.customer': function (value) {
      this.data.location = {}
      this.atmFilter.customer_id = value.id
      this.getAtms('')
    }
  }
}
</script>
