<template>
    <div slot="no-body">
        <div class="form-group col-md-12  mb-2">
            <label class="ml-1 mb-3 text-sm">Customer</label>
            <v-select label="name" v-model="data.customer" :options="customers" @input="updateInput"
                      @change="updateInput"/>
            <small class="form-text text-danger"
                   v-if="errorsData.customer">{{errorsData.customer[0]}}</small>
        </div>
    </div>
</template>

<script>
    import axios from '@/http/axios/index'
    import vSelect from 'vue-select'

    export default {
      name: 'customer-selector',
      components: {
            'v-select': vSelect
        },
        props: {
            data: {
                type: Object,
                required: false
            },
            errorsData: {
                type: Object,
                required: false
            }
        },
        data () {
            return {
                customers: [],
            }
        },
        mounted () {
            this.setHeader()
            this.getCustomers()
        },
        methods: {
            setHeader () {
                const token = localStorage.getItem('accessToken')
                axios.defaults.headers.common['Authorization'] = `Bearer ${token}`
            },
            getCustomers () {
                axios.get(`/api/master/customers/all`)
                    .then(response => {
                        this.customers = response.data
                    })
            },
            updateInput (payload) {
                this.data.customer = payload
            }
        },
    }
</script>
