<template>
</template>

<script>
  export default {
    name: 'ModalIdle',
      data() {
          return {
              time: 60000 * 5
          }
      },
      created() {
          let timerId = setInterval(() => {
              this.time -= 1000;
              if (!this.$store.state.idleVue.isIdle) clearInterval(timerId);

              if (this.time < 1) {
                  clearInterval(timerId);
                  this.logout()
              }
          }, 1000);
      },
      methods:{
          logout () {
              this.$vs.loading
              this.$store.dispatch('auth/logoutJWT')
                  .then(() => {
                      this.$vs.loading.close()
                      this.$vs.notify({
                          title: 'Logout',
                          text: 'Logout berhasil',
                          iconPack: 'feather',
                          icon: 'icon-alert-circle',
                          color: 'success'
                      })
                  })
                  .catch(error => {
                      this.$vs.loading.close()
                      this.$vs.notify({
                          title: 'Error',
                          text: error.message,
                          iconPack: 'feather',
                          icon: 'icon-alert-circle',
                          color: 'danger'
                      })
                  })
          }
      }
  }
</script>

<style>
    .overlay {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0.61);
        z-index: 100;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .modal {
        width: 500px;
        box-shadow: 1px 2px 4px rgba(153, 155, 168, 0.12);
        border-radius: 4px;
        @apply bg-white p-2;
    }

    .modal__title {
        color: #38404f;
        @apply flex items-center justify-between p-3 font-bold;
    }
</style>
