<template>
    <div slot="no-body">
        <div class="center con-selects">
            <label class="ml-1 mb-3 text-sm" v-if="labelVisible">Outstanding Work Order</label>
            <v-select label="display_name" v-model="data.work_order" :options="work_order" @input="onDataChange"/>
        </div>
    </div>
</template>

<script>
    import axios from '@/http/axios/index'
    import vSelect from 'vue-select'
    export default {
      name: 'user-selector',
        components: {
            'v-select': vSelect,
        },
        props: {
            labelVisible: {
                type: Boolean,
                default: false
            },
            data: {
                type: Object,
                required: false
            },
            errorsData: {
                type: Object,
                required: false
            },
        },
        data () {
            return {
                work_order: [],
            }
        },
        mounted () {
            this.getData()
        },
        methods: {
            onDataChange (payload) {
                this.data.work_order = payload
            },
            getData () {
                axios.get(`/api/outstanding/getByUser`)
                    .then(response => {
                        this.work_order = response.data
                    })

            }
        }
    }
</script>
