<template>
    <div slot="no-body">
        <div class="center con-selects">
            <label class="ml-1 mb-3 text-sm" v-if="labelVisible">Engineer</label>
            <v-select label="code_username" v-model="data.user" :options="user" @input="onDataChange"/>
        </div>
    </div>
</template>

<script>
    import axios from '@/http/axios/index'
    import vSelect from 'vue-select'
    export default {
      name: 'user-selector',
        components: {
            'v-select': vSelect,
        },
        props: {
            labelVisible: {
                type: Boolean,
                default: false
            },
            data: {
                type: Object,
                required: false
            },
            errorsData: {
                type: Object,
                required: false
            },
        },
        data () {
            return {
                user: [],
            }
        },
        mounted () {
            this.getData()
        },
        methods: {
            onDataChange (payload) {
                this.data.user = payload
            },
            getData () {
                axios.get(`/api/users/getAll`)
                    .then(response => {
                        this.user = response.data
                    })

            },
        }
    }
</script>
