<template>
  <el-select v-model="model[name]"
             :disabled="disable"
             loading-text="Loading"
             no-data-text="Tidak ditemukan"
             no-match-text="Tidak ditemukan"
             :placeholder="placeholder !== '' ? placeholder : 'Pilih'"
             :size="mini ? 'mini' : 'medium'"
             :style="full ? 'width: 100%;' : null"
             automatic-dropdown
             clearable
             filterable
             @clear="clearSelected"
             @select="handleSelectData"
  >
    <el-option
        v-for="item in result"
        :key="item.id"
        :label="item.code_username"
        :value="item.id"
    >
    </el-option>
  </el-select>
</template>

<script>
import axios from '@/http/axios/index'
export default {
  name: 'CustomerSelector2',
  props: {
    model: {
      type: Object
    },
    name: {
      type: String
    },
    mini: {
      type: Boolean,
      default: false,
    },
    disable: {
      type: Boolean,
      default: false,
    },
    full: {
      type: Boolean,
      default: false,
    },
    placeholder: {
      type: String,
      default: '',
    },
  },
  data(){
    return {
      result: []
    }
  },
  created() {
    this.getData()
  },
  methods: {
    getData () {
      axios.get(`/api/users/getAll`)
          .then(response => {
            this.result = response.data
          })
    },
    handleSelectData(item) {
      const data = this.result.filter(a => a.id === item);
      this.$emit('selected', data[0])
    },
    clearSelected() {
      this.model[this.name] = ''
      this.getData('')
    }
  }
}
</script>

<style scoped></style>
