<template>
  <div class="vx-row pl-4 pr-4">
      <vs-row vs-type="flex" vs-justify="flex-end">
        <vs-button color="success" class="mr-base"
                   @click="update" v-can="'create-visit'">
          Simpan
        </vs-button>
        <feather-icon
            icon="XIcon"
            @click="backToList"
            class="p-2 mr-2 shadow-drop rounded-lg d-theme-dark-bg cursor-pointer"/>
      </vs-row>
    <vs-tabs alignment="center">
      <vs-tab label="Data">
        <div class="vx-row">
          <div class="vx-col sm:w-1/2 w-full mb-base">

            <vx-card title="Data Kunjungan" class="mb-base">
              <!--   <div class="vx-row  mb-2">
                     <div class="vx-col sm:w-1/2 w-full mb-2">
                         <vs-input class="w-full" label-placeholder="ID" v-model="data.id" disabled/>
                     </div>
                     <div class="vx-col sm:w-1/2 w-full mb-2">
                         <vs-switch color="success" v-model="data.is_active" class="ml-5 mt-6">
                             <span slot="on">Aktif</span>
                             <span slot="off">Inaktif</span>
                         </vs-switch>
                     </div>
                 </div>-->

              <div class="vx-row  mb-2">
                <div class="vx-col sm:w-3/5 w-full">
                  <vs-input class="w-full" label-placeholder="No. Work Order"
                            v-model="data.work_order"
                            data-vv-validate-on="blur"
                            v-validate="'wo-rule'"
                            name="Work Order" v-if="!isOpenWo"/>
                  <open-wo-selector :data="data" labelVisible v-if="isOpenWo"/>
                  <small class="form-text text-danger ml-3">{{
                      errors.first('Work Order')
                    }}</small>
                  <span class="text-danger text-sm ml-3" v-if="errorsData.work_order">{{
                      errorsData.work_order[0]
                    }}</span>
                </div>
                <div class="vx-col sm:w-2/5 w-full mt-auto">
                  <!--                            <vs-checkbox color="danger" v-model="isOpenWo"><label class="text-sm">Outstanding WO</label></vs-checkbox>-->
                  <vs-switch color="danger" v-model="isOpenWo" class="mb-6">
                    <span slot="on">Outstading</span>
                    <span slot="off">Normal</span>
                  </vs-switch>
                </div>
              </div>
              <atm-selector :data="data" :errorsData="errorsData"></atm-selector>
              <div class="vx-row mb-6">
                <div class="vx-col w-full">
                  <label class="ml-1 mb-4">Tipe Kunjungan</label>
                  <v-select label="name" v-model="data.tipe_kunjungan" :options="tipeList"/>
                  <small class="form-text text-danger"
                         v-if="errorsData.tipe_kunjungan">{{ errorsData.tipe_kunjungan[0] }}</small>
                </div>
              </div>
              <div class="vx-row mb-2">
                <div class="vx-col w-full">
                  <vs-textarea class="w-full" label="Problem Reported"
                               v-model="data.detail_kunjungan"/>
                  <span class="text-danger text-sm ml-3"
                        v-if="errorsData.detail_kunjungan">{{ errorsData.detail_kunjungan[0] }}</span>
                </div>
              </div>

              <div class="vx-col w-full items-center justify-center responsive mb-2">
                <label class="ml-1 mb-3 text-sm">Mulai Perkerjaan</label>
                <flat-pickr :config="configdateTimePicker" v-model="data.checkin_time"
                            style="width: 100%"
                            placeholder="Tanggal Mulai"/>

              </div>
              <div class="vx-col w-full items-center justify-center responsive mb-2">
                <label class="ml-1 mb-3 text-sm">Selesai Perkerjaan</label>
                <flat-pickr :config="configdateTimePicker" v-model="data.checkout_time"
                            style="width: 100%"
                            placeholder="Tanggal Selesai"/>
                <!--                    <span class="text-warning text-sm ml-1">Kosongkan apabila menggunakan tanggal saat ini</span>-->

              </div>

            </vx-card>
            <vx-card title="Pengelola Mesin" class="mb-base">
              <div class="vx-row mb-2">
                <div class="vx-col w-full">
                  <v-select label="name" v-model="data.pengelola" :options="pengelolaList"/>
                  <small class="form-text text-danger"
                         v-if="errorsData.pengelola">{{ errorsData.pengelola[0] }}</small>
                </div>
              </div>
              <div class="vx-row">
                <div class="vx-col w-full">
                  <vs-input class="w-full" type="email" label-placeholder="Nama PIC"
                            v-model="data.pengelola_pic"
                            data-vv-validate-on="blur"
                            v-validate="'required'"
                            name="Nama PIC"/>
                  <small class="form-text text-danger ml-3">{{ errors.first('Nama PIC') }}</small>
                  <span class="text-danger text-sm ml-3" v-if="errorsData.pengelola_pic">{{
                      errorsData.pengelola_pic[0]
                    }}</span>
                </div>
              </div>
              <div class="vx-row">
                <div class="vx-col w-full">
                  <vs-input class="w-full" label-placeholder="Telepon"
                            v-model="data.pengelola_phone"/>
                  <span class="text-danger text-sm"
                        v-if="errorsData.pengelola_phone">{{ errorsData.pengelola_phone[0] }}</span>
                </div>
              </div>
            </vx-card>
          </div>
          <div class="vx-col sm:w-1/2 w-full mb-base">

            <vx-card title="Engineer" class="mb-base" v-if="!isEngineer">
              <user-selector :data="data"/>
            </vx-card>

            <location-map :data="data" v-if="data.latitude !=null"/>
          </div>
          <div class="vx-col w-full mb-base">
            <vx-card title="Upload Foto" class="mb-5">
              <form>
                <div class="vx-row">
                  <div class="vx-col sm:w-1/3 w-full mb-2">
                    <vs-alert :active="true" color="danger" class="mb-3" v-if="!data.photo">
                      <span>Foto Selfie harus diunggah</span>
                    </vs-alert>
                    <vx-card :no-shadow="true" :card-border="true" class="mb-base">
                      <div>
                        <div class=" mx-auto flex items-center justify-center responsive mb-5">
                          <input type="file" class="hidden" id="photo" ref="updateImgInput"
                                 @change="updateCurrImg"
                                 accept="image/*"
                                 v-validate="'required'"
                                 name="Foto Selfie"/>

                          <label class="vs-component vs-button vs-button-primary vs-button-filled"
                                 for="photo">Upload
                            Foto Selfie</label>
                        </div>
                        <small class="form-text text-danger">{{
                            errors.first('step-1.Foto Selfie')
                          }}</small>
                        <small class="form-text text-danger"
                               v-if="errorsData.photo">{{ errorsData.photo[0] }}</small>
                        <div
                            class="img-container w-64 mx-auto flex items-center justify-center responsive"
                            v-if="data.photo">
                          <expandable-image :src="data.photo" v-bind:alt="data.photo" class="responsive"
                                            :close-on-background-click="true"/>
                        </div>
                      </div>
                    </vx-card>
                  </div>
                  <div class="vx-col sm:w-1/3 w-full mb-2">
                    <vs-alert :active="true" color="danger" class="mb-3" v-if="!data.photo_sn">
                      <span>Foto Serial Number harus diunggah</span>
                    </vs-alert>
                    <vx-card :no-shadow="true" :card-border="true" class="mb-base">
                      <div>
                        <div class=" mx-auto flex items-center justify-center responsive mb-5">
                          <input type="file" class="hidden" id="photo_sn" ref="updateImgInput"
                                 @change="updateCurrImgSn"
                                 accept="image/*"
                                 v-validate="'required'"
                                 name="Foto Serial Number"/>

                          <label class="vs-component vs-button vs-button-primary vs-button-filled"
                                 for="photo_sn">Upload Foto Serial Number</label>
                        </div>
                        <small class="form-text text-danger">{{
                            errors.first('step-1.Foto Serial Number')
                          }}</small>
                        <small class="form-text text-danger"
                               v-if="errorsData.photo_sn">{{ errorsData.photo_sn[0] }}</small>
                        <div
                            class="img-container w-64 mx-auto flex items-center justify-center responsive"
                            v-if="data.photo_sn">
                          <expandable-image :src="data.photo_sn" v-bind:alt="data.photo_sn" class="responsive"
                                            :close-on-background-click="true"/>
                        </div>
                      </div>
                    </vx-card>
                  </div>
                  <div class="vx-col sm:w-1/3 w-full mb-2">
                    <vs-alert :active="true" color="danger" class="mb-3" v-if="!data.photo_ar">
                      <span>Activity Report harus diunggah</span>
                    </vs-alert>
                    <vx-card :no-shadow="true" :card-border="true" class="mb-base">
                      <div>
                        <div class=" mx-auto flex items-center justify-center responsive mb-5">
                          <input type="file" class="hidden" id="photo_ar" ref="updateImgInput"
                                 @change="updateCurrImgAr"
                                 accept="image/*,application/pdf"
                                 v-validate="'required'"
                                 name="Activity Report"/>

                          <label class="vs-component vs-button vs-button-primary vs-button-filled"
                                 for="photo_ar">Upload Activity Report</label>
                        </div>
                        <small class="form-text text-danger">{{
                            errors.first('step-1.Activity Report')
                          }}</small>
                        <small class="form-text text-danger"
                               v-if="errorsData.photo_ar">{{ errorsData.photo_ar[0] }}</small>
                        <div
                            class="img-container w-64 mx-auto flex items-center justify-center responsive"
                            v-if="data.photo_ar">
                          <div class="vx-row">
                            <div class="vx-col w-full mb-2">
                              <object :data="data.photo_ar" class="img-visit"/>
                            </div>
                            <div class="vx-col w-full mb-2">
                              <label class="vs-component vs-button vs-button-primary vs-button-filled" @click="openAr">Lihat
                                Activity Report</label>
                            </div>
                          </div>
                        </div>
                      </div>
                    </vx-card>
                  </div>
                </div>
              </form>
            </vx-card>
          </div>

        </div>
      </vs-tab>
      <vs-tab label="Checklist">
        <vx-card title="Checklist" class="mb-3">
          <div class="vx-row">
            <div class="items-grid-view vx-row match-height p-3">

              <div class="vx-col w-full" v-for="checklist in data.checklists"
                   :key="checklist.id">
                <!--   <item-input-layout     :item="checklist"
                                          :label="checklist.deskripsi"
                                          v-validate="'required'"
                                          :error="errors.first(checklist.deskripsi)"/>-->
                <item-input-layout v-model="checklist.value"
                                   :item="checklist"
                                   :label="checklist.deskripsi"
                                   v-validate="'required'"
                                   :error="errors.first(checklist.deskripsi)"
                ></item-input-layout>
              </div>

            </div>
          </div>
        </vx-card>
      </vs-tab>
    </vs-tabs>
  </div>
</template>


<script>
import axios from '@/http/axios/index'
import vSelect from 'vue-select'
import AtmSelector from '@/components/AtmSelector'
import imageCompression from 'browser-image-compression'
import UserSelector from '@/components/UserSelector'
import AtmEdit from '@/components/AtmEdit'
import OpenWoSelector from '@/components/OpenWoSelector'
import ItemPhotoUpload from '../component/ItemPhotoUpload'
import ItemInputLayout from '../component/ItemInputLayout'
import TextInput from '../component/Text'
import flatPickr from 'vue-flatpickr-component'
import PartListAdd from '../part/PartListAdd'
import 'flatpickr/dist/flatpickr.css'
import PartSelector from '../part/PartListAdd'
import LocationMap from '../component/LocationMap'
import {Validator} from 'vee-validate'
Validator.extend('wo-rule', {
  getMessage: field => 'Harus dengan Format Work Order yang benar',
  validate: value => value.length == 10 && value[0] == 'W'
})
export default {
  components: {
    PartSelector,
    'v-select': vSelect,
    AtmSelector,
    UserSelector,
    OpenWoSelector,
    ItemPhotoUpload,
    ItemInputLayout,
    TextInput,
    AtmEdit,
    flatPickr,
    PartListAdd,
    LocationMap
  },
  data () {
    return {
      configdateTimePicker: {
        enableTime: true,
        dateFormat: 'Y-m-d H:i',
        time_24hr: true,
        weekNumbers: true
      },
      data: {
        location: {},
        customer: {},
        checklistData: [],
        photo_url: null,
        photo: null,
        photo_sn: null
      },
      id: 0,
      isOpenWo: false,
      tipeList: ['1', '2', '3', '4', 'CHGC', 'CHGF', 'CHGI', 'DEIN', 'DEPO', 'ECO', 'INST', 'OBF', 'PM', 'PMCU', 'RAST', 'RFIT', 'SPV', 'SYSM'],
      pengelolaList: ['Cabang', 'Vendor CR-FLM'],
      checkList: [],
      permissionsCount: 0,
      popupAtmEdit: false,
      errorsData: {},
      loading: true,
      submiting: false,
      submitingDestroy: false,
      roles: [],
      regions: [],
      customerSelected: {search: ''},
      customers: [],
      servicebases: [],
      roleSelected: {},
      isComplete: false
    }
  },
  mounted () {
    this.id = this.$route.params.id
    this.getData()
    if (this.isEngineer) {
      this.data.user = JSON.parse(localStorage.getItem('userInfo'))
    }
  },
  computed: {
    validateForm () {
      //console.log(this.fields)
      return this.errors.count() > 0 || !(Object.keys(this.fields).some(key => this.fields[key].dirty))
    },
    isAdmin () {
      return localStorage.getItem('roles') === 'administrator'
    },
    isEngineer () {
      return localStorage.getItem('roles') === 'engineer'
    },
    isCustomer () {
      return localStorage.getItem('roles') === 'customer'
    }
  },
  methods: {
    openAr: function () {
      window.open(this.data.photo_ar, '_blank')
    },
    getData () {
      this.$vs.loading()
      this.loading = true
      let str = window.location.pathname
      let res = str.split('/')
      axios.get(`/api/visits/history/${this.id}`)
          .then(response => {
            this.data = response.data
            this.data.customer = this.data.location.customer
            /* this.data.checklists.sort(function (a, b) {
                 var y = a.option ? a.option : 'a'
                 var x = b.option ? b.option : 'a'
                 if (x < y) {
                     return -1
                 }
                 if (x > y) {
                     return 1
                 }
                 return 0
             })*/
          })
          .catch(error => {
            this.$vs.notify({
              title: 'Error',
              text: 'Terjadi kesalahan',
              iconPack: 'feather',
              icon: 'icon-alert-circle',
              color: 'danger',
              position: 'top-right'
            })
            this.backToList()
          })
          .then(() => {
            this.$vs.loading.close()
          })
    },
    update () {
      let dateTime1 = this.$moment(this.data.checkin_time).toISOString()
      this.data.checkin_time = this.$moment(dateTime1).format('YYYY-MM-DD HH:mm:ss')
      if (this.data.checkout_time) {
        let dateTime2 = this.$moment(this.data.checkout_time).toISOString()
        this.data.checkout_time = this.$moment(dateTime2).format('YYYY-MM-DD HH::mm:ss')
      }
      this.$vs.loading()
      axios.put(`/api/visits/history/update/${this.data.id}`, this.data)
          .then(response => {
            this.$vs.notify({
              title: 'Success',
              text: 'Data berhasil diperbaharui',
              iconPack: 'feather',
              icon: 'icon-alert-circle',
              color: 'success',
              position: 'top-right'
            })
            this.backToList()
          })
          .catch(error => {
            this.$vs.notify({
              title: 'Error',
              text: 'Error while saving data',
              iconPack: 'feather',
              icon: 'icon-alert-circle',
              color: 'danger',
              position: 'top-right'
            })
          })
          .then(() => {
            this.$vs.loading.close()
          })
    },
    checkout () {
      this.$vs.loading()
      axios.put(`/api/visits/checkout/${this.data.id}`, this.data)
          .then(response => {
            this.$vs.notify({
              title: 'Success',
              text: 'Data berhasil diperbaharui',
              iconPack: 'feather',
              icon: 'icon-alert-circle',
              color: 'success',
              position: 'top-right'
            })
            this.backToList()
          })
          .catch(error => {
            this.$vs.notify({
              title: 'Error',
              text: 'Error while saving data',
              iconPack: 'feather',
              icon: 'icon-alert-circle',
              color: 'danger',
              position: 'top-right'
            })
          })
          .then(() => {
            this.$vs.loading.close()
          })
    },
    updateCurrImg (input) {
      if (input.target.files && input.target.files[0]) {
        var imageFile = input.target.files[0]
        var options = {
          maxSizeMB: 0.5,
          maxWidthOrHeight: 1920,
          useWebWorker: true
        }
        imageCompression(imageFile, options)
            .then(file => {
              this.setItemValue(file) // write your own logic
            })
            .catch(error => {

            })
      }
    },
    updateCurrImgSn (input) {
      if (input.target.files && input.target.files[0]) {
        var imageFile = input.target.files[0]
        var options = {
          maxSizeMB: 0.5,
          maxWidthOrHeight: 1920,
          useWebWorker: true
        }
        imageCompression(imageFile, options)
            .then(file => {
              this.setItemValueSn(file) // write your own logic
            })
            .catch(error => {

            })
      }
    },
    updateCurrImgAr (input) {
      if (input.target.files && input.target.files[0]) {
        const file = input.target.files[0]
        if(file.type.includes('image')){
          var imageFile = input.target.files[0]
          var options = {
            maxSizeMB: 0.5,
            maxWidthOrHeight: 1920,
            useWebWorker: true
          }
          imageCompression(imageFile, options)
              .then(file => {
                this.setItemValueAr(file) // write your own logic
              })
              .catch(error => {

              })
        } else {
          this.setItemValueAr(file)
        }
      }
    },
    setItemValue (input) {
      const reader = new FileReader()
      reader.onload = e => {
        this.data.photo_url = e.target.result
        this.data.photo = e.target.result
      }
      reader.readAsDataURL(input)
    },
    setItemValueSn (input) {
      const reader = new FileReader()
      reader.onload = e => {
        this.data.photo_sn = e.target.result
      }
      reader.readAsDataURL(input)
    },
    setItemValueAr (input) {
      const reader = new FileReader()
      reader.onload = e => {
        this.data.photo_ar = e.target.result
      }
      reader.readAsDataURL(input)
    },
    removeImage () {
      this.data.photo_url = null
      this.data.photo = null
    },
    removeImageAr () {
      this.data.photo_sn = null
    },
    backToList () {
      this.$router.push('/app/visit/history').catch(() => {
      })
    }
    /*getCheckList (value) {
        this.checkList = []
        axios.get(`/api/master/checklists/allByCustomer?customer_id=${value}`)
            .then(response => {
                this.checkList = response.data
            })
    }*/
  },
  watch: {
    /*'data.customer': function (value) {
        this.getCheckList(value.id)
    },
    'data': function (value) {
        for (let i = 0; i < value.checklists.length; i++) {
            value.checklists[i].isComplete = false
        }
    },*/
    /*'data.checklists': {
        handler: function (after, before) {
            console.log(after)
            for (let i = 0; i < after.length; i++) {
                var data = after[i]
                if (data.isComplete === true) {
                    this.isComplete = true
                } else {
                    this.isComplete = false

                    break
                }
            }
        },
        deep: true
    }*/
  }
}
</script>

<style scoped>
.add-data {
  position: fixed;
  bottom: 5%;
  right: 79px;
  z-index: 51000;
  box-shadow: 0 1px 20px 1px rgb(12, 38, 52);
}

.img-visit {
  width: 100%;
  height: 300px;
  object-fit: cover;
}
</style>
