<!-- =========================================================================================
  File Name: ECommerceShop.vue
  Description: eCommerce Shop Page
  ----------------------------------------------------------------------------------------
  Item Name: Vuexy - Vuejs, HTML & Laravel Admin Dashboard Template
    Author: Pixinvent
  Author URL: http://www.themeforest.net/user/pixinvent
========================================================================================== -->

<template>
    <div ref="parentSidebar" id="parentx">
        <div class="vx-row mb-3">
            <div class="vx-col sm:w-2/3 w-full mb-2">
                <div class="vx-row">
                    <div class="search-page__search-bar flex sm:w-3/4 ml-4">
                        <vs-input icon-no-border placeholder="Search" v-model="filters.search"
                                  class="w-full input-rounded-full" icon="icon-search" icon-pack="feather"/>


                    </div>
                </div>
            </div>
            <div v-if="dataList.length>0" class="vx-col sm:w-1/3 w-full mb-2 items-end">
                <vs-row vs-type="flex" vs-justify="flex-end">
                    <vs-dropdown vs-trigger-click class="cursor-pointer">
                        <div
                            class="p-4 border border-solid d-theme-border-grey-light rounded-full d-theme-dark-bg cursor-pointer flex items-center justify-between font-medium">
                        <span
                            class="mr-2">{{ filters.pagination.from }} -  {{ filters.pagination.to }}  of {{
                            total
                          }}</span>
                            <feather-icon icon="ChevronDownIcon" svgClasses="h-4 w-4"/>
                        </div>
                        <!-- <vs-button class="btn-drop" type="line" color="primary" icon-pack="feather" icon="icon-chevron-down"></vs-button> -->
                        <vs-dropdown-menu>

                            <vs-dropdown-item @click="changeSize(10)">
                                <span>10</span>
                            </vs-dropdown-item>
                            <vs-dropdown-item @click="changeSize(20)">
                                <span>20</span>
                            </vs-dropdown-item>
                            <vs-dropdown-item @click="changeSize(50)">
                                <span>50</span>
                            </vs-dropdown-item>
                          <vs-dropdown-item @click="changeSize(100)">
                            <span>100</span>
                          </vs-dropdown-item>
                        </vs-dropdown-menu>
                    </vs-dropdown>
                </vs-row>
            </div>
        </div>

        <template>
            <vs-table
                :sst="true"
                @sort="handleSort"
                @selected="handleSelected"
                v-model="selected"
                :data="dataList">
                <template #thead>
                    <vs-th sort-key="id">No</vs-th>
                    <vs-th sort-key="work_order">Work Order</vs-th>
                    <vs-th sort-key="location_id">ATM</vs-th>
                    <vs-th sort-key="checkin_time">Tanggal</vs-th>
                    <vs-th sort-key="user_id" v-if="isAdmin">Engineer</vs-th>
                    <vs-th sort-key="photo_ar">Status</vs-th>
                </template>

                <template slot-scope="{data}">
                    <vs-tr :data="data" :key="index" v-for="(data, index) in dataList">
                        <vs-td :data="index">
                            {{
                            filters.pagination.current_page === 1 ? index + 1 : index + 1 +
                            ((filters.pagination.current_page - 1) * filters.pagination.per_page)
                            }}
                        </vs-td>
                        <vs-td :data="data.work_order">
                            {{ data.work_order }}
                        </vs-td>
                        <vs-td :data="data.location.name">
                            <div class="vx-col w-full flex-no-wrap">
                                <div class="vx-row">
                                    <div class="vx-col sm:w-1/4 w-full">
                                        <label class="text-sm font-semibold">S/N</label>
                                    </div>
                                    <div class="vx-col">
                                        <small>{{ data.location ? data.location.serial_number : '' }} </small>
                                    </div>
                                </div>
                              <div class="vx-row">
                                <div class="vx-col sm:w-1/4 w-full">
                                  <label class="text-sm font-semibold">ID Mesin</label>
                                </div>
                                <div class="vx-col">
                                  <small>{{ data.location ? data.location.mc_id : '' }} </small>
                                </div>
                              </div>
                                <div class="vx-row">
                                    <div class="vx-col sm:w-1/4 w-full">
                                        <label class="text-sm font-semibold">Lokasi</label>
                                    </div>
                                    <div class="vx-col text-ellipsis">
                                        <small>{{ data.location ? data.location.location_name : '' }} </small>
                                    </div>
                                </div>
                                <div class="vx-row" v-if="roleName !== 'customer'">
                                    <div class="vx-col sm:w-1/4 w-full">
                                        <label class="text-sm font-semibold">Customer</label>
                                    </div>
                                    <div class="vx-col">
                                        <small>{{ data.location ? data.location.customer.name : '' }} </small>
                                    </div>
                                </div>
                            </div>
                        </vs-td>
                        <vs-td :data="data.created_at">
                            <div class="vx-col w-full">
                                <div class="vx-row">
                                    <div class="vx-col sm:w-1/4 w-full">
                                        <label class="text-sm font-semibold">Mulai</label>
                                    </div>
                                    <div class="vx-col flex-wrap" v-if="data.checkin_time">
                                        <small class="ml-3">{{ data.checkin_time | moment('DD-MM-YYYY') }}</small> -
                                        <small
                                            class="text-muted">{{
                                            data.checkin_time
                                            | moment('HH:mm')
                                            }}</small>
                                    </div>
                                    <div class="vx-col flex-wrap" v-else>
                                        <small class="ml-3">{{ data.created_at | moment('DD-MM-YYYY') }}</small> -
                                        <small
                                            class="text-muted">{{
                                            data.created_at
                                            | moment('HH:mm')
                                            }}</small>
                                    </div>
                                </div>
                                <div class="vx-row" >
                                    <div class="vx-col sm:w-1/4 w-full">
                                        <label class="text-sm font-semibold">Selesai</label>
                                    </div>
                                    <div class="vx-col flex-wrap" v-if="data.checkout_time">
                                        <small class="ml-3">{{ data.checkout_time | moment('DD-MM-YYYY') }}</small> -
                                        <small
                                            class="text-muted">{{
                                            data.checkout_time
                                            | moment('HH:mm')
                                            }}</small>
                                    </div>
                                    <div class="vx-col flex-wrap" v-else>
                                        <small class="ml-3">-</small>
                                    </div>
                                </div>
                            </div>

                        </vs-td>
                        <vs-td :data="data.user_id" v-if="isAdmin">
                            <div class="flex flex-wrap items-center">
                                <div>
                                    <div>
                                        <label class="text-sm">{{ data.user.name }}</label>
                                    </div>
                                  <div class="text-sm" v-if="data.user.ce_code != null">
                                    {{ data.user.ce_code }}
                                  </div>
                                  <div class="text-sm" v-else>
                                    {{ data.user.email }}
                                  </div>
                                </div>
                            </div>
                        </vs-td>
                        <vs-td :data="data.photo_ar">
                            <div v-if="!data.photo_ar">
                                <vs-chip color="warning">OPEN</vs-chip>
                            </div>
                            <div v-else>
                                <vs-chip color="success">CLOSE</vs-chip>
                            </div>
                        </vs-td>

                        <!--<template #expand>
                            <div class="con-content">
                                <div class="vx-row">
                                    <div class="vx-col sm:w-1/2 w-full items-start">
                                        <div class="flex flex-wrap">
                                            <vs-avatar :src="data.user.avatar_url" size="40px" class="mr-4"/>
                                            <div>
                                                <div>
                                                    {{data.user.name}}
                                                </div>
                                                <div class="text-sm">
                                                    {{data.user.email}}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="vx-col sm:w-1/2 w-full">
                                        <div class="vx-row">

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </template>-->
                    </vs-tr>
                </template>
            </vs-table>
        </template>

        <vs-row vs-type="flex" vs-justify="space-between" v-if="dataList">
            <vs-col s-type="flex" vs-justify="center" vs-align="center" vs-w="2">

            </vs-col>
            <vs-col s-type="flex" vs-justify="center" vs-align="center" vs-w="2">
                <vs-pagination :total="last_page" v-model="current_page" class="mt-5"/>
            </vs-col>
        </vs-row>


    </div>
</template>

<script>
    import axios from '@/http/axios/index'
    import {debounce} from '@/plugins/helpers'
    import Datepicker from 'vuejs-datepicker'
    import XLSX from 'xlsx'

    export default {
        components: {
            Datepicker
        },
        data () {
            let sd = this.$moment().startOf('month').format('YYYY-MM-DD')
            let ed = this.$moment().format('YYYY-MM-DD')
            return {
                currentItemView: 'item-list',
                routeAdd: '/add',
                addPermission: false,
                sideBarFilter: false,
                dataList: [],
                selected: [],
                last_page: 1,
                current_page: 1,
                filters: {
                    pagination: {
                        from: 0,
                        to: 0,
                        total: 0,
                        per_page: 9,
                        current_page: 1,
                        last_page: 0
                    },
                    orderBy: {
                        column: 'id',
                        direction: 'desc'
                    },
                    search: ''
                },
                loading: true,
                searchQuery: '',
                total: 0,
                roleName: null,
                dialogDownload: false,
                dateRange: {
                    startDate: sd,
                    endDate: ed
                }
            }
        },
        computed: {
            isAdmin () {
                return localStorage.getItem('roles') === 'administrator'
            },
            isEngineer () {
                return localStorage.getItem('roles') === 'engineer'
            },
            isCustomer () {
                return localStorage.getItem('roles') === 'customer'
            },
            windowWidth () {
                return this.$store.state.windowWidth
            },
            baseUrl () {
                return window.location.origin
            },
            userInfo () {
                return JSON.parse(localStorage.getItem('userInfo'))
            },
            permission () {
                return JSON.parse(localStorage.getItem('permission'))
            }
        },
        mounted () {
            if (localStorage.getItem('filtersVisitData')) {
                this.filters = JSON.parse(localStorage.getItem('filtersVisitData'))
                this.filters.pagination.current_page = 1
                this.filters.search = ''
            } else {
                localStorage.setItem('filtersVisitData', this.filters)
            }
            this.roleName = localStorage.getItem('roles')
            if (this.roleName !== 'customer') {
                this.addPermission = true
            }
            if (this.roleName === 'engineer') {
                this.routeAdd = 'add/'
            }
            this.getdataList()
        },
        methods: {
            dialogDownloadShow () {
                this.dialogDownload = true
            },
            dialogDownloadHide () {
                this.dialogDownload = false
            },
            handleSearch (searching) {
                if (searching.length >= 3) {
                    this.filters.search = searching
                    this.getDataList()
                } else {
                    this.filters.search = ''
                    this.getDataList()
                }
            },
            handleChangePage (page) {
                this.filters.pagination.current_page = page
                this.getdataList()
            },
            handleSort (key, active) {
                this.sort(key, active)
            },
            getdataList () {
                this.$store.dispatch('getNotification')
                this.$vs.loading()
                this.dataList = []
                localStorage.setItem('filtersVisitData', JSON.stringify(this.filters))

                axios.post(`/api/visits/history/filter?page=${this.filters.pagination.current_page}`, this.filters)
                    .then(response => {
                        this.$vs.loading.close()
                        this.dataList = response.data.data
                        this.total = response.data.total
                        this.last_page = response.data.last_page
                        delete response.data.data
                        this.filters.pagination = response.data
                        this.loading = false
                    })
                    .catch(error => {
                        this.$vs.loading.close()
                        this.errors = error.response.data.errors
                        this.$vs.notify({
                            title: 'Error',
                            text: 'Terjadi kesalahan',
                            iconPack: 'feather',
                            icon: 'icon-alert-circle',
                            color: 'danger',
                            position: 'top-right'
                        })
                    })
            },
            filter () {
                this.filters.pagination.current_page = 1
                this.getdataList()
            },
            changeSize (perPage) {
                this.filters.pagination.current_page = 1
                this.filters.pagination.per_page = perPage
                this.getdataList()
            },
            sort (column, sort) {
                if (column !== null) {
                    if (column == this.filters.orderBy.column) {
                        this.filters.orderBy.direction = sort == null ? 'asc' : sort
                    } else {
                        this.filters.orderBy.column = column
                        this.filters.orderBy.direction = 'asc'
                    }
                    this.getdataList()
                }
            },
            changePage (page) {
                this.filters.pagination.current_page = page
                this.getdataList()
            },
            handleSelected (tr) {

                    this.$router.push({
                        name: 'admin-visit-history-detail',
                        params: {id: tr.id}
                    }).catch(() => {
                    })
            },
        },
        watch: {
            current_page: function (value) {
                this.changePage(value)
            },
            'filters.search': debounce(function (newVal) {
                this.filters.pagination.current_page = 1
                this.getdataList()
            }, 1000)
        },
        destroyed () {
            localStorage.removeItem('filtersVisitData')
        }
    }

</script>


<style lang="scss">
    .add-data {
        position: fixed;
        bottom: 5%;
        right: 79px;
        z-index: 51000;
        box-shadow: 0 1px 20px 1px rgb(12, 38, 52);
    }

    .text-ellipsis {
        white-space: nowrap;
        width: 185px;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .date-custom {
        width: 110px;
        display: block;
        margin-right: auto;
        margin-left: auto;
    }

    .popup {
        width: 500px !important;
        height: 300px !important;
    }


</style>
