<template>
        <div>
            <div class="vx-row mb-3" v-if="!isProgress" v-can="'read-visit'">
                <div class="vx-col w-full sm:w-1/1 md:w-1/1 lg:w-1/4 xl:w-1/4">
                    <statistics-card-line-no-icon
                        :statistic="dataCount.active"
                        statisticTitle="ATM Active"/>
                </div>
                <div class="vx-col w-full sm:w-1/1 md:w-1/1 lg:w-1/4 xl:w-1/4">
                    <statistics-card-line-no-icon
                        :statistic="dataCount.nonActive"
                        statisticTitle="ATM Non-Active"/>
                </div>

                <div class="vx-col w-full sm:w-1/1 md:w-1/1 lg:w-1/4 xl:w-1/4">
                    <statistics-card-line-no-icon
                        :statistic="dataCount.koordinat"
                        statisticTitle="Koordinat terisi"/>
                </div>
                <div class="vx-col w-full sm:w-1/1 md:w-1/1 lg:w-1/4 xl:w-1/4">
                    <statistics-card-line-no-icon
                        :statistic="dataCount.koordinatNull"
                        statisticTitle="Koordinat Kosong"/>
                </div>
            </div>
            <div>
                <vx-card class="mb-3">
                    <div class="flex flex-wrap justify-between">
                        <ul class="demo-alignment mb-2">
                            <li v-if="!hideAtm">
                                <vs-radio color="warning" v-model="filter" vs-value="atm">All ATM Location</vs-radio>
                            </li>
                            <li v-if="!hideAtm">
                                <vs-radio color="danger" v-model="filter" vs-value="visit">Filter by Open Site Visit
                                </vs-radio>
                            </li>
                            <li v-if="!isCustomer">
                                <vs-checkbox color="rgb(38, 187, 174)" v-model="filterCe" :disabled="hideAtm">CE
                                    Location
                                </vs-checkbox>
                            </li>
                            <li v-if="!isCustomer && filterCe">
                                <vs-checkbox color="rgb(38, 187, 174)" v-model="hideAtm">Hide ATM</vs-checkbox>
                            </li>
                        </ul>
                        <!-- <vs-button color="warning" class="mb-2" icon-pack="feather" @click="showVisitOpen" v-if="!isOpen">
                           Filter by Open Site Visit
                         </vs-button>
                         <vs-button color="primary" class="mb-2" icon-pack="feather" @click="showVisitOpen" v-if="isOpen">All ATM Location
                         </vs-button>

                         <vs-button color="danger" class="mb-2" icon-pack="feather" @click="fullScreen">
                          Full Screen
                         </vs-button>-->
                    </div>
                </vx-card>
            </div>
            <div class="vue-map-container mb-2">
                <vs-progress indeterminate color="primary" v-if="isProgress"></vs-progress>
                <gmap-map :center="center" :zoom="5" style="width: 100%; height: 350px">
                    <!-- <gmap-info-window :options="infoOptions" :position="infoWindowPos" :opened="infoWinOpen" @closeclick="infoWinOpen=false">

                     </gmap-info-window>
                     <gmap-marker :key="i" v-for="(m,i) in markers" :position="m.position" :clickable="true" @click="toggleInfoWindow(m,i)"></gmap-marker>-->

                    <gmap-info-window :options="infoOptions" :position="infoWindowPos" :opened="infoWinOpen"
                                      @closeclick="infoWinOpen=false">

                        <div v-html="infoContent"></div>
                    </gmap-info-window>
                    <cluster v-if="!hideAtm">
                        <gmap-custom-marker :key="i" v-for="(m,i) in markers" :marker="m.position" alignment="center"
                                            @click.native="toggleInfoWindow(m,i)">
                            <img src="@assets/images/logo/atm_icon_normal.png" v-if="m.visit === null "/>
                            <img src="@assets/images/logo/atm_icon_problem.png"
                                 v-else-if="m.visit !==null && checkVisit(m.visit) === 'problem'"/>
                            <img src="@assets/images/logo/atm_icon_warning.png"
                                 v-else-if="m.visit !==null && checkVisit(m.visit) === 'pm'"/>
                        </gmap-custom-marker>
                    </cluster>
                    <cluster v-if="filterCe">
                        <gmap-custom-marker :key="x" v-for="(m,x) in markersUser" :marker="m.position"
                                            alignment="center"
                                            @click.native="toggleInfoWindowUser(m,x)">
                            <img src="@assets/images/logo/engineer.png" v-if="m.visit === null"/>
                            <img src="@assets/images/logo/engineer.png" v-else-if="m.visit !== null"/>
                        </gmap-custom-marker>
                    </cluster>
                </gmap-map>
            </div>
        </div>
</template>


<script>
    import axios from '@/http/axios/index'
    import GmapCustomMarker from 'vue2-gmap-custom-marker'
    import StatisticsCardLineNoIcon from '@/components/statistics-cards/StatisticsCardLineNoIcon.vue'

    export default {
        components: {
            'gmap-custom-marker': GmapCustomMarker,
            StatisticsCardLineNoIcon
        },

        data () {
            return {
                dataList: [],
                dataUserList: [],
                dataCount: {},
                center: {
                    lat: -2.548926,
                    lng: 118.0148634
                },
                infoContent: '',
                infoWindowPos: null,
                infoWinOpen: false,
                currentMidx: null,
                //optional: offset infowindow so it visually sits nicely on top of our marker
                infoOptions: {
                    pixelOffset: {
                        width: 0,
                        height: -35
                    }
                },
                mapRender: false,
                markers: [],
                markersUser: [],
                filter: 'atm',
                hideAtm: false,
                filterCe: false,
                isProgress: true
            }
        },
        watch: {
            'filter': function (value) {
                this.showVisitOpen(value)
                this.mapRender = false
                this.$nextTick().then(() => {
                    this.mapRender = true
                })
            },
            'filterCe': function (value) {
                this.mapRender = false
                this.$nextTick().then(() => {
                    this.mapRender = true
                })
            },
            'hideAtm': function (value) {
                this.mapRender = false
                this.$nextTick().then(() => {
                    this.mapRender = true
                })
            }
        },
        mounted () {
            this.getDataStat()
            this.getData()
            this.getUserData()
        },
        computed: {
            isCustomer () {
                return localStorage.getItem('roles') === 'customer'
            }
        },
        methods: {
            toViewVisit (data) {
                if (this.isCustomer) {
                    this.$router.push({
                        name: 'admin-visit-view',
                        params: {id: data.id}
                    }).catch(() => {
                    })
                } else {
                    this.$router.push({
                        name: 'admin-visit-detail',
                        params: {id: data.id}
                    }).catch(() => {
                    })
                }
            },
            resetMap () {
                this.infoWindowPos = null
                this.infoWinOpen = false
                this.currentMidx = null
                this.markers = []
                this.isProgress = true
            },
            getDataStat () {
                axios.get(`/api/master/locations/countMap`)
                    .then(response => {
                        this.dataCount = response.data.data
                    }).catch(error => {
                    console.log(error)
                    this.$vs.loading.close()

                })
            },
            getData () {
                this.resetMap()
                axios.post(`/api/master/locations/filterMap/`)
                    .then(response => {

                        this.dataList = response.data
                        for (let x = 0; x < this.dataList.length; x++) {
                            var dataAtm = this.dataList[x]
                            var dataPost = {
                                position: {
                                    lat: dataAtm.latitude,
                                    lng: dataAtm.longitude
                                },
                                infoText: dataAtm,
                                visit: dataAtm.visit
                            }
                            this.markers.push(dataPost)
                        }
                        this.isProgress = false
                    }).catch(error => {
                    this.isProgress = false

                })
            },
            getUserData () {
                axios.post(`/api/users/filterMap/`)
                    .then(response => {

                        this.dataUserList = response.data
                        for (let x = 0; x < this.dataUserList.length; x++) {
                            var dataUser = this.dataUserList[x]
                            var dataPost = {
                                position: {
                                    lat: dataUser.current_latitude,
                                    lng: dataUser.current_longitude
                                },
                                infoText: dataUser,
                                visit: dataUser.visit
                            }
                            this.markersUser.push(dataPost)
                        }
                        this.isProgress = false
                    }).catch(error => {
                })
            },
            showVisitOpen (value) {
                this.resetMap()
                if (value === 'visit') {
                    for (let x = 0; x < this.dataList.length; x++) {
                        var dataAtm = this.dataList[x]
                        var dataPost = {
                            position: {
                                lat: dataAtm.latitude,
                                lng: dataAtm.longitude
                            },
                            infoText: dataAtm,
                            visit: dataAtm.visit
                        }
                        if (dataAtm.visit != null) {
                            this.markers.push(dataPost)
                        }
                    }
                    this.isProgress = false
                } else {
                    this.isProgress = false
                    this.getData()
                }

            },
            checkVisit (data) {
                switch (data.tipe_kunjungan) {
                case '1':
                case '2':
                case '3':
                case '4':
                case 'CHGC':
                    return 'problem'
                default:
                    return 'pm'
                }
            },
            fullScreen () {
                let routeData = this.$router.resolve('/app/peta-lokasi/full')
                window.open(routeData.href, '_blank')
            },
            toggleInfoWindow: function (marker, idx) {
                this.infoWindowPos = marker.position
                this.infoContent = this.getInfoWindowContent(marker.infoText)
                //check if its the same marker that was selected if yes toggle
                if (this.currentMidx == idx) {
                    this.infoWinOpen = !this.infoWinOpen
                }
                //if different marker set infowindow to open and reset current marker index
                else {
                    this.infoWinOpen = true
                    this.currentMidx = idx
                }
            },
            toggleInfoWindowUser: function (marker, idx) {
                this.infoWindowPos = marker.position
                this.infoContent = this.getInfoWindowContentUser(marker.infoText)
                //check if its the same marker that was selected if yes toggle
                if (this.currentMidx == idx) {
                    this.infoWinOpen = !this.infoWinOpen
                }
                //if different marker set infowindow to open and reset current marker index
                else {
                    this.infoWinOpen = true
                    this.currentMidx = idx
                }
            },
            getInfoWindowContent: function (marker) {
                if (marker.visit == null) {
                    return (`<div class="card" style="width: 350px;">
  <div class="card-image">
  </div>
  <div class="card-content">
       <div class="vx-col w-full mb-base">
        <div class="vx-row">
          <div class="vx-col sm:w-1/4 w-full">
            <label class="text-sm font-semibold">S/N</label>
          </div>
          <div class="vx-col">
            <small>${marker ? marker.serial_number : ''} </small>
          </div>
        </div>
        <div class="vx-row">
          <div class="vx-col sm:w-1/4 w-full">
            <label class="text-sm font-semibold">ID Mesin</label>
          </div>
          <div class="vx-col">
            <small>${marker ? marker.mc_id : ''} </small>
          </div>
        </div>
        <div class="vx-row">
          <div class="vx-col sm:w-1/4 w-full">
            <label class="text-sm font-semibold">Lokasi</label>
          </div>
          <div class="vx-col text-ellipsis">
            <small>${marker ? marker.location_name : ''} </small>
          </div>
        </div>
        <div class="vx-row" v-if="marker.visit !== null">
          <div class="vx-col sm:w-1/4 w-full">
            <label class="text-sm font-semibold">Customer</label>
          </div>
          <div class="vx-col">
            <small>${marker ? marker.customer.name : ''} </small>
          </div>
        </div>
      </div>
  </div>
</div>`)
                } else {
                    return (`<div class="card" style="width: 350px;">
  <div class="card-content">
       <div class="vx-col w-full mb-2">
        <div class="vx-row">
          <div class="vx-col sm:w-1/4 w-full">
            <label class="text-sm font-semibold">S/N</label>
          </div>
          <div class="vx-col">
            <small>${marker ? marker.serial_number : ''} </small>
          </div>
        </div>
        <div class="vx-row">
          <div class="vx-col sm:w-1/4 w-full">
            <label class="text-sm font-semibold">ID Mesin</label>
          </div>
          <div class="vx-col">
            <small>${marker ? marker.mc_id : ''} </small>
          </div>
        </div>
        <div class="vx-row">
          <div class="vx-col sm:w-1/4 w-full">
            <label class="text-sm font-semibold">Lokasi</label>
          </div>
          <div class="vx-col text-ellipsis">
            <small>${marker ? marker.location_name : ''} </small>
          </div>
        </div>
        <div class="vx-row" v-if="marker.visit !== null">
          <div class="vx-col sm:w-1/4 w-full">
            <label class="text-sm font-semibold">Customer</label>
          </div>
          <div class="vx-col">
            <small>${marker ? marker.customer.name : ''} </small>
          </div>
        </div>
      </div>
      <hr class="mb-2">
      <div class="vx-col w-full mb-base">
        <div class="vx-row">
          <div class="vx-col sm:w-1/4 w-full">
            <label class="text-sm font-semibold">WO</label>
          </div>
          <div class="vx-col">
          <a href="/app/visit/detail/${marker.visit.id}">${marker ? marker.visit.work_order : ''}</a></span>
          </div>
        </div>
        <div class="vx-row">
          <div class="vx-col sm:w-1/4 w-full">
            <label class="text-sm font-semibold">WO Type</label>
          </div>
          <div class="vx-col">
            <small>${marker ? marker.visit.tipe_kunjungan : ''} </small>
          </div>
        </div>
        <div class="vx-row">
          <div class="vx-col sm:w-1/4 w-full">
            <label class="text-sm font-semibold">Problem</label>
          </div>
          <div class="vx-col text-ellipsis">
            <small>${marker ? marker.visit.detail_kunjungan : ''} </small>
          </div>
        </div>
        <div class="vx-row" v-if="marker.visit !== null">
          <div class="vx-col sm:w-1/4 w-full">
            <label class="text-sm font-semibold">ID CE</label>
          </div>
          <div class="vx-col">
            <small>${marker ? marker.visit.user.ce_code ? marker.visit.user.ce_code : marker.visit.user.username : '-'} </small>
          </div>
        </div>

</div>
  </div>
</div>`)
                }
            },
            getInfoWindowContentUser: function (marker) {
                if (marker.visit == null) {
                    return (`<div class="card" style="width: 350px;">
  <div class="card-image">
  </div>
  <div class="card-content">
       <div class="vx-col w-full mb-base">
        <div class="vx-row">
          <div class="vx-col sm:w-1/4 w-full">
            <label class="text-sm font-semibold">CE Code</label>
          </div>
          <div class="vx-col">
            <small>${marker ? marker.ce_code : ''} </small>
          </div>
        </div>
        <div class="vx-row">
          <div class="vx-col sm:w-1/4 w-full">
            <label class="text-sm font-semibold">Name</label>
          </div>
          <div class="vx-col">
            <small>${marker ? marker.name : ''} </small>
          </div>
        </div>
        <div class="vx-row">
          <div class="vx-col sm:w-1/4 w-full">
            <label class="text-sm font-semibold">S. Base</label>
          </div>
          <div class="vx-col">
            <small>${marker ? marker.service_base.name : ''} </small>
          </div>
        </div>
        <div class="vx-row">
          <div class="vx-col sm:w-1/4 w-full">
            <label class="text-sm font-semibold">Region</label>
          </div>
          <div class="vx-col">
            <small>${marker ? marker.region.name : ''} </small>
          </div>
        </div>
        </div>
  </div>
</div>`)
                } else {
                    return (`<div class="card" style="width: 350px;">
  <div class="card-content">
       <div class="vx-col w-full mb-2">
        <div class="vx-row">
          <div class="vx-col sm:w-1/4 w-full">
            <label class="text-sm font-semibold">CE Code</label>
          </div>
          <div class="vx-col">
            <small>${marker ? marker.ce_code : ''} </small>
          </div>
        </div>
        <div class="vx-row">
          <div class="vx-col sm:w-1/4 w-full">
            <label class="text-sm font-semibold">Name</label>
          </div>
          <div class="vx-col">
            <small>${marker ? marker.name : ''} </small>
          </div>
        </div>
        <div class="vx-row">
          <div class="vx-col sm:w-1/4 w-full">
            <label class="text-sm font-semibold">S. Base</label>
          </div>
          <div class="vx-col">
            <small>${marker ? marker.service_base.name : ''} </small>
          </div>
        </div>
        <div class="vx-row">
          <div class="vx-col sm:w-1/4 w-full">
            <label class="text-sm font-semibold">Region</label>
          </div>
          <div class="vx-col">
            <small>${marker ? marker.region.name : ''} </small>
          </div>
        </div>
      </div>
      <hr class="mb-2">
      <div class="vx-col w-full mb-base">
        <div class="vx-row">
          <div class="vx-col sm:w-1/4 w-full">
            <label class="text-sm font-semibold">WO</label>
          </div>
          <div class="vx-col">
          <a href="/app/visit/detail/${marker.visit.id}">${marker ? marker.visit.work_order : ''}</a></span>
          </div>
        </div>
        <div class="vx-row">
          <div class="vx-col sm:w-1/4 w-full">
            <label class="text-sm font-semibold">WO Type</label>
          </div>
          <div class="vx-col">
            <small>${marker ? marker.visit.tipe_kunjungan : ''} </small>
          </div>
        </div>
        <div class="vx-row">
          <div class="vx-col sm:w-1/4 w-full">
            <label class="text-sm font-semibold">Problem</label>
          </div>
          <div class="vx-col text-ellipsis">
            <small>${marker ? marker.visit.detail_kunjungan : ''} </small>
          </div>
        </div>
         <div class="vx-row" v-if="marker.visit !== null">
          <div class="vx-col sm:w-1/4 w-full">
            <label class="text-sm font-semibold">Customer</label>
          </div>
          <div class="vx-col">
            <small>${marker ? marker.visit.location.customer.name : ''} </small>
          </div>
        </div>
      </div>
  </div>
</div>`)
                }
            }
        }

    }
</script>


<style>
    @import "https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.0/animate.min.css";

    html,
    body,
    #app,
    .vue-map-container {
        border-radius: 25px;
        width: 100%;
        height: 100%;
        padding: 0px;
        margin: 0px;
        overflow-y : scroll;
        overflow-x : hidden;
    }

    .live-html {
        padding: 5px;
        border: 1px solid #aaa;
        border-radius: 4px;
        box-shadow: 3px 3px 3px grey;
        min-height: 200px;
        min-width: 200px;
        background-color: #fafafa;
    }

    .zindex {
        padding: 5px;
        border: 1px solid #aaa;
        border-radius: 4px;
        box-shadow: 3px 3px 3px grey;
        min-height: 100px;
        min-width: 100px;
        font-size: 1.3em;
    }

    .zindex-a {
        background-color: #eb7bff;
    }

    .zindex-b {
        background-color: #17e2b8;
    }

    .card-tools {
        right: 5px;
        top: 5px;
        padding: 8px;
        background-color: #fafafa;
        border: 1px solid #bbb;
        width: 270px;
        z-index: 100;
        position: absolute;
        box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 4px -1px;
    }

    .hide-tool {
        background-color: #fafafa;
        border: 1px solid #bbb;
        font-size: 1.3em;
    }

    .show-tool {
        position: absolute;
        top: 5px;
        right: 5px;
        background-color: #fafafa;
        border: 1px solid #bbb;
        font-size: 1.3em;
        z-index: 100;
    }

</style>
