<template>
  <vx-card no-shadow>
    <div class="vx-row mb-3">
      <div class="vx-col sm:w-1/2 w-full mb-2">
        <div class="search-page__search-bar flex items-center">
          <vs-input icon-no-border placeholder="Search" v-model="filters.search"
                    class="w-full input-rounded-full" icon="icon-search" icon-pack="feather"/>
        </div>
      </div>
      <div class="vx-col sm:w-1/2 w-full mb-2 items-end" v-can="'create-user'">
        <div class="search-page__search-bar flex items-center">
          <div class="dropdown-button-container">
            <vs-button class="btnx" type="filled" @click="addData">Tambah
              User
            </vs-button>

            <vs-dropdown>
              <vs-button class="btn-drop" type="filled" icon="expand_more"></vs-button>
              <vs-dropdown-menu>
                <vs-dropdown-item>
                  <div @click="popUpImportShow"
                       class="flex items-center">
                    <i class="material-icons"> publish </i>
                    <span class="ml-3">Import Data</span>
                  </div>
                </vs-dropdown-item>
                <!-- <vs-dropdown-item>
                     <div @click="$router.push('/apps/email').catch(() => {})"
                          class="flex items-center">
                         <i class="material-icons"> get_app </i>
                         <span class="ml-3">Export Data</span>
                     </div>
                 </vs-dropdown-item>-->
              </vs-dropdown-menu>
            </vs-dropdown>
          </div>
          <!--                    <vs-button color="primary" icon-pack="feather" icon="icon-plus" @click="popUpAddShow">Add-->
          <!--                        Region-->
          <!--                    </vs-button>-->
        </div>
      </div>
    </div>
    <vs-table
        :sst="true"
        @sort="handleSort"
        @selected="handleSelected"
        v-model="selected"
        max-items="5"
        :data="dataList">
      <template slot="thead">
        <vs-th sort-key="id">No</vs-th>
        <vs-th sort-key="name">User</vs-th>
        <vs-th>Roles</vs-th>
        <vs-th sort-key="is_active">Status</vs-th>
        <vs-th sort-key="username">Registered</vs-th>
      </template>

      <template slot-scope="{data}">
        <vs-tr :data="user" :key="index" v-for="(user, index) in dataList">
          <vs-td :data="index">
            {{
              filters.pagination.current_page === 1 ? index + 1 : index + 1 + ((filters.pagination.current_page - 1) * filters.pagination.per_page)
            }}
          </vs-td>
          <vs-td :data="user.name">
            <div class="flex flex-wrap items-center">
              <vs-avatar :src="user.avatar" size="40px" class="mr-4"/>
              <div>
                <div>
                  {{ user.name }}
                </div>
                <div class="text-sm" v-if="user.ce_code !== null">
                  {{ user.ce_code }}
                </div>
                <div class="text-sm" v-else>
                  {{ user.email }}
                </div>
              </div>
            </div>
          </vs-td>
          <vs-td :data="user.roles">
                        <span v-for="(role, index) in user.roles">
                             <div class="content-center items-center">
                                <div>
                                    {{ role.display_name }}
                                </div>
                                 <div v-if="user.customer != null">
                                    <div class="text-sm">{{ user.customer.name }}</div>
                                 </div>
                                 <div v-else-if="user.vendor != null">
                                     <div class="text-sm">{{ user.vendor.code }}</div>
                                 </div>
                            </div>
                        </span>
          </vs-td>
          <vs-td :data="user.status">
            <div v-if="user.deleted_by">
              <vs-chip color="danger">Deleted</vs-chip>
            </div>
            <div v-else>
              <div v-if="user.is_active">
                <vs-chip color="success">Aktif</vs-chip>
              </div>
              <div v-if="!user.is_active">
                <vs-chip color="warning">Inaktif</vs-chip>
              </div>
            </div>

          </vs-td>

          <vs-td :data="user.created_at">
            <small>{{ user.created_at | moment('LL') }}</small> - <small class="text-muted">{{
              user.created_at
                  | moment('LT')
            }}</small>
          </vs-td>
        </vs-tr>
      </template>
    </vs-table>
    <vs-row vs-type="flex" vs-justify="space-between">
      <vs-col s-type="flex" vs-justify="center" vs-align="center" vs-w="2">
        <vs-dropdown vs-trigger-click class="cursor-pointer mt-5">
          <div
              class="p-4 border border-solid d-theme-border-grey-light rounded-full d-theme-dark-bg cursor-pointer flex items-center justify-between font-medium">
            <span class="mr-2 text-sm">{{ filters.pagination.from }} -  {{ filters.pagination.to }}  of {{
                total
              }}</span>
            <feather-icon icon="ChevronDownIcon" svgClasses="h-4 w-4"/>
          </div>
          <!-- <vs-button class="btn-drop" type="line" color="primary" icon-pack="feather" icon="icon-chevron-down"></vs-button> -->
          <vs-dropdown-menu>
            <vs-dropdown-item @click="changeSize(5)">
              <span>5</span>
            </vs-dropdown-item>
            <vs-dropdown-item @click="changeSize(10)">
              <span>10</span>
            </vs-dropdown-item>
            <vs-dropdown-item @click="changeSize(20)">
              <span>20</span>
            </vs-dropdown-item>
            <vs-dropdown-item @click="changeSize(50)">
              <span>50</span>
            </vs-dropdown-item>
            <vs-dropdown-item @click="changeSize(100)">
              <span>100</span>
            </vs-dropdown-item>
          </vs-dropdown-menu>
        </vs-dropdown>
      </vs-col>
      <vs-col s-type="flex" vs-justify="center" vs-align="center" vs-w="2">
        <vs-pagination :total="last_page" v-model="current_page" class="mt-5"/>
      </vs-col>
    </vs-row>

    <vs-popup class="holamundo" title="Import Data" :active.sync="popupImport" @input="onPopupImportClose">
      <input type="file" ref="fileInput" class="hidden" accept=".xlsx, .xls" @change="handleClick">
      <div class="row">
        <div
            @click="$refs.fileInput.click()"
            @drop="handleDrop"
            @dragover="handleDragover"
            @dragenter="handleDragover"
            class="mb-6 px-8 py-16 cursor-pointer text-center border-2 border-dashed d-theme-border-grey-light d-theme-dark-bg text-xl">
          <feather-icon icon="UploadCloudIcon" svgClasses="h-16 w-16 stroke-current text-grey" class="block"/>
          <span>Drop Excel File atau </span>
          <span class="font-medium text-primary" @click.stop="$refs.fileInput.click()">Browse</span>
          <!-- <vs-button type="border" @click.stop="$refs.fileInput.click()">Browse</vs-button> -->
        </div>
        <div>
          <span class="text-sm">*) Import Data harus sesuai Template yang disediakan. <a :href="linkTemplate"><b>Download Template</b></a></span>
        </div>
      </div>
    </vs-popup>

  </vx-card>
</template>
<script>
import axios from '@/http/axios/index'
import {debounce} from '@/plugins/helpers'
import service from '@/services/user.service'

export default {
  data () {
    return {
      selected: [],
      dataList: [],
      linkTemplate: '/template/import/user_template.xlsx',
      popupImport: false,
      file: null,
      last_page: 1,
      current_page: 1,
      filters: {
        pagination: {
          from: 0,
          to: 0,
          total: 0,
          per_page: 20,
          current_page: 1,
          last_page: 0
        },
        orderBy: {
          column: 'id',
          direction: 'asc'
        },
        search: ''
      },
      loading: true,
      searchQuery: '',
      total: 0

    }
  },
  computed: {
    isAdmin () {
      return localStorage.getItem('roles') === 'administrator'
    }
  },
  mounted () {
    if (localStorage.getItem('filtersTableUsers')) {
      this.filters = JSON.parse(localStorage.getItem('filtersTableUsers'))
      this.filters.pagination.current_page = 1
      this.filters.search = ''
    } else {
      localStorage.setItem('filtersTableUsers', this.filters)
    }
    this.getdataList()
  },
  methods: {
    popUpImportShow () {
      this.popupImport = true
    },
    onPopupImportClose () {
      this.popupImport = false
    },
    handleSearch (searching) {
      if (searching.length >= 3) {
        this.filters.search = searching
        this.getDataList()
      } else {
        this.filters.search = ''
        this.getDataList()
      }
    },
    handleChangePage (page) {
      this.filters.pagination.current_page = page
      this.getdataList()
    },
    handleSort (key, active) {
      this.sort(key, active)
    },
    getdataList () {
      this.$vs.loading()
      this.dataList = []
      localStorage.setItem('filtersTableUsers', JSON.stringify(this.filters))
      axios.post(`/api/users/filter?page=${this.filters.pagination.current_page}`, this.filters)
          .then(response => {
            this.$vs.loading.close()
            this.dataList = response.data.data
            this.total = response.data.total
            this.last_page = response.data.last_page
            delete response.data.data
            this.filters.pagination = response.data
            this.loading = false
          })
          .catch(error => {
            this.$vs.loading.close()
            this.errors = error.response.data.errors
            this.$vs.notify({
              title: 'Error',
              text: 'Terjadi kesalahan',
              iconPack: 'feather',
              icon: 'icon-alert-circle',
              color: 'danger',
              position: 'top-right'
            })
          })
    },
    filter () {
      this.filters.pagination.current_page = 1
      this.getdataList()
    },
    changeSize (perPage) {
      this.filters.pagination.current_page = 1
      this.filters.pagination.per_page = perPage
      this.getdataList()
    },
    sort (column, sort) {
      if (column !== null) {
        if (column == this.filters.orderBy.column) {
          this.filters.orderBy.direction = sort == null ? 'asc' : sort
        } else {
          this.filters.orderBy.column = column
          this.filters.orderBy.direction = 'asc'
        }
        this.getdataList()
      }
    },
    changePage (page) {
      this.filters.pagination.current_page = page
      this.getdataList()
    },
    handleSelected (tr) {
      if (this.isAdmin) {
        this.$router.push({
          name: 'admin-user-edit',
          params: {id: tr.id}
        }).catch(() => {
        })
      } else {
        this.$router.push({
          name: 'admin-user-detail',
          params: {id: tr.id}
        }).catch(() => {
        })
      }

    },
    addData () {
      this.$router.push('/app/setting/users/add').catch(() => {
      })
    },
    handleClick (e) {
      const files = e.target.files
      this.file = files[0]
      if (!this.file) return
      this.uploadFile(this.file)
    },
    handleDragover (e) {
      e.stopPropagation()
      e.preventDefault()
      e.dataTransfer.dropEffect = 'copy'
    },
    handleDrop (e) {
      e.stopPropagation()
      e.preventDefault()
      const files = e.dataTransfer.files
      if (files.length !== 1) {
        this.$vs.notify({
          title: 'Upload',
          text: 'Hanya upload 1 File',
          iconPack: 'feather',
          icon: 'icon-alert-circle',
          color: 'warning',
          position: 'top-right'
        })
        return
      }
      const rawFile = files[0] // only use files[0]
      if (!this.isExcel(rawFile)) {
        this.$vs.notify({
          title: 'Login Attempt',
          text: 'Upload file beresktensi .xlsx, .xls, .csv',
          iconPack: 'feather',
          icon: 'icon-alert-circle',
          color: 'warning',
          position: 'top-right'
        })
        return false
      }
      this.uploadFile(rawFile)
    },
    onFileChange (e) {
      let files = e.target.files || e.dataTransfer.files
      if (!files.length)
        return
      this.file = files[0]
    },
    uploadFile (file) {
      this.$vs.loading()
      let formData = new FormData()
      formData.append('file', file)
      axios.post(`/api/users/import`, formData,
          {
            headers: {
              'Content-Type': 'multipart/form-data'
            }
          })
          .then(response => {
            this.getdataList()
            this.popupImport = false
            this.$vs.notify({
              title: 'Sukses',
              text: 'Import Data Sukses',
              iconPack: 'feather',
              icon: 'icon-alert-circle',
              color: 'success',
              position: 'top-right'
            })
          })
          .catch(error => {
            this.popupImport = false
            this.$vs.notify({
              title: 'Error',
              text: 'Terjadi kesalahan',
              iconPack: 'feather',
              icon: 'icon-alert-circle',
              color: 'danger',
              position: 'top-right'
            })
          })
          .then(() => {
            this.$vs.loading.close()
          })
    }
  },
  watch: {
    current_page: function (value) {
      this.changePage(value)
    },
    'filters.search': debounce(function (newVal) {
      this.filters.pagination.current_page = 1
      this.getdataList()
    }, 1000)
  },
  destroyed () {
    localStorage.removeItem('filtersTableUsers')
  }

}
</script>

<style>
.table.vs-table > thead > tr > th {
  background-color: white;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  z-index: 2;
}
</style>

<style lang="scss">
.dropdown-button-container {
  display: flex;
  align-items: center;

  .btnx {
    border-radius: 5px 0px 0px 5px;
  }

  .btn-drop {
    border-radius: 0px 5px 5px 0px;
    border-left: 1px solid rgba(255, 255, 255, .2);
  }
}
</style>

