<template>
  <div class="vx-row">
    <div class="vx-col sm:w-1/2 w-full mb-2">
      <form>
        <vx-card title="User Data">
          <!--   <div class="vx-row  mb-2">
                 <div class="vx-col sm:w-1/2 w-full mb-2">
                     <vs-input class="w-full" label-placeholder="ID" v-model="data.id" disabled/>
                 </div>
                 <div class="vx-col sm:w-1/2 w-full mb-2">
                     <vs-switch color="success" v-model="data.is_active" class="ml-5 mt-6">
                         <span slot="on">Aktif</span>
                         <span slot="off">Inaktif</span>
                     </vs-switch>
                 </div>
             </div>-->
          <div class="vx-row  mb-2">
            <div class="vx-col w-full">
              <vs-input class="w-full" label-placeholder="Nama" v-model="data.name"
                        data-vv-validate-on="blur"
                        v-validate="'required'"
                        name="Nama"/>
              <small class="form-text text-danger ml-3">{{ errors.first('Nama') }}</small>
              <span class="text-danger text-sm ml-3" v-if="errorsData.name">{{ errorsData.name[0] }}</span>
            </div>
          </div>
          <div class="vx-row mb-2">
            <div class="vx-col w-full">
              <vs-input class="w-full" label-placeholder="Username" v-model="data.username"
                        data-vv-validate-on="blur"
                        v-validate="'required'"
                        name="Username"/>
              <small class="form-text text-danger ml-3">{{ errors.first('Username') }}</small>
              <span class="text-danger text-sm"
                    v-if="errorsData.username">{{ errorsData.username[0] }}</span>
            </div>
          </div>
          <div class="vx-row mb-2">
            <div class="vx-col w-full">
              <vs-input class="w-full" type="email" label-placeholder="Email" v-model="data.email"
                        data-vv-validate-on="blur"
                        v-validate="'required|email'"
                        name="Email"/>
              <small class="form-text text-danger ml-3">{{ errors.first('Email') }}</small>
              <span class="text-danger text-sm ml-3" v-if="errorsData.email">{{ errorsData.email[0] }}</span>
            </div>
          </div>
          <div class="vx-row mb-2">
            <div class="vx-col w-full">
              <vs-input class="w-full" type="password" label-placeholder="Password"
                        v-model="data.password"
                        data-vv-validate-on="blur"
                        v-validate="'required|min:6'"
                        autocomplete="on"
                        name="Password"/>
              <small class="form-text text-danger ml-3">{{ errors.first('Password') }}</small>
              <span class="text-danger text-sm"
                    v-if="errorsData.password">{{ errorsData.password[0] }}</span>
            </div>
          </div>
          <div class="vx-row mb-2">
            <div class="vx-col w-full">
              <vs-input class="w-full" label-placeholder="Telepon" v-model="data.telepon"/>
              <span class="text-danger text-sm"
                    v-if="errorsData.telepon">{{ errorsData.telepon[0] }}</span>
            </div>
          </div>
          <div class="vx-row mb-2">
            <div class="vx-col w-full">
              <vs-textarea class="w-full" label="Alamat" v-model="data.alamat"/>
              <span class="text-danger text-sm ml-3" v-if="errorsData.alamat">{{ errorsData.alamat[0] }}</span>
            </div>
          </div>
          <div class="vx-row">
            <vs-row vs-type="flex" vs-justify="flex-end" v-can="'create-user'">
              <vs-button :disabled="validateForm" class="mr-3 mb-2 mt-10" color="success" @click="create">
                Simpan
              </vs-button>
              <!--   <vs-button class="mr-3 mb-2 mt-10" color="danger" type="filled" icon-pack="feather"
                            icon="icon-trash" @click="deleteConfirm"></vs-button>-->
            </vs-row>
          </div>

        </vx-card>
      </form>
    </div>
    <div class="vx-col sm:w-1/2 w-full mb-2">
      <vx-card title="Role" class="mb-5">

        <!--                <small class="text-muted">Pilih Role yang akan diberikan kepada User</small>-->

        <div class="vx-col w-full">
          <label class="ml-1 mb-2">Role</label>
          <v-select label="display_name" v-model="data.roles" :options="roles" @input="onRoleChange"
                    data-vv-validate-on="blur"
                    v-validate="'required|min:5'"
                    name="Role"/>
          <small class="form-text text-danger ml-3">{{ errors.first('Role') }}</small>
          <small class="form-text text-danger"
                 v-if="errorsData.roles">{{ errorsData.roles[0] }}</small>
        </div>


      </vx-card>
      <vx-card title="Engineer" v-if="isEngineer">
        <div class="vx-col w-full" v-if="isEngineer">
          <div class="vx-row mb-2">
            <div class="vx-col w-full">
              <vs-input class="w-full" label-placeholder="ID CE" v-model="data.ce_code"
                        data-vv-validate-on="blur"
                        v-validate="'required'"
                        name="ID CE"/>
              <small class="form-text text-danger ml-3">{{ errors.first('ID CE') }}</small>
              <span class="text-danger text-sm"
                    v-if="errorsData.ce_code">{{ errorsData.ce_code[0] }}</span>
            </div>
          </div>
          <div class="vx-row mb-2">
            <div class="vx-col w-full">
              <vs-input class="w-full" label-placeholder="QL ID" v-model="data.qlid"
                        data-vv-validate-on="blur"
                        v-validate="'required'"
                        name="QL ID"/>
              <small class="form-text text-danger ml-3">{{ errors.first('QL ID') }}</small>
              <span class="text-danger text-sm"
                    v-if="errorsData.qlid">{{ errorsData.qlid[0] }}</span>
            </div>
          </div>
          <div class="form-group col-md-12  mb-2">
            <label class="ml-1 mb-3">Region</label>
            <v-select label="name" v-model="regionSelected.search" :options="regions" @input="onRegionChange"/>
            <small class="form-text text-danger"
                   v-if="errorsData.region">{{ errorsData.region[0] }}</small>
          </div>
          <div class="form-group col-md-12 mb-2">
            <label class="ml-1 mb-3">Service Bases</label>
            <v-select label="name" v-model="data.service_base" :options="servicebases"/>
            <small class="form-text text-danger" v-if="errorsData.service_base">{{ errorsData.service_base[0] }}</small>
          </div>
        </div>
      </vx-card>
      <vx-card title="Customer" v-if="isCustomer">
        <div class="vx-col w-full" v-if="isCustomer">
          <v-select label="name" v-model="data.customer" :options="customers" @input="onRegionChange"/>
          <small class="form-text text-danger"
                 v-if="errorsData.customer">{{ errorsData.customer[0] }}</small>
        </div>
      </vx-card>
      <vx-card title="Vendor" v-if="isVendor">
        <div class="vx-col w-full mb-3" v-if="isVendor">
          <v-select label="name" v-model="data.vendor" :options="vendors"/>
          <small class="form-text text-danger"
                 v-if="errorsData.vendor">{{ errorsData.vendor[0] }}</small>
        </div>
        <div class="form-group col-md-12  mb-2">
          <label class="ml-1 mb-3">Region</label>
          <v-select label="name" v-model="regionSelected.search" :options="regions" @input="onRegionChange"/>
          <small class="form-text text-danger"
                 v-if="errorsData.region">{{ errorsData.region[0] }}</small>
        </div>
        <div class="form-group col-md-12 mb-2">
          <label class="ml-1 mb-3">Service Base</label>
          <v-select label="name" v-model="data.service_base" :options="servicebases"/>
          <small class="form-text text-danger"
                 v-if="errorsData.service_base">{{ errorsData.service_base[0] }}</small>
        </div>
      </vx-card>
    </div>
  </div>

</template>


<script>
import axios from '@/http/axios/index'
import vSelect from 'vue-select'

export default {
  components: {
    'v-select': vSelect
  },
  data () {
    return {
      data: {
        roles: [],
        region: {},
        service_base: {},
        customer: {}
      },
      permissionsCount: 0,
      errorsData: {},
      loading: true,
      submiting: false,
      submitingDestroy: false,
      roles: [],
      regions: [],
      regionSelected: {search: ''},
      customers: [],
      vendors: [],
      servicebases: [],
      isEngineer: false,
      isCustomer: false,
      isVendor: false,
      roleSelected: {}
    }
  },
  mounted () {
    this.getRoles()
    this.getCustomers()
    this.getVendors()
    this.getAreas()
  },
  computed: {
    validateForm () {
      return this.errors.count() > 0 || !(Object.keys(this.fields).some(key => this.fields[key].dirty))
    }
  },
  methods: {
    onRoleChange (payload) {
      this.data.roles = []
      this.data.roles.push(payload)
      this.roleSelected = payload
      switch (this.roleSelected.name) {
      case 'engineer':
        this.isEngineer = true
        this.isVendor = false
        this.isCustomer = false
        break
      case 'customer':
        this.isEngineer = false
        this.isCustomer = true
        this.isVendor = false
        break
      case 'vendor':
        this.isEngineer = false
        this.isCustomer = false
        this.isVendor = true
        break
      case 'administrator':
        this.isEngineer = false
        this.isCustomer = false
        this.isVendor = false
        break
      }
    },
    onRegionChange (payload) {
      this.regionSelected.search = payload
      this.getServicebases()
    },
    getRoles () {
      axios.get(`/api/roles/all`)
          .then(response => {
            this.roles = response.data
          })
          .catch(error => {
            //this.errorsData = error.response.data.errors
          })
    },
    getCustomers () {
      axios.get(`/api/master/customers/all`)
          .then(response => {
            this.customers = response.data
          })
          .catch(error => {
            //this.errorsData = error.response.data.errors
          })
    },
    getVendors () {
      axios.get(`/api/master/vendors/all`)
          .then(response => {
            this.vendors = response.data
          })
          .catch(error => {
            ////this.errorsData = error.response.data.errors
          })
    },
    getAreas () {
      axios.get(`/api/master/regions/all`)
          .then(response => {
            this.regions = response.data
          })
          .catch(error => {
            //this.errorsData = error.response.data.errors
          })
    },
    getServicebases () {
        this.servicebases = []
      axios.post(`/api/master/servicebases/byRegion`, this.regionSelected)
          .then(response => {
            this.servicebases = response.data
          })
          .catch(error => {
            //this.errorsData = error.response.data.errors
          })
    },
    create () {
      this.$vs.loading()
      axios.post(`/api/users/store`, this.data)
          .then(response => {
            this.$vs.notify({
              title: 'Success',
              text: 'User berhasil tersimpan',
              iconPack: 'feather',
              icon: 'icon-alert-circle',
              color: 'success',
              position: 'top-right'
            })
            this.backToList()
          })
          .catch(error => {
            //this.errorsData = error.response.data.errors
            this.$vs.notify({
              title: 'Error',
              text: 'Terjadi kesalahan',
              iconPack: 'feather',
              icon: 'icon-alert-circle',
              color: 'danger',
              position: 'top-right'
            })
          })
          .then(() => {
            this.$vs.loading.close()
          })

    },
    destroy: function (parameters) {
      this.$vs.loading()
      axios.delete(`/api/users/${this.data.id}`)
          .then(response => {
            this.$vs.notify({
              title: 'Success',
              text: 'Data berhasil dihapus',
              iconPack: 'feather',
              icon: 'icon-alert-circle',
              color: 'success',
              position: 'top-right'
            })
            this.backToList()
          })
          .catch(error => {
            this.$vs.notify({
              title: 'Error',
              text: 'Error while deleting data',
              iconPack: 'feather',
              icon: 'icon-alert-circle',
              color: 'danger',
              position: 'top-right'
            })
          })
          .then(() => {
            this.$vs.loading.close()
          })
    },
    backToList () {
      this.$router.push('/app/setting/users').catch(() => {
      })
    },
    deleteConfirm () {
      this.$vs.dialog({
        type: 'confirm',
        color: 'danger',
        title: 'Confirm',
        text: `Yakin akan menghapus ${this.data.name}?`,
        accept: this.destroy,
        parameters: this.data.name
      })
    }
  },
  watch: {}
}
</script>

<style scoped>

</style>
