<template>
    <vx-card no-shadow>
        <div class="vx-row mb-3">
            <div class="vx-col sm:w-1/2 w-full mb-2">
                <div class="search-page__search-bar flex items-center">
                    <vs-input icon-no-border placeholder="Search" v-model="filters.search"
                              class="w-full input-rounded-full" icon="icon-search" icon-pack="feather"/>
                </div>
            </div>
            <div class="vx-col sm:w-1/2 w-full mb-2 items-end" v-can="'create-checklist'">
                <div class="search-page__search-bar flex items-center">
                    <vs-button color="primary" icon-pack="feather" @click="popUpAddShow">Tambah
                        Checklist
                    </vs-button>
                </div>
            </div>
        </div>
        <vs-table
            :sst="true"
            @sort="handleSort"
            @selected="handleSelected"
            v-model="selected"
            max-items="5"
            :data="dataList">
            <template slot="thead">
                <vs-th sort-key="id">No</vs-th>
                <vs-th sort-key="deskripsi">Deskripsi</vs-th>
                <vs-th sort-key="tipe">Tipe</vs-th>
                <vs-th sort-key="customer_id">Customer</vs-th>
                <vs-th sort-key="delete_at">Status</vs-th>
                <vs-th sort-key="created_at">Registered</vs-th>
            </template>

            <template slot-scope="{data}">
                <vs-tr :data="data" :key="index" v-for="(data, index) in dataList">
                    <vs-td :data="index">
                        {{ filters.pagination.current_page===1 ? index + 1 : index + 1 +
                        ((filters.pagination.current_page-1) * filters.pagination.per_page) }}
                    </vs-td>
                    <vs-td :data="data.deskripsi">
                        {{data.deskripsi}}
                    </vs-td>
                    <vs-td :data="data.tipe">
                        {{data.tipe}}
                    </vs-td>
                    <vs-td :data="data.customer_id">
                        <div v-if="data.customer">
                            <div>
                                {{data.customer ? data.customer.name : ''}}
                            </div>
                            <div class="text-sm">
                                {{data.customer ? data.customer.code : ''}}
                            </div>
                        </div>
                    </vs-td>
                    <vs-td :data="data.is_active">
                        <div v-if="!data.is_active">
                            <vs-chip color="warning">Inaktif</vs-chip>
                        </div>
                        <div v-if="data.is_active">
                            <vs-chip color="success">Aktif</vs-chip>
                        </div>

                    </vs-td>

                    <vs-td :data="data.created_at">
                        <small>{{data.created_at | moment('DD-MM-YYYY')}}</small> - <small class="text-muted">{{data.created_at
                        | moment('HH:mm')}}</small>
                    </vs-td>
                </vs-tr>
            </template>
        </vs-table>
        <vs-row vs-type="flex" vs-justify="space-between" v-if="dataList">
            <vs-col s-type="flex" vs-justify="center" vs-align="center" vs-w="2">
                <vs-dropdown vs-trigger-click class="cursor-pointer mt-5">
                    <div
                        class="p-4 border border-solid d-theme-border-grey-light rounded-full d-theme-dark-bg cursor-pointer flex items-center justify-between font-medium">
                        <span class="mr-2 text-sm">{{filters.pagination.from}} -  {{filters.pagination.to}}  of {{ total }}</span>
                        <feather-icon icon="ChevronDownIcon" svgClasses="h-4 w-4"/>
                    </div>
                    <!-- <vs-button class="btn-drop" type="line" color="primary" icon-pack="feather" icon="icon-chevron-down"></vs-button> -->
                    <vs-dropdown-menu>

                        <vs-dropdown-item @click="changeSize(5)">
                            <span>5</span>
                        </vs-dropdown-item>
                        <vs-dropdown-item @click="changeSize(10)">
                            <span>10</span>
                        </vs-dropdown-item>
                        <vs-dropdown-item @click="changeSize(20)">
                            <span>20</span>
                        </vs-dropdown-item>
                        <vs-dropdown-item @click="changeSize(30)">
                            <span>30</span>
                        </vs-dropdown-item>
                    </vs-dropdown-menu>
                </vs-dropdown>
            </vs-col>
            <vs-col s-type="flex" vs-justify="center" vs-align="center" vs-w="2">
                <vs-pagination :total="last_page" v-model="current_page" class="mt-5"/>
            </vs-col>
        </vs-row>

        <vs-popup class="holamundo" :title="dataAdd.id ? 'Edit Checklist':'Tambah Checklist'"
                  :active.sync="popupAddData">
            <form>
                <div class="vx-row  mb-3" v-if="dataAdd.id">
                    <div class="vx-col sm:w-1/2 w-full mb-2">
                        <vs-input class="w-full" label-placeholder="ID" v-model="dataAdd.id" disabled/>
                    </div>
                    <vs-switch color="success" v-model="dataAdd.is_active" class="ml-5 mt-6">
                        <span slot="on">Aktif</span>
                        <span slot="off">Inaktif</span>
                    </vs-switch>
                </div>
                <div class="vx-row mb-3">
                    <div class="vx-col w-full">
                        <vs-input class="w-full" label-placeholder="Description" v-model="dataAdd.deskripsi"
                                  data-vv-validate-on="blur"
                                  v-validate="'required|min:3'"
                                  name="Description"/>
                        <small class="form-text text-danger ml-3">{{ errors.first('Description') }}</small>
                        <span class="text-danger text-sm ml-3"
                              v-if="errorsData.deskripsi">{{ errorsData.deskripsi[0] }}</span>
                    </div>
                </div>
                <div class="mb-3">
                    <label class="ml-1 mb-4">Tipe</label>
                    <v-select label="name" v-model="dataAdd.tipe" :options="tipeList" @input="onTipeChange"/>
                    <small class="form-text text-danger"
                           v-if="errorsData.tipe">{{errorsData.tipe[0]}}</small>
                </div>
                <div class="vx-row mb-3" v-if="dataAdd.tipe==='Opsi'">
                    <div class="vx-col w-full">
                        <vs-input class="w-full" label-placeholder="Isi Opsi" v-model="dataAdd.value"
                                  data-vv-validate-on="blur"
                                  v-validate="'required|min:3'"
                                  name="Isi Opsi"/>
                        <small class="form-text">*) Pilihan opsi dipisahkan dengan <b><i>titik koma</i></b> (;)</small>
                        <small class="form-text text-danger ml-3">{{ errors.first('Description') }}</small>
                        <span class="text-danger text-sm ml-3"
                              v-if="errorsData.deskripsi">{{ errorsData.deskripsi[0] }}</span>
                    </div>
                </div>
                <div class="vx-row mb-3">
                    <div class="vx-col w-full">
                        <ul class="demo-alignment">
                            <li>
                                <vs-radio v-model="dataAdd.is_general" :vs-value="true">General</vs-radio>
                            </li>
                            <li>
                                <vs-radio v-model="dataAdd.is_general" :vs-value="false">Customer</vs-radio>
                            </li>
                            <li v-if="dataAdd.tipe!='Photo'">
                                <vs-checkbox color="danger" v-model="dataAdd.is_photo">Membutuhkan Foto</vs-checkbox>
                            </li>
                        </ul>
                    </div>
                </div>
                <customer-selector :data="dataAdd" :errorsData="errorsData" v-if="!dataAdd.is_general"/>
                <div class="vx-row" v-if="!dataAdd.id" v-can="'create-checklist'">
                    <vs-row vs-type="flex" vs-justify="flex-end">

                        <vs-button class="mr-3 mb-2 mt-10" color="danger" @click="popupAddData=false">
                            Cancel
                        </vs-button>
                        <vs-button :disabled="validateAddForm" class="mr-3 mb-2 mt-10" color="success" @click="create">
                            Simpan
                        </vs-button>
                    </vs-row>
                </div>
                <div class="vx-row" v-if="dataAdd.id" v-can="'update-checklist'">
                    <vs-row vs-type="flex" vs-justify="flex-end">

                        <vs-button class="mr-3 mb-2 mt-10" color="danger" type="filled" icon-pack="feather" v-can="'delete-checklist'"
                                   icon="icon-trash" @click="deleteConfirm" v-if="dataAdd.is_active"></vs-button>
                        <vs-button class="mr-3 mb-2 mt-10" color="success" @click="update" v-if="!dataAdd.deleted_by" v-can="'update-checklist'">
                            Update
                        </vs-button>
                        <vs-button class="mr-3 mb-2 mt-10" color="warning" @click="recoverConfirm" v-can="'update-checklist'"
                                   v-if="!dataAdd.is_active">Activate
                        </vs-button>
                    </vs-row>
                </div>
            </form>

        </vs-popup>
    </vx-card>
</template>
<script>
    import axios from '@/http/axios/index'
    import {debounce} from '@/plugins/helpers'
    import service from '@/services/user.service'
    import vSelect from 'vue-select'
    import CustomerSelector from '@/components/CustomerSelector.vue'

    export default {
        components: {
            'v-select': vSelect,
            CustomerSelector
        },
        data () {
            return {
                dataAdd: {
                    customer: null,
                    is_general: true,
                    is_photo: false
                },
                tipeList: ['Input', 'Opsi', 'Photo'],
                isOpsi: false,
                errorsData: {},
                popupAddData: false,
                selected: [],
                dataList: [],
                last_page: 1,
                current_page: 1,
                filters: {
                    pagination: {
                        from: 0,
                        to: 0,
                        total: 0,
                        per_page: 20,
                        current_page: 1,
                        last_page: 0
                    },
                    orderBy: {
                        column: 'id',
                        direction: 'asc'
                    },
                    search: ''
                },
                loading: true,
                searchQuery: '',
                total: 0

            }
        },
        computed: {
            validateAddForm () {
                return this.errors.count() > 0 || !(Object.keys(this.fields).some(key => this.fields[key].dirty))
            },
          isAdmin () {
            return localStorage.getItem('roles') === 'administrator'
          }
        },
        mounted () {
            if (localStorage.getItem('filtersTableChecklists')) {
                this.filters = JSON.parse(localStorage.getItem('filtersTableChecklists'))
                this.filters.pagination.current_page = 1
                this.filters.search = ''
            } else {
                localStorage.setItem('filtersTableChecklists', this.filters)
            }

            this.getdataList()
        },
        methods: {
            onTipeChange (payload) {
                this.dataAdd.type = payload
            },
            popUpAddShow () {
                this.dataAdd = {
                    customer: null,
                    is_general: true,
                    is_photo: false
                }
                this.popupAddData = true
            },
            onPopupClose () {
                this.dataAdd = {
                    customer: null,
                    is_general: true,
                    is_photo: false
                }
                this.popupAddData = false
                this.isOpsi = false
            },
            handleSearch (searching) {
                if (searching.length >= 3) {
                    this.filters.search = searching
                    this.getDataList()
                } else {
                    this.filters.search = ''
                    this.getDataList()
                }
            },
            handleChangePage (page) {
                this.filters.pagination.current_page = page
                this.getdataList()
            },
            handleSort (key, active) {
                this.sort(key, active)
            },
            getdataList () {
                this.$vs.loading()
                this.dataList = []
                this.dataAdd = {}
                localStorage.setItem('filtersTableChecklists', JSON.stringify(this.filters))
                axios.post(`/api/master/checklists/filter?page=${this.filters.pagination.current_page}`, this.filters)
                    .then(response => {
                        this.$vs.loading.close()
                        this.dataList = response.data.data
                        this.total = response.data.total
                        this.last_page = response.data.last_page
                        delete response.data.data
                        this.filters.pagination = response.data
                        this.loading = false
                    })
                    .catch(error => {
                        this.$vs.loading.close()
                        this.errors = error.response.data.errors
                        this.$vs.notify({
                            title: 'Error',
                            text: 'Terjadi kesalahan',
                            iconPack: 'feather',
                            icon: 'icon-alert-circle',
                            color: 'danger',
                            position: 'top-right'
                        })
                    })
            },
            create () {
                this.$vs.loading()
                axios.post(`/api/master/checklists/store/`, this.dataAdd)
                    .then(response => {
                        this.$vs.notify({
                            title: 'Success',
                            text: 'Data berhasil tersimpan',
                            iconPack: 'feather',
                            icon: 'icon-alert-circle',
                            color: 'success',
                            position: 'top-right'
                        })
                        this.popupAddData = false
                        this.getdataList()
                    })
                    .catch(error => {

                        this.$vs.notify({
                            title: 'Error',
                            text: 'Terjadi kesalahan',
                            iconPack: 'feather',
                            icon: 'icon-alert-circle',
                            color: 'danger',
                            position: 'top-right'
                        })
                    })
                    .then(() => {
                        this.$vs.loading.close()
                    })

            },
            update () {
                this.$vs.loading()
                axios.put(`/api/master/checklists/update/${this.dataAdd.id}`, this.dataAdd)
                    .then(response => {
                        this.$vs.notify({
                            title: 'Success',
                            text: 'Data berhasil diperbaharui',
                            iconPack: 'feather',
                            icon: 'icon-alert-circle',
                            color: 'success',
                            position: 'top-right'
                        })
                        this.popupAddData = false
                        this.getdataList()
                    })
                    .catch(error => {

                        this.$vs.notify({
                            title: 'Error',
                            text: 'Terjadi kesalahan',
                            iconPack: 'feather',
                            icon: 'icon-alert-circle',
                            color: 'danger',
                            position: 'top-right'
                        })
                    })
                    .then(() => {
                        this.$vs.loading.close()
                    })

            },
            destroy: function (parameters) {
                this.$vs.loading()
                axios.delete(`/api/master/checklists/${this.dataAdd.id}`)
                    .then(response => {
                        this.$vs.notify({
                            title: 'Success',
                            text: 'Data berhasil dihapus',
                            iconPack: 'feather',
                            icon: 'icon-alert-circle',
                            color: 'success',
                            position: 'top-right'
                        })
                    })
                    .then(() => {
                        this.$vs.loading.close()
                    })
                this.getdataList()
            },
            recover: function (parameters) {
                this.$vs.loading()
                axios.post(`/api/master/checklists/recover/${this.dataAdd.id}`)
                    .then(response => {
                        this.$vs.notify({
                            title: 'Success',
                            text: 'Data berhasil dikembalikan',
                            iconPack: 'feather',
                            icon: 'icon-alert-circle',
                            color: 'success',
                            position: 'top-right'
                        })
                    })
                    .then(() => {
                        this.$vs.loading.close()
                    })
                this.getdataList()
            },
            filter () {
                this.filters.pagination.current_page = 1
                this.getdataList()
            },
            changeSize (perPage) {
                this.filters.pagination.current_page = 1
                this.filters.pagination.per_page = perPage
                this.getdataList()
            },
            sort (column, sort) {
                if (column !== null) {
                    if (column == this.filters.orderBy.column) {
                        this.filters.orderBy.direction = sort == null ? 'asc' : sort
                    } else {
                        this.filters.orderBy.column = column
                        this.filters.orderBy.direction = 'asc'
                    }
                    this.getdataList()
                }
            },
            changePage (page) {
                this.filters.pagination.current_page = page
                this.getdataList()
            },
            handleSelected (tr) {
                this.dataAdd = tr
                this.popupAddData = true
            },
            deleteConfirm () {
                this.popupAddData = false
                this.$vs.dialog({
                    type: 'confirm',
                    color: 'danger',
                    title: 'Confirm',
                    text: `Are you sure want to delete ${this.dataAdd.name}?`,
                    accept: this.destroy,
                    parameters: this.dataAdd.name
                })
            },
            recoverConfirm () {
                this.popupAddData = false
                this.$vs.dialog({
                    type: 'confirm',
                    color: 'warning',
                    title: 'Confirm',
                    text: `Are you sure want to recover ${this.dataAdd.name}?`,
                    accept: this.recover,
                    parameters: this.dataAdd.name
                })
            }
        },
        watch: {
            current_page: function (value) {
                this.changePage(value)
            },
            'filters.search': debounce(function (newVal) {
                this.filters.pagination.current_page = 1
                this.getdataList()
            }, 1000),
            'dataAdd.is_general': function (value) {
                if (value) {
                    this.dataAdd.customer = null
                    this.dataAdd.customer_id = null
                }
            }
        },
        destroyed () {
            localStorage.removeItem('filtersTableChecklists')
        }

    }
</script>

<style>
    .table.vs-table > thead > tr > th {
        background-color: white;
        position: sticky;
        position: -webkit-sticky;
        top: 0;
        z-index: 2;
    }
</style>
