<!-- =========================================================================================
    File Name: ItemListView.vue
    Description: Item Component - List VIew
    ----------------------------------------------------------------------------------------
    Item Name: Vuexy - Vuejs, HTML & Laravel Admin Dashboard Template
      Author: Pixinvent
    Author URL: http://www.themeforest.net/user/pixinvent
========================================================================================== -->

<template>
    <vx-card class="list-view-item overflow-hidden" v-on="$listeners">

        <template slot="no-body">
            <div class="vx-row item-details no-gutter">

                <!-- IMG COL -->
                <div class="vx-col sm:w-1/4 w-full item-img-container bg-white flex items-center justify-center cursor-pointer" @click="navigate_to_detail_view">
                    <img :src="item.photo" :alt="item.work_order" class="grid-view-img">
                </div>

                <!-- ITEM NAME & DESC COL -->
                <div class="vx-col sm:w-1/4">
                    <div class="p-4 pt-6">
                        <slot name="item-meta">
                            <div class="vx-col w-full">
                                <div class="vx-row mb-2">
                                    <div class="vx-col sm:w-1/3 w-full">
                                        <label class="text-sm font-semibold">Customer</label>
                                    </div>
                                    <div class="vx-col sm:w-2/3 w-full">
                                        <span>{{item.location ? item.location.customer.name : ''}}</span>
                                    </div>
                                </div>
                                <div class="vx-row mb-2">
                                    <div class="vx-col sm:w-1/3 w-full">
                                        <label class="text-sm font-semibold">Serial Number</label>
                                    </div>
                                    <div class="vx-col sm:w-2/3 w-full">
                                        <span>{{item.location ? item.location.serial_number : ''}}</span>
                                    </div>
                                </div>
                                <div class="vx-row mb-2">
                                    <div class="vx-col sm:w-1/3 w-full">
                                        <label class="text-sm font-semibold">MC ID</label>
                                    </div>
                                    <div class="vx-col sm:w-2/3 w-full">
                                        <span>{{item.location ? item.location.mc_id : ''}}</span>
                                    </div>
                                </div>
                            </div>
                        </slot>
                    </div>
                </div>
                <div class="vx-col sm:w-1/4">
                    <div class="p-4 pt-6">
                        <slot name="item-meta">
                            <div class="vx-col w-full">
                                <div class="vx-row mb-2">
                                    <div class="vx-col sm:w-1/3 w-full">
                                        <label class="text-sm font-semibold">Customer</label>
                                    </div>
                                    <div class="vx-col sm:w-2/3 w-full">
                                        <span>{{item.location ? item.location.customer.name : ''}}</span>
                                    </div>
                                </div>
                                <div class="vx-row mb-2">
                                    <div class="vx-col sm:w-1/3 w-full">
                                        <label class="text-sm font-semibold">Serial Number</label>
                                    </div>
                                    <div class="vx-col sm:w-2/3 w-full">
                                        <span>{{item.location ? item.location.serial_number : ''}}</span>
                                    </div>
                                </div>
                                <div class="vx-row mb-2">
                                    <div class="vx-col sm:w-1/3 w-full">
                                        <label class="text-sm font-semibold">MC ID</label>
                                    </div>
                                    <div class="vx-col sm:w-2/3 w-full">
                                        <span>{{item.location ? item.location.mc_id : ''}}</span>
                                    </div>
                                </div>
                            </div>
                        </slot>
                    </div>
                </div>
                <!-- PURCHASE COL -->
                <div class="vx-col sm:w-1/4 w-full flex items-center sm:border border-0 border-solid d-theme-border-grey-light border-r-0 border-t-0 border-b-0">

                    <div class="p-4 flex flex-col w-full">


                        <!-- SLOT: ACTION BUTTONS -->
                        <slot name="action-buttons" />
                    </div>
                </div>
            </div>
        </template>

    </vx-card>
</template>

<script>
    export default {
        data () {
            return {
                isClosed: false
            }
        },
        props: {
            item: {
                type: Object,
                required: true
            }
        },
        computed: {},
        mounted () {
            if (this.item.checklists.length>0) {
                for (let i = 0; i < this.item.checklists.length; i++) {
                    if (this.item.checklists[i].value === '') {
                        this.isClosed = false
                        break
                    }
                    if (this.item.photos[i].value === '') {
                        this.isClosed = false
                        break
                    }
                }
            } else {
                this.isClosed = true
            }

        },
        methods: {
            navigate_to_detail_view () {
                if (localStorage.getItem('roles') === 'administrator') {
                    this.$router.push({
                        name: 'admin-visit-detail',
                        params: {id: this.item.id}
                    }).catch(() => {
                    })
                } else {
                    this.$router.push({
                        name: 'app-visit-detail',
                        params: {id: this.item.id}
                    }).catch(() => {
                    })
                }

            }
        }
    }
</script>

<style lang="scss" scoped>
    .list-view-item {
        .item-name, .item-description {
            display: -webkit-box;
            -webkit-box-orient: vertical;
            overflow: hidden;
        }

        .item-name {
            -webkit-line-clamp: 2;
        }

        .item-description {
            -webkit-line-clamp: 5;
        }

        .grid-view-img {
            max-width: 100%;
            max-height: 100%;
            width: 100%;
            object-fit: cover;
            transition: .35s;
        }

        &:hover {
            transform: translateY(-5px);
            box-shadow: 0px 4px 25px 0px rgba(0,0,0,.25);

            .grid-view-img{
                opacity: 0.9;
            }
        }
        .vx-card {
            border-radius: 1rem;
        }
    }
</style>
