<!-- =========================================================================================
  File Name: ItemGridView.vue
  Description: Item Component - Grid VIew
  ----------------------------------------------------------------------------------------
  Item Name: Vuexy - Vuejs, HTML & Laravel Admin Dashboard Template
  Author: Pixinvent
  Author URL: http://www.themeforest.net/user/pixinvent
========================================================================================== -->

<template>
    <!-- <div class="item-grid-view vx-row match-height">
        <div class="vx-col" :class="gridColumnWidth" v-for="item in items" :key="item.objectID"> -->
    <vx-card class="grid-view-item mb-base overflow-hidden">
        <template slot="no-body">

            <!-- ITEM IMAGE -->
            <div class="item-img-container bg-white h-64 flex items-center justify-center mb-4 cursor-pointer"
                 @click="navigate_to_detail_view">
                <img :src="item.photo" :alt="item.work_order" class="grid-view-img">

            </div>
            <div class="item-details px-4">
                <div class="flex space-x-3 items-center">
                    <h5 class="font-bold">WO:</h5>
                    <h5>{{ item.work_order }}</h5>
                </div>
                <div class="flex space-x-3 items-center mb-5">
                    <h6 class="font-bold">ATM:</h6>
                    <h6>{{ item.location.name }}</h6>
                </div>
            </div>

            <!-- SLOT: ACTION BUTTONS -->
            <slot name="action-buttons"/>
            <div class="flex flex-wrap">
                <div
                    class="item-view-primary-action-btn p-3 flex flex-grow items-center justify-center">
                    <span class="text-sm font-bold ml-2">STATUS</span>
                </div>

                <div
                    class="item-view-secondary-action-btn bg-success p-3 flex flex-grow items-center justify-center text-white"
                    v-if="isClosed">
                    <span class="text-sm font-semibold ml-2">CLOSE</span>
                </div>
                <div
                    class="item-view-secondary-action-btn bg-danger p-3 flex flex-grow items-center justify-center text-white"
                    v-else>
                    <span class="text-sm font-semibold ml-2">OPEN</span>
                </div>
            </div>
        </template>

    </vx-card>
    <!--  </div>
 </div> -->

</template>

<script>
    import router from '../../../router'

    export default {
        data () {
            return {
                isClosed: false
            }
        },
        props: {
            item: {
                type: Object,
                required: true
            }
        },
        computed: {},
        mounted () {
            if (this.item.checklists.length>0) {
                for (let i = 0; i < this.item.checklists.length; i++) {
                    if (this.item.checklists[i].value === '') {
                        this.isClosed = false
                        break
                    }
                    if (this.item.photos[i].value === '') {
                        this.isClosed = false
                        break
                    }
                }
            } else {
                this.isClosed = true
            }

        },
        methods: {
            navigate_to_detail_view () {
                if (localStorage.getItem('roles') === 'administrator') {
                    this.$router.push({
                        name: 'admin-visit-detail',
                        params: {id: this.item.id}
                    }).catch(() => {
                    })
                } else {
                    this.$router.push({
                        name: 'app-visit-detail',
                        params: {id: this.item.id}
                    }).catch(() => {
                    })
                }
            }
        }
    }
</script>

<style lang="scss" scoped>
    .data-open {
        position: fixed;
        top: 5%;
        right: 10px;
    }

    .grid-view-item {
        .grid-view-img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            transition: .35s;
        }

        &:hover {
            transform: translateY(-5px);
            box-shadow: 0px 4px 25px 0px rgba(0, 0, 0, .25);

            .grid-view-img {
                opacity: 0.9;
            }
        }


    }

    .vx-card {
        border-radius: 1rem;
    }

</style>
