<!-- =========================================================================================
  File Name: ItemGridView.vue
  Description: Item Component - Grid VIew
  ----------------------------------------------------------------------------------------
  Item Name: Vuexy - Vuejs, HTML & Laravel Admin Dashboard Template
  Author: Pixinvent
  Author URL: http://www.themeforest.net/user/pixinvent
========================================================================================== -->

<template>

    <div class="vx-col w-full mb-3">
      <form>
            <div class="vx-col w-full mb-3" v-if="item.tipe=='Opsi'">
                <label class="ml-1 mb-4">{{item.deskripsi}}</label>
                <vx-card :card-border="true" :no-shadow="true">
                    <div class="vx-row">
                        <div class="vx-col w-full sm:w-1/1 md:w-1/1 lg:w-3/5 xl:w-3/5">
                            <ul class="centerx ml-3" v-for="opsi in resolveOpsi(item.option)">
                                <li class="mx-3">
                                    <vs-radio color="warning"
                                              v-model="item.value"
                                              :vs-value="opsi"
                                              :key="item.id" :name="'checklist_' + item.id">{{opsi}}
                                    </vs-radio>
                                </li>
                            </ul>
                            <small class="form-text text-danger ml-3" v-show="error">Harus diisi</small>
                        </div>
                        <div class="vx-col w-full sm:w-1/1 md:w-1/1 lg:w-2/5 xl:w-2/5" v-if="item.is_photo">
                            <vx-card class="grid-view-item overflow-hidden">
                                <template slot="no-body">
                                    <div
                                        class="item-img-container bg-white h-30 w-30 flex items-center justify-center mb-4 cursor-pointer">
                                        <expandable-image :src="item.photo" v-bind:alt="item.photo" class="grid-view-img"
                                             v-if="item.photo"  :close-on-background-click="true"/>
                                        <img src="/images/vuexy-login-bg.jpg" class="grid-view-img" v-else/>
                                    </div>
                                    <vs-progress indeterminate color="warning" v-if="isProgress"></vs-progress>
                                    <input type="file" class="hidden" id="file" ref="updateImgInput"
                                           @change="updateCurrImg"
                                           accept="image/*"/>
                                    <div class="flex flex-wrap cursor-pointer" for="file"
                                         @click="$refs.updateImgInput.click()">
                                        <div
                                            class="item-view-secondary-action-btn bg-success p-3 flex flex-grow items-center justify-center text-white cursor-pointer">
                                            <label class="text-sm font-semibold ml-2 cursor-pointer">UPLOAD</label>
                                        </div>
                                    </div>
                                </template>

                            </vx-card>
                        </div>
                    </div>
                </vx-card>
            </div>
            <div class="vx-col w-full mb-3" v-else-if="item.tipe=='Input'">
                <div class="vx-col w-full mb-3" v-if="item.is_photo">
                    <label>{{item.deskripsi}}</label>
                    <vx-card :card-border="true" :no-shadow="true">
                        <div class="vx-row">
                            <div class="vx-col w-full sm:w-1/1 md:w-1/1 lg:w-3/5 xl:w-3/5">
                                <vs-input class="w-full" :type="type" :value="value" @input="updateValue" @change="updateValue"
                                          @blur="$emit('blur')" :disabled="disabled" v-model="item.value"
                                          :class="{ 'input': true, 'input__error': !!error }"/>
                                <small class="form-text text-danger ml-3" v-show="error">Harus diisi</small>
                            </div>
                            <div class="vx-col w-full sm:w-1/1 md:w-1/1 lg:w-2/5 xl:w-2/5" v-if="item.is_photo">
                                <vx-card class="grid-view-item overflow-hidden">
                                    <template slot="no-body">
                                        <div
                                            class="item-img-container bg-white h-30 w-30 flex items-center justify-center mb-4 cursor-pointer">
                                          <expandable-image :src="item.photo" v-bind:alt="item.photo" class="grid-view-img"
                                                            v-if="item.photo"  :close-on-background-click="true"/>
                                            <img src="/images/vuexy-login-bg.jpg" class="grid-view-img" v-else>
                                        </div>
                                        <vs-progress indeterminate color="warning" v-if="isProgress"></vs-progress>
                                        <input type="file" class="hidden" id="file" ref="updateImgInput"
                                               @change="updateCurrImg"
                                               accept="image/*"/>
                                        <div class="flex flex-wrap cursor-pointer" for="file"
                                             @click="$refs.updateImgInput.click()">
                                            <div
                                                class="item-view-secondary-action-btn bg-success p-3 flex flex-grow items-center justify-center text-white cursor-pointer">
                                                <label class="text-sm font-semibold ml-2 cursor-pointer">UPLOAD</label>
                                            </div>
                                        </div>
                                    </template>

                                </vx-card>
                            </div>
                        </div>
                    </vx-card>

                </div>
                <div class="vx-col w-full sm:w-1/1 md:w-1/1 lg:w-3/5 xl:w-3/5" v-else>
                    <label>{{item.deskripsi}}</label>
                    <vs-input class="w-full" :type="type" :value="value" @input="updateValue" @change="updateValue"
                              @blur="$emit('blur')" :disabled="disabled" v-model="item.value"
                              :class="{ 'input': true, 'input__error': !!error }"/>
                    <small class="form-text text-danger ml-3" v-show="error">Harus diisi</small>
                </div>
            </div>
          <div class="vx-col w-full mb-3" v-else>
                  <label>{{item.deskripsi}}</label>
                  <vx-card :card-border="true" :no-shadow="true">
                          <div class="vx-col w-full sm:w-1/1 md:w-1/1 lg:w-2/5 xl:w-2/5">
                              <vx-card class="grid-view-item overflow-hidden">
                                  <template slot="no-body">
                                      <div
                                          class="item-img-container bg-white h-30 w-30 flex items-center justify-center mb-4 cursor-pointer">
                                        <expandable-image :src="item.photo" v-bind:alt="item.photo" class="grid-view-img"
                                                          v-if="item.photo"  :close-on-background-click="true"/>
                                          <img src="/images/vuexy-login-bg.jpg" class="grid-view-img" v-else>
                                      </div>
                                      <vs-progress indeterminate color="warning" v-if="isProgress"></vs-progress>
                                      <input type="file" class="hidden" id="file" ref="updateImgInput"
                                             @change="updateCurrImg"
                                             accept="image/*"/>
                                      <div class="flex flex-wrap cursor-pointer" for="file"
                                           @click="$refs.updateImgInput.click()">
                                          <div
                                              class="item-view-secondary-action-btn bg-success p-3 flex flex-grow items-center justify-center text-white cursor-pointer">
                                              <label class="text-sm font-semibold ml-2 cursor-pointer">UPLOAD</label>
                                          </div>
                                      </div>
                                  </template>

                              </vx-card>
                          </div>
                  </vx-card>
          </div>
      </form>
    </div>

</template>

<script>
    import axios from '@/http/axios/index'
    import imageCompression from 'browser-image-compression'

    export default {
        data () {
            return {
                isClosed: false,
                isProgress: false
            }
        },
        $_veeValidate: {
            name () {
                return this.label
            },
            value () {
                return this.value
            }
        },
        props: {
            item: {
                type: Object,
                required: true
            },
            value: String,
            label: {
                type: String
            },
            disabled: {
                type: Boolean,
                default: false
            },
            error: {
                type: String,
                required: false
            },
            type: {
                type: String,
                default: 'text',
                validator: val => {
                    return (
                        ['url', 'text', 'password', 'email', 'search'].indexOf(val) !== -1
                    )
                }
            }
        },
        watch: {
            'item.photo': function (val) {
                this.upload()
                    this.item.isComplete = true
            },

        },
        computed: {
            isAdmin () {
                return localStorage.getItem('roles') === 'administrator'
            },
            isEngineer(){
                return localStorage.getItem('roles') === 'engineer'
            },

            isCustomer(){
                return localStorage.getItem('roles') === 'customer'
            },
        },
        /*  mounted () {
              if (this.item.is_photo) {
                  if (this.item.value && this.item.photo) {
                      this.item.isComplete = true
                  }
              } else {
                  if (this.item.value) {
                      this.item.isComplete = true
                  }
              }

          },*/
        methods: {
            updateValue (e) {
                this.$emit('input', this.item.value)
            },
            resolveOpsi (opsi) {
                return opsi.split(';')
            },
            updateCurrImg (input) {
                this.isProgress = true
                if (input.target.files && input.target.files[0]) {
                    var imageFile = input.target.files[0]
                    var options = {
                        maxSizeMB: 0.5,
                        maxWidthOrHeight: 1920,
                        useWebWorker: true
                    }
                    imageCompression(imageFile, options)
                        .then(file => {
                            this.setItemValue(file) // write your own logic
                        })
                        .catch(error => {

                        })
                }
            },
            setItemValue (input) {
                const reader = new FileReader()
                reader.onload = e => {
                    this.item.photo = e.target.result
                }
                reader.readAsDataURL(input)
            },
            upload () {
                axios.post(`/api/visits/upload/`, this.item)
                    .then(response => {
                        this.isProgress = false
                        this.$vs.notify({
                            title: 'Success',
                            text: 'Foto Berhasil diunggah',
                            iconPack: 'feather',
                            icon: 'icon-alert-circle',
                            color: 'success',
                            position: 'top-right'
                        })
                    })
                    .catch(error => {

                        this.errorsData = error.response
                        this.isProgress = false
                        this.$vs.notify({
                            title: 'Error',
                            text: 'Terjadi kesalahan',
                            iconPack: 'feather',
                            icon: 'icon-alert-circle',
                            color: 'danger',
                            position: 'top-right'
                        })
                    })
                    .then(() => {
                        this.$vs.loading.close()
                    })

            }
        }

    }
</script>

<style lang="scss" scoped>
    .data-open {
        position: fixed;
        top: 5%;
        right: 10px;
    }

    .grid-view-item {
        .grid-view-img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            transition: .35s;
        }

        &:hover {
            transform: translateY(-5px);
            box-shadow: 0px 4px 25px 0px rgba(0, 0, 0, .25);

            .grid-view-img {
                opacity: 0.9;
            }
        }


    }


</style>
