<!-- =========================================================================================
  File Name: ItemGridView.vue
  Description: Item Component - Grid VIew
  ----------------------------------------------------------------------------------------
  Item Name: Vuexy - Vuejs, HTML & Laravel Admin Dashboard Template
  Author: Pixinvent
  Author URL: http://www.themeforest.net/user/pixinvent
========================================================================================== -->

<template>
    <!-- <div class="item-grid-view vx-row match-height">
        <div class="vx-col" :class="gridColumnWidth" v-for="item in items" :key="item.objectID"> -->
    <vx-card class="grid-view-item mb-base overflow-hidden">
        <template slot="no-body">
            <div class="item-img-container bg-white h-64 flex items-center justify-center mb-4 cursor-pointer">
                <img :src="item.value" v-bind:alt="item.value" class="grid-view-img" v-if="item.value">
                <img src="/images/vuexy-login-bg.jpg" class="grid-view-img" v-else>
            </div>
            <div class="flex flex-grow items-center justify-center">
                <label class="mb-4 bold">{{item.deskripsi}}</label>
            </div>
            <vs-progress indeterminate color="warning" v-if="isProgress"></vs-progress>
            <input type="file" class="hidden" id="file" ref="updateImgInput"
                   @change="updateCurrImg"
                   accept="image/*"/>
            <div class="flex flex-wrap cursor-pointer" for="file" @click="$refs.updateImgInput.click()">
                <div
                    class="item-view-secondary-action-btn bg-success p-3 flex flex-grow items-center justify-center text-white cursor-pointer">
                    <label class="text-sm font-semibold ml-2 cursor-pointer">UPLOAD</label>
                </div>
            </div>
        </template>

    </vx-card>
    <!--  </div>
 </div> -->

</template>

<script>
    import axios from '@/http/axios/index'
    import imageCompression from 'browser-image-compression'

    export default {
        data () {
            return {
                isClosed: false,
                isProgress: false
            }
        },
        watch: {
            'item.value': function (val) {
                this.upload()
            }
        },
        props: {
            item: {
                type: Object,
                required: true
            }
        },
        mounted () {
        },
        methods: {
            updateCurrImg (input) {
                this.isProgress = true
                if (input.target.files && input.target.files[0]) {
                    var imageFile = input.target.files[0]
                    var options = {
                        maxSizeMB: 0.5,
                        maxWidthOrHeight: 1920,
                        useWebWorker: true
                    }
                    imageCompression(imageFile, options)
                        .then( file => {
                            this.setItemValue(file) // write your own logic
                        })
                        .catch(error => {

                        });
                }
            },
            setItemValue (input) {
                const reader = new FileReader()
                reader.onload = e => {
                    this.item.value = e.target.result
                }
                reader.readAsDataURL(input)
            },
            upload () {
                axios.post(`/api/visits/upload/photo`, this.item)
                    .then(response => {
                        this.isProgress = false
                        this.$vs.notify({
                            title: 'Success',
                            text: 'Foto Berhasil diunggah',
                            iconPack: 'feather',
                            icon: 'icon-alert-circle',
                            color: 'success',
                            position:'top-right'
                        })
                    })
                    .catch(error => {

                        this.errorsData = error.response
                        this.isProgress = false
                        this.$vs.notify({
                            title: 'Error',
                            text: 'Terjadi kesalahan',
                            iconPack: 'feather',
                            icon: 'icon-alert-circle',
                            color: 'danger',
                            position:'top-right'
                        })
                    })
                    .then(() => {
                        this.$vs.loading.close()
                    })

            }
        }
    }
</script>

<style lang="scss" scoped>
    .data-open {
        position: fixed;
        top: 5%;
        right: 10px;
    }

    .grid-view-item {
        .grid-view-img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            transition: .35s;
        }

        &:hover {
            transform: translateY(-5px);
            box-shadow: 0px 4px 25px 0px rgba(0, 0, 0, .25);

            .grid-view-img {
                opacity: 0.9;
            }
        }


    }

    .vx-card {
        border-radius: 1rem;
    }

</style>
