<!-- =========================================================================================
  File Name: ItemGridView.vue
  Description: Item Component - Grid VIew
  ----------------------------------------------------------------------------------------
  Item Name: Vuexy - Vuejs, HTML & Laravel Admin Dashboard Template
  Author: Pixinvent
  Author URL: http://www.themeforest.net/user/pixinvent
========================================================================================== -->

<template>
    <div class="vx-col w-full mb-3">
            <div class="vx-col w-full mb-3">
                <div class="vx-col w-full mb-3">
                    <div class="vx-row mb-3">
                        <div class="vx-col sm:w-1/3 w-full">
                            <label class="text-sm font-semibold">{{item.deskripsi}}</label>
                        </div>
                        <div class="vx-col">
                            <span class="text-bold">{{item.value ? item.value : '-'}} </span>
                        </div>
                    </div>
                  <vx-card :no-shadow="true" :card-border="true" class="mb-base" v-if="item.is_photo || item.tipe==='Photo'">
                    <div>
                      <div class="img-container w-24 mx-auto flex items-center justify-center responsive">
                        <expandable-image :src="item.photo" v-bind:alt="item.photo" class="responsive"
                                          v-if="item.photo" :close-on-background-click="true"/>
                        <img src="/images/vuexy-login-bg.jpg" class="grid-view-img" v-else>
                      </div>
                    </div>
                  </vx-card>


                </div>
            </div>
    </div>
</template>

<script>
    import axios from '@/http/axios/index'
    import imageCompression from 'browser-image-compression'

    export default {
        data () {
            return {
                isClosed: false,
                isProgress: false
            }
        },
        $_veeValidate: {
            name () {
                return this.label
            },
            value () {
                return this.value
            }
        },
        props: {
            item: {
                type: Object,
                required: true
            },
            value: String,
            label: {
                type: String
            },
            disabled: {
                type: Boolean,
                default: false
            },
            error: {
                type: String,
                required: false
            },
            type: {
                type: String,
                default: 'text',
                validator: val => {
                    return (
                        ['url', 'text', 'password', 'email', 'search'].indexOf(val) !== -1
                    )
                }
            }
        },
        watch: {
            'item.photo': function (val) {
                this.upload()
                this.item.isComplete = true
            },
            'item.value': function (val) {
                if (this.item.is_photo) {
                    if (this.item.photo) {
                        this.item.isComplete = true
                    }
                } else {
                    this.item.isComplete = true
                }
            }
        },
        computed: {
            isAdmin () {
                return localStorage.getItem('roles') === 'administrator'
            },
            isEngineer () {
                return localStorage.getItem('roles') === 'engineer'
            },

            isCustomer () {
                return localStorage.getItem('roles') === 'customer'
            }
        },
        /*  mounted () {
              if (this.item.is_photo) {
                  if (this.item.value && this.item.photo) {
                      this.item.isComplete = true
                  }
              } else {
                  if (this.item.value) {
                      this.item.isComplete = true
                  }
              }

          },*/
        methods: {
            updateValue (e) {
                //this.$emit('input', this.item.value)
            },
            resolveOpsi (opsi) {
                return opsi.split(';')
            },
            updateCurrImg (input) {
                this.isProgress = true
                if (input.target.files && input.target.files[0]) {
                    var imageFile = input.target.files[0]
                    var options = {
                        maxSizeMB: 0.5,
                        maxWidthOrHeight: 1920,
                        useWebWorker: true
                    }
                    imageCompression(imageFile, options)
                        .then(file => {
                            this.setItemValue(file) // write your own logic
                        })
                        .catch(error => {

                        })
                }
            },
            setItemValue (input) {
                const reader = new FileReader()
                reader.onload = e => {
                    this.item.photo = e.target.result
                }
                reader.readAsDataURL(input)
            },
            upload () {
                axios.post(`/api/visits/upload/`, this.item)
                    .then(response => {
                        this.isProgress = false
                        this.$vs.notify({
                            title: 'Success',
                            text: 'Foto Berhasil diunggah',
                            iconPack: 'feather',
                            icon: 'icon-alert-circle',
                            color: 'success',
                            position: 'top-right'
                        })
                    })
                    .catch(error => {

                        this.errorsData = error.response
                        this.isProgress = false
                        this.$vs.notify({
                            title: 'Error',
                            text: 'Terjadi kesalahan',
                            iconPack: 'feather',
                            icon: 'icon-alert-circle',
                            color: 'danger',
                            position: 'top-right'
                        })
                    })
                    .then(() => {
                        this.$vs.loading.close()
                    })

            }
        }

    }
</script>

<style lang="scss" scoped>

body > .expandable-image.expanded.no-stretch > img {
  width: auto;
  height: auto;
}

    .data-open {
        position: fixed;
        top: 5%;
        right: 10px;
    }

    .grid-view-item {
      width: 200px;
      height: 200px;

      .grid-view-img {
        width: 200px;
        height: 200px;
        object-fit: cover;
        transition: .35s;
      }
    }


</style>
