<template>
  <vx-card title="Koordinat" class="mb-5">
    <div class="vx-row">
      <div class="vx-col sm:w-1/2 w-full mb-3">
        <vs-input class="w-full" disabled label-placeholder="Latitude" v-model="data.latitude"/>
      </div>
      <div class="vx-col sm:w-1/2 w-full mb-3">
        <vs-input class="w-full" disabled label-placeholder="Longitude" v-model="data.longitude"/>
      </div>
    </div>
  <gmap-map :center="center" :zoom="15" style="width: 100%; height: 50vh" v-if="mapView">
    <gmap-info-window :options="infoOptions" :position="infoWindowPos" :opened="infoWinOpen"
                      @closeclick="infoWinOpen=false">
      {{infoContent}}
    </gmap-info-window>
    <gmap-custom-marker :key="i" v-for="(m,i) in markers" :marker="m.position" alignment="center"
                        @click.native="toggleInfoWindow(m,i)">
      <img src="@assets/images/logo/atm_icon_problem.png"
           v-if="checkVisit() === 'problem'"/>
      <img src="@assets/images/logo/atm_icon_warning.png"
           v-else-if="checkVisit() === 'pm'"/>
    </gmap-custom-marker>
    <gmap-custom-marker :key="x" v-for="(m,x) in markersUser" :marker="m.position"
                        alignment="center"
                        @click.native="toggleInfoWindow(m,x)">
      <img src="@assets/images/logo/engineer.png"/>
    </gmap-custom-marker>
  </gmap-map>
  </vx-card>
</template>

<script>
import GmapCustomMarker from 'vue2-gmap-custom-marker'

export default {
  name: 'location-map',
  components: {
    'gmap-custom-marker': GmapCustomMarker,
  },
  props: {
    data: {
      type: Object,
      required: true
    },
  },
  data () {
    return {
      center: null,
      infoContent: '',
      infoWindowPos: null,
      infoWinOpen: true,
      currentMidx: null,
      //optional: offset infowindow so it visually sits nicely on top of our marker

      infoOptions: {
        pixelOffset: {
          width: 0,
          height: -35
        }
      },
      markers: [],
      markersUser: [],
      mapView: true,
    }
  },
  mounted () {
    this.center = {
      lat: this.data.latitude,
      lng: this.data.longitude
    }

    var visitPost = {
      position: {
        lat: this.data.latitude,
        lng: this.data.longitude
      },
      infoText: 'Lokasi CE'
    }
    this.markersUser.push(visitPost)
    var locationPos = {
      position: {
        lat: this.data.location.latitude,
        lng: this.data.location.longitude
      },
      infoText: this.data.location.name
    }
    this.markers.push(locationPos)
    this.forceRerenderMap()
  },
  methods: {
    checkVisit () {
      switch (this.data.tipe_kunjungan) {
      case '1':
      case '2':
      case '3':
      case '4':
      case 'CHGC':
        return 'problem'
      default:
        return 'pm'
      }
    },
    forceRerenderMap () {
      this.mapView = false
      this.$nextTick().then(() => {
        this.mapView = true
      })
    },
    toggleInfoWindow: function (marker, idx) {
      this.infoWindowPos = marker.position
      this.infoContent = marker.infoText
      //check if its the same marker that was selected if yes toggle
      if (this.currentMidx == idx) {
        this.infoWinOpen = !this.infoWinOpen
      }
      //if different marker set infowindow to open and reset current marker index
      else {
        this.infoWinOpen = true
        this.currentMidx = idx
      }
    }
  },
  watch: {
    'data.latitude': function(){
      this.center = {
        lat: this.data.location.latitude,
        lng: this.data.location.longitude
      }

      var visitPost = {
        position: {
          lat: this.data.latitude,
          lng: this.data.longitude
        },
        infoText: 'Lokasi CE'
      }
      this.markers.push(visitPost)
      var locationPos = {
        position: {
          lat: this.data.location.latitude,
          lng: this.data.location.longitude
        },
        infoText: this.data.location.name
      }
      this.markers.push(locationPos)
      this.forceRerenderMap()
    }
  }
}
</script>
