<template>
    <vx-card no-shadow>
       <!-- <div class="vx-row mb-3">
            <div class="vx-col sm:w-1/2 w-full mb-2">
                <div class="search-page__search-bar flex items-center">
                    <vs-input icon-no-border placeholder="Search" v-model="filters.search"
                              class="w-full input-rounded-full" icon="icon-search" icon-pack="feather"/>
                </div>
            </div>
            <div class="vx-col sm:w-1/2 w-full mb-2 items-end">
                <div class="search-page__search-bar flex items-center">
                    <vs-button color="primary" icon-pack="feather" icon="icon-plus" @click="addData">Add Role
                    </vs-button>
                </div>
            </div>
        </div>-->
        <vs-table
            :sst="true"
            @sort="handleSort"
            v-model="selected"
            @selected="handleSelected"
            max-items="10"
            :data="dataList">
            <template slot="thead">
                <vs-th sort-key="id">No</vs-th>
                <vs-th sort-key="causer_id">User</vs-th>
                <vs-th sort-key="description">Activity</vs-th>
                <vs-th sort-key="description">Description</vs-th>
               <!-- <vs-th sort-key="name">Identifier</vs-th>-->
                <vs-th sort-key="created_at">Date Time</vs-th>
            </template>

            <template slot-scope="{data}">
                <vs-tr :data="item" :key="index" v-for="(item, index) in dataList">
                    <vs-td :data="index">
                        {{ filters.pagination.current_page===1 ? index + 1 : index + 1 + ((filters.pagination.current_page-1) * filters.pagination.per_page) }}
                    </vs-td>

                  <!--  <vs-td :data="item.name">
                        {{item.name}}
                    </vs-td>-->
                    <vs-td :data="item.users">
                        <ul class="users-liked user-list">
                            <li v-for="(user, userIndex) in item.users" :key="userIndex">
                                <vx-tooltip :text="user.name" position="bottom">
                                    <vs-avatar :src="user.avatar" size="30px"
                                               class="border-2 border-white border-solid -m-1"></vs-avatar>
                                </vx-tooltip>
                            </li>
                        </ul>
                    </vs-td>

                    <vs-td :data="item.activity">
                        <div v-if="item.activity==='LOGIN'">
                            <vs-chip color="#4caf50">LOGIN</vs-chip>
                        </div>
                        <div v-if="item.activity==='LOGOUT'">
                            <vs-chip color="#f44336">LOGOUT</vs-chip>
                        </div>
                        <div v-if="item.activity==='CREATE'">
                            <vs-chip color="#2196f3">CREATE</vs-chip>
                        </div>
                        <div v-if="item.activity==='UPDATE' || item.activity==='CHANGE'">
                            <vs-chip color="#00bcd4">UPDATE</vs-chip>
                        </div>
                        <div v-if="item.activity==='DELETE' || item.activity==='REMOVE'">
                            <vs-chip color="#ff5722">DELETE</vs-chip>
                        </div>
                        <div v-if="item.activity==='RESTORE'">
                            <vs-chip color="#9e9e9e">RESTORE</vs-chip>
                        </div>
                    </vs-td>


                    <vs-td :data="item.Description">
                        {{item.description}}
                    </vs-td>

                    <vs-td :data="item.created_at">
                        <small class="content-center">{{item.created_at | moment("LL")}}</small> <br> <small class="text-muted">{{item.created_at
                        | moment("LT")}}</small>
                    </vs-td>

                </vs-tr>
            </template>
        </vs-table>
        <vs-row vs-type="flex" vs-justify="space-between">
            <vs-col s-type="flex" vs-justify="center" vs-align="center" vs-w="2">
                <vs-dropdown vs-trigger-click class="cursor-pointer mt-5">
                    <div class="p-4 border border-solid d-theme-border-grey-light rounded-full d-theme-dark-bg cursor-pointer flex items-center justify-between font-medium">
                        <span class="mr-2 text-sm">{{filters.pagination.from}} -  {{filters.pagination.to}}  of {{ total }}</span>
                        <feather-icon icon="ChevronDownIcon" svgClasses="h-4 w-4" />
                    </div>
                    <!-- <vs-button class="btn-drop" type="line" color="primary" icon-pack="feather" icon="icon-chevron-down"></vs-button> -->
                    <vs-dropdown-menu>

                        <vs-dropdown-item @click="changeSize(5)">
                            <span>5</span>
                        </vs-dropdown-item>
                        <vs-dropdown-item @click="changeSize(10)">
                            <span>10</span>
                        </vs-dropdown-item>
                        <vs-dropdown-item @click="changeSize(20)">
                            <span>20</span>
                        </vs-dropdown-item>
                        <vs-dropdown-item @click="changeSize(30)">
                            <span>30</span>
                        </vs-dropdown-item>
                    </vs-dropdown-menu>
                </vs-dropdown>
            </vs-col>
            <vs-col s-type="flex" vs-justify="center" vs-align="center" vs-w="2">
                <vs-pagination :total="last_page" v-model="current_page" class="mt-5"/>
            </vs-col>
        </vs-row>
    </vx-card>
</template>
<script>
    import axios from '@/http/axios/index'
    import {debounce} from '@/plugins/helpers'

    export default {
        data () {
            return {
                selected: [],
                dataList: [],
                last_page: 1,
                current_page: 1,
                permissionsCount: 0,
                filters: {
                    pagination: {
                        from: 0,
                        to: 0,
                        total: 0,
                        per_page: 10,
                        current_page: 1,
                        last_page: 0
                    },
                    orderBy: {
                        column: 'created_at',
                        direction: 'desc'
                    },
                    search: ''
                },
                total: 0,
                loading: true
            }
        },
        mounted () {
            if (localStorage.getItem('filtersTableLogs')) {
                this.filters = JSON.parse(localStorage.getItem('filtersTableLogs'))
                this.filters.pagination.current_page = 1
                this.filters.search = ''
            } else {
                localStorage.setItem('filtersTableLogs', this.filters)
            }
            this.getDataList()

        },
        methods: {
            handleSearch (searching) {
                if (searching.length >= 3) {
                    this.filters.search = searching
                    this.getDataList()
                } else {
                    this.filters.search = ''
                    this.getDataList()
                }
            },
            handleChangePage (page) {
                this.filters.pagination.current_page = page
                this.getDataList()
            },
            handleSort (key, active) {
                this.sort(key, active)
            },
            getDataList () {
                this.$vs.loading()
                this.dataList = []
                localStorage.setItem('filtersTableLogs', JSON.stringify(this.filters))
                axios.post(`/api/logs/filter?page=${this.filters.pagination.current_page}`, this.filters)
                    .then(response => {
                        this.$vs.loading.close()
                        this.dataList = response.data.data
                        this.last_page = response.data.last_page
                        for(var i = 0; i<this.dataList.length; i++){
                            var fields = this.dataList[i].description.split(/-/)
                            this.dataList[i].description = fields[1];
                            this.dataList[i].activity=fields[0];

                        }
                        this.total = response.data.total
                        delete response.data.data
                        this.filters.pagination = response.data
                        this.loading = false
                    })
                    .catch(error => {
                        this.$vs.loading.close()
                        this.errors = error.response.data.errors
                        this.$vs.notify({
                            title: 'Error',
                            text: 'Terjadi kesalahan',
                            iconPack: 'feather',
                            icon: 'icon-alert-circle',
                            color: 'danger',
                            position:'top-right'
                        })
                    })
            },
            filter () {
                this.filters.pagination.current_page = 1
                this.getDataList()
            },
            changeSize (perPage) {
                this.filters.pagination.current_page = 1
                this.filters.pagination.per_page = perPage
                this.getDataList()
            },
            sort (column, sort) {
                if (column !== null) {
                    if (column == this.filters.orderBy.column) {
                        this.filters.orderBy.direction = sort == null ? 'asc' : sort
                    } else {
                        this.filters.orderBy.column = column
                        this.filters.orderBy.direction = 'asc'
                    }
                    this.getDataList()
                }
            },
            changePage (page) {
                this.filters.pagination.current_page = page
                this.getDataList()
            },
            handleSelected (tr) {

            },
        },
        watch: {
            current_page: function (value) {
                this.changePage(value)
            }
        },
        destroyed() {
            localStorage.removeItem('filtersTableLogs')
        }
    }
</script>

