<template>
    <div class="flex flex-wrap items-center mb-base">
        <vs-avatar :src="user.avatar" size="120px" class="mr-4 mb-4"/>
        <div>
            <div class="mb-3">
            <vue-clip
                :options="optionsAvatar"
                :on-sending="sendingAvatar"
                :on-complete="completeAvatar">
                <template slot="clip-uploader-action">
                        <button class="vs-component vs-button vs-button-primary vs-button-border isActive" type="button">Choose file</button>
                </template>
            </vue-clip>
                <small class="form-text text-danger" v-if="errorsResponse.status">{{errorsResponse.message}}</small>
                <vs-progress :percent="preview.progress" color="success" v-if="preview.progress"></vs-progress>
            </div>
            <vs-button type="border" color="danger" @click="removeAvatarAuthUser">Remove</vs-button>
            <p class="text-sm mt-2">*) Ukuran file maksimal 5Mb</p>
        </div>
    </div>
</template>

<script>
    import axios from '../../http/axios/index.js'
    import imageCompression from 'browser-image-compression'

    export default {
        data () {
            return {
                errorsResponse: {},
                submiting: false,
                preview: {},
                optionsAvatar: {
                    headers: {'Authorization': `Bearer ${localStorage.getItem('accessToken')}`},
                    url: '/api/settings/profile/uploadPhoto',
                    paramName: 'file',
                    parallelUploads: 1,
                    maxFilesize: {
                        limit: 1,
                        message: 'The size image is {{filesize}}MB is greater than the {{maxFilesize}}MB'
                    },
                    acceptedFiles: {
                        extensions: ['image/*'],
                        message: 'You are uploading an invalid file'
                    }
                }
            }
        },
        props: ['user'],
        methods: {
            sendingAvatar (file, xhr, formData) {
                this.errors = {}
                this.preview = file
            },
            completeAvatar (file, status, xhr) {
                if (status == 'success') {
                    this.user.avatar = JSON.parse(xhr.response).avatar
                    this.$store.commit('UPDATE_USER_INFO', this.user, {root: true})
                    this.$vs.notify({
                        title: 'Success',
                        text: 'Foto berhasil diunggah',
                        iconPack: 'feather',
                        icon: 'icon-alert-circle',
                        color: 'success',
                        position:'top-right'
                    })
                } else {
                    this.errorsResponse = {
                        status: status,
                        message: file.errorMessage
                    }
                    this.$vs.notify({
                        title: 'Error',
                        text: 'Terjadi kesalahan',
                        iconPack: 'feather',
                        icon: 'icon-alert-circle',
                        color: 'danger',
                        position:'top-right'
                    })
                }
            },
            removeAvatarAuthUser () {
                this.$vs.loading()
                axios.post(`/api/settings/profile/resetPhoto`)
                    .then(response => {
                        this.$vs.loading.close()
                        this.errors = {}
                        this.submiting = false
                        this.$vs.notify({
                            title: 'Sukses',
                            text: 'Foto berhasil direset',
                            iconPack: 'feather',
                            icon: 'icon-alert-circle',
                            color: 'success',
                            position:'top-right'
                        })
                        this.user.avatar = response.data.avatar
                        this.$store.commit('UPDATE_USER_INFO', this.user, {root: true})
                        this.errorsResponse = {}
                        this.submiting = false

                    })
                    .catch(error => {
                        this.errorsResponse = error.response.data.errors
                        this.submiting = false
                        this.$vs.loading.close()
                        this.$vs.notify({
                            title: 'Error',
                            text: 'Terjadi kesalahan',
                            iconPack: 'feather',
                            icon: 'icon-alert-circle',
                            color: 'danger',
                            position:'top-right'
                        })
                    })
            }
        }
    }
</script>
