<template>
    <vx-card no-shadow>

        <!-- Img Row -->
        <div class="flex flex-wrap items-center mb-base">
            <avatar :user="user"></avatar>
            <!--<vs-avatar :src="user.avatar_url" size="70px" class="mr-4 mb-4"/>
            <div>
                <vs-button class="mr-4 sm:mb-0 mb-2">Upload photo</vs-button>
                <vs-button type="border" color="danger">Remove</vs-button>
                <p class="text-sm mt-2">Allowed JPG, GIF or PNG. Max size of 800kB</p>
            </div>-->
        </div>

        <!-- Info -->
        <vs-input class="w-full mb-base" label-placeholder="Nama" v-model="user.name"></vs-input>

        <div class="vx-row mb-base">
            <div class="vx-col w-full md:w-1/2">
                <vs-input class="w-full mb-base" label-placeholder="Username" v-model="user.username" :disabled="true"></vs-input>
            </div>
            <div class="vx-col w-full md:w-1/2">
                <vs-input class="w-full mb-base" label-placeholder="Email" v-model="user.email" :disabled="true"></vs-input>
            </div>
            <div class="vx-col w-full md:w-1/2">
                <vs-input class="w-full" label-placeholder="Telepon" v-model="user.telepon"/>
                <span class="text-danger text-sm ml-3" v-if="errorsData.telepon">{{ errorsData.telepon[0] }}</span>
            </div>
        </div>
        <div class="vx-row mb-base">
            <div class="vx-col w-full">
                <vs-textarea class="w-full" label="Alamat" v-model="user.alamat"/>
                <span class="text-danger text-sm ml-3" v-if="errorsData.alamat">{{ errorsData.alamat[0] }}</span>
            </div>
        </div>
      <vx-card no-shadow title="Koordinat Base" card-border class="mb-base" v-if="userRole">
      <div class="vx-row">
        <div class="vx-col sm:w-1/2 w-full mb-3">
          <vs-input class="w-full" label-placeholder="Latitude" v-model="user.latitude"/>
          <span class="text-danger text-sm"
                v-if="errorsData.latitude">{{ errorsData.latitude[0] }}</span>
        </div>
        <div class="vx-col sm:w-1/2 w-full mb-3">
          <vs-input class="w-full" label-placeholder="Longitude" v-model="user.longitude"/>
          <span class="text-danger text-sm"
                v-if="errorsData.longitude">{{ errorsData.longitude[0] }}</span>
        </div>
      </div>
      </vx-card>
        <vs-alert icon-pack="feather" icon="icon-info" class="h-full my-4" color="warning" v-if="!user.email_verified_at">
            <span>Your account is not verified. <a href="#" class="hover:underline">Resend Confirmation</a></span>
        </vs-alert>
        <!-- Simpan & Reset Button -->
        <div class="flex flex-wrap items-center justify-end">
            <vs-button class="ml-auto mt-5"  @click="updateAuthUser">Simpan</vs-button>
            <vs-button class="ml-4 mt-5" type="border" color="warning">Reset</vs-button>
        </div>
    </vx-card>
</template>

<script>
    import avatar from './Avatar.vue'
    import axios from '../../http/axios/index.js'
    export default {
        data () {
            return {
                user: this.$store.state.AppActiveUser,
                errorsData: {},
            }
        },
        components: {
            avatar
        },
        mounted () {
            this.getAuthUser()
        },
      computed: {
        activeUserInfo () {
          return this.$store.state.AppActiveUser
        },
        userRole () {
          if (localStorage.getItem('roles') === 'vendor') {
            return true
          } else if (localStorage.getItem('roles') === 'engineer') {
            return true
          }
          return false
        }
      },
        methods: {
            getAuthUser () {
                this.loading = true
                axios.get(`/api/auth/me`)
                    .then(response => {
                        this.user = response.data
                        this.$store.commit('UPDATE_USER_INFO', this.user, {root: true})
                    })
            },
            updateAuthUser () {
                this.$vs.loading()
                if (!this.submiting) {
                    this.submiting = true
                    axios.put(`/api/settings/profile`, this.user)
                        .then(response => {
                            this.$store.commit('UPDATE_USER_INFO', response.data, {root: true})
                            this.$vs.loading.close()
                            this.errors = {}
                            this.submiting = false
                            this.$vs.notify({
                                title: 'Success',
                                text: 'Profile has been updated',
                                iconPack: 'feather',
                                icon: 'icon-alert-circle',
                                color: 'success',
                                position:'top-right'
                            })
                        })
                        .catch(error => {
                            this.$vs.loading.close()
                            this.$vs.notify({
                                title: 'Error',
                                text: error.message,
                                iconPack: 'feather',
                                icon: 'icon-alert-circle',
                                color: 'danger',
                                position:'top-right'
                            })
                        })
                }
            }
        }
    }
</script>
