<template>
    <vx-card no-shadow>

        <div class="mb-base">
            <vs-input class="w-full" type="password" label-placeholder="Password Lama" name="Password Lama" v-model="password.current"
                      v-validate="'required'"/>
            <span class="text-danger text-sm ml-3">{{ errors.first('Password Lama') }}</span>

            <span class="span-text-validation-danger" v-if="errorsData.current">{{errorsData.current[0]}}</span>
        </div>
        <div class="mb-base">
            <vs-input class="w-full " data-vv-validate-on="blur"
                      v-validate="'required|min:6|max:15'"
                      type="password"
                      icon-after vs-icon-after="true"
                      name="Password Baru"
                      ref="Password Baru"
                      icon-no-border
                      icon="icon icon-lock"
                      icon-pack="feather"
                      label-placeholder="Password Baru" v-model="password.password"/>
            <span class="text-danger text-sm ml-3">{{ errors.first('Password Baru') }}</span>
            <span class="text-danger text-sm ml-3" v-if="errorsData.password">{{errorsData.password[0]}}</span>
        </div>
        <div class="mb-base">
            <vs-input class="w-full" data-vv-validate-on="blur"
                      v-validate="'required|confirmed:Password Baru'"
                      type="password"
                      icon-after vs-icon-after="true"
                      name="Konfirmasi Password"
                      icon-no-border
                      icon="icon icon-lock"
                      icon-pack="feather"
                      label-placeholder="Konfirmasi Password Baru"
                      v-model="password.password_confirmation"/>
            <span class="text-danger text-sm ml-3">{{ errors.first('Konfirmasi Password') }}</span>
            <span class="text-danger text-sm"
                  v-if="errorsData.password_confirmation">{{errorsData.password_confirmation[0]}}</span>
        </div>
        <!-- Simpan & Reset Button -->
        <div class="flex flex-wrap items-center justify-end">
            <vs-button class="ml-auto mt-2" @click="updatePassword" :disabled="validateForm">Simpan</vs-button>
            <vs-button class="ml-4 mt-2" type="border" color="warning">Reset</vs-button>
        </div>
    </vx-card>
</template>

<script>
    import axios from '@/http/axios/index.js'

    export default {
        data () {
            return {
                password: {},
                errorsData: {}
            }
        },
        computed: {
            activeUserInfo () {
                return this.$store.state.AppActiveUser
            },
            validateForm () {
                return this.errors.count() > 0 || !(Object.keys(this.fields).some(key => this.fields[key].dirty))
            }
        },
        mounted () {

        },
        methods: {
            updatePassword () {
                this.$vs.loading()
                if (!this.submiting) {
                    this.submiting = true
                    axios.put(`/api/settings/password`, this.password)
                        .then(response => {
                            this.$vs.loading.close()
                            this.errorsData = {}
                            this.submiting = false
                            this.$vs.notify({
                                title: 'Success',
                                text: 'Password has been changed',
                                iconPack: 'feather',
                                icon: 'icon-alert-circle',
                                color: 'success',
                                position: 'top-right'
                            })
                        })
                        .catch(error => {
                            this.$vs.loading.close()
                            //this.errorsData = error.response.data.errors
                            this.$vs.notify({
                                title: 'Error',
                                text: 'Change password failed',
                                iconPack: 'feather',
                                icon: 'icon-alert-circle',
                                color: 'danger',
                                position: 'top-right'
                            })
                        })
                }
            }
        }
    }
</script>
