<template>
    <div class="vx-row">
        <div class="vx-col w-full mb-2">
            <vx-card title="Application Config">
                <div class="w-full">
                    <div v-for="item in settings">
                        <div class="vx-row mb-6" v-if="item.slug_name!='app_logo'">
                            <div class="vx-col sm:w-1/3 w-full">
                                <span class="font-medium">{{item.name}}</span>
                            </div>
                            <div class="vx-col sm:w-2/3 w-full">
                                <vs-input class="w-full" v-model="item.value"/>
                            </div>
                        </div>
                        <div class="vx-row mb-6" v-else>
                            <div class="vx-col sm:w-1/3 w-full">
                                <span class="font-medium">{{item.name}}</span>
                            </div>
                            <div class="vx-row sm:w-2/3 w-full">
                                <div>
                                <div class="vx-col img-container w-64">
                                    <img :src="item.image_url" alt="img" class="responsive" v-if="item.value">
                                    <img :src="image_default" alt="img" class="responsive" v-else>
                                </div>

                                <!-- Image upload Buttons -->
                                <div class="vx-col align-bottom">
                                    <input type="file" class="hidden" id="file" ref="updateImgInput" @change="updateCurrImg"
                                           accept="image/*"/>
                                    <label class="vs-component vs-button vs-button-primary vs-button-filled" for="file">Choose a file</label>
                                </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <vs-row vs-type="flex" vs-justify="flex-end">
                    <vs-button class="mr-3 mb-2" color="success" @click="update">Simpan</vs-button>
                </vs-row>
            </vx-card>
        </div>
    </div>

</template>


<script>
    import axios from '@/http/axios/index'
    import vSelect from 'vue-select'

    export default {
        components: {
            'v-select': vSelect
        },
        data () {
            return {
                settings: [],
                image_default: '/images/logo/logo.png'
            }
        },
        mounted () {
            this.getData()
        },
        computed: {
            validateForm () {
                return this.errors.count() > 0 || !(Object.keys(this.fields).some(key => this.fields[key].dirty))
            }
        },
        methods: {
            getData () {
                this.$vs.loading()
                this.settings = [];
                axios.get(`/api/settings/`)
                    .then(response => {
                        this.settings = response.data
                        this.$vs.loading.close()
                    })
                    .catch(error => {
                        //this.errorsData = error.response.data.errors
                        this.$vs.loading.close()
                        this.$vs.notify({
                            title: 'Error',
                            text: 'Terjadi kesalahan',
                            iconPack: 'feather',
                            icon: 'icon-alert-circle',
                            color: 'danger',
                            position:'top-right'
                        })
                    })
            },
            updateCurrImg (input) {
                if (input.target.files && input.target.files[0]) {
                    const reader = new FileReader()
                    reader.onload = e => {
                        for(let i=0;i<this.settings.length;i++) {
                            if(this.settings[i].slug_name==='app_logo'){
                                this.settings[i].image_url = e.target.result
                                this.settings[i].value = e.target.result
                            }
                        }
                    }
                    reader.readAsDataURL(input.target.files[0])
                }
            },
            update () {
                this.$vs.loading()
                axios.put(`/api/settings/update`, this.settings)
                    .then(response => {
                        this.$vs.notify({
                            title: 'Success',
                            text: 'Data berhasil diperbaharui',
                            iconPack: 'feather',
                            icon: 'icon-alert-circle',
                            color: 'success',
                            position:'top-right'
                        })
                    })
                    .then(() => {
                        this.$vs.loading.close()
                        location.reload();
                    })
            },
        },
        watch: {}
    }
</script>

<style scoped>

</style>
