<template>
  <vx-card no-shadow>
    <div class="vx-row mb-3">
      <div class="vx-col sm:w-1/2 w-full mb-2">
        <div class="search-page__search-bar flex items-center">
          <vs-input icon-no-border placeholder="Search" v-model="filters.search"
                    class="w-full input-rounded-full" icon="icon-search" icon-pack="feather"/>
        </div>
      </div>
      <div class="vx-col sm:w-1/2 w-full mb-2 items-end" v-can="'create-tt'">
        <div class="search-page__search-bar flex items-center">
          <div class="dropdown-button-container">
            <!-- <vs-button class="primary" type="filled" @click="popUpImportShow">Import Data
             </vs-button>
                                     <vs-dropdown>
                                         <vs-button class="btn-drop" type="filled" icon="expand_more"></vs-button>
                                         <vs-dropdown-menu>
                                             <vs-dropdown-item>
                                                 <div @click="popUpImportShow"
                                                      class="flex items-center">
                                                     <i class="material-icons"> publish </i>
                                                     <span class="ml-3">Import Data</span>
                                                 </div>
                                             </vs-dropdown-item>
                                             &lt;!&ndash;<vs-dropdown-item>
                                                 <div @click="$router.push('/apps/email').catch(() => {})"
                                                      class="flex items-center">
                                                     <i class="material-icons"> get_app </i>
                                                     <span class="ml-3">Export Data</span>
                                                 </div>
                                             </vs-dropdown-item>&ndash;&gt;
                                         </vs-dropdown-menu>
                                     </vs-dropdown>-->
            <div class="dropdown-button-container">
              <vs-button class="btnx" type="filled" @click="reportTrouble" v-can="'create-tt'">Report Trouble
              </vs-button>

              <vs-dropdown>
                <vs-button class="btn-drop" type="filled" icon="expand_more"></vs-button>
                <vs-dropdown-menu>
                  <vs-dropdown-item v-can="'read-tt'">
                    <div @click="downloadData"
                         class="flex items-center">
                      <i class="material-icons"> publish </i>
                      <span class="ml-3">Export Data</span>
                    </div>
                  </vs-dropdown-item>
                </vs-dropdown-menu>
              </vs-dropdown>
            </div>
          </div>
        </div>
      </div>
    </div>
    <vs-table
        :sst="false"
        @sort="handleSort"
        v-model="selected"
        :data="dataList">
      <template slot="thead">
        <vs-th sort-key="id">No</vs-th>
        <vs-th sort-key="work_order">TT Number</vs-th>
        <vs-th sort-key="user_id">ATM</vs-th>
        <vs-th sort-key="created_at">Tanggal</vs-th>
        <vs-th sort-key="status">Status</vs-th>
        <vs-th sort-key=""></vs-th>
      </template>

      <template slot-scope="{data}">
        <vs-tr :data="data" :key="index" v-for="(data, index) in dataList">
          <vs-td :data="index">
            {{
              filters.pagination.current_page === 1 ? index + 1 : index + 1 +
                  ((filters.pagination.current_page - 1) * filters.pagination.per_page)
            }}
          </vs-td>
          <vs-td :data="data.ticket_number">
            {{ data.ticket_number }}
          </vs-td>
          <vs-td :data="data.location_id">
              <div class="vx-col w-full flex-no-wrap">
                  <div class="vx-row">
                      <div class="vx-col sm:w-1/4 w-full">
                          <label class="text-sm font-semibold">S/N</label>
                      </div>
                      <div class="vx-col">
                          <small>{{ data.location ? data.location.serial_number : '' }} </small>
                      </div>
                  </div>
                  <div class="vx-row">
                      <div class="vx-col sm:w-1/4 w-full">
                          <label class="text-sm font-semibold">ID Mesin</label>
                      </div>
                      <div class="vx-col">
                          <small>{{ data.location ? data.location.mc_id : '' }} </small>
                      </div>
                  </div>
                  <div class="vx-row">
                      <div class="vx-col sm:w-1/4 w-full">
                          <label class="text-sm font-semibold">Lokasi</label>
                      </div>
                      <div class="vx-col text-ellipsis">
                          <small>{{ data.location ? data.location.location_name : '' }} </small>
                      </div>
                  </div>
                  <div class="vx-row" v-if="roleName !== 'customer'">
                      <div class="vx-col sm:w-1/4 w-full">
                          <label class="text-sm font-semibold">Customer</label>
                      </div>
                      <div class="vx-col">
                          <small>{{ data.location ? data.location.customer.name : '' }} </small>
                      </div>
                  </div>
              </div>
          </vs-td>

          <vs-td :data="data.created_at">
            <small>{{ data.created_at | moment('DD-MM-YYYY') }}</small> - <small class="text-muted">{{
              data.created_at
                  | moment('HH:mm')
            }}</small>
          </vs-td>

          <vs-td :data="data.status">
            <div v-if="data.status === 'Open'">
              <vs-chip color="danger">OPEN</vs-chip>
            </div>
            <div v-else-if="data.status === 'On Progress'">
              <vs-chip color="warning">ON PROGRESS</vs-chip>
            </div>
            <div v-else>
              <div class="vx-col w-full items-center">
                <div class="vx-row ml-auto">
                  <vs-chip color="success">CLOSE</vs-chip>
                </div>
                <div class="vx-row">
                  <small>{{ data.close_time | moment('DD-MM-YYYY') }}</small> - <small
                    class="text-muted">{{
                    data.close_time
                        | moment('HH:mm')
                  }}</small>
                </div>
              </div>
            </div>
          </vs-td>

        </vs-tr>
      </template>
    </vs-table>
    <vs-row vs-type="flex" vs-justify="space-between" v-if="dataList">
      <vs-col s-type="flex" vs-justify="center" vs-align="center" vs-w="2">
        <vs-dropdown vs-trigger-click class="cursor-pointer mt-5">
          <div
              class="p-4 border border-solid d-theme-border-grey-light rounded-full d-theme-dark-bg cursor-pointer flex items-center justify-between font-medium">
                        <span
                            class="mr-2">{{ filters.pagination.from }} -  {{ filters.pagination.to }}  of {{
                            total
                          }}</span>
            <feather-icon icon="ChevronDownIcon" svgClasses="h-4 w-4"/>
          </div>
          <!-- <vs-button class="btn-drop" type="line" color="primary" icon-pack="feather" icon="icon-chevron-down"></vs-button> -->
          <vs-dropdown-menu>

            <vs-dropdown-item @click="changeSize(5)">
              <span>5</span>
            </vs-dropdown-item>
            <vs-dropdown-item @click="changeSize(10)">
              <span>10</span>
            </vs-dropdown-item>
            <vs-dropdown-item @click="changeSize(20)">
              <span>20</span>
            </vs-dropdown-item>
            <vs-dropdown-item @click="changeSize(30)">
              <span>30</span>
            </vs-dropdown-item>
          </vs-dropdown-menu>
        </vs-dropdown>
      </vs-col>
      <vs-col s-type="flex" vs-justify="center" vs-align="center" vs-w="2">
        <vs-pagination :total="last_page" v-model="current_page" class="mt-5"/>
      </vs-col>
    </vs-row>


    <vs-popup class="holamundo" :title="dataAdd.id ? 'Detail Outstanding':'Tambah Outstanding WO'"
              :active.sync="popupAddData">
      <form>
        <div class="vx-row  mb-3" v-if="dataAdd.id">
          <div class="vx-col sm:w-1/2 w-full mb-2">
            <vs-input class="w-full" label-placeholder="ID" v-model="dataAdd.id" disabled/>
          </div>
        </div>
        <div class="vx-row mb-base">
          <div class="vx-col w-full">
            <vs-input class="w-full" label-placeholder="Work Order" v-model="dataAdd.work_order"
                      data-vv-validate-on="blur"
                      v-validate="'required|min:3'"
                      name="Work Order"/>
            <small class="form-text text-danger">{{ errors.first('Work Order') }}</small>
            <span class="text-danger text-sm"
                  v-if="errorsData.work_order">{{ errorsData.work_order[0] }}</span>
          </div>
        </div>
        <div class="vx-row mb-base">
          <vs-row vs-type="flex" vs-justify="center">
            <vs-col vs-type="flex" vs-justify="center" vs-align="center">
              <div class="flex items-center mb-base mt-base" v-if="!isAdmin">
                <vs-avatar :src="dataAdd.user ? dataAdd.user.avatar : ''" size="80px" class="mr-4"/>
                <div>

                  <div>
                    {{ dataAdd.user ? dataAdd.user.display_name : '-' }}
                  </div>
                  <div class="text-xs">
                    {{ dataAdd.user ? dataAdd.user.service_base.name : '' }}
                  </div>
                  <div class="text-xs">
                    {{ dataAdd.user ? dataAdd.user.service_base.region.name : '' }}
                  </div>
                </div>
              </div>
            </vs-col>
          </vs-row>
          <div class="vx-col w-full">
            <user-selector :data="dataAdd" labelVisible v-if="isAdmin"/>
          </div>
        </div>
        <div class="vx-col w-full mb-2 mt-auto">
          <label class="ml-1 mb-3 text-sm">Status</label>
          <v-select label="name" v-model="dataAdd.status" name="Status"
                    :options="statusArray" v-validate="'required'"/>
          <small class="form-text text-danger ml-3">{{
              errors.first('step-1.Status')
            }}</small>
          <small class="form-text text-danger"
                 v-if="errorsData.status">{{ errorsData.status[0] }}</small>
        </div>
        <div class="vx-row" v-if="!dataAdd.id && isAdmin">
          <vs-row vs-type="flex" vs-justify="flex-end">
            <vs-button class="mr-3 mb-2 mt-10" color="danger" @click="popupAddData=false">
              Cancel
            </vs-button>
            <vs-button :disabled="validateAddForm" class="mr-3 mb-2 mt-10" color="success" @click="create">
              Simpan
            </vs-button>
          </vs-row>
        </div>
        <div class="vx-row" v-if="dataAdd.id && isAdmin">
          <vs-row vs-type="flex" vs-justify="flex-end">

            <vs-button class="mr-3 mb-2 mt-10" color="danger" type="filled" icon-pack="feather"
                       icon="icon-trash" @click="deleteConfirm" v-if="!dataAdd.deleted_by"></vs-button>

            <vs-button class="mr-3 mb-2 mt-10" color="success" @click="update" v-if="!dataAdd.deleted_by">
              Update
            </vs-button>

            <vs-button class="mr-3 mb-2 mt-10" color="warning" @click="recoverConfirm"
                       v-if="dataAdd.deleted_by">Activate
            </vs-button>
          </vs-row>
        </div>
      </form>

    </vs-popup>
  </vx-card>
</template>
<script>
import axios from '@/http/axios/index'
import {debounce} from '@/plugins/helpers'
import UserSelector from '@/components/UserSelector'
import vSelect from 'vue-select'
import XLSX from 'xlsx'

export default {
  components: {
    'v-select': vSelect,
    UserSelector
  },
  data () {
    return {
      linkTemplate: '/template/import/outstanding_template.xlsx',
      dataAdd: {},
      popupImport: false,
      errorsData: {},
      popupAddData: false,
      statusArray: ['Open', 'On Progress', 'Close'],
      selected: [],
      dataList: [],
      file: null,
      last_page: 1,
      current_page: 1,
      filters: {
        pagination: {
          from: 0,
          to: 0,
          total: 0,
          per_page: 20,
          current_page: 1,
          last_page: 0
        },
        orderBy: {
          column: 'created_at',
          direction: 'desc'
        },
        search: ''
      },
      loading: true,
      searchQuery: '',
      total: 0

    }
  },
  computed: {
    validateAddForm () {
      return this.errors.count() > 0 || !(Object.keys(this.fields).some(key => this.fields[key].dirty))
    },
    isAdmin () {
      return localStorage.getItem('roles') === 'administrator'
    },
    isEngineer () {
      return localStorage.getItem('roles') === 'engineer'
    },
    isCustomer () {
      return localStorage.getItem('roles') === 'customer'
    },
    windowWidth () {
      return this.$store.state.windowWidth
    },
    baseUrl () {
      return window.location.origin
    },
    userInfo () {
      return JSON.parse(localStorage.getItem('userInfo'))
    },
    permission () {
      return JSON.parse(localStorage.getItem('permission'))
    }
  },
  mounted () {
    if (localStorage.getItem('filtersTableServicebases')) {
      this.filters = JSON.parse(localStorage.getItem('filtersTableServicebases'))
      this.filters.pagination.current_page = 1
      this.filters.search = ''
    } else {
      localStorage.setItem('filtersTableServicebases', this.filters)
    }

    this.getdataList()
  },
  methods: {
      reportTrouble () {
          this.$router.push('/app/troubleticket/add').catch(() => {
          })
      },
    popUpAddShow () {
      this.dataAdd = {}
      this.popupAddData = true
    },
    onPopupClose () {
      this.dataAdd = {}
      this.popupAddData = false
    },
    popUpImportShow () {
      this.dataAdd = {}
      this.popupImport = true
    },
    onPopupImportClose () {
      this.dataAdd = {}
      this.popupImport = false
    },
    handleSearch (searching) {
      if (searching.length >= 3) {
        this.filters.search = searching
        this.getDataList()
      } else {
        this.filters.search = ''
        this.getDataList()
      }
    },
    handleChangePage (page) {
      this.filters.pagination.current_page = page
      this.getdataList()
    },
    handleSort (key, active) {
      this.sort(key, active)
    },
    getdataList () {
      this.$vs.loading()
      this.dataList = []
      this.dataAdd = {}
      localStorage.setItem('filtersTableServicebases', JSON.stringify(this.filters))
      this.$store.dispatch('tt/get', this.filters)
          .then(response => {
            this.$vs.loading.close()
            this.dataList = response.data.data
            this.total = response.data.total
            this.last_page = response.data.last_page
            delete response.data.data
            this.filters.pagination = response.data
            this.loading = false
            this.$store.dispatch('getNotification')
          })
          .catch(error => {
            this.$vs.loading.close()
            this.errors = error.response.data.errors
            this.$vs.notify({
              title: 'Error',
              text: 'Terjadi kesalahan',
              iconPack: 'feather',
              icon: 'icon-alert-circle',
              color: 'danger',
              position: 'top-right'
            })
          })

    },
    create () {
      this.$vs.loading()
        this.$store.dispatch('tt/create', this.dataAdd)
          .then(response => {
            this.$vs.notify({
              title: 'Success',
              text: 'Data berhasil tersimpan',
              iconPack: 'feather',
              icon: 'icon-alert-circle',
              color: 'success',
              position: 'top-right'
            })
            this.popupAddData = false
            this.getdataList()
          })
          .catch(error => {
            //this.errorsData = error.response.data.errors
            this.$vs.notify({
              title: 'Error',
              text: 'Terjadi kesalahan',
              iconPack: 'feather',
              icon: 'icon-alert-circle',
              color: 'danger',
              position: 'top-right'
            })
          })
          .then(() => {
            this.$vs.loading.close()
          })

    },
    update () {
      this.$vs.loading()
        this.$store.dispatch('tt/edit', this.dataAdd)
          .then(response => {
            this.$vs.notify({
              title: 'Success',
              text: 'Data berhasil diperbaharui',
              iconPack: 'feather',
              icon: 'icon-alert-circle',
              color: 'success',
              position: 'top-right'
            })
            this.popupAddData = false
            this.getdataList()
          })
          .catch(error => {
            //this.errorsData = error.response.data.errors
            this.$vs.notify({
              title: 'Error',
              text: 'Terjadi kesalahan',
              iconPack: 'feather',
              icon: 'icon-alert-circle',
              color: 'danger',
              position: 'top-right'
            })
          })
          .then(() => {
            this.$vs.loading.close()
          })

    },
    destroy: function (parameters) {
      this.$vs.loading()
        this.$store.dispatch('tt/delete', this.dataAdd)
          .then(response => {
            this.$vs.notify({
              title: 'Success',
              text: 'Data berhasil dihapus',
              iconPack: 'feather',
              icon: 'icon-alert-circle',
              color: 'success',
              position: 'top-right'
            })
          })
          .then(() => {
            this.$vs.loading.close()
          })
      this.getdataList()
    },
    filter () {
      this.filters.pagination.current_page = 1
      this.getdataList()
    },
    changeSize (perPage) {
      this.filters.pagination.current_page = 1
      this.filters.pagination.per_page = perPage
      this.getdataList()
    },
    sort (column, sort) {
      if (column !== null) {
        if (column == this.filters.orderBy.column) {
          this.filters.orderBy.direction = sort == null ? 'asc' : sort
        } else {
          this.filters.orderBy.column = column
          this.filters.orderBy.direction = 'asc'
        }
        this.getdataList()
      }
    },
    changePage (page) {
      this.filters.pagination.current_page = page
      this.getdataList()
    },
    handleSelected (tr) {
      this.dataAdd = tr
      this.popupAddData = true
    },
    goToVisit (tr) {
      this.$vs.loading()
      axios.get(`/api/visits/getByWo?wo=${tr.work_order}`)
          .then(response => {
            let data = response.data
            if (data.id !== null) {
              if (this.permission.find((e) => e === 'delete-visit')) {
                this.$router.push({
                  name: 'admin-visit-detail',
                  params: {id: data.id}
                }).catch(() => {
                })
              } else {
                if (this.isCustomer) {
                  this.$router.push({
                    name: 'app-visit-view',
                    params: {id: data.id}
                  }).catch(() => {
                  })
                } else {
                  if (data.checkout_time != null && data.photo_ar != null) {
                    this.$router.push({
                      name: 'app-visit-view',
                      params: {id: data.id}
                    }).catch(() => {
                    })
                  } else {
                    this.$router.push({
                      name: 'app-visit-ubah',
                      params: {id: data.id}
                    }).catch(() => {
                    })
                  }
                }
              }
            }
          }).catch(error => {
        this.$vs.notify({
          title: 'Error',
          text: 'Terjadi kesalahan',
          iconPack: 'feather',
          icon: 'icon-alert-circle',
          color: 'danger',
          position: 'top-right'
        })
      })
          .then(() => {
            this.$vs.loading.close()
          })

    },
    addData () {

    },
    deleteConfirm () {
      this.popupAddData = false
      this.$vs.dialog({
        type: 'confirm',
        color: 'danger',
        title: 'Hapus',
        text: `Anda akan menghapus data?`,
        accept: this.destroy,
        parameters: this.dataAdd.name
      })
    },
    deleteAllConfirm () {
      this.popupAddData = false
      this.$vs.dialog({
        type: 'confirm',
        color: 'danger',
        title: 'Hapus',
        text: `Anda akan menghapus data dengan status Close?`,
        accept: this.deleteClose,
        parameters: this.dataAdd.name
      })
    },
    recoverConfirm () {
      this.popupAddData = false
      this.$vs.dialog({
        type: 'confirm',
        color: 'warning',
        title: 'Confirm',
        text: `Are you sure want to recover ${this.dataAdd.name}?`,
        accept: this.recover,
        parameters: this.dataAdd.name
      })
    },
    handleClick (e) {
      const files = e.target.files
      this.file = files[0]
      if (!this.file) return
      this.uploadFile(this.file)
    },
    handleDragover (e) {
      e.stopPropagation()
      e.preventDefault()
      e.dataTransfer.dropEffect = 'copy'
    },
    handleDrop (e) {
      e.stopPropagation()
      e.preventDefault()
      const files = e.dataTransfer.files
      if (files.length !== 1) {
        this.$vs.notify({
          title: 'Upload',
          text: 'Hanya upload 1 File',
          iconPack: 'feather',
          icon: 'icon-alert-circle',
          color: 'warning',
          position: 'top-right'
        })
        return
      }
      const rawFile = files[0] // only use files[0]
      if (!this.isExcel(rawFile)) {
        this.$vs.notify({
          title: 'Upload',
          text: 'Upload file beresktensi .xlsx, .xls, .csv',
          iconPack: 'feather',
          icon: 'icon-alert-circle',
          color: 'warning',
          position: 'top-right'
        })
        return false
      }
      this.uploadFile(rawFile)
    },
    onFileChange (e) {
      let files = e.target.files || e.dataTransfer.files
      if (!files.length)
        return
      this.file = files[0]
    },
    uploadFile (file) {
      this.$vs.loading()
      let formData = new FormData()
      formData.append('file', file)
      axios.post(`/api/outstanding/import`, formData,
          {
            headers: {
              'Content-Type': 'multipart/form-data'
            }
          })
          .then(response => {
            this.getdataList()
            this.popupImport = false
            this.$vs.notify({
              title: 'Sukses',
              text: 'Import Data Sukses',
              iconPack: 'feather',
              icon: 'icon-alert-circle',
              color: 'success',
              position: 'top-right'
            })
          })
          .catch(error => {
            this.file = null
            this.popupImport = false
            this.$vs.notify({
              title: 'Error',
              text: 'Terjadi kesalahan',
              iconPack: 'feather',
              icon: 'icon-alert-circle',
              color: 'danger',
              position: 'top-right'
            })
          })
          .then(() => {
            this.$vs.loading.close()
          })
    },
    deleteClose () {
      this.$vs.loading()
      axios.post(`/api/outstanding/destroyClose`)
          .then(response => {
            this.getdataList()
            this.$vs.notify({
              title: 'Sukses',
              text: response.data.msg,
              iconPack: 'feather',
              icon: 'icon-alert-circle',
              color: 'success',
              position: 'top-right'
            })
          })
          .catch(error => {
            this.$vs.notify({
              title: 'Error',
              text: 'Terjadi kesalahan',
              iconPack: 'feather',
              icon: 'icon-alert-circle',
              color: 'danger',
              position: 'top-right'
            })
          })
          .then(() => {
            this.$vs.loading.close()
          })
    },
    downloadData () {
      this.$vs.loading()
      axios.post(`/api/outstanding/export`)
          .then(response => {
            let dataExcel = []
            let data = response.data
            if (data.length > 0) {
              for (let i = 0; i < data.length; i++) {
                let column = {
                  Work_Order: data[i].work_order,
                  CE_Code: data[i].user ? data[i].user.ce_code ? data[i].user.ce_code : data[i].user.username : '-',
                  Created_date: data[i].created_at ? this.$moment(data[i].created_at).format('YYYY-MM-DD HH:mm:ss') : '-',
                  Status: data[i].status,
                  Close_date: data[i].close_time ? this.$moment(data[i].close_time).format('YYYY-MM-DD HH:mm:ss') : '-'
                }
                dataExcel.push(column)
              }
            }
            var dataAtm = XLSX.utils.json_to_sheet(dataExcel)
            var wb = XLSX.utils.book_new()
            wb.Props = {
              Title: `Data Oustanding Workorder`,
              Subject: 'Data Oustanding Workorder',
              CreatedDate: new Date()
            }
            XLSX.utils.book_append_sheet(wb, dataAtm, `${this.$moment(new Date()).format('YYYY_MM_DD_hh_mm')}`)
            XLSX.writeFile(wb, `nmapp_data_outstanding_workorder_${this.$moment(new Date()).format('YYYY_MM_DD_hh_mm')}.xlsx`)
            this.$vs.loading.close()
          }).catch(error => {
        this.$vs.loading.close()
        this.errors = error.response.data.errors
        this.$vs.notify({
          title: 'Error',
          text: 'Terjadi kesalahan',
          iconPack: 'feather',
          icon: 'icon-alert-circle',
          color: 'danger',
          position: 'top-right'
        })
      })
    }
  },
  watch: {
    current_page: function (value) {
      this.changePage(value)
    },
    'filters.search': debounce(function (newVal) {
      this.filters.pagination.current_page = 1
      this.getdataList()
    }, 1000)
  },
  destroyed () {
    localStorage.removeItem('filtersTableServicebases')
  }

}
</script>

<style>
.table.vs-table > thead > tr > th {
  background-color: white;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  z-index: 2;
}
</style>
<style lang="scss">
.dropdown-button-container {
  display: flex;
  align-items: center;

  .btnx {
    border-radius: 5px 0px 0px 5px;
  }

  .btn-drop {
    border-radius: 0px 5px 5px 0px;
    border-left: 1px solid rgba(255, 255, 255, .2);
  }
}
</style>
