<template>
    <div>
        <vs-button class="mr-3 mb-2 mt-10" color="success"
                   @click="atmPickerShow = true" v-can="'create-tt'">
            ATM
        </vs-button>

       <ATMPicker :selected="dataAdd.location" :dialog-open.sync="atmPickerShow" @close="onPopupClose"/>
    </div>
</template>



<script>

import ATMPicker from './component/ATMPicker'


export default {
    components: {
        ATMPicker,
    },
    data () {
        return {
            atmPickerShow: false,
            dataAdd: {location: {}}
        }
    },
    computed: {
    },
    mounted () {
        this.isEngineer = localStorage.getItem('roles') === 'engineer'
        if (this.isEngineer) {
            this.data.user = JSON.parse(localStorage.getItem('userInfo'))
        }
    },
    methods: {
        onPopupClose (v) {
            console.log(v)
            this.atmPickerShow = false
        },
    },
    watch: {

    }
}
</script>

<style lang="scss" scoped>

.grid-view-item {
    alignment: center;
    align-self: center;

    .grid-view-img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: .35s;
    }


}


</style>
